Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

2.5.3 patch release with new pydantic-core (#8420)
  pdm.lock
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/version.py
  pyproject.toml
  tests/test_fastapi.sh
  tests/test_fastapi_changes.patch
Due: lint, usage_docs, typecheck

Add history for 2.5.3
  HISTORY.md
Due: none

Add history for 2.5.3 (#8423)
  HISTORY.md
Due: none

Fix history
  HISTORY.md
Due: none

Fix history (#8424)
  HISTORY.md
Due: none

Fix pydantic-core version in history
  HISTORY.md
Due: none

Add missing changelog to HISTORY.md
  HISTORY.md
Due: none

Fix for example and apply same code to wrap serializer
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

Provide stacklevel to help users find the warning wrt ConfigDict
  pydantic/_internal/_config.py
Due: lint, usage_docs, typecheck

Remove some cases of test_union_literal_with_other_type
  tests/test_edge_cases.py
Due: lint, typecheck

feat: introduce classproperty decorator for model_computed_fields
  pydantic/main.py
  tests/test_computed_fields.py
Due: lint, usage_docs, typecheck

Switch from class property to class attribute defined in metaclass
  pydantic/_internal/_model_construction.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

Update docstrings for secret types
  pydantic/types.py
Due: lint, usage_docs, typecheck

Fix tests
  pydantic/types.py
Due: lint, usage_docs, typecheck

refactor: place class attirbutes with its pair + docstring
  pydantic/main.py
Due: lint, usage_docs, typecheck

Address Kludex feedback
  pydantic/types.py
Due: lint, usage_docs, typecheck

Update docstrings for secret types (#8442)
  pydantic/types.py
Due: lint, usage_docs, typecheck

Deployed da468c4 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

deprecated is now str
  .github/workflows/ci.yml
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  tests/test_computed_fields.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

lock
  pdm.lock
Due: none

relock
  pdm.lock
Due: none

lint
  .pre-commit-config.yaml
  pydantic/_internal/_typing_extra.py
  tests/test_computed_fields.py
Due: lint, usage_docs, typecheck

Emit runtime warning
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  pydantic/main.py
  tests/test_computed_fields.py
  tests/test_deprecated_fields.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Fix computed_fields handling
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

Handle `TypeError` as well
  pydantic/main.py
Due: lint, usage_docs, typecheck

Last fix
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

fix import for 3.8
  tests/test_deprecated_fields.py
Due: lint, typecheck

Update to `pyright==1.1.343`
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
  pydantic/root_model.py
Due: lint, usage_docs, typecheck

Update signatures of TypeAdapter
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

fix subnested
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_typing_extra.py
  tests/test_types_typeddict.py
Due: lint, usage_docs, typecheck

rename previous_base
  pydantic/_internal/_fields.py
Due: lint, usage_docs, typecheck

make test more accurate
  tests/test_types_typeddict.py
Due: lint, typecheck

`eval_cls_annotations_lenient`; remove unnecessary checks
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

fix type parameter resolution for typeddicts
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  tests/test_types_typeddict.py
Due: lint, usage_docs, typecheck

add test
  tests/test_types_typeddict.py
Due: lint, typecheck

Fix test in serialization.md
  docs/concepts/serialization.md
Due: none

Fix test in serialization.md (#8467)
  docs/concepts/serialization.md
Due: none

Deployed 1e1b257 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/serialization/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none
