Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

Reflect str_min_length and str_max_length config in the JSON schema
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Annotate the str_schema local as JsonSchemaValue for pyright
  pydantic/json_schema.py
Due: lint, typecheck

Update pydantic/json_schema.py
  pydantic/json_schema.py
Due: lint, typecheck

Enhance schema validation for property 'a' and clean up tests
  tests/test_json_schema.py
Due: lint, typecheck

Don't apply serialization temporal formats to validation JSON schemas (#13711)
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Deployed d6e2021 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Remove comments about string length constraints
  pydantic/json_schema.py
Due: lint, typecheck

Refactor string length config test
  tests/test_json_schema.py
Due: lint, typecheck

Reflect `str_min_length` and `str_max_length` config in the JSON schema (#13714)
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Deployed d4e72fa to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/api/json_schema/index.html
  dev/api/json_schema/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Use the field name in validation JSON schemas when validate_by_alias is off
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Make explicit logging example self-contained
  docs/integrations/logfire.md
Due: none

Correct Logfire validation data guidance
  docs/concepts/dataclasses.md
  docs/concepts/models.md
  docs/concepts/pydantic_settings.md
  docs/concepts/strict_mode.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/concepts/validators.md
  docs/errors/errors.md
  docs/errors/troubleshooting.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/integrations/aws_lambda.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/logfire.md
Due: none

Scrub serialized validation error inputs
  docs/errors/troubleshooting.md
  docs/integrations/logfire.md
Due: none

Clarify Logfire input scrubbing guidance
  docs/errors/troubleshooting.md
  docs/integrations/logfire.md
Due: none

Improve Logfire guidance for validation errors
  docs/errors/troubleshooting.md
  docs/errors/validation_errors.md
  docs/integrations/logfire.md
Due: none

Improve Logfire guidance for validation errors (#13710)
  docs/concepts/dataclasses.md
  docs/concepts/models.md
  docs/concepts/pydantic_settings.md
  docs/concepts/strict_mode.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/concepts/validators.md
  docs/errors/errors.md
  docs/errors/troubleshooting.md
  docs/errors/validation_errors.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/integrations/aws_lambda.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/logfire.md
Due: none

Deployed efec1bb to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/dataclasses/index.html
  dev/concepts/dataclasses/index.md
  dev/concepts/models/index.html
  dev/concepts/models/index.md
  dev/concepts/pydantic_settings/index.html
  dev/concepts/pydantic_settings/index.md
  dev/concepts/strict_mode/index.html
  dev/concepts/strict_mode/index.md
  dev/concepts/unions/index.html
  dev/concepts/unions/index.md
  dev/concepts/validation_decorator/index.html
  dev/concepts/validation_decorator/index.md
  dev/concepts/validators/index.html
  dev/concepts/validators/index.md
  dev/errors/errors/index.html
  dev/errors/errors/index.md
  dev/errors/troubleshooting/index.html
  dev/errors/troubleshooting/index.md
  dev/errors/validation_errors/index.html
  dev/errors/validation_errors/index.md
  dev/examples/files/index.html
  dev/examples/files/index.md
  dev/examples/orms/index.html
  dev/examples/orms/index.md
  dev/examples/queues/index.html
  dev/examples/queues/index.md
  dev/examples/requests/index.html
  dev/examples/requests/index.md
  dev/index.html
  dev/integrations/aws_lambda/index.html
  dev/integrations/aws_lambda/index.md
  dev/integrations/datamodel_code_generator/index.html
  dev/integrations/datamodel_code_generator/index.md
  dev/integrations/logfire/index.html
  dev/integrations/logfire/index.md
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

fix: treat a class attribute set to `None` as existing when assigning with `extra='allow'`
  pydantic/main.py
  tests/test_main.py
Due: lint, typecheck

Fix JSON schema length keywords for wrapped collections
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_json_schema.py
Due: lint, typecheck

Cover pydantic dataclasses in the validate_by_alias test
  tests/test_json_schema.py
Due: lint, typecheck

fix(json_schema): emit minItems/minProperties instead of minLength for collection types
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_json_schema.py
Due: lint, typecheck

Correct the defaultdict default factory error message
  pydantic/_internal/_validators.py
  tests/types/test_defaultdict.py
Due: lint, typecheck

fix: respect MRO when merging fields and private attributes in multiple inheritance
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  tests/test_private_attributes.py
Due: lint, typecheck

Apply suggestions from code review
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Use the field name in `__signature__` when `validate_by_alias` is off
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_signature.py
  tests/test_dataclasses.py
  tests/test_model_signature.py
Due: lint, typecheck

Apply suggestion from @Viicos
  pydantic/main.py
Due: lint, typecheck

Treat a class attribute set to `None` as existing when assigning with `extra='allow'` (#13718)
  pydantic/main.py
  tests/test_main.py
Due: lint, typecheck

tweaks
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/input_string.rs
  pydantic-core/src/serializers/infer.rs
  pydantic-core/src/serializers/ob_type.rs
Due: lint rust

Use the field name in validation JSON schemas when `validate_by_alias` is `False` (#13717)
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

tweaks
  pydantic-core/tests/serializers/test_frozendict.py
  pydantic-core/tests/validators/test_frozendict.py
  tests/types/test_frozendict.py
Due: lint, typecheck

Tweaks
  pydantic/_internal/_validators.py
Due: lint, typecheck

format
  pydantic/experimental/pipeline.py
Due: lint, typecheck

adapt recursion guard
  pydantic-core/src/recursion_guard.rs
Due: lint rust

Speed up PyPy CI tests
  .github/workflows/ci.yml
  pydantic-core/tests/test_garbage_collection.py
  pydantic-core/tests/validators/test_dataclasses.py
  pydantic-core/tests/validators/test_model_init.py
  pydantic-core/tests/validators/test_nullable.py
  pydantic-core/tests/validators/test_typed_dict.py
  pydantic-core/tests/validators/test_with_default.py
Due: lint, typecheck

lint
  .github/workflows/ci.yml
Due: none

Speed up PyPy CI tests (#13724)
  .github/workflows/ci.yml
  pydantic-core/tests/test_garbage_collection.py
  pydantic-core/tests/validators/test_dataclasses.py
  pydantic-core/tests/validators/test_model_init.py
  pydantic-core/tests/validators/test_nullable.py
  pydantic-core/tests/validators/test_typed_dict.py
  pydantic-core/tests/validators/test_with_default.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
