Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

fixes
  pydantic-core/src/input/input_string.rs
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/json_schema.py
  tests/types/test_fraction.py
Due: lint, lint rust, typecheck

Fix tests
  tests/test_types.py
  tests/types/test_fraction.py
Due: lint, typecheck

model_copy: do not leak unknown keys into __dict__ when extra != 'allow'
  pydantic/main.py
  tests/test_construction.py
Due: lint, typecheck

docs: update contributing guide to replace pydocstyle with ruff and fix Rust capitalization
  docs/contributing.md
Due: none

fix: reset SerCheck level for collection item serializers in union context
  pydantic-core/src/serializers/type_serializers/dict.rs
  pydantic-core/src/serializers/type_serializers/list.rs
  pydantic-core/src/serializers/type_serializers/set_frozenset.rs
  pydantic-core/src/serializers/type_serializers/tuple.rs
  tests/test_type_adapter.py
Due: lint, lint rust, typecheck

fix: prevent inner unions in collections from incorrectly using top-level strict checking
  pydantic-core/src/serializers/extra.rs
  pydantic-core/src/serializers/type_serializers/dataclass.rs
  pydantic-core/src/serializers/type_serializers/dict.rs
  pydantic-core/src/serializers/type_serializers/list.rs
  pydantic-core/src/serializers/type_serializers/model.rs
  pydantic-core/src/serializers/type_serializers/set_frozenset.rs
  pydantic-core/src/serializers/type_serializers/tuple.rs
  pydantic-core/src/serializers/type_serializers/union.rs
  pydantic-core/tests/serializers/test_union.py
  tests/test_type_adapter.py
Due: lint, lint rust, typecheck

fix: preserve pattern constraint for Annotated + BeforeValidator + Optional fields in JSON schema
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_json_schema.py
Due: lint, typecheck

fix: accept scientific notation in Decimal JSON schema pattern
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

fix: allow __pydantic_init_subclass__ to receive custom kwargs
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Due: lint, typecheck

fix: catch ZeroDivisionError in fraction_validator for zero-denominator inputs
  pydantic/_internal/_validators.py
  tests/types/test_fraction.py
Due: lint, typecheck

fix: resolve AttributeError for nested pipeline operators (| and &)
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

fix: catch ZeroDivisionError in fraction_validator
  pydantic/_internal/_validators.py
  tests/types/test_fraction.py
Due: lint, typecheck

Update docs/contributing.md
  docs/contributing.md
Due: none

Update contributing guide to replace pydocstyle with Ruff (#13343)
  docs/contributing.md
Due: none

fix: apply ruff formatting to pipeline files
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Omit default fields from BaseModel __rich_repr__ output
  pydantic/main.py
  tests/test_rich_repr.py
Due: lint, typecheck

Preserve decorators when re-applying dataclass decorator (#12934)
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, typecheck

Don't parameterize tests using non-Collection iterables
  pydantic-core/tests/test_docstrings.py
  tests/test_docs.py
  tests/test_utils.py
  tests/test_validators.py
Due: lint, typecheck

Don't define class-scoped fixtures as instance methods
  pydantic-core/tests/benchmarks/test_micro_benchmarks.py
  pydantic-core/tests/benchmarks/test_serialization_micro.py
  pydantic-core/tests/validators/test_union.py
Due: lint, typecheck

Fix use of pytest.warns(match=...)
  tests/test_deprecated_fields.py
Due: lint, typecheck

fix: respect explicit @computed_field(deprecated=...) over @deprecated() decorator
  pydantic/_internal/_model_construction.py
Due: lint, typecheck

Upgrade to pytest 9.1.1
  uv.lock
Due: none

Fix test failures with pytest >= 9.1.0 (#13357)
  pydantic-core/tests/benchmarks/test_micro_benchmarks.py
  pydantic-core/tests/benchmarks/test_serialization_micro.py
  pydantic-core/tests/test_docstrings.py
  pydantic-core/tests/validators/test_union.py
  tests/test_deprecated_fields.py
  tests/test_docs.py
  tests/test_utils.py
  tests/test_validators.py
  uv.lock
Due: lint, typecheck

Deployed f257d01 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix `test_computed_field_deprecated()` test failure
  pydantic/_internal/_model_construction.py
  tests/test_deprecated_fields.py
Due: lint, typecheck

Fix application of nested operators in pipeline API
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

nuance
  .agents/skills/pydantic/SKILL.md
Due: none

Add agent skills (#13193)
  .agents/skills/pydantic/SKILL.md
Due: none

Deployed e5307db to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Fix `test_computed_field_deprecated()` test failure (#13362)
  pydantic/_internal/_model_construction.py
  tests/test_deprecated_fields.py
Due: lint, typecheck

Deployed 8e168de to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Fix application of nested operators in pipeline API (#13363)
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Deployed 294f757 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Support `Fraction` type in `pydantic-core` (#13339)
  docs/errors/validation_errors.md
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/errors/types.rs
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/input_string.rs
  pydantic-core/src/input/shared.rs
  pydantic-core/src/serializers/infer.rs
  pydantic-core/src/serializers/ob_type.rs
  pydantic-core/src/serializers/shared.rs
  pydantic-core/src/serializers/type_serializers/fraction.rs
  pydantic-core/src/serializers/type_serializers/mod.rs
  pydantic-core/src/validators/fraction.rs
  pydantic-core/src/validators/mod.rs
  pydantic-core/tests/test_errors.py
  pydantic-core/tests/test_schema_functions.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  pydantic/json_schema.py
  tests/test_types.py
  tests/types/test_fraction.py
Due: lint, lint rust, typecheck

Deployed 92208bf to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/json_schema/index.html
  dev/api/json_schema/index.md
  dev/api/pydantic_core_schema/index.html
  dev/api/pydantic_core_schema/index.md
  dev/errors/validation_errors/index.html
  dev/errors/validation_errors/index.md
  dev/index.html
  dev/llms-full.txt
  dev/objects.inv
  dev/search/search_index.json
Due: none

Apply suggestions from code review
  pydantic/networks.py
Due: lint, typecheck

Allow periods in unquoted `NameEmail` display names (#13206)
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Deployed be3e4d1 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Fix validation of `Fraction` subclasses
  pydantic-core/src/input/input_python.rs
Due: lint rust

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
