Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Rust enum validation
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
  pyproject.toml
Due: lint, usage_docs, typecheck

fixing schema generation
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
Due: lint, usage_docs, typecheck

fix remaining tests
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

remove package changes
  pdm.lock
  pyproject.toml
Due: none

fix tests associated with core bump
  .gitignore
  docs/concepts/serialization.md
  tests/test_json.py
  tests/test_json_schema.py
Due: lint, typecheck

rename missing_func -> missing
  pdm.lock
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

skip one fastapi test
  tests/test_fastapi.sh
Due: none

ah, updating lockfile with new pydantic-core version too
  pdm.lock
Due: none

version bump for core
  pyproject.toml
Due: none

revert pdm.lock mistake
  pdm.lock
Due: none

revert reversion
  pdm.lock
Due: none

Move `enum` validation and serialization to Rust (#9064)
  .gitignore
  docs/concepts/serialization.md
  pdm.lock
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
  pyproject.toml
  tests/test_fastapi.sh
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Updated format generated from https://citation-file-format.github.io/cff-initializer-javascript/#/start
  CITATION.cff
Due: none

Add tests
  tests/test_types.py
Due: lint, typecheck

added some missing authors
  CITATION.cff
Due: none

Apply suggestions from code review
  CITATION.cff
Due: none

Update CITATION.cff
  CITATION.cff
Due: none

Add support `re.Pattern[str]` to `pattern` field (#9053)
  pydantic/fields.py
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

removing config support, adding more runtime flag docs
  docs/concepts/serialization.md
  pydantic/_internal/_config.py
  pydantic/config.py
  pydantic/main.py
  tests/test_serialize_as_any.py
Due: lint, usage_docs, typecheck

Apply suggestions from code review
  docs/concepts/serialization.md
Due: none

initial work, adding serialize_as_any config and runtime settings, major WIP
  docs/concepts/serialization.md
  pydantic/_internal/_config.py
  pydantic/config.py
  pydantic/main.py
  tests/test_serialize.py
  tests/test_serialize_as_any.py
Due: lint, usage_docs, typecheck

adding additional test cases
  tests/test_serialize_as_any.py
Due: lint, typecheck

add note on future plans to docs
  docs/concepts/serialization.md
Due: none

more progress
  docs/concepts/serialization.md
  pydantic/main.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

docs updates from code review
  docs/concepts/serialization.md
Due: none

more testing, mostly
  docs/concepts/serialization.md
  pydantic/root_model.py
  pydantic/type_adapter.py
  tests/test_serialize_as_any.py
Due: lint, usage_docs, typecheck

minor docs update, reflecting usage with TypeAdapter and RootModels as well
  docs/concepts/serialization.md
Due: none

Deployed 00c7815 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/fields/index.html
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Adding citation file (#9088)
  CITATION.cff
Due: none

Deployed df5be31 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

docs fixes
  docs/concepts/serialization.md
Due: none

Support for `serialize_as_any` runtime setting (#8830)
  docs/concepts/serialization.md
  pydantic/main.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  tests/test_serialize.py
  tests/test_serialize_as_any.py
Due: lint, usage_docs, typecheck

Deployed 33a275a to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/api/root_model/index.html
  dev/api/type_adapter/index.html
  dev/concepts/serialization/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Linting fix (hopefully)
  tests/test_v1.py
Due: lint, typecheck

Ignore flake8 issue instead
  tests/test_v1.py
Due: lint, typecheck

Add pydantic.v1 namespace to Pydantic v1 (#9042)
  pydantic/v1.py
  tests/test_v1.py
Due: lint, usage_docs, typecheck

Add support for typing.Self (fix #5992) (#9023)
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  tests/test_types_self.py
Due: lint, usage_docs, typecheck

Deployed 426402a to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update _std_types_schema.py
  pydantic/_internal/_std_types_schema.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
