Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

fix docs build
  docs/plugins/main.py
Due: lint, typecheck

fix examples for 3.8
  docs/concepts/experimental.md
Due: none

uprev to latest pydantic-core
  pdm.lock
Due: none

parmeterize tests
  tests/test_allow_partial.py
Due: lint, typecheck

format examples
  docs/concepts/experimental.md
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

uprev core pr, improve docs
  docs/concepts/experimental.md
  pdm.lock
  pyproject.toml
Due: none

Use Python 3.12 for CF pages build
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
  .gitignore
  .python-version
Due: none

fix typo
  docs/concepts/experimental.md
Due: none

fix example formatting
  docs/concepts/experimental.md
Due: none

Add validation tests for `_internal/_validators.py`
  pydantic/_internal/_validators.py
  tests/test_internal.py
  tests/test_types.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

improve install docs
  docs/install.md
Due: none

Fix serializing complex values in enums (pydantic/pydantic-core#1524)
  src/serializers/infer.rs
  src/serializers/ob_type.rs
  src/serializers/type_serializers/complex.rs
  tests/serializers/test_infer.py
Due: lint, typecheck

Fix serializing complex values in enums (#1524)
  src/serializers/infer.rs
  src/serializers/ob_type.rs
  src/serializers/type_serializers/complex.rs
  tests/serializers/test_infer.py
Due: lint, typecheck

Add `allow_partial` (#1512)
  benches/main.rs
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/errors/line_error.rs
  src/errors/location.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/return_enums.rs
  src/serializers/fields.rs
  src/url.rs
  src/validators/arguments.rs
  src/validators/dataclass.rs
  src/validators/definitions.rs
  src/validators/dict.rs
  src/validators/generator.rs
  src/validators/json.rs
  src/validators/mod.rs
  src/validators/model_fields.rs
  src/validators/tuple.rs
  src/validators/typed_dict.rs
  src/validators/validation_state.rs
  tests/emscripten_runner.js
  tests/requirements.txt
  tests/test.rs
  tests/validators/test_allow_partial.py
Due: lint, typecheck

Add `allow_partial` (pydantic/pydantic-core#1512)
  benches/main.rs
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/errors/line_error.rs
  src/errors/location.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/return_enums.rs
  src/serializers/fields.rs
  src/url.rs
  src/validators/arguments.rs
  src/validators/dataclass.rs
  src/validators/definitions.rs
  src/validators/dict.rs
  src/validators/generator.rs
  src/validators/json.rs
  src/validators/mod.rs
  src/validators/model_fields.rs
  src/validators/tuple.rs
  src/validators/typed_dict.rs
  src/validators/validation_state.rs
  tests/emscripten_runner.js
  tests/requirements.txt
  tests/test.rs
  tests/validators/test_allow_partial.py
Due: lint, typecheck

bump speedate to 0.15 (pydantic/pydantic-core#1526)
  Cargo.lock
  Cargo.toml
  tests/validators/test_date.py
  tests/validators/test_datetime.py
Due: lint, typecheck

bump speedate to 0.15 (#1526)
  Cargo.lock
  Cargo.toml
  tests/validators/test_date.py
  tests/validators/test_datetime.py
Due: lint, typecheck

Update docs/install.md
  docs/install.md
Due: none

Improve installation documentation (#10765)
  docs/install.md
Due: none

Deployed 1365409 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/install/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Bump version to prep release (pydantic/pydantic-core#1527)
  Cargo.lock
  Cargo.toml
Due: none

Bump version to prep release (#1527)
  Cargo.lock
  Cargo.toml
Due: none

python version changes
  .gitignore
  .python-version
Due: none

url fixes
  pydantic/networks.py
Due: lint, usage_docs, typecheck

some test fixes and such
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

add revalidation on init
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Use Python 3.12 for CF pages build (#10761)
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
Due: none

Deployed b4308e0 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/pydantic_core_schema/index.html
  dev/api/pydantic_extra_types_color/index.html
  dev/api/pydantic_extra_types_isbn/index.html
  dev/api/pydantic_extra_types_mac_address/index.html
  dev/api/pydantic_extra_types_payment/index.html
  dev/api/pydantic_extra_types_routing_numbers/index.html
  dev/api/pydantic_extra_types_timezone_name/index.html
  dev/api/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

bump core version
  pdm.lock
  pyproject.toml
Due: none

fix dt tests
  tests/test_datetime.py
Due: lint, typecheck

Update docs/concepts/experimental.md
  docs/concepts/experimental.md
Due: none

Add `experimental_allow_partial` support (#10748)
  docs/concepts/experimental.md
  docs/plugins/main.py
  pdm.lock
  pydantic/functional_validators.py
  pydantic/type_adapter.py
  pyproject.toml
  tests/test_allow_partial.py
  tests/test_datetime.py
Due: lint, usage_docs, typecheck
