Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, pyupgrade

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system
    pass_filenames: false
  - id: pyupgrade
    name: Pyupgrade
    entry: pyupgrade --py37-plus
    types: [python]
    language: system
    exclude: ^docs/.*$

keep old kwarg to avoid breaking change
  pydantic/dataclasses.py
Due: lint, mypy, pyupgrade

fix: Parsing of custom root models (#4883) (#4884)
  changes/4883-gou177.md
  pydantic/main.py
  tests/test_parse.py
Due: lint, mypy, pyupgrade

fix: use dataclasses proxy for frozen or empty dataclasses (#4878)
  changes/4878-PrettyWood.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, mypy, pyupgrade

prepare for v1.10.3, fix #4552
  HISTORY.md
  changes/2276-samuelcolvin.md
  changes/4487-PrettyWood.md
  changes/4500-samuelcolvin.md
  changes/4538-sisp.md
  changes/4551-mfulgo.md
  changes/4568-mfulgo.md
  changes/4641-jparise.md
  changes/4689-morian.md
  changes/4695-PrettyWood.md
  changes/4767-samuelcolvin.md
  changes/4781-Bobronium.md
  changes/4878-PrettyWood.md
  changes/4883-gou177.md
  pydantic/version.py
Due: lint, mypy, pyupgrade

molify grumpy clippy
  src/lookup_key.rs
  src/url.rs
Due: none

Bake variables into regex
  pydantic/color.py
Due: lint, mypy, pyupgrade

added ErrorCodes Literal
  pydantic/errors.py
Due: lint, mypy, pyupgrade

change dependency to "typing-extensions>=4.2.0"
  setup.py
  tests/requirements-testing.txt
Due: lint, mypy, pyupgrade

moved check for ForwardRef into existing for loop
  pydantic/_internal/_model_construction.py
Due: lint, mypy, pyupgrade

add change description
  changes/4885-samuelcolvin.md
Due: none

change assertion to dict instead of json
  docs/examples/types_undefined_warning.py
Due: lint, mypy

Typing extensions min version (#4886)
  changes/4885-samuelcolvin.md
  setup.py
  tests/requirements-testing.txt
Due: lint, mypy, pyupgrade

renaming .json -> .model_dump_json
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/examples/exporting_models_json.py
  docs/examples/exporting_models_json_encoders.py
  docs/examples/exporting_models_json_encoders_merge.py
  docs/examples/exporting_models_json_forward_ref.py
  docs/examples/exporting_models_json_subclass.py
  docs/examples/exporting_models_orjson.py
  docs/examples/models_custom_root_field.py
  docs/examples/types_secret_types.py
  docs/usage/exporting_models.md
  docs/usage/models.md
  pydantic/main.py
  tests/test_construction.py
  tests/test_dataclasses.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_json.py
  tests/test_main.py
  tests/test_networks.py
  tests/test_types.py
Due: lint, mypy, pyupgrade

prepare for v1.10.4 release
  HISTORY.md
  changes/4885-samuelcolvin.md
  docs/blog/pydantic-v2.md
  pydantic/version.py
Due: lint, mypy, pyupgrade

renaming .__fields__ -> .model_fields
  docs/examples/models_dynamic_inheritance.py
  docs/examples/models_field_order.py
  docs/usage/models.md
  pydantic/_internal/_model_construction.py
  pydantic/dataclasses.py
  pydantic/decorator.py
  pydantic/generics.py
  pydantic/main.py
  pydantic/schema.py
  tests/test_aliases.py
  tests/test_annotated.py
  tests/test_construction.py
  tests/test_create_model.py
  tests/test_dataclasses.py
  tests/test_decorator.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_main.py
Due: lint, mypy, pyupgrade

increase minimum typing-extensions version, see #4885
  pyproject.toml
Due: none

renaming .schema -> .model_json_schema
  docs/examples/dataclasses_default_schema.py
  docs/examples/model_config_alias_precedence.py
  docs/examples/models_custom_root_field.py
  docs/examples/schema_main.py
  docs/examples/schema_unenforced_constraints.py
  docs/examples/types_custom_type.py
  docs/hypothesis_plugin.md
  docs/usage/models.md
  docs/usage/schema.md
  pydantic/main.py
  pydantic/tools.py
  tests/test_annotated.py
  tests/test_create_model.py
  tests/test_dataclasses.py
  tests/test_decorator.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_main.py
  tests/test_schema.py
  tests/test_types.py
  tests/test_types_namedtuple.py
  tests/test_types_typeddict.py
Due: lint, mypy, pyupgrade

renaming .construct -> .model_construct
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/examples/models_construct.py
  docs/mypy_plugin.md
  docs/usage/models.md
  pydantic/main.py
  pydantic/mypy.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/outputs/plugin-fail-strict.txt
  tests/mypy/outputs/plugin-fail.txt
  tests/test_aliases.py
  tests/test_construction.py
  tests/test_edge_cases.py
Due: lint, mypy, pyupgrade

renaming .parse_obj -> .model_validate
  docs/examples/models_custom_root_access.py
  docs/examples/models_custom_root_field.py
  docs/examples/models_custom_root_field_parse_obj.py
  docs/examples/models_parse.py
  docs/usage/models.md
  pydantic/main.py
  tests/mypy/modules/success.py
  tests/test_dataclasses.py
  tests/test_discrimated_union.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_main.py
  tests/test_parse.py
  tests/test_types_namedtuple.py
  tests/test_types_typeddict.py
  tests/test_validators.py
Due: lint, mypy, pyupgrade

make linters happy
  pydantic/main.py
  tests/test_construction.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_json.py
  tests/test_main.py
  tests/test_schema.py
Due: lint, mypy, pyupgrade

add dependencies check workflow
  .github/workflows/dependencies_check.yml
Due: none

add dependencies check workflow (#4891)
  .github/workflows/dependencies_check.yml
Due: none

fix dependencies-check.yml
  .github/workflows/dependencies-check.yml
Due: none

fix dependencies-check.yml, take 2
  .github/workflows/dependencies-check.yml
Due: none

fix dependencies-check.yml, take 3 🤷
  .github/workflows/dependencies-check.yml
Due: none

add dependencies-check to 1.10.X-fixes
  .github/workflows/dependencies-check.yml
Due: none

set dependency check to only run occationally
  .github/workflows/dependencies-check.yml
Due: none

fix install step for dependencies check
  .github/workflows/dependencies-check.yml
Due: none

cleanup of undefined_types_warning tests and docs
  tests/test_forward_ref.py
Due: lint, mypy, pyupgrade

Added more detailed documentation plus several code examples for ImportString #537
  docs/examples/types_import_string_1.py
  docs/examples/types_import_string_2.py
  docs/examples/types_import_string_3.py
  docs/usage/types.md
Due: lint, mypy

add changes md-file
  changes/4672-florianfischer91.md
Due: none

turn BaseConfig into a dict and fix most of the failing tests except mypy
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/generics.py
  pydantic/main.py
  pydantic/schema.py
  tests/test_aliases.py
  tests/test_construction.py
  tests/test_create_model.py
  tests/test_dataclasses.py
  tests/test_discrimated_union.py
  tests/test_edge_cases.py
  tests/test_json.py
  tests/test_main.py
  tests/test_model_signature.py
  tests/test_private_attributes.py
  tests/test_strict.py
  tests/test_types.py
  tests/test_types_namedtuple.py
Due: lint, mypy, pyupgrade

further work on BaseConfig and fixing some mypy errors
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/main.py
  tests/test_dataclasses.py
  tests/test_edge_cases.py
Due: lint, mypy, pyupgrade

Allow optional discriminator in discriminated unions
  pydantic/fields.py
  pydantic/utils.py
  tests/test_discrimated_union.py
Due: lint, mypy, pyupgrade

Check only one variant has default discriminator
  pydantic/fields.py
  tests/test_discrimated_union.py
Due: lint, mypy, pyupgrade

Add example to docs
  docs/examples/types_union_discriminated_default.py
  docs/usage/types.md
Due: lint, mypy
