Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Try removing flaky xfail test (#1439)
  tests/validators/test_complex.py
Due: lint, typecheck

Try removing flaky xfail test (pydantic/pydantic-core#1439)
  tests/validators/test_complex.py
Due: lint, typecheck

Respect `defer_build` for Pydantic dataclasses
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/dataclasses.py
  tests/test_config.py
Due: lint, usage_docs, typecheck

Fixes
  pydantic/_internal/_dataclasses.py
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

update deps
  HISTORY.md
  pdm.lock
  pyproject.toml
Due: none

Prep for v2.9 release (#10311)
  CITATION.cff
  HISTORY.md
  pdm.lock
  pydantic/version.py
  pyproject.toml
Due: lint, usage_docs, typecheck

add init warning
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

adding test
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Apply suggestions from code review
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

dep warning on import
  pydantic/__init__.py
Due: lint, usage_docs, typecheck

fix tests with stacklevel
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Do not check for `str` when using `has_instance_in_type`
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

fix warning
  pydantic/__init__.py
Due: lint, usage_docs, typecheck

elaborate on deprecation warning
  pydantic/__init__.py
Due: lint, usage_docs, typecheck

Do not check for `str` when using `has_instance_in_type` (#10317)
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Deployed cb8d300 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

fraction support -- intro
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validators.py
  pydantic/json_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

fractions first pass
  pydantic/json_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

fractions first pass
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

update stdlib docs
  docs/api/standard_library_types.md
Due: none

predicate fix
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

Modify schema creation benchmarks to focus on schema building
  pyproject.toml
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

predicate test
  tests/test_annotated.py
Due: lint, typecheck

Negative integers with leading zeros raise ValueError (pydantic/pydantic-core#1436)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

Negative integers with leading zeros raise ValueError (#1436)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

feedback
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

hashable for json
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
Due: lint, usage_docs, typecheck

Revert "hashable for json"
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
Due: lint, usage_docs, typecheck

Fix `Predicate` issue in `v2.9.0` (#10321)
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_annotated.py
Due: lint, usage_docs, typecheck

Deployed 0061aab to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Update _generate_schema.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Don't allow customization of `SchemaGenerator` until interface is more stable (#10303)
  docs/concepts/json_schema.md
  pydantic/__init__.py
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/type_adapter.py
  tests/conftest.py
  tests/test_config.py
  tests/test_dataclasses.py
  tests/test_main.py
  tests/test_type_adapter.py
  tests/test_types_typeddict.py
Due: lint, usage_docs, typecheck

Deployed 6db2a0c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/config/index.html
  dev/api/type_adapter/index.html
  dev/concepts/json_schema/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
Due: none

Support `fractions.Fraction` (#10318)
  docs/api/standard_library_types.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validators.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 28af0c2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/standard_library_types/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

fixing annotated types bound
  pyproject.toml
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
