Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint-python
        types: [python]
        language: system
        pass_filenames: false
      - id: lint rust
        name: Lint Rust
        entry: make lint-rust
        types: [rust]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: uv run pyright pydantic
        types: [python]
        language: system
        pass_filenames: false

Deployed af85f64 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/concepts/pydantic_settings/index.html
  dev/concepts/pydantic_settings/index.md
  dev/index.html
  dev/llms-full.txt
  dev/logos/capital_one_logo.png
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/why/index.html
Due: none

patch unset attributes with `MISSING` during model serialization with `exclude_unset`
  pydantic-core/src/serializers/type_serializers/model.rs
  tests/types/test_union.py
Due: lint, lint rust, typecheck

fix warning on rust 1.94 of needless bitwise operator
  pydantic-core/src/validators/decimal.rs
Due: lint rust

Fix warning on rust 1.94 of needless bitwise operator (#12906)
  pydantic-core/src/validators/decimal.rs
Due: lint rust

fixup Python 3.9
  tests/types/test_union.py
Due: lint, typecheck

Deployed 938e81d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

feat: add ascii_only constraint to StringConstraints
  docs/errors/validation_errors.md
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/errors/types.rs
  pydantic-core/src/validators/string.rs
  pydantic-core/tests/test_errors.py
  pydantic-core/tests/validators/test_string.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/types.py
  tests/test_types.py
Due: lint, lint rust, typecheck

removed char in error type
  pydantic-core/src/errors/types.rs
Due: lint rust

updated docs and removed unnecessary tests
  docs/api/standard_library_types.md
  pydantic-core/tests/validators/test_string.py
  tests/test_types.py
Due: lint, typecheck

updated docs
  docs/api/standard_library_types.md
Due: none

Push down constraints in unions involving `MISSING` sentinel
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_gather.py
  pydantic/json_schema.py
  tests/test_missing_sentinel.py
Due: lint, typecheck

perf: optimize custom type function serialization performance (~33% speedup)
  pydantic-core/src/serializers/type_serializers/function.rs
Due: lint rust

Update docs to say polymorphic_serialization added in v2.13
  docs/concepts/serialization.md
Due: none

Fix `version-added` directive for `polymorphic_serialization` (#12910)
  docs/concepts/serialization.md
Due: none

Deployed f2bc256 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/serialization/index.html
  dev/concepts/serialization/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

rm warning
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

remove pydantic-core tests, only use pydantic tests
  pydantic-core/tests/validators/test_union.py
Due: lint, typecheck

rm test for warning logic
  tests/types/test_union.py
Due: lint, typecheck

Fix defaultdict default_factory from Field being ignored
  pydantic/_internal/_validators.py
  tests/test_types.py
Due: lint, typecheck

clean up skip parameter and flatten tagged union serialize logic
  pydantic-core/src/serializers/type_serializers/union.rs
  pydantic-core/tests/serializers/test_union.py
Due: lint, lint rust, typecheck

Don't try all union members when tagged discriminator match fails
  pydantic-core/src/serializers/type_serializers/union.rs
  pydantic-core/tests/serializers/test_union.py
Due: lint, lint rust, typecheck

Handle unmanaged $ref in custom __get_pydantic_json_schema__ output
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Fix extra='allow' alias collision in serialization
  pydantic-core/src/serializers/fields.rs
  tests/test_serialize.py
Due: lint, lint rust, typecheck

Optimize: use SmallVec<&str> instead of AHashSet<String>
  pydantic-core/src/serializers/fields.rs
Due: lint rust

Fix Field metadata (examples, deprecated, title) not appearing in RootModel JSON schema
  pydantic/json_schema.py
  tests/test_root_model.py
Due: lint, typecheck

Standardize British English spelling to American English for consistency
  docs/concepts/config.md
  docs/concepts/fields.md
  docs/concepts/models.md
  docs/concepts/validation_decorator.md
  docs/index.md
  docs/why.md
  pydantic-core/src/serializers/type_serializers/model.rs
  pydantic-core/src/validators/dataclass.rs
  pydantic-core/src/validators/date.rs
  pydantic-core/src/validators/datetime.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/src/validators/string.rs
  pydantic-core/src/validators/url.rs
  pydantic-core/tests/validators/test_allow_partial.py
  pydantic-core/tests/validators/test_union.py
  pydantic/_internal/_decorators_v1.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_utils.py
  pydantic/_internal/_validators.py
  pydantic/config.py
  pydantic/mypy.py
  pydantic/networks.py
  tests/test_dataclasses.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_serialize.py
Due: lint, lint rust, typecheck

Handle `PydanticOmit` in JSON schema definitions for duplicated union fields
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

docs: fix typos and improve documentation quality
  pydantic/_internal/_fields.py
  pydantic/functional_validators.py
Due: lint, typecheck

Use bitsets for `model_fields_set`
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic-core/python/pydantic_core/__init__.py
  pydantic-core/python/pydantic_core/_pydantic_core.pyi
  pydantic-core/src/fields_set.rs
  pydantic-core/src/lib.rs
  pydantic-core/src/serializers/type_serializers/model.rs
  pydantic-core/src/validators/model.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic/main.py
Due: lint, lint rust, typecheck

Fix typos (#12922)
  pydantic/_internal/_fields.py
  pydantic/functional_validators.py
Due: lint, typecheck

Do not build full set for now
  pydantic-core/src/validators/model.rs
  pydantic-core/tests/benchmarks/test_complete_benchmark.py
Due: lint, lint rust, typecheck

Handle models without model fields
  pydantic-core/src/fields_set.rs
  pydantic-core/src/validators/model.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/tests/benchmarks/test_micro_benchmarks.py
  pydantic-core/tests/benchmarks/test_serialization_micro.py
  tests/benchmarks/test_attribute_access.py
Due: lint, lint rust, typecheck

Deployed 4f818e0 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/functional_validators/index.html
  dev/api/functional_validators/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Revert "Fix duplicated words in v1 comments (#12865)" (#12889)
  pydantic/v1/datetime_parse.py
  pydantic/v1/fields.py
Due: lint, typecheck

Deployed 4b92ae3 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Add `ascii_only` option to `StringConstraints` (#12907)
  docs/api/standard_library_types.md
  docs/errors/validation_errors.md
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/errors/types.rs
  pydantic-core/src/validators/string.rs
  pydantic-core/tests/test_errors.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/types.py
  tests/test_types.py
Due: lint, lint rust, typecheck
