Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Ensure BaseModel behaves alike with annotated types as TypeAdapter
  pydantic/fields.py
  tests/test_annotated.py
Due: lint, usage_docs, typecheck

fix ser schema, moving serialization to outside of schema
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

should have known better, union syntax
  tests/test_types.py
Due: lint, typecheck

Use field description for RootModel schema description when there is … (#9214)
  pydantic/_internal/_generate_schema.py
  tests/test_root_model.py
Due: lint, usage_docs, typecheck

Revert typing.Literal and import it outside the TYPE_CHECKING block (#9232)
  pydantic/_internal/_std_types_schema.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

Deployed 2241983 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Ftp and Websocket connection strings support (#9205)
  pydantic/__init__.py
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

Deployed b844ea7 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/api/networks/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Revert "adds test case for pydantic#9235"
  tests/test_discriminated_union.py
Due: lint, typecheck

proper format on test case for pydantic#9235
  tests/test_discriminated_union.py
Due: lint, typecheck

Fix `Secret` serialization schema, applicable for unions (#9240)
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed ae71183 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

support multiple zeros as an int (pydantic/pydantic-core#1269)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

support multiple zeros as an int (#1269)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

docs(performance): remove section on literal vs enum performance
  docs/concepts/performance.md
Due: none

Fix field validation on Base64Bytes and Base64Str
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

docs: make `TypeAdapter` example PEP-8 compliant
  docs/concepts/type_adapter.md
Due: none

docs: make `TypeAdapter` example PEP-8 compliant (#9268)
  docs/concepts/type_adapter.md
Due: none

Deployed 3c15a8b to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/pydantic_settings/index.html
  dev/concepts/type_adapter/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

* updated for typing
  pydantic/main.py
Due: lint, usage_docs, typecheck

* m.__private_attributes__ should not have been replaced
  pydantic/main.py
Due: lint, usage_docs, typecheck

bandaid fix for strict issues with function after
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

adding test
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

fix validation of ints with leading unary plus (pydantic/pydantic-core#1272)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

fix validation of ints with leading unary plus (#1272)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

use recursion instead
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

add function wrap
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

adding before
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

return instead of continue
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

Handle case where default value is a pydantic type
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

use set instead
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

docs(performance): remove section on literal vs enum performance (#9262)
  docs/concepts/performance.md
Due: none

Deployed bb857bd to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/performance/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix `strict` application to `function-after` with `use_enum_values` (#9279)
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 6322b24 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Create a round_to setting for float validator
  pydantic/v1/validators.py
Due: lint, usage_docs, typecheck

* revert to original hasattr() check followed by direct attribute access
  pydantic/main.py
Due: lint, usage_docs, typecheck

Address case where model_construct on a class which defines model_post_init fails with AttributeError: __pydantic_private__ when subsequently model_copy'd (#9168)
  pydantic/main.py
  tests/test_main.py
Due: lint, usage_docs, typecheck
