Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

fix failing test
  tests/test_discriminated_union.py
Due: lint, typecheck

Fix parsing BigInt from str (pydantic/pydantic-core#1204)
  src/input/input_json.rs
  src/input/input_string.rs
  tests/validators/test_int.py
Due: lint, typecheck

Fix parsing BigInt from str (#1204)
  src/input/input_json.rs
  src/input/input_string.rs
  tests/validators/test_int.py
Due: lint, typecheck

Remove unnecessary logic for definitions schema gen with discriminated unions (#8951)
  pydantic/_internal/_discriminated_union.py
  tests/test_discriminated_union.py
Due: lint, usage_docs, typecheck

Deployed a99481c to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

first performance tests
  tests/benchmarks/test_discriminated_unions.py
Due: lint, typecheck

extra notes
  tests/benchmarks/test_discriminated_unions.py
Due: lint, typecheck

union fix for older python versions
  tests/benchmarks/test_discriminated_unions.py
Due: lint, typecheck

typing extensions for annotated
  tests/benchmarks/test_discriminated_unions.py
Due: lint, typecheck

move schema build outside of test for validation
  tests/benchmarks/test_discriminated_unions.py
Due: lint, typecheck

removing redundant type adapter initializations
  tests/benchmarks/test_discriminated_unions.py
Due: lint, typecheck

preferential minor refactor
  pydantic/_internal/_generate_schema.py
  tests/test_deprecated.py
  tests/test_internal.py
Due: lint, usage_docs, typecheck

define models ahead of time, include global adapter
  tests/benchmarks/test_discriminated_unions.py
Due: lint, typecheck

Add discriminated union focused performance tests (#8955)
  tests/benchmarks/test_discriminated_unions.py
Due: lint, typecheck

Deployed b6b4907 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

wip, schema gen improvements
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

minor simplification
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

remove unused key
  pydantic/_internal/_core_utils.py
Due: lint, usage_docs, typecheck

ah, this can be removed too
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Further schema gen simplification (#8958)
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Deployed cfeecd7 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

slight modification in wording
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

fix test, oops
  tests/test_deprecated.py
Due: lint, typecheck

Minor preferential refactor (#8957)
  pydantic/_internal/_generate_schema.py
  tests/test_deprecated.py
  tests/test_internal.py
Due: lint, usage_docs, typecheck

Deployed 5e1c553 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

specify annotated metadat input to be FieldInfo
  pydantic/main.py
  tests/test_create_model.py
Due: lint, usage_docs, typecheck

Remove outdated comment
  pydantic/main.py
Due: lint, usage_docs, typecheck

Change typing.Annotated to use typing_extensions for tests visible for python version < 3.9
  tests/test_create_model.py
Due: lint, typecheck

create test for failure case for both typing and typing_extensions
  tests/test_create_model.py
Due: lint, typecheck

ability to pass context to serialization (pydantic#7143) (#1215)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/errors/validation_exception.rs
  src/serializers/extra.rs
  src/serializers/infer.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/function.rs
  src/serializers/type_serializers/generator.rs
  src/validators/function.rs
  tests/serializers/test_functions.py
  tests/test.rs
  tests/test_typing.py
Due: lint, typecheck

ability to pass context to serialization (pydanticpydantic/pydantic-core#7143) (pydantic/pydantic-core#1215)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/errors/validation_exception.rs
  src/serializers/extra.rs
  src/serializers/infer.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/function.rs
  src/serializers/type_serializers/generator.rs
  src/validators/function.rs
  tests/serializers/test_functions.py
  tests/test.rs
  tests/test_typing.py
Due: lint, typecheck

fix #7143 (requires pydantic-core#1215)
  docs/concepts/serialization.md
  pydantic/main.py
Due: lint, usage_docs, typecheck

tests for fix #7143
  tests/test_serialize.py
Due: lint, typecheck

Docs improvements for the week (#8763)
  docs/help_with_pydantic.md
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Fix usage of `AliasGenerator` with `computed_field` decorator (#8806)
  pydantic/_internal/_generate_schema.py
  tests/test_aliases.py
Due: lint, usage_docs, typecheck

Fix nested discriminated union schema gen, pt 2 (#8932)
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  tests/test_discriminated_union.py
Due: lint, usage_docs, typecheck

Fix bug with no_strict_optional=True caused by API deferral (#8826)
  pydantic/mypy.py
  tests/mypy/modules/no_strict_optional.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-no-strict-optional_toml/no_strict_optional.py
Due: lint, usage_docs, typecheck

fix ta link
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck
