Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

associated types for arguments in Input (#1234)
  Cargo.toml
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/validators/arguments.rs
  src/validators/dataclass.rs
Due: none

Add support `re.Pattern[str]` to `pattern` field
  pydantic/fields.py
  pydantic/types.py
Due: lint, usage_docs, typecheck

really drop python<=3.7 support (#1232)
  tests/benchmarks/complete_schema.py
  tests/benchmarks/test_complete_benchmark.py
  tests/serializers/test_generator.py
  tests/test_errors.py
  tests/validators/test_date.py
  tests/validators/test_decimal.py
  tests/validators/test_list.py
  tests/validators/test_tuple.py
Due: lint, typecheck

really drop python<=3.7 support (pydantic/pydantic-core#1232)
  tests/benchmarks/complete_schema.py
  tests/benchmarks/test_complete_benchmark.py
  tests/serializers/test_generator.py
  tests/test_errors.py
  tests/validators/test_date.py
  tests/validators/test_decimal.py
  tests/validators/test_list.py
  tests/validators/test_tuple.py
Due: lint, typecheck

fix to RootModel documentation
  docs/concepts/models.md
Due: none

fix RootModel signature
  pydantic/root_model.py
Due: lint, usage_docs, typecheck

fix to RootModel documentation (#9058)
  docs/concepts/models.md
Due: none

Deployed a3b7214 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/models/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

associated types for dict in input (pydantic/pydantic-core#1237)
  src/build_tools.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/dict.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model_fields.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
Due: none

associated types for dict in input (#1237)
  src/build_tools.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/dict.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model_fields.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
Due: none

clickhouse-dsn
  pydantic/__init__.py
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

Rust enums validator (pydantic/pydantic-core#1235)
  python/pydantic_core/core_schema.py
  src/input/input_abstract.rs
  src/input/input_python.rs
  src/serializers/shared.rs
  src/serializers/type_serializers/enum_.rs
  src/serializers/type_serializers/float.rs
  src/serializers/type_serializers/format.rs
  src/serializers/type_serializers/mod.rs
  src/serializers/type_serializers/simple.rs
  src/serializers/type_serializers/string.rs
  src/validators/enum_.rs
  src/validators/is_instance.rs
  src/validators/literal.rs
  src/validators/mod.rs
  tests/benchmarks/test_micro_benchmarks.py
  tests/serializers/test_enum.py
  tests/test_schema_functions.py
  tests/validators/test_enums.py
Due: lint, typecheck

Rust enums validator (#1235)
  python/pydantic_core/core_schema.py
  src/input/input_abstract.rs
  src/input/input_python.rs
  src/serializers/shared.rs
  src/serializers/type_serializers/enum_.rs
  src/serializers/type_serializers/float.rs
  src/serializers/type_serializers/format.rs
  src/serializers/type_serializers/mod.rs
  src/serializers/type_serializers/simple.rs
  src/serializers/type_serializers/string.rs
  src/validators/enum_.rs
  src/validators/is_instance.rs
  src/validators/literal.rs
  src/validators/mod.rs
  tests/benchmarks/test_micro_benchmarks.py
  tests/serializers/test_enum.py
  tests/test_schema_functions.py
  tests/validators/test_enums.py
Due: lint, typecheck

remaining associated types (pydantic/pydantic-core#1238)
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/validators/frozenset.rs
  src/validators/set.rs
  src/validators/tuple.rs
Due: none

remaining associated types (#1238)
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/validators/frozenset.rs
  src/validators/set.rs
  src/validators/tuple.rs
Due: none

support json cow of jiter 0.1.0 (pydantic/pydantic-core#1231)
  Cargo.lock
  Cargo.toml
  src/errors/line_error.rs
  src/errors/location.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/generator.rs
Due: none

support json cow of jiter 0.1.0 (#1231)
  Cargo.lock
  Cargo.toml
  src/errors/line_error.rs
  src/errors/location.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/generator.rs
Due: none

Fix default value encoding
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Fix failing datetime test
  tests/test_datetime.py
Due: lint, typecheck

Revert "Fix failing datetime test"
  tests/test_datetime.py
Due: lint, typecheck

refactor `Input` trait to have single `as_python` cast for python inputs (pydantic/pydantic-core#1241)
  src/input/input_abstract.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/url.rs
  src/validators/callable.rs
  src/validators/dataclass.rs
  src/validators/definitions.rs
  src/validators/enum_.rs
  src/validators/is_instance.rs
  src/validators/is_subclass.rs
  src/validators/literal.rs
  src/validators/model.rs
  src/validators/url.rs
  src/validators/uuid.rs
  tests/validators/test_url.py
Due: lint, typecheck

refactor `Input` trait to have single `as_python` cast for python inputs (#1241)
  src/input/input_abstract.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/url.rs
  src/validators/callable.rs
  src/validators/dataclass.rs
  src/validators/definitions.rs
  src/validators/enum_.rs
  src/validators/is_instance.rs
  src/validators/is_subclass.rs
  src/validators/literal.rs
  src/validators/model.rs
  src/validators/url.rs
  src/validators/uuid.rs
  tests/validators/test_url.py
Due: lint, typecheck

bump version to 2.17.0 (pydantic/pydantic-core#1239)
  Cargo.lock
  Cargo.toml
Due: none

bump version to 2.17.0 (#1239)
  Cargo.lock
  Cargo.toml
Due: none

Allow case where `__pydantic_extra__` is `None`, even if `extra='allow'` (#1236)
  src/serializers/fields.rs
  tests/serializers/test_other.py
Due: lint, typecheck

Allow case where `__pydantic_extra__` is `None`, even if `extra='allow'` (pydantic/pydantic-core#1236)
  src/serializers/fields.rs
  tests/serializers/test_other.py
Due: lint, typecheck

Add `serialize_as_any` runtime flag support (pydantic/pydantic-core#1194)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/errors/validation_exception.rs
  src/serializers/extra.rs
  src/serializers/fields.rs
  src/serializers/infer.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/dataclass.rs
  src/serializers/type_serializers/function.rs
  src/serializers/type_serializers/model.rs
  tests/serializers/test_functions.py
  tests/serializers/test_serialize_as_any.py
  tests/test.rs
  tests/test_typing.py
Due: lint, typecheck

Add `serialize_as_any` runtime flag support (#1194)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/errors/validation_exception.rs
  src/serializers/extra.rs
  src/serializers/fields.rs
  src/serializers/infer.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/dataclass.rs
  src/serializers/type_serializers/function.rs
  src/serializers/type_serializers/model.rs
  tests/serializers/test_functions.py
  tests/serializers/test_serialize_as_any.py
  tests/test.rs
  tests/test_typing.py
Due: lint, typecheck

Uprev `speedate` (#1244)
  Cargo.lock
  Cargo.toml
  tests/serializers/test_any.py
  tests/serializers/test_timedelta.py
Due: lint, typecheck

Uprev `speedate` (pydantic/pydantic-core#1244)
  Cargo.lock
  Cargo.toml
  tests/serializers/test_any.py
  tests/serializers/test_timedelta.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
