Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

Fix validation of `Fraction` subclasses (#13366)
  pydantic-core/src/input/input_python.rs
Due: lint rust

Deployed 1c9656d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/pydantic_settings/index.html
  dev/concepts/pydantic_settings/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Add regression test for pickling behavior of generic models in different modules
  tests/test_generics.py
Due: lint, typecheck

Allow init false dataclass field assignment
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, typecheck

Add regression test for pickling behavior of generic models in different modules (#13367)
  tests/test_generics.py
Due: lint, typecheck

Deployed 1f053b2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/pydantic_settings/index.html
  dev/concepts/pydantic_settings/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

fix: allow wrap model validator handler to run twice under __init__
  pydantic-core/src/validators/model.rs
  tests/test_validators.py
Due: lint, lint rust, typecheck

fix: include runtime extra fields in model_dump and model_dump_json
  pydantic/main.py
  tests/test_main.py
Due: lint, typecheck

use final jiter 0.16
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
Due: none

Update to PyO3 0.29 (#13301)
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic-core/tests/test_errors.py
Due: lint, typecheck

Deployed 0b23ac9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

revert strum
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
Due: none

Deployed 9792971 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

docs: remove stale field_name param from apply_validators docstring
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

Fix json_schema_extra dict being dropped when a callable follows it
  pydantic/fields.py
  tests/test_json_schema.py
Due: lint, typecheck

docs: fix stale links in mypy and rich integration docs
  docs/integrations/mypy.md
  docs/integrations/rich.md
Due: none

Strengthen tests for nested pipeline operators and audit gaps.
  docs/internals/high-level-architecture.md
  mkdocs.yml
  public-api-inventory.md
  release-risk.md
  tests-case-verifications.md
  tests-to-add.md
  tests/test_computed_fields.py
  tests/test_discriminated_union.py
  tests/test_exports.py
  tests/test_meta.py
  tests/test_pipeline.py
  tests/test_root_model.py
  tests/test_types_payment_card_number.py
Due: lint, typecheck

Fix stale links in mypy and rich integration docs (#13375)
  docs/integrations/mypy.md
  docs/integrations/rich.md
Due: none

Remove stale `field_name` param from `apply_validators()` docstring (#13373)
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

Deployed 080c741 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/integrations/mypy/index.html
  dev/integrations/mypy/index.md
  dev/integrations/rich/index.html
  dev/integrations/rich/index.md
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix generic extra JSON schema
  pydantic/_internal/_fields.py
  tests/test_generics.py
Due: lint, typecheck

fix: cache takes_validated_data_argument to avoid re-running inspect.signature
  pydantic/_internal/_fields.py
Due: lint, typecheck

👥 Update Pydantic People
  docs/plugins/people.yml
Due: none

perf: cache takes_validated_data_argument result in ModelPrivateAttr
  pydantic/_internal/_fields.py
  pydantic/fields.py
  tests/test_private_attributes.py
Due: lint, typecheck

Support deferred annotations in `@validate_call`
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Due: lint, typecheck

Deployed 7714b0a to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed 9dc25d6 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/pydantic_people/index.html
  dev/search/search_index.json
Due: none

Cache `ModelPrivateAttr.default_factory_takes_validated_data` property
  pydantic/fields.py
Due: lint, typecheck

Fix type variable substitution in `__pydantic_extra__`
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  tests/test_forward_ref.py
  tests/test_main.py
Due: lint, typecheck

docs: fix validator quick link anchors
  docs/concepts/validators.md
Due: none

Fix missing function body in `model_serializer` signatures example
  docs/errors/usage_errors.md
Due: none

fix: add explicit stacklevel to 21 warnings.warn() calls
  pydantic/_internal/_config.py
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/deprecated/config.py
  pydantic/fields.py
  pydantic/json_schema.py
Due: lint, typecheck

fix test
  tests/test_main.py
Due: lint, typecheck

Add JSON Schema asserts
  tests/test_forward_ref.py
  tests/test_main.py
Due: lint, typecheck

Fix type variable substitution in `__pydantic_extra__` (#13391)
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  tests/test_forward_ref.py
  tests/test_main.py
Due: lint, typecheck

Deployed 85b70e9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

docs: add docstring to visit_any
  pydantic/mypy.py
Due: lint, typecheck

docs: add docstring to create_model
  pydantic/main.py
Due: lint, typecheck

fix: accept Decimal in Field(multiple_of=...) type hints
  pydantic/fields.py
  tests/test_fields.py
  tests/typechecking/fields.py
Due: lint, typecheck

Fix missing function body in `model_serializer` signatures example (docs) (#13395)
  docs/errors/usage_errors.md
Due: none

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
