Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy, build

lint-python:
  name: Lint Python
  entry: make lint-python
  language: system

lint-rust:
  name: Lint Rust
  entry: make lint-rust
  language: system

mypy:
  name: Mypy
  entry: make mypy
  language: system

build:
  name: Build
  entry: make build-dev
  language: system

Align label of link to helper functions
  docs/usage/models.md
Due: none

Consistently title-case "Python" (the language)
  HISTORY.md
  docs/contributing.md
  docs/index.md
  docs/install.md
  docs/mypy_plugin.md
  docs/usage/dataclasses.md
  docs/usage/devtools.md
  docs/usage/models.md
  docs/usage/postponed_annotations.md
  docs/usage/settings.md
  docs/usage/types.md
  docs/usage/validation_decorator.md
  mkdocs.yml
  setup.cfg
  tests/requirements-testing.txt
Due: none

Tweak documentation (#4143)
  HISTORY.md
  docs/contributing.md
  docs/index.md
  docs/install.md
  docs/mypy_plugin.md
  docs/usage/dataclasses.md
  docs/usage/devtools.md
  docs/usage/models.md
  docs/usage/postponed_annotations.md
  docs/usage/settings.md
  docs/usage/types.md
  docs/usage/validation_decorator.md
  mkdocs.yml
  setup.cfg
  tests/requirements-testing.txt
Due: none

add timedelta type (pydantic/pydantic-core#137)
  Cargo.lock
  Cargo.toml
  pydantic_core/_types.py
  src/errors/kinds.rs
  src/input/datetime.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/validators/mod.rs
  src/validators/timedelta.rs
  tests/test_hypothesis.py
  tests/validators/test_timedelta.py
Due: lint-python, lint-rust, mypy, build

add timedelta type (#137)
  Cargo.lock
  Cargo.toml
  pydantic_core/_types.py
  src/errors/kinds.rs
  src/input/datetime.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/validators/mod.rs
  src/validators/timedelta.rs
  tests/test_hypothesis.py
  tests/validators/test_timedelta.py
Due: lint-python, lint-rust, mypy, build

Add docs for defining upper-case variables on nested setting models (#4153)
  docs/usage/settings.md
Due: none

Config improvements (pydantic/pydantic-core#147)
  benches/main.rs
  pydantic_core/_pydantic_core.pyi
  pydantic_core/_types.py
  src/build_tools.rs
  src/validators/mod.rs
  src/validators/model_class.rs
  src/validators/typed_dict.rs
  tests/benchmarks/complete_schema.py
  tests/test_config.py
  tests/test_json.py
  tests/validators/test_function.py
  tests/validators/test_model_class.py
  tests/validators/test_recursive.py
  tests/validators/test_string.py
  tests/validators/test_typed_dict.py
Due: lint-python, lint-rust, mypy, build

Config improvements (#147)
  benches/main.rs
  pydantic_core/_pydantic_core.pyi
  pydantic_core/_types.py
  src/build_tools.rs
  src/validators/mod.rs
  src/validators/model_class.rs
  src/validators/typed_dict.rs
  tests/benchmarks/complete_schema.py
  tests/test_config.py
  tests/test_json.py
  tests/validators/test_function.py
  tests/validators/test_model_class.py
  tests/validators/test_recursive.py
  tests/validators/test_string.py
  tests/validators/test_typed_dict.py
Due: lint-python, lint-rust, mypy, build

fix wasm build and tests (pydantic/pydantic-core#148)
  .github/workflows/ci.yml
  .gitignore
  tests/conftest.py
  tests/emscripten_runner.js
  tests/test_hypothesis.py
Due: lint-python, mypy

fix wasm build and tests (#148)
  .github/workflows/ci.yml
  .gitignore
  tests/conftest.py
  tests/emscripten_runner.js
  tests/test_hypothesis.py
Due: lint-python, mypy

Add Pyupgrade
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  pydantic/color.py
  pydantic/generics.py
  pydantic/mypy.py
  tests/requirements-linting.txt
  tests/test_dataclasses.py
  tests/test_json.py
  tests/test_orm_mode.py
  tests/test_schema.py
  tests/test_types.py
Due: lint-python, mypy

Add Pyupgrade (#4214)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  pydantic/color.py
  pydantic/generics.py
  pydantic/mypy.py
  tests/requirements-linting.txt
  tests/test_dataclasses.py
  tests/test_json.py
  tests/test_orm_mode.py
  tests/test_schema.py
  tests/test_types.py
Due: lint-python, mypy

Wasm cleanup (pydantic/pydantic-core#149)
  .github/workflows/ci.yml
  .gitignore
  package.json
  tests/emscripten_runner.js
  tests/noxfile.py
  tests/test_hypothesis.py
Due: lint-python, mypy

Wasm cleanup (#149)
  .github/workflows/ci.yml
  .gitignore
  package.json
  tests/emscripten_runner.js
  tests/noxfile.py
  tests/test_hypothesis.py
Due: lint-python, mypy

add a readme to python benchmarks
  tests/benchmarks/README.md
Due: none

Implement proper support for nested complex env values
  pydantic/env_settings.py
  tests/test_settings.py
Due: lint-python, mypy

first draft of pydantic V2 blog
  docs/blog/pydantic-v2.md
Due: none

Add changes file for PR
  changes/4216-raistleitner.md
Due: none

Remove second paragraph for changes file
  changes/4216-raistleitner.md
Due: none

Improve tests for coverage and code cleanup
  pydantic/env_settings.py
  tests/test_settings.py
Due: lint-python, mypy

more blog
  docs/blog/pydantic-v2.md
Due: none

blog rendering and formatting
  docs/blog/pydantic-v2.md
  docs/extra/ad.js
  docs/extra/tweaks.css
  docs/img/samuelcolvin.jpg
  docs/theme/main.html
  mkdocs.yml
Due: none

more section
  docs/blog/pydantic-v2.md
Due: none

completing conversion table
  docs/blog/pydantic-v2.md
  mkdocs.yml
Due: none

prompt build
  .github/workflows/ci.yml
  docs/blog/pydantic-v2.md
Due: none

reviewing blog post
  docs/blog/pydantic-v2.md
Due: none

Fix typo on unique_items param of Field doc (#3857)
  pydantic/fields.py
Due: lint-python, mypy

more reviewing and extending
  docs/blog/pydantic-v2.md
Due: none

recommendations from @Rabscuttler and @PrettyWood
  docs/blog/pydantic-v2.md
Due: none

feat: pass config to create_model_from_namedtuple
  pydantic/validators.py
Due: lint-python, mypy

add implementation details and more suggestions
  docs/blog/pydantic-v2.md
Due: none

comment about breaking changes
  docs/blog/pydantic-v2.md
Due: none

add getting started
  .gitignore
  README.md
Due: none

Path conditions:
  lint-python: any of: \.py$
  lint-rust: any of: \.rs$
  mypy: any of: \.py$
  build: any of: \.rs$
