Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

Handle missing errors with default factories taking validated data (#13291)
  pydantic-core/src/validators/dataclass.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/src/validators/typed_dict.rs
  pydantic-core/tests/validators/test_with_default.py
  tests/conftest.py
  tests/test_main.py
Due: lint, lint rust, typecheck

Deployed d9a9edb to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/pydantic_settings/index.html
  dev/concepts/pydantic_settings/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix: catch ZeroDivisionError in fraction_validator
  pydantic/_internal/_validators.py
  tests/types/test_fraction.py
Due: lint, typecheck

Add Slack link to docs (#13241)
  docs/help_with_pydantic.md
Due: none

Deployed 2700a35 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/help_with_pydantic/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

test: regression test for issue #11553 - PydanticOmit with duplicated definition-ref
  tests/test_issue_11553_regression.py
Due: lint, typecheck

Fix PydanticOmit handling for duplicated definition references
  pydantic/json_schema.py
  tests/test_issue_11553_regression.py
Due: lint, typecheck

docs: mention pickling parametrized generics
  docs/concepts/models.md
Due: none

docs: add MongoObjectId API page
  docs/api/pydantic_extra_types_mongo_object_id.md
  mkdocs.yml
Due: none

update to PyO3 0.29
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic-core/tests/test_errors.py
Due: lint, typecheck

Support non-init dataclass fields with validate_assignment=True
  pydantic-core/src/validators/dataclass.rs
  pydantic-core/tests/validators/test_dataclasses.py
  pydantic/_internal/_fields.py
  tests/test_dataclasses.py
Due: lint, lint rust, typecheck

mypy plugin: warn on unknown config keys
  pydantic/mypy.py
  tests/mypy/configs/mypy-plugin-very-strict.ini
  tests/mypy/configs/pyproject-plugin-unknown-param.toml
  tests/mypy/test_mypy.py
Due: lint, typecheck

mypy plugin: replace warnings with stderr prints for unknown config keys
  pydantic/mypy.py
  tests/mypy/configs/mypy-plugin-unknown-param.ini
  tests/mypy/test_mypy.py
Due: lint, typecheck

Add test coverage for LazyLocalNamespace length
  tests/test_forward_ref.py
Due: lint, typecheck

Add test coverage for LazyLocalNamespace length (#13303)
  tests/test_forward_ref.py
Due: lint, typecheck

Deployed 1aad2fe to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fixed #13300 __pydantic_init_subclass__ issue
  pydantic/_internal/_model_construction.py
Due: lint, typecheck

Fix __init_subclass__ to properly handle custom kwargs
  pydantic/_internal/_model_construction.py
  pydantic/main.py
Due: lint, typecheck

change revert
  pydantic/_internal/_model_construction.py
  pydantic/main.py
Due: lint, typecheck

check test
  pydantic/main.py
Due: lint, typecheck

fix try
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  pyproject.toml
Due: lint, typecheck

Add missing namespace utils coverage
  tests/test_internal.py
Due: lint, typecheck

Allow `__pydantic_init_subclass__` to receive custom class keyword arguments
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Due: lint, typecheck

docs: fix tuple order in AliasGenerator.generate_aliases docstring
  pydantic/aliases.py
Due: lint, typecheck

Fix ZeroDivisionError leaking from fraction validator (#13257)
  pydantic/_internal/_validators.py
  tests/types/test_fraction.py
Due: lint, typecheck

Document model validator execution order under inheritance
  docs/concepts/validators.md
Due: none

Add Gitleaks to pre-commit; annotate ephemeral CI test credentials
  .github/workflows/third-party.yml
  .pre-commit-config.yaml
Due: none

fix: catch ZeroDivisionError in fraction_validator
  pydantic/_internal/_validators.py
Due: lint, typecheck

Fix tuple order in `AliasGenerator.generate_aliases()` docstring (#13307)
  pydantic/aliases.py
Due: lint, typecheck

mypy plugin: fix ruff lint errors (remove unused import, add noqa for print)
  pydantic/mypy.py
Due: lint, typecheck

mypy plugin: fix ruff format violation on long print line
  pydantic/mypy.py
Due: lint, typecheck

Apply suggestions from code review
  tests/mypy/test_mypy.py
Due: lint, typecheck

Warn on unknown config keys in the Mypy plugin (#13149)
  pydantic/mypy.py
  tests/mypy/configs/mypy-plugin-unknown-param.ini
  tests/mypy/configs/mypy-plugin-very-strict.ini
  tests/mypy/configs/pyproject-plugin-unknown-param.toml
  tests/mypy/test_mypy.py
Due: lint, typecheck

docs: fix docstring errors in PrivateAttr, Field, and core validators
  pydantic/_internal/_validators.py
  pydantic/fields.py
Due: lint, typecheck

Fix UnicodeDecodeError in JSON schema generation for non-UTF-8 bytes default
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
