Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy, build

.pre-commit-config.yaml:

fail_fast: true

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files

- repo: local
  hooks:
  - id: lint-python
    name: Lint Python
    entry: make lint-python
    types: [python]
    language: system
  - id: lint-rust
    name: Lint Rust
    entry: make lint-rust
    types: [rust]
    language: system
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system
  - id: build
    name: Build
    entry: make build-dev
    types: [rust]
    language: system

add test that fails with python 3.9+
  tests/test_edge_cases.py
Due: lint-python, mypy

fix test for python 3.11
  pydantic/typing.py
Due: lint-python, mypy

refactor: use pytest parametrize for unify test constrained str upper
  tests/test_types.py
Due: lint-python, mypy

refactor: use pytest parametrize for unify test constrained str lower
  tests/test_types.py
Due: lint-python, mypy

refactor(test): use pytest parametrize for unify test any str upper
  tests/test_types.py
Due: lint-python, mypy

refactor(test): use pytest parametrize for unify test any str lower
  tests/test_types.py
Due: lint-python, mypy

refactor(test): use pytest parametrize for unify test constrained bytes lower
  tests/test_types.py
Due: lint-python, mypy

refactor(test): use pytest parametrize for unify test any str strip whitespace
  tests/test_types.py
Due: lint-python, mypy

refactor(test): change test signatures to improve readability
  tests/test_types.py
Due: lint-python, mypy

fix cython
  pydantic/typing.py
  tests/test_edge_cases.py
Due: lint-python, mypy

Improve documentation.
  pydantic/utils.py
Due: lint-python, mypy

Use `pip` directly to install FastAPI in its integration test
  tests/test_fastapi.sh
Due: none

ci: add python 3.11.0b4 (#4267)
  .github/workflows/ci.yml
  pydantic/schema.py
  pydantic/typing.py
  pydantic/validators.py
  setup.cfg
  tests/test_edge_cases.py
Due: lint-python, mypy

test `3.11.0-beta.5`
  .github/workflows/ci.yml
Due: none

unpin rust nightly (pydantic/pydantic-core#186)
  rust-toolchain
Due: none

unpin rust nightly (#186)
  rust-toolchain
Due: none

add cargo:rerun-if-changed to build.rs, ref pydantic/pydantic-core#176 (pydantic/pydantic-core#195)
  build.rs
Due: lint-rust, build

add cargo:rerun-if-changed to build.rs, ref #176 (#195)
  build.rs
Due: lint-rust, build

Add ClusterfuzzLite
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  .github/workflows/cflite.yaml
  pydantic/fuzz_parse.py
Due: lint-python, mypy

fix dependency issue
  .clusterfuzzlite/build.sh
Due: none

move fuzzer to tests
  .clusterfuzzlite/build.sh
  tests/fuzz_parse.py
Due: lint-python, mypy

fix CFL build issue
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  tests/fuzz_parse.py
Due: lint-python, mypy

test 3.11.0-beta.5 on CI (pydantic/pydantic-core#194)
  .github/workflows/ci.yml
Due: none

test 3.11.0-beta.5 on CI (#194)
  .github/workflows/ci.yml
Due: none

run cargo update (#197)
  Cargo.lock
Due: none

run cargo update (pydantic/pydantic-core#197)
  Cargo.lock
Due: none

add debug check to pre-commit
  .pre-commit-config.yaml
  tests/check-debug.sh
Due: none

test `3.11.0-beta.5` (#4285)
  .github/workflows/ci.yml
Due: none

fix main.BaseModel.(dict, json) fields types
  pydantic/main.py
Due: lint-python, mypy

fix types for BaseModel.copy, BaseModel._iter
  pydantic/main.py
Due: lint-python, mypy

Change Union with None to Optional
  pydantic/color.py
  pydantic/datetime_parse.py
  pydantic/decorator.py
  pydantic/error_wrappers.py
  pydantic/main.py
  pydantic/types.py
  pydantic/utils.py
  tests/test_edge_cases.py
Due: lint-python, mypy

Arguments (pydantic/pydantic-core#190)
  .gitignore
  Makefile
  generate_self_schema.py
  pydantic_core/_types.py
  src/build_tools.rs
  src/errors/kinds.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/recursion_guard.rs
  src/validators/arguments.rs
  src/validators/dict.rs
  src/validators/literal.rs
  src/validators/mod.rs
  src/validators/tuple.rs
  src/validators/typed_dict.rs
  tests/benchmarks/test_micro_benchmarks.py
  tests/conftest.py
  tests/validators/test_arguments.py
  tests/validators/test_dict.py
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
  tests/validators/test_typed_dict.py
Due: lint-python, lint-rust, mypy, build

Arguments (#190)
  .gitignore
  Makefile
  generate_self_schema.py
  pydantic_core/_types.py
  src/build_tools.rs
  src/errors/kinds.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/recursion_guard.rs
  src/validators/arguments.rs
  src/validators/dict.rs
  src/validators/literal.rs
  src/validators/mod.rs
  src/validators/tuple.rs
  src/validators/typed_dict.rs
  tests/benchmarks/test_micro_benchmarks.py
  tests/conftest.py
  tests/validators/test_arguments.py
  tests/validators/test_dict.py
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
  tests/validators/test_typed_dict.py
Due: lint-python, lint-rust, mypy, build
