Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

suggested fix
  tests/test_validators.py
Due: lint, typecheck

Use normalized case for file path comparison (#9737)
  tests/test_validators.py
Due: lint, typecheck

Deployed 1c98c79 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

test: add case for forbidden string indexing of AliasPath argument
  tests/test_aliases.py
Due: lint, typecheck

Add list fail-fast config option (pydantic/pydantic-core#1322)
  python/pydantic_core/core_schema.py
  src/input/return_enums.rs
  src/validators/frozenset.rs
  src/validators/list.rs
  src/validators/set.rs
  src/validators/tuple.rs
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
Due: lint, typecheck

Add list fail-fast config option (#1322)
  python/pydantic_core/core_schema.py
  src/input/return_enums.rs
  src/validators/frozenset.rs
  src/validators/list.rs
  src/validators/set.rs
  src/validators/tuple.rs
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
Due: lint, typecheck

test: apply suggested changes (build a separate test for search_dict_for_path utility)
  tests/test_aliases.py
Due: lint, typecheck

upgrade versions + fix corresponding tests
  docs/concepts/models.md
  docs/concepts/plugins.md
  docs/concepts/serialization.md
  docs/concepts/validators.md
  pdm.lock
  tests/test_networks.py
  tests/test_types.py
Due: lint, typecheck

revert pydantic-settings for now
  pdm.lock
Due: none

pydantic-settings update
  pdm.lock
Due: none

fix all links
  docs/api/standard_library_types.md
  docs/concepts/config.md
  docs/concepts/json_schema.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/types.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/migration.md
Due: none

Small simplification
  tests/test_aliases.py
Due: lint, typecheck

Update tests/test_aliases.py
  tests/test_aliases.py
Due: lint, typecheck

Package update to prep for v2.8 (#9741)
  docs/api/standard_library_types.md
  docs/concepts/config.md
  docs/concepts/json_schema.md
  docs/concepts/models.md
  docs/concepts/plugins.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/types.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/concepts/validators.md
  docs/migration.md
  pdm.lock
  tests/test_networks.py
  tests/test_types.py
Due: lint, typecheck

test: increase `pydantic\aliases.py` coverage to 100% (#9740)
  tests/test_aliases.py
Due: lint, typecheck

Deployed 20b9176 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

first steps
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_generics.py
Due: lint, typecheck

update to PyO3 0.22, add 3.13 support (pydantic/pydantic-core#1340)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  pyproject.toml
  src/argument_markers.rs
  src/errors/types.rs
  src/errors/value_exception.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/serializers/errors.rs
  src/serializers/extra.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/dataclass.rs
  src/serializers/type_serializers/function.rs
  src/validators/dataclass.rs
  src/validators/datetime.rs
  src/validators/decimal.rs
  src/validators/enum_.rs
  src/validators/function.rs
  src/validators/is_instance.rs
  src/validators/is_subclass.rs
  src/validators/mod.rs
  src/validators/url.rs
  src/validators/uuid.rs
  tests/validators/test_string.py
Due: lint, typecheck

update to PyO3 0.22, add 3.13 support (#1340)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  pyproject.toml
  src/argument_markers.rs
  src/errors/types.rs
  src/errors/value_exception.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/serializers/errors.rs
  src/serializers/extra.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/dataclass.rs
  src/serializers/type_serializers/function.rs
  src/validators/dataclass.rs
  src/validators/datetime.rs
  src/validators/decimal.rs
  src/validators/enum_.rs
  src/validators/function.rs
  src/validators/is_instance.rs
  src/validators/is_subclass.rs
  src/validators/mod.rs
  src/validators/url.rs
  src/validators/uuid.rs
  tests/validators/test_string.py
Due: lint, typecheck

Add support for programmatic title generation (#9183)
  docs/concepts/json_schema.md
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/fields.py
  tests/test_config.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Deployed 557be4d to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/config/index.html
  dev/api/fields/index.html
  dev/concepts/json_schema/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Prep for v2.20.0 release (pydantic/pydantic-core#1343)
  Cargo.lock
  Cargo.toml
Due: none

Prep for v2.20.0 release (#1343)
  Cargo.lock
  Cargo.toml
Due: none

formatting examples
  docs/examples/validators.md
Due: none

update core
  pdm.lock
  pyproject.toml
Due: none

oops, the rest
  pdm.lock
Due: none

Bump `pydantic-core` to v2.20.0 (#9745)
  pdm.lock
  pyproject.toml
Due: none

remove xfails
  tests/test_types.py
Due: lint, typecheck

Monthly downloads badge added
  README.md
Due: none

Fix formatting
  pydantic/alias_generators.py
Due: lint, usage_docs, typecheck

update docs for json_schema_extra
  docs/concepts/json_schema.md
Due: none

Add "DECIMAL_CONSTRAINTS" to allow field constraints on "Optional[Decimal]" (or "Decimal | None")
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Update README.md
  README.md
Due: none

Monthly downloads badge added (#9746)
  README.md
Due: none

Deployed df7340d to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none
