Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Add `NatsDsn` to `networks.py` (#6874)
  pydantic/__init__.py
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

Deployed d6140fa to dev with MkDocs 1.5.3 and mike 1.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Only hash `model_fields`, not whole` __dict__` (#7786)
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Deployed f23578e to dev with MkDocs 1.5.3 and mike 1.2.0.dev0
  dev/api/networks/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add `CodSpeed` profiling Actions workflow (#8054)
  .github/workflows/codspeed.yml
  pyproject.toml
Due: none

Deployed 7df25da to dev with MkDocs 1.5.3 and mike 1.2.0.dev0
  dev/api/base_model/index.html
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

updating lockfile with new deps post merge with main
  pdm.lock
Due: none

changing hash based on faker update
  tests/benchmarks/test_north_star.py
Due: lint, typecheck

revert to old faker
  pdm.lock
  tests/benchmarks/test_north_star.py
Due: lint, typecheck

removing OrderedDict from typing extensions import
  tests/test_generics.py
Due: lint, typecheck

Add test
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
  tests/mypy/test_mypy.py
Due: lint, typecheck

Remove use of new syntax
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
Due: lint, typecheck

Fix mishandling of unions while freezing types in the mypy plugin (#7411)
  pydantic/mypy.py
  tests/mypy/configs/mypy-plugin-strict-no-any.ini
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
  tests/mypy/test_mypy.py
Due: lint, usage_docs, typecheck

Deployed 4a2a5bb to dev with MkDocs 1.5.3 and mike 1.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Move the description limit
  HISTORY.md
Due: none

Move the package description limit in HISTORY.md (#8097)
  HISTORY.md
Due: none

Deployed 9a9ad40 to dev with MkDocs 1.5.3 and mike 1.2.0.dev0
  dev/api/base_model/index.html
  dev/api/types/index.html
  dev/changelog/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

check for email-validator version >= 2.0
  pydantic/networks.py
Due: lint, usage_docs, typecheck

email-validator - tested with …
  pydantic/networks.py
Due: lint, usage_docs, typecheck

refresh pdm lock for codspeed addition
  pdm.lock
Due: none

Drop Python3.7 support (#7188)
  .github/workflows/ci.yml
  .github/workflows/dependencies-check.yml
  README.md
  docs/contributing.md
  docs/index.md
  docs/install.md
  mkdocs.yml
  pdm.lock
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  pydantic/json_schema.py
  pyproject.toml
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
  tests/mypy/test_mypy.py
  tests/test_dataclasses.py
  tests/test_deprecated_validate_arguments.py
  tests/test_fields.py
  tests/test_generics.py
  tests/test_main.py
  tests/test_types.py
  tests/test_typing.py
  tests/test_validate_call.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

note about CallableDiscriminator -> Discriminator
  HISTORY.md
Due: none

restore pypy builds for x86_64 (pydantic/pydantic-core#1072)
  .github/workflows/ci.yml
Due: none

restore pypy builds for x86_64 (#1072)
  .github/workflows/ci.yml
Due: none

Bump python version for benchmarks (#1064)
  .github/workflows/codspeed.yml
  Cargo.toml
Due: none

Bump python version for benchmarks (pydantic/pydantic-core#1064)
  .github/workflows/codspeed.yml
  Cargo.toml
Due: none

bump version to 2.14.2 (#1073)
  Cargo.lock
  Cargo.toml
Due: none

bump version to 2.14.2 (pydantic/pydantic-core#1073)
  Cargo.lock
  Cargo.toml
Due: none

support hash for ValidateCallWrapper
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

better equality checks for validate call wrappers
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Fixes to add to `2.5.1` (#8110)
  HISTORY.md
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Deployed e5e47d8 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/changelog/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

updating pydantic-core
  pdm.lock
  pyproject.toml
Due: none

relnotes for 2.5.1 patch release
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
