Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

👥 Update Pydantic People
  docs/plugins/people.yml
Due: none

moving maintainers up
  docs/pydantic_people.md
Due: none

Update docs
  pydantic/main.py
Due: lint, usage_docs, typecheck

Update more docstrings
  pydantic/annotated_handlers.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/deprecated/class_validators.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/type_adapter.py
  pydantic/v1/class_validators.py
Due: lint, usage_docs, typecheck

docs additions
  docs/build/main.py
  docs/examples/hypothesis_property_based_test.py
  docs/hypothesis_plugin.md
Due: lint, typecheck

end of file fix
  docs/examples/hypothesis_property_based_test.py
Due: lint, typecheck

try docs build fix
  mkdocs.yml
Due: none

try version change
  docs/requirements.txt
Due: none

another version bump
  docs/requirements.txt
Due: none

update maintainers
  .github/actions/people/people.py
Due: lint, typecheck

Add Pydantic People Page (#8345)
  .github/actions/people/action.yml
  .github/actions/people/people.py
  .github/workflows/update-pydantic-people.yml
  docs/extra/tweaks.css
  docs/plugins/main.py
  docs/plugins/people.yml
  docs/pydantic_people.md
  mkdocs.yml
Due: lint, typecheck

Add a test demonstrating why we don't reset the parent namespace in create_model
  pydantic/main.py
  tests/test_create_model.py
Due: lint, usage_docs, typecheck

Restore runtime warnings, set decorator category to None
  pydantic/_internal/_model_construction.py
  pydantic/deprecated/decorator.py
  pydantic/deprecated/json.py
  pydantic/deprecated/parse.py
  pydantic/deprecated/tools.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

Use a stack for the types namespace
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Add a test demonstrating why we don't reset the parent namespace in `create_model` (#8376)
  pydantic/main.py
  tests/test_create_model.py
Due: lint, usage_docs, typecheck

Deployed 59c6172 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

A bit of cleanup
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Fix old python
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Add a test
  tests/test_create_model.py
Due: lint, typecheck

Apply suggestions from code review
  pydantic/fields.py
Due: lint, usage_docs, typecheck

Fix various minor issues in docstrings (#8372)
  pydantic/annotated_handlers.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/deprecated/class_validators.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/v1/class_validators.py
Due: lint, usage_docs, typecheck

Deployed a8f3f7a to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/annotated_handlers/index.html
  dev/api/base_model/index.html
  dev/api/config/index.html
  dev/api/dataclasses/index.html
  dev/api/fields/index.html
  dev/api/json_schema/index.html
  dev/api/type_adapter/index.html
  dev/concepts/models/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

upgrade eval_type_backport
  pdm.lock
Due: none

fix pdm.lock
  pdm.lock
Due: none

upgrade eval_type_backport to handle fussy typing._type_check
  pdm.lock
Due: none

update is_backport_fixable_error and move down, update eval_type_backport function docstring
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

Fixing #8367 Add support for field alias in dataclass signature
  pydantic/_internal/_constructor_signature_generators.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

raise helpful error if eval_type_backport isn't installed. ensure test_recursive_models_union passes without backport
  pydantic/_internal/_typing_extra.py
  tests/test_forward_ref.py
Due: lint, usage_docs, typecheck

Restore skip, add another test for combination of backport and PydanticRecursiveRef.__or__
  tests/test_forward_ref.py
Due: lint, typecheck

Test that eval_type_backport is being called in the right places
  tests/test_main.py
  tests/test_type_adapter.py
  tests/test_validate_call.py
Due: lint, typecheck

test calling backport from get_type_hints
  tests/test_types_namedtuple.py
Due: lint, typecheck

upgrade eval_type_backport to handle working union operator
  pdm.lock
Due: none

unskip tests that can now pass in 3.8
  pydantic/_internal/_typing_extra.py
  tests/test_config.py
Due: lint, usage_docs, typecheck

revert scattered test changes
  tests/test_dataclasses.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_root_model.py
  tests/test_types.py
  tests/test_validators.py
Due: lint, typecheck

Fix a naming issue with JSON schema for generics parametrized by recursive type aliases
  pydantic/_internal/_repr.py
  tests/test_type_alias_type.py
Due: lint, usage_docs, typecheck

unskip more tests
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_typing.py
  tests/test_validate_call.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

upgrade eval_type_backport to copy ForwardRef attributes, allowing unskipping one more test
  pdm.lock
  tests/test_forward_ref.py
Due: lint, typecheck

Fix CI
  tests/test_type_alias_type.py
Due: lint, typecheck

Update Mypy documentation with correct mypy output
  docs/integrations/mypy.md
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
