Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Update pydantic-settings docs (#8906)
  docs/concepts/pydantic_settings.md
Due: none

add note about reasoning behind fix
  pydantic/_internal/_discriminated_union.py
Due: lint, usage_docs, typecheck

Fix discriminated union schema gen bug (#8904)
  pydantic/_internal/_discriminated_union.py
  tests/test_discriminated_union.py
Due: lint, usage_docs, typecheck

Deployed 5a4c056 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

prep for 2.6.3 release
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

add 2.6.3 relnotes to history
  HISTORY.md
Due: none

Add `v2.6.3` relnotes to history (#8908)
  HISTORY.md
Due: none

Deployed bbf0724 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/changelog/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

:memo: add documentation for extra types
  docs/api/pydantic_extra_types_currency_code.md
  docs/api/pydantic_extra_types_language_code.md
Due: none

🔧 Add Currency and Language code documentation
  mkdocs.yml
Due: none

Catch warning in test
  tests/test_deprecated_fields.py
Due: lint, typecheck

Update docs
  docs/concepts/fields.md
Due: none

Add information about class in error message of schema
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

add test
  tests/test_internal.py
Due: lint, typecheck

Apply suggestions from code review
  tests/test_internal.py
Due: lint, typecheck

fix lints
  tests/test_internal.py
Due: lint, typecheck

Temp. disable FastAPI tests
  .github/workflows/ci.yml
Due: none

fix test
  tests/test_internal.py
Due: lint, typecheck

Add information about class in error message of schema generation (#8917)
  pydantic/_internal/_generate_schema.py
  tests/test_internal.py
Due: lint, usage_docs, typecheck

Deployed 14e0b7d to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

adding bool support
  .github/workflows/ci.yml
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_deprecated_fields.py
Due: lint, usage_docs, typecheck

remove comment
  .github/workflows/ci.yml
Due: none

docs updates
  docs/concepts/fields.md
Due: none

Add support for deprecated fields (#8237)
  docs/concepts/fields.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  pydantic/version.py
  tests/test_deprecated_fields.py
Due: lint, usage_docs, typecheck

Deployed 0eb31fc to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/fields/index.html
  dev/concepts/fields/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix issue with config behavior being baked into a ref schema
  pydantic/_internal/_std_types_schema.py
Due: lint, usage_docs, typecheck

Fix typo in docs regarding deprecated fields
  docs/concepts/fields.md
Due: none

Fix typo in docs regarding deprecated fields (#8921)
  docs/concepts/fields.md
Due: none

Make TypeAdapter's typing compatible with special forms
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Deployed 4b31fd7 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/fields/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Make TypeAdapter's typing compatible with special forms (#8923)
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Deployed 575f473 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/type_adapter/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

add test
  tests/test_types.py
Due: lint, typecheck

adding __all__ to fields.py
  pydantic/fields.py
Due: lint, usage_docs, typecheck

👥 Update Pydantic People
  docs/plugins/people.yml
Due: none

Fix issue with config behavior being baked into the ref schema for enums (#8920)
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 2ff76ab to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add `__all__` to `fields.py`, make some utilities not explicitly public (#8925)
  pydantic/fields.py
Due: lint, usage_docs, typecheck
