Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

make sure to add ref to defs
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

add test
  tests/test_serialize.py
Due: lint, typecheck

Fix key error with custom serializer (#10200)
  pydantic/_internal/_generate_schema.py
  tests/test_serialize.py
Due: lint, usage_docs, typecheck

Deployed 484ae83 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update and clean up several aspects of documentation tooling
  docs/concepts/pydantic_settings.md
  docs/plugins/griffe_doclinks.py
  docs/plugins/main.py
  mkdocs.yml
  pdm.lock
  pyproject.toml
Due: lint, typecheck

Remove unecessary raw tags
  docs/errors/usage_errors.md
  docs/why.md
Due: none

Fix for MkDocs
  docs/plugins/main.py
Due: lint, typecheck

lint
  docs/errors/usage_errors.md
Due: none

Update and clean up several aspects of documentation tooling (#10203)
  docs/concepts/pydantic_settings.md
  docs/errors/usage_errors.md
  docs/plugins/griffe_doclinks.py
  docs/plugins/main.py
  docs/why.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Due: lint, typecheck

Update `mkdocs-material` to `9.5.31`
  .github/workflows/docs-update.yml
Due: none

Update `mkdocs-material` to `9.5.31` (#10206)
  .github/workflows/docs-update.yml
Due: none

fix: new paths that are too long for the file system or whose parent directory is read-only are now invalid as `NewPath`
  pydantic/types.py
Due: lint, usage_docs, typecheck

fix: do not call statvfs on a file that doesn't exist (else we get FileNotFoundError)
  pydantic/types.py
Due: lint, usage_docs, typecheck

feat: ditto for existing directory and file validators
  pydantic/types.py
Due: lint, usage_docs, typecheck

fix: capture any level of NewPath filename length error
  pydantic/types.py
Due: lint, usage_docs, typecheck

refactor: improve legibility
  pydantic/types.py
Due: lint, usage_docs, typecheck

fix: typo
  pydantic/types.py
Due: lint, usage_docs, typecheck

fix: pyright bug catch
  pydantic/types.py
Due: lint, usage_docs, typecheck

revert: remove the else raise?
  pydantic/types.py
Due: lint, usage_docs, typecheck

More feedback
  pydantic/_internal/_core_metadata.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Add support for `field_validator` decorator
  pydantic/_internal/_decorators.py
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Allow validators to customize validation JSON schema
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

PR feedback
  tests/pyright/decorators.py
  tests/test_json_schema.py
Due: lint, typecheck

Complete tests to reflect usage of the `field_validator` decorator
  docs/errors/usage_errors.md
  pydantic/errors.py
  pydantic/functional_validators.py
  tests/test_json_schema.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

Refactor how `field_validator` decorators are applied during core schema generation
  pydantic/_internal/_generate_schema.py
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Initial PR feedback
  docs/errors/usage_errors.md
  tests/pyright/decorators.py
Due: lint, typecheck

Rename to `json_schema_input_type`, fix test
  docs/errors/usage_errors.md
  pydantic/_internal/_decorators.py
  pydantic/functional_validators.py
  tests/pyright/decorators.py
  tests/test_json_schema.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

Add `pyright` tests for `field_validator` decorator
  tests/pyright/decorators.py
Due: lint, typecheck

Allow validators to customize validation JSON schema (#10094)
  docs/errors/usage_errors.md
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/errors.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/pyright/decorators.py
  tests/test_json_schema.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

Use more explicit warning regarding serialization warning for missing fields (pydantic/pydantic-core#1415)
  src/errors/mod.rs
  src/errors/validation_exception.rs
  src/serializers/extra.rs
  src/serializers/fields.rs
  src/serializers/type_serializers/model.rs
  src/serializers/type_serializers/union.rs
  src/tools.rs
  tests/serializers/test_model.py
Due: lint, typecheck

Use more explicit warning regarding serialization warning for missing fields (#1415)
  src/errors/mod.rs
  src/errors/validation_exception.rs
  src/serializers/extra.rs
  src/serializers/fields.rs
  src/serializers/type_serializers/model.rs
  src/serializers/type_serializers/union.rs
  src/tools.rs
  tests/serializers/test_model.py
Due: lint, typecheck

Add support for annotated_types.Not
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_annotated.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Apply misc. improvements to "Get started" documentation
  docs/contributing.md
  docs/index.md
  docs/install.md
  docs/version-policy.md
  docs/why.md
Due: none

Apply misc. improvements to "Get started" documentation (#10209)
  docs/contributing.md
  docs/index.md
  docs/install.md
  docs/version-policy.md
  docs/why.md
Due: none

update docs token
  .github/workflows/docs-update.yml
Due: none

Use `pppr` for insiders install (#10211)
  .github/workflows/docs-update.yml
Due: none

v bump
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

stop using hooky on v1
  .hooky.toml
Due: none
