Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

equality for urls
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

Update networks.py
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Support intuitive equality for urls (#10798)
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

Deployed 91c1389 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/networks/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Fix documentation of extra fields
  docs/concepts/models.md
Due: none

add `bytearray` to `TypeAdapter.validate_json` signature
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Fix documentation of extra fields (#10800)
  docs/concepts/models.md
Due: none

Add documentation note regarding `create_model` and validators (#10797)
  docs/concepts/models.md
Due: none

add `bytearray` to `TypeAdapter.validate_json` signature (#10802)
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Deployed 71d7d0d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/models/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed c7a3d5c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/type_adapter/index.html
  dev/concepts/models/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

formatting
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

fix circular import
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Fix error when using type aliases referencing other type aliases
  docs/errors/usage_errors.md
  pydantic/_internal/_core_utils.py
  pydantic/errors.py
  tests/test_type_alias_type.py
Due: lint, usage_docs, typecheck

fix bug in __get_attr__ and add test case
  pydantic/main.py
  tests/test_fields.py
Due: lint, usage_docs, typecheck

lint
  tests/test_fields.py
  uv.lock
Due: lint, typecheck

lint take 2
  tests/test_fields.py
Due: lint, typecheck

Fix `IncEx` type alias to be compatible with mypy
  pydantic/main.py
Due: lint, usage_docs, typecheck

Update tests
  tests/typechecking/misc.py
Due: lint, typecheck

Fix `_IncEx` type alias to be compatible with mypy (pydantic/pydantic-core#1537)
  python/pydantic_core/_pydantic_core.pyi
Due: none

Fix `_IncEx` type alias to be compatible with mypy (#1537)
  python/pydantic_core/_pydantic_core.pyi
Due: none

fix uv switch
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  tests/benchmarks/test_fastapi_startup_simple.py
  tests/test_networks.py
  tests/test_pickle.py
  tests/test_types.py
  uv.lock
Due: lint, typecheck

More union serialization tidying (pydantic/pydantic-core#1536)
  Makefile
  src/serializers/type_serializers/union.rs
  tests/serializers/test_union.py
Due: lint, typecheck

More union serialization tidying (#1536)
  Makefile
  src/serializers/type_serializers/union.rs
  tests/serializers/test_union.py
Due: lint, typecheck

add tzdata to test deps
  pyproject.toml
  uv.lock
Due: none

memray only on cpython, tzdata for tests in windows
  pyproject.toml
  uv.lock
Due: none

use UV_FROZEN on ci
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  .github/workflows/dependencies-check.yml
  .github/workflows/docs-update.yml
Due: none

fix benchmarks
  tests/benchmarks/test_discriminated_unions.py
  tests/benchmarks/test_imports.py
  tests/benchmarks/test_isinstance.py
Due: lint, typecheck

remove --no-sync
  .github/workflows/ci.yml
Due: none

Ensure class access of method descriptors is performed when used as a default with `Field`
  pydantic/_internal/_fields.py
  tests/test_edge_cases.py
Due: lint, usage_docs, typecheck

unset UV_FROZEN for test-plugin
  .github/workflows/ci.yml
Due: none

unset UV_FROZEN for test-plugin, take 2
  .github/workflows/ci.yml
Due: none

fix test-plugin, take 3
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

fix lock and versions
  pyproject.toml
  uv.lock
Due: none

Make `__signature__` a lazy property, do not deepcopy defaults
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_signature.py
  pydantic/_internal/_utils.py
  tests/test_model_signature.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Tidy up `uv` usage in CI (#10815)
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  .github/workflows/dependencies-check.yml
  .github/workflows/docs-update.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  tests/benchmarks/test_discriminated_unions.py
  tests/benchmarks/test_fastapi_startup_simple.py
  tests/benchmarks/test_imports.py
  tests/benchmarks/test_isinstance.py
  tests/test_networks.py
  tests/test_pickle.py
  tests/test_types.py
  uv.lock
Due: lint, typecheck

Ensure class access of method descriptors is performed when used as a default with `Field` (#10816)
  pydantic/_internal/_fields.py
  tests/test_edge_cases.py
Due: lint, usage_docs, typecheck
