Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Deployed 9ad349a to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Add benchmarks for categories: serialization, validation and schema generation (#10240)
  tests/benchmarks/test_model_schema_generation.py
  tests/benchmarks/test_model_serialization.py
  tests/benchmarks/test_model_validation.py
  tests/test_edge_cases.py
Due: lint, typecheck

revert test
  tests/test_edge_cases.py
Due: lint, typecheck

Deployed 9b72ef3 to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

modify tweet language
  .github/workflows/ci.yml
Due: none

change up wording
  .github/workflows/ci.yml
Due: none

remove comment
  .github/workflows/ci.yml
Due: none

Update release tweet to encourage usage for beta versions (#10245)
  .github/workflows/ci.yml
Due: none

Deployed f6b7335 to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

update comment
  pydantic/main.py
Due: lint, usage_docs, typecheck

don't change test
  tests/test_edge_cases.py
Due: lint, typecheck

adding xfail test and explaining behavior
  tests/test_edge_cases.py
Due: lint, typecheck

add reason
  tests/test_edge_cases.py
Due: lint, typecheck

add comment
  tests/test_edge_cases.py
Due: lint, typecheck

Add comment reflecting unexpected union cache behavior that affects validation order (#10244)
  tests/test_edge_cases.py
Due: lint, typecheck

Deployed 018a455 to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

reorganization
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
  tests/benchmarks/test_model_serialization.py
  tests/benchmarks/test_model_validation.py
Due: lint, typecheck

remove old file
  tests/benchmarks/test_schema_build.py
Due: lint, typecheck

Refactor `BigInt` boilerplate (pydantic/pydantic-core#1421)
  src/input/return_enums.rs
  src/serializers/infer.rs
  src/tools.rs
Due: none

Refactor `BigInt` boilerplate (#1421)
  src/input/return_enums.rs
  src/serializers/infer.rs
  src/tools.rs
Due: none

Feedback
  docs/concepts/models.md
  pydantic/main.py
Due: lint, usage_docs, typecheck

Add warning related to PEP 695 support
  docs/concepts/models.md
Due: none

Update docs/concepts/models.md typo
  docs/concepts/models.md
Due: none

Minor reorganization of benchmarks (#10247)
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
  tests/benchmarks/test_model_serialization.py
  tests/benchmarks/test_model_validation.py
  tests/benchmarks/test_schema_build.py
Due: lint, typecheck

Deployed 9f03db8 to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Update README.md with typo
  README.md
Due: none

adding docs, tests, and warning
  docs/concepts/validators.md
  pydantic/main.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

initial fix, not long term
  pydantic/_internal/_typing_extra.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

moving comment for clarity
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

minor typo fixes
  HISTORY.md
Due: none

Update docs/concepts/validators.md
  docs/concepts/validators.md
Due: none

Fix history.md typos (#10259)
  HISTORY.md
Due: none

Deployed ac1cfec to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/changelog/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Raise helpful warning when `self` isn't returned from model validator (#10255)
  docs/concepts/validators.md
  pydantic/main.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

Deployed 8c1d235 to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/api/base_model/index.html
  dev/concepts/validators/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

better comments
  pydantic/_internal/_typing_extra.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

fix memory issue
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

just a little typo, nothing to worry about
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck
