Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Version bump for `main` (#8135)
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  pydantic/version.py
Due: lint, usage_docs, typecheck

Add 2.5.1 changes to HISTORY.md (#8140)
  HISTORY.md
Due: none

Fix `model_validator` example usage code
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Deployed 08f195b to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/changelog/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix `model_validator` example usage code (#8141)
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Deployed 91bc828 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/functional_validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

fix rebase
  pydantic/_internal/_config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

Use latest pyright
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Add test
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Due: lint, typecheck

fix "from_json" docs
  docs/api/pydantic_core.md
  docs/concepts/json.md
Due: none

Update `from_json` docs (#8144)
  docs/api/pydantic_core.md
  docs/concepts/json.md
Due: none

Deployed 41e54dd to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/pydantic_core/index.html
  dev/concepts/json/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix bug re `custom_init` on members of `Union` (#1076)
  src/validators/model.rs
  tests/validators/test_model_init.py
Due: lint, typecheck

Fix bug re `custom_init` on members of `Union` (pydantic/pydantic-core#1076)
  src/validators/model.rs
  tests/validators/test_model_init.py
Due: lint, typecheck

Fix mypy error on untyped ClassVar (#8138)
  pydantic/mypy.py
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Due: lint, usage_docs, typecheck

Deployed f42dc2f to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

adding short commit to version info (adopted logic from mypy)
  pydantic/_internal/_git.py
  pydantic/version.py
Due: lint, usage_docs, typecheck

formatting
  tests/test_version.py
Due: lint, typecheck

incorporating hasan's suggestions
  pydantic/version.py
  tests/test_version.py
Due: lint, usage_docs, typecheck

Clean up search for all version info fields
  tests/test_version.py
Due: lint, typecheck

linting
  tests/test_version.py
Due: lint, typecheck

Adding short commit to `version_info` (#8145)
  pydantic/_internal/_git.py
  pydantic/version.py
  tests/test_version.py
Due: lint, usage_docs, typecheck

Deployed 575dcd9 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/version/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix validation of `Literal` from JSON keys when used as `dict` key (pydantic/pydantic-core#1075)
  src/validators/literal.rs
  tests/test.rs
Due: none

Fix validation of `Literal` from JSON keys when used as `dict` key (#1075)
  src/validators/literal.rs
  tests/test.rs
Due: none

added UTCDateTime constrained type
  pydantic/__init__.py
  pydantic/types.py
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
  tests/test_datetime.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

added docstring for UTCDatetime
  pydantic/types.py
Due: lint, usage_docs, typecheck

Update ci for Rust 1.74 (#1079)
  Cargo.toml
  Makefile
  tests/test.rs
Due: none

Update ci for Rust 1.74 (pydantic/pydantic-core#1079)
  Cargo.toml
  Makefile
  tests/test.rs
Due: none

Fix validation of negative floats when using `multiple_of` (pydantic/pydantic-core#1077)
  src/validators/float.rs
  tests/validators/test_decimal.py
  tests/validators/test_float.py
Due: lint, typecheck

Fix validation of negative floats when using `multiple_of` (#1077)
  src/validators/float.rs
  tests/validators/test_decimal.py
  tests/validators/test_float.py
Due: lint, typecheck

updated docstring for UTCDatetime
  pydantic/types.py
Due: lint, usage_docs, typecheck

Add `ConfigDict.ser_json_inf_nan`
  docs/concepts/json_schema.md
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_types.py
Due: lint, usage_docs, typecheck
