Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Fix missing recursive_guard parameter in Pydantic v1 for 3.12.4+
  pydantic/v1/typing.py
Due: lint, usage_docs, typecheck

Fix lint failure in CI
  pydantic/v1/typing.py
Due: lint, usage_docs, typecheck

Attempt sugested fix
  pydantic/v1/typing.py
Due: lint, usage_docs, typecheck

Specify recursive_guard as kwarg in FutureRef._evaluate
  pydantic/typing.py
Due: lint, usage_docs, typecheck

Fix missing recursive_guard parameter in Pydantic v1 for python 3.12.4+
  pydantic/v1/typing.py
Due: lint, usage_docs, typecheck

Fix missing recursive_guard parameter in Pydantic v1 for python 3.12.4+
  pydantic/typing.py
Due: lint, usage_docs, typecheck

Specify recursive_guard as kwarg in FutureRef._evaluate (#9612)
  pydantic/typing.py
Due: lint, usage_docs, typecheck

Add ser_json_inf_nan='strings' mode to produce valid JSON (pydantic/pydantic-core#1307)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/serializers/config.rs
  src/serializers/infer.rs
  src/serializers/type_serializers/float.rs
  tests/serializers/test_any.py
  tests/serializers/test_simple.py
  tests/validators/test_float.py
Due: lint, typecheck

Add ser_json_inf_nan='strings' mode to produce valid JSON (#1307)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/serializers/config.rs
  src/serializers/infer.rs
  src/serializers/type_serializers/float.rs
  tests/serializers/test_any.py
  tests/serializers/test_simple.py
  tests/validators/test_float.py
Due: lint, typecheck

adding TLD corrections to docs
  pydantic/networks.py
Due: lint, usage_docs, typecheck

impl `Copy` for simple config enums (#1325)
  src/serializers/config.rs
  src/serializers/infer.rs
  src/serializers/type_serializers/float.rs
Due: none

impl `Copy` for simple config enums (pydantic/pydantic-core#1325)
  src/serializers/config.rs
  src/serializers/infer.rs
  src/serializers/type_serializers/float.rs
Due: none

Add TLD not required corrections to docs (#9620)
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Deployed d93a046 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/networks/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Update pydantic/json_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

docs update
  pydantic/config.py
Due: lint, usage_docs, typecheck

initial fix for annotation application
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

reduce redundancy across constraint apps
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

fix constraint application for uncommon types
  tests/test_types.py
Due: lint, typecheck

funky patch
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

info_arg
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Reuse `re.Pattern` object in regex patterns (pydantic/pydantic-core#1318)
  generate_self_schema.py
  python/pydantic_core/core_schema.py
  src/validators/string.rs
  tests/validators/test_string.py
Due: lint, typecheck

Reuse `re.Pattern` object in regex patterns (#1318)
  generate_self_schema.py
  python/pydantic_core/core_schema.py
  src/validators/string.rs
  tests/validators/test_string.py
Due: lint, typecheck

Fix annotation application logic (#9623)
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 13dc7c3 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

having fun with the walrus
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

formatting
  tests/test_types.py
Due: lint, typecheck

Patch for serialized json schema defaults (#9624)
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

more formatting
  tests/test_json_schema.py
Due: lint, typecheck

Deployed 811db73 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Respect regex flags in validation and json schema (#9591)
  meetings.md
  pydantic/config.py
  pydantic/fields.py
  pydantic/json_schema.py
  pydantic/types.py
  tests/test_json_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 99c6a06 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/config/index.html
  dev/api/fields/index.html
  dev/api/json_schema/index.html
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

version and history update
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

Prep for 2.19.0 (pydantic/pydantic-core#1326)
  Cargo.lock
  Cargo.toml
Due: none

Prep for 2.19.0 (#1326)
  Cargo.lock
  Cargo.toml
Due: none
