Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Add unified tuple validator that can handle "variadic" tuples via PEP-646 (pydantic/pydantic-core#865)
  generate_self_schema.py
  python/pydantic_core/core_schema.py
  src/serializers/shared.rs
  src/serializers/type_serializers/tuple.rs
  src/validators/mod.rs
  src/validators/tuple.rs
  src/validators/union.rs
  tests/benchmarks/complete_schema.py
  tests/benchmarks/test_micro_benchmarks.py
  tests/serializers/test_list_tuple.py
  tests/serializers/test_none.py
  tests/test_schema_functions.py
  tests/test_typing.py
  tests/validators/test_definitions_recursive.py
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
  tests/validators/test_with_default.py
Due: lint, typecheck

Add unified tuple validator that can handle "variadic" tuples via PEP-646 (#865)
  generate_self_schema.py
  python/pydantic_core/core_schema.py
  src/serializers/shared.rs
  src/serializers/type_serializers/tuple.rs
  src/validators/mod.rs
  src/validators/tuple.rs
  src/validators/union.rs
  tests/benchmarks/complete_schema.py
  tests/benchmarks/test_micro_benchmarks.py
  tests/serializers/test_list_tuple.py
  tests/serializers/test_none.py
  tests/test_schema_functions.py
  tests/test_typing.py
  tests/validators/test_definitions_recursive.py
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
  tests/validators/test_with_default.py
Due: lint, typecheck

make deprecated methods final to avoid overriding
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

adding usage docs + more detail on class kwargs
  pydantic/main.py
Due: lint, usage_docs, typecheck

actually inserting link
  docs/concepts/models.md
  pydantic/main.py
Due: lint, usage_docs, typecheck

make note in migration guide about how we serialize non-string keys to json
  docs/migration.md
Due: none

add note about deprecated .json() for fixing #6800
  docs/migration.md
Due: none

fixing minor testing error
  docs/migration.md
Due: none

using old typing syntax, ugh
  docs/migration.md
Due: none

Minor docs update for docs sprint progress (#8528)
  docs/concepts/models.md
  docs/migration.md
  pydantic/main.py
Due: lint, usage_docs, typecheck

Deployed ea68791 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/concepts/models/index.html
  dev/index.html
  dev/migration/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Bump to 1.1.345
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

docs: add pydantic.json.ENCODERS_BY_TYPE to the list of deprecated things in V2
  docs/migration.md
Due: none

Use stricter serializer for unions of simple types (pydantic/pydantic-core#1132)
  src/serializers/type_serializers/simple.rs
  tests/serializers/test_union.py
Due: lint, typecheck

Use stricter serializer for unions of simple types (#1132)
  src/serializers/type_serializers/simple.rs
  tests/serializers/test_union.py
Due: lint, typecheck

adjust build for upload-artifact-4 (#1146)
  .github/workflows/ci.yml
Due: none

adjust build for upload-artifact-4 (pydantic/pydantic-core#1146)
  .github/workflows/ci.yml
Due: none

update to pydantic-core 2.15.0
  docs/plugins/conversion_table.py
  pdm.lock
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  pyproject.toml
  tests/test_datetime.py
  tests/test_docs.py
  tests/test_json_schema.py
  tests/test_type_adapter.py
  tests/test_types.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

update case of union serialization
  tests/test_edge_cases.py
Due: lint, typecheck

lint fixes
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

xfail on PyPy
  tests/test_validators.py
Due: lint, typecheck

review feedback
  docs/errors/validation_errors.md
  pydantic/__init__.py
  pydantic/json_schema.py
  pydantic/warnings.py
Due: lint, usage_docs, typecheck

Apply suggestions from code review
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

more corrections
  docs/errors/validation_errors.md
  tests/test_validators.py
Due: lint, typecheck

update to pydantic-core 2.15.0 (#8533)
  docs/errors/validation_errors.md
  docs/plugins/conversion_table.py
  pdm.lock
  pydantic/__init__.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  pydantic/warnings.py
  pyproject.toml
  tests/test_datetime.py
  tests/test_docs.py
  tests/test_edge_cases.py
  tests/test_json_schema.py
  tests/test_type_adapter.py
  tests/test_types.py
  tests/test_utils.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

make changes for models + typeddicts as well
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Use a stack for the types namespace (#8378)
  pydantic/_internal/_generate_schema.py
  tests/test_create_model.py
Due: lint, usage_docs, typecheck

Deployed 54a1576 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

fix: enable json schema creation with type ByteSize
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Fix compatibility issue with mypy
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Skip test on docstring example
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Mark `TypeAdapter` as `@final`
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Fix example
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Update to `pyright==1.1.345` (#8453)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
  pydantic/root_model.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Deployed 953bbea to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/api/root_model/index.html
  dev/api/type_adapter/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Use `cls.model_computed_fields`
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck
