Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Improve builtin alias generators (#9561)
  pydantic/alias_generators.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Deployed c9d7e55 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/config/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Replace `_defer_build_mode` with `experimental_defer_build_mode` (#9563)
  mkdocs.yml
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/type_adapter.py
  tests/test_config.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Deployed 9c20b0f to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/config/index.html
  dev/api/type_adapter/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

slight refactor for pretty_print test
  tests/test_utils.py
Due: lint, typecheck

minor docs examples refactoring
  docs/examples/validators.md
  tests/test_annotated.py
  tests/test_examples.py
Due: lint, typecheck

updating tests
  tests/test_annotated.py
Due: lint, typecheck

formatting issues
  docs/examples/validators.md
Due: none

more formatting
  docs/examples/validators.md
Due: none

links for marcelo
  docs/examples/validators.md
Due: none

Minor refactors for new tests and docs (#9564)
  docs/examples/validators.md
  tests/test_annotated.py
  tests/test_examples.py
  tests/test_utils.py
Due: lint, typecheck

Deployed 137d4d8 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/examples/validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

use ellipsis
  docs/concepts/experimental.md
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

updating imports from internal test
  pydantic/experimental/pipeline.py
  tests/test_exports.py
Due: lint, usage_docs, typecheck

maybe fixing zoneinfo tests, switching up validate_as annotation again
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

docs and linting
  docs/concepts/experimental.md
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

removing tzinfo stuff :(
  docs/api/experimental.md
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

a bit more explanation
  docs/concepts/experimental.md
Due: none

api docs update
  docs/api/experimental.md
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

some test cases for pipeline
  tests/test_pipeline.py
Due: lint, typecheck

Lower MSRV to 1.75 (pydantic/pydantic-core#1316)
  Cargo.toml
Due: none

Lower MSRV to 1.75 (#1316)
  Cargo.toml
Due: none

Fix typing of `TypeAdapter`
  docs/migration.md
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Import modules/objects directly from v1 namespace (#9162)
  .github/workflows/ci.yml
  pydantic/__init__.py
  pydantic/annotated_types.py
  pydantic/class_validators.py
  pydantic/color.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/datetime_parse.py
  pydantic/decorator.py
  pydantic/env_settings.py
  pydantic/error_wrappers.py
  pydantic/errors.py
  pydantic/fields.py
  pydantic/generics.py
  pydantic/json.py
  pydantic/main.py
  pydantic/mypy.py
  pydantic/networks.py
  pydantic/parse.py
  pydantic/schema.py
  pydantic/tools.py
  pydantic/types.py
  pydantic/typing.py
  pydantic/utils.py
  pydantic/v1.py
  pydantic/validators.py
  tests/test_v1.py
Due: lint, usage_docs, typecheck

parametrizing test
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

rename param
  tests/test_pipeline.py
Due: lint, typecheck

fix param
  tests/test_pipeline.py
Due: lint, typecheck

take out broken test
  tests/test_pipeline.py
Due: lint, typecheck

more linting
  tests/test_pipeline.py
Due: lint, typecheck

more linting, ugh
  tests/test_pipeline.py
Due: lint, typecheck

chore: Add new API documentation for `script_code` and `ulid` (#9560)
  docs/api/pydantic_extra_types_script_code.md
  docs/api/pydantic_extra_types_ulid.md
  mkdocs.yml
  pdm.lock
Due: none

Additional Test Cases for Experimental Pipeline API (#9566)
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

deps: bump libc from 0.2.147 to 0.2.155 (#1317)
  Cargo.lock
Due: none

deps: bump libc from 0.2.147 to 0.2.155 (pydantic/pydantic-core#1317)
  Cargo.lock
Due: none

Fix typing of `TypeAdapter` (#9570)
  docs/migration.md
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Deployed 8a896c5 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/dataclasses/index.html
  dev/index.html
  dev/migration/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

fix common predicates + add tests
  docs/concepts/experimental.md
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck
