Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Deployed bd60cfe to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Support `AliasGenerator` usage (#8282)
  docs/api/aliases.md
  docs/api/fields.md
  docs/concepts/alias.md
  docs/concepts/fields.md
  mkdocs.yml
  pydantic/__init__.py
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/aliases.py
  pydantic/config.py
  pydantic/fields.py
  tests/test_aliases.py
Due: lint, usage_docs, typecheck

add model fields to base model api docs
  docs/api/base_model.md
Due: none

Inherit config from annotated model in TypeAdapter
  pydantic/type_adapter.py
  tests/test_type_alias_type.py
Due: lint, usage_docs, typecheck

Add `model_fields` to `BaseModel` API docs (#8302)
  docs/api/base_model.md
Due: none

Deployed 8bbb3c1 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

adding tests
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Due: lint, typecheck

Remove missed calls
  pydantic/main.py
Due: lint, usage_docs, typecheck

fix broken docs test
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Don't check for subclass of `bool` for `JsonValue` (#8286)
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 8d2e6f2 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Some fixes
  pydantic/main.py
  tests/test_deprecated.py
Due: lint, usage_docs, typecheck

fixing wrong test case
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Due: lint, typecheck

Fix `mypy` error on free before validator (classmethod) (#8285)
  pydantic/functional_validators.py
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Due: lint, usage_docs, typecheck

Deployed 20c0c6d to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/functional_validators/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix type annotation of `ModelMetaclass.__prepare__`
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

stashing local changes, nothing of value yet
  docs/plugins/main.py
  docs/plugins/people.yml
  mkdocs.yml
Due: lint, typecheck

Fix `to_snake` conversion
  pydantic/alias_generators.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Initial fix for annotated fields with FieldInfo subtype.
  pydantic/fields.py
  tests/test_model_signature.py
Due: lint, usage_docs, typecheck

Update docs to indicate after model validators should return the instance
  docs/concepts/validators.md
Due: none

Sorted imports
  tests/test_model_signature.py
Due: lint, typecheck

Remove stray "==="
  docs/concepts/performance.md
Due: none

fix typos in docstring
  pydantic/v1/schema.py
Due: lint, usage_docs, typecheck

Update docs to indicate after model validators should return the instance (#8319)
  docs/concepts/validators.md
Due: none

Deployed 2ccf1c3 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix `to_snake` conversion (#8316)
  pydantic/alias_generators.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Deployed e6798c7 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/config/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update performance.md: remove stray "===" (#8322)
  docs/concepts/performance.md
Due: none

Deployed 82df2f5 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/performance/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix type annotation of `ModelMetaclass.__prepare__` (#8305)
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

Deployed d7ab7d6 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix typos in docstring
  pydantic/schema.py
Due: lint, usage_docs, typecheck

fix config guard in TypeAdapter.__init__
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

update error message to indicate that guard is checking for pydantic dataclass specifically
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

group pydantic imports
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Fix target location for Discriminated Unions
  docs/concepts/fields.md
Due: none

Update performance.md
  docs/concepts/performance.md
Due: none

emoji update to fix failing docs build
  mkdocs.yml
Due: none

quick fix for material ref
  mkdocs.yml
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
