Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, pyupgrade

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system
    pass_filenames: false
  - id: pyupgrade
    name: Pyupgrade
    entry: pyupgrade --py37-plus
    types: [python]
    language: system
    exclude: ^docs/.*$

fixed import error. 8 tests pass in test_discrimated_union. Need work on nested logic.
  pydantic/main.py
Due: lint, mypy, pyupgrade

Uprev linting (pydantic/pydantic-core#346)
  tests/requirements-linting.txt
  tests/test_typing.py
Due: lint, mypy, pyupgrade

Uprev linting (#346)
  tests/requirements-linting.txt
  tests/test_typing.py
Due: lint, mypy, pyupgrade

added few missing type annotations to functions
  tests/mypy/test_mypy.py
Due: lint, mypy, pyupgrade

removed accidental EOL between function and its pytest decorators
  tests/mypy/test_mypy.py
Due: lint, mypy, pyupgrade

feat: add exclude_extra parameter for exporting models recursively without extra fields
  pydantic/main.py
  tests/test_main.py
Due: lint, mypy, pyupgrade

move xfail from module to individual failing tests
  tests/test_aliases.py
  tests/test_construction.py
  tests/test_create_model.py
  tests/test_dataclasses.py
  tests/test_decorator.py
  tests/test_discrimated_union.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_json.py
  tests/test_orm_mode.py
  tests/test_parse.py
  tests/test_schema.py
  tests/test_tools.py
  tests/test_validators.py
  tests/test_validators_dataclass.py
Due: lint, mypy, pyupgrade

missed a test. fixed formatting.
  tests/test_create_model.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_json.py
Due: lint, mypy, pyupgrade

JsonSchema compatibility update
  pydantic/config.py
  pydantic/json.py
  pydantic/main.py
  pydantic/schema.py
  tests/test_schema.py
Due: lint, mypy, pyupgrade

Add newline before `Outputs:` when printing json output in docs (#4802)
  docs/build/exec_examples.py
Due: lint, mypy

ByteSize.human_readable() should not have decimal point with B suffix (#4777)
  pydantic/types.py
  tests/test_types.py
Due: lint, mypy, pyupgrade

Fix typo in types usage documentation. (#4825)
  docs/usage/types.md
Due: none

removed xfail mark from a passing test
  tests/test_create_model.py
Due: lint, mypy, pyupgrade

Remove annoying warning when using fields starting with an underscore in a dataclass (#2816)
  pydantic/main.py
Due: lint, mypy, pyupgrade

fixed documentation typo
  docs/usage/model_config.md
Due: none

fixed documentation typo (#4855)
  docs/usage/model_config.md
Due: none

Replace deprecated `get_event_loop` with `asyncio.run`
  tests/test_decorator.py
Due: lint, mypy, pyupgrade

Replace deprecated `get_event_loop` with `asyncio.run` (#4859)
  tests/test_decorator.py
Due: lint, mypy, pyupgrade

move xfail from module to individual failing tests (#4843)
  tests/test_aliases.py
  tests/test_construction.py
  tests/test_create_model.py
  tests/test_dataclasses.py
  tests/test_decorator.py
  tests/test_discrimated_union.py
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_json.py
  tests/test_orm_mode.py
  tests/test_parse.py
  tests/test_schema.py
  tests/test_tools.py
  tests/test_validators.py
  tests/test_validators_dataclass.py
Due: lint, mypy, pyupgrade

Replace deprecated `get_event_loop` with `asyncio.run` (#4859) (#4860)
  tests/test_decorator.py
Due: lint, mypy, pyupgrade

inspect assets sizes
  .github/workflows/ci.yml
Due: none

add -g0 to CFLAGS
  .github/workflows/ci.yml
  changes/2276-samuelcolvin.md
  setup.py
Due: lint, mypy, pyupgrade

Turn off debug information in C extension
  setup.py
Due: lint, mypy, pyupgrade

don't wait to build, add build to check
  .github/workflows/ci.yml
Due: none

Reduce binary sizes (#4862)
  .github/workflows/ci.yml
  changes/2276-samuelcolvin.md
  setup.py
Due: lint, mypy, pyupgrade

add `strip = true` to release profile (#348)
  Cargo.toml
Due: none

add `strip = true` to release profile (pydantic/pydantic-core#348)
  Cargo.toml
Due: none

fix history links
  docs/build/main.py
  setup.py
Due: lint, mypy, pyupgrade

fix history links (#4866)
  docs/build/main.py
  setup.py
Due: lint, mypy, pyupgrade

--disable-recursive-aliases and other fixes
  Makefile
  pydantic/main.py
  pyproject.toml
  requirements/linting.txt
Due: lint, mypy, pyupgrade

Fix JSON schema representation when there are extra keys (#3896)
  pydantic/schema.py
  tests/test_schema.py
Due: lint, mypy, pyupgrade

added constructors an string method to errors.py
  pydantic/errors.py
Due: lint, mypy, pyupgrade

added formatting
  pydantic/errors.py
Due: lint, mypy, pyupgrade

added mixins to errors.py
  pydantic/errors.py
Due: lint, mypy, pyupgrade
