Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

Add boxed field names
  pydantic-core/src/fields_set.rs
  pydantic-core/src/validators/model_fields.rs
Due: lint rust

Add `__namespace__` parameter to `create_model()` (#13895)
  docs/concepts/models.md
  docs/errors/usage_errors.md
  pydantic/errors.py
  pydantic/main.py
  tests/test_create_model.py
Due: lint, typecheck

Deployed 5bc650b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/base_model/index.html
  dev/api/base_model/index.md
  dev/api/errors/index.html
  dev/concepts/models/index.html
  dev/concepts/models/index.md
  dev/errors/usage_errors/index.html
  dev/errors/usage_errors/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Convert annotation to footnote in documentation
  docs/internals/resolving_annotations.md
Due: none

fix: apply string constraints to secret strings
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/types.py
  tests/test_types.py
Due: lint, typecheck

Convert annotation to footnote in documentation (#13904)
  docs/internals/resolving_annotations.md
Due: none

Deployed 50ca66a to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/internals/resolving_annotations/index.html
  dev/internals/resolving_annotations/index.md
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Remove the docs navigation workflow test
  tests/test_docs_navigation_workflow.py
Due: lint, typecheck

Add safe unified docs preview dispatch (#13686)
  .github/workflows/docs-navigation.yml
Due: none

Deployed e99ab58 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Deployed e2ac21d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Convert ZoneInfo OSError to ValidationError for invalid keys
  pydantic/_internal/_validators.py
  tests/test_types_zoneinfo.py
Due: lint, typecheck

Document unvalidated updates in model_copy
  docs/concepts/models.md
Due: none

Handle OS errors during `ZoneInfo` validation
  pydantic/_internal/_validators.py
  tests/test_types_zoneinfo.py
  tests/types/test_zoneinfo.py
Due: lint, typecheck

Apply batched suggestions from code review
  docs/concepts/models.md
Due: none

Handle OS errors during `ZoneInfo` validation (#13912)
  pydantic/_internal/_validators.py
  tests/test_types_zoneinfo.py
  tests/types/test_zoneinfo.py
Due: lint, typecheck

Document unvalidated updates in `model_copy()` (#13911)
  docs/concepts/models.md
Due: none

Deployed 1a429e8 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/models/index.html
  dev/concepts/models/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

fix issue with generators
  pydantic-core/src/fields_set.rs
  pydantic-core/tests/test_fields_set.py
Due: lint, lint rust, typecheck

Deployed 29933d1 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/dataclasses/index.html
  dev/api/dataclasses/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

fix: inherit TypedDict closed/extra_items from parent classes (PEP 728)
  pydantic/_internal/_generate_schema.py
  tests/test_types_typeddict.py
Due: lint, typecheck

Collect three tests that pytest never ran
  pydantic-core/tests/validators/test_enums.py
  pydantic-core/tests/validators/test_uuid.py
  tests/test_validate_call.py
Due: lint, typecheck

Rebuild incomplete types during serialization inference
  pydantic-core/src/lookup_key.rs
  pydantic-core/src/serializers/infer.rs
  pydantic-core/src/serializers/polymorphism_trampoline.rs
  pydantic-core/src/tools.rs
  pydantic/_internal/_mock_val_ser.py
  tests/test_construction.py
  tests/test_forward_ref.py
  tests/test_serialize_as_any.py
Due: lint, lint rust, typecheck

Fix third-party tests
  .github/workflows/third-party.yml
Due: none

Collect three tests that pytest never ran (#13921)
  pydantic-core/tests/validators/test_enums.py
  pydantic-core/tests/validators/test_uuid.py
  tests/test_validate_call.py
Due: lint, typecheck

Deployed f39f19d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/dataclasses/index.html
  dev/api/dataclasses/index.md
  dev/concepts/pydantic_settings/index.html
  dev/concepts/pydantic_settings/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix third-party tests (#13924)
  .github/workflows/third-party.yml
Due: none

Deployed e87e11b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

test: activate uncollected smart union serialization test
  tests/test_serialize.py
Due: lint, typecheck

feat: support attribute docstrings inheritance for TypedDict and dataclasses
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  tests/test_docs_extraction.py
Due: lint, typecheck

fix(types): allow None for field_docstrings in TypedDict schema generation
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

Skip the generic pickle test when cloudpickle is absent
  tests/test_generics.py
Due: lint, typecheck

Avoid importing cloudpickle on PyPy, as test_pickle.py does
  tests/test_generics.py
Due: lint, typecheck

test: add validation type and model_dump checks to smart union serialization test
  tests/test_serialize.py
Due: lint, typecheck

test: remove xfail on lazy imports tests as CPython PR 156940 has landed
  tests/test_lazy_imports.py
Due: lint, typecheck

Fix datetime parsing in custom validator examples
  docs/examples/custom_validators.md
Due: none

fix: support non-init dataclass fields with validate_assignment=True
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, typecheck

perf: avoid Python tuple round trip between ModelFieldsValidator and ModelValidator
  pydantic-core/src/validators/model.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/tests/validators/test_model.py
Due: lint, lint rust, typecheck

Don't leak AliasPath keys into model_extra in model_construct
  pydantic/main.py
  tests/test_construction.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
