Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Update pydantic/_internal/_validators.py
  pydantic/_internal/_validators.py
Due: lint, usage_docs, typecheck

warning
  pydantic/_internal/_config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

Fix annotation application issue with non numeric constraints (#10490)
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

deprecation warning test
  pydantic/_internal/_config.py
  tests/test_config.py
Due: lint, usage_docs, typecheck

Deployed 520495f to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

quick test fix
  tests/test_config.py
Due: lint, typecheck

note about potential future support
  pydantic/config.py
Due: lint, usage_docs, typecheck

using __pydantic_fields__ and __pydantic_computed_fields__
  pydantic/_internal/_model_construction.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

Add warning re deprecation of `schema_generator` (#10491)
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_config.py
Due: lint, usage_docs, typecheck

Deployed c7497c5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/config/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

move away from model_fields and model_computed_fields
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/deprecated/copy_internals.py
  pydantic/deprecated/decorator.py
  pydantic/main.py
  pydantic/root_model.py
Due: lint, usage_docs, typecheck

update comments
  pydantic/main.py
Due: lint, usage_docs, typecheck

fix failing tests
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Use `b64decode` and `b64encode` for `Base64Bytes` type (#10486)
  pydantic/types.py
  tests/test_root_model.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed e838139 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

fixing tests + compatibility
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
  tests/test_computed_fields.py
Due: lint, usage_docs, typecheck

docs: More specific `model_post_init` explanation (#10453)
  docs/concepts/models.md
Due: none

Deployed 643ea79 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/models/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Support builtin types; re-organize code
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

Change supported types to an Union
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

adding file examples
  docs/examples/clis.md
  docs/examples/files.md
  mkdocs.yml
Due: none

toml, also
  docs/examples/files.md
  person.toml
Due: none

add tests
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Due: lint, usage_docs, typecheck

Update pydantic/json_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

add additional test case for another propertyNames variant
  tests/test_json_schema.py
Due: lint, typecheck

missed running fix after check
  tests/test_json_schema.py
Due: lint, typecheck

more docs
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/queues.md
  docs/examples/requests.md
  pydantic/types.py
Due: lint, usage_docs, typecheck

update signature failed cases
  tests/test_validate_call.py
Due: lint, typecheck

Simplify dataclass check in `modify_model_json_schema`
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Simplify dataclass check in `modify_model_json_schema` (#10503)
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Deployed 8fe7c8e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

just a little bit of formatting is all you need apparently
  docs/examples/queues.md
Due: none

comments from DM
  pydantic/main.py
Due: lint, usage_docs, typecheck

skip tests
  docs/examples/files.md
Due: none

Update tests/test_computed_fields.py
  tests/test_computed_fields.py
Due: lint, typecheck

Using `__pydantic_fields__` and `__pydantic_computed_fields__` under the hood (#10493)
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/deprecated/copy_internals.py
  pydantic/deprecated/decorator.py
  pydantic/main.py
  pydantic/root_model.py
  tests/test_computed_fields.py
Due: lint, usage_docs, typecheck

Deployed 728d3d9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Use identity instead of equality in `GenerateSchema`
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

support for max digits and decimal places
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
