Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

attempting fixes locally
  tests/test_type_hints.py
Due: lint, typecheck

fix return type annotation
  pydantic/root_model.py
Due: lint, usage_docs, typecheck

fixing explanation
  pydantic/root_model.py
Due: lint, usage_docs, typecheck

add note about mypy preference
  pydantic/networks.py
Due: lint, usage_docs, typecheck

more docs fixes
  docs/concepts/dataclasses.md
  docs/concepts/validators.md
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Simplification of explanation
  pydantic/root_model.py
Due: lint, usage_docs, typecheck

Docs updates -- minor changes (#8639)
  docs/concepts/dataclasses.md
  docs/concepts/validators.md
  pydantic/networks.py
  pydantic/root_model.py
Due: lint, usage_docs, typecheck

Deployed 2792775 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/networks/index.html
  dev/api/root_model/index.html
  dev/concepts/dataclasses/index.html
  dev/concepts/validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

temp fix for len issue
  pydantic/types.py
Due: lint, usage_docs, typecheck

Add a check on the existence of `__qualname__`
  pydantic/_internal/_model_construction.py
  tests/test_create_model.py
Due: lint, usage_docs, typecheck

Feedback
  docs/concepts/config.md
  pydantic/config.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/with_config_decorator.py
Due: lint, usage_docs, typecheck

Add a `with_config` decorator to comply with typing spec (#8611)
  docs/api/config.md
  docs/concepts/config.md
  pydantic/__init__.py
  pydantic/config.py
  tests/mypy/modules/with_config_decorator.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/with_config_decorator.py
  tests/mypy/outputs/1.1.1/pyproject-default_toml/with_config_decorator.py
  tests/mypy/test_mypy.py
  tests/test_dataclasses.py
  tests/test_types_typeddict.py
Due: lint, usage_docs, typecheck

Deployed 3810c7b to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/config/index.html
  dev/concepts/config/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Minor test modification to test default was assigned appropriately
  tests/test_create_model.py
Due: lint, typecheck

Add a check on the existence of `__qualname__` (#8642)
  pydantic/_internal/_model_construction.py
  tests/test_create_model.py
Due: lint, usage_docs, typecheck

Deployed 57922ba to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

note about compacted change, workarounds
  docs/migration.md
Due: none

notes on performance with json validation
  docs/concepts/performance.md
Due: none

fix fields docs
  docs/concepts/models.md
Due: none

validate arguments ahead of time example
  docs/concepts/validation_decorator.md
Due: none

em dash :)
  docs/concepts/validation_decorator.md
Due: none

More documentation sprint progress (#8645)
  docs/concepts/models.md
  docs/concepts/performance.md
  docs/concepts/validation_decorator.md
  docs/migration.md
Due: none

Deployed b2092e8 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/models/index.html
  dev/concepts/performance/index.html
  dev/concepts/pydantic_settings/index.html
  dev/concepts/validation_decorator/index.html
  dev/index.html
  dev/migration/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

change to before or wrap for performance note
  docs/concepts/performance.md
Due: none

reuse validators section
  docs/concepts/validators.md
Due: none

Documentation sprint chunk (#8646)
  docs/concepts/performance.md
  docs/concepts/validators.md
Due: none

Deployed b785d5b to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/performance/index.html
  dev/concepts/validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

changes to schema to simplify things, removing union, lax or strict, etc
  pydantic/types.py
Due: lint, usage_docs, typecheck

len check still needs work
  pydantic/types.py
Due: lint, usage_docs, typecheck

fix type-safety of attribute access
  pydantic/main.py
Due: lint, usage_docs, typecheck

Added docs and fixed tests
  docs/examples/secrets.md
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

📝 Add Pendulum Documentation to navigation
  docs/api/pydantic_extra_types_pendulum_dt.md
  mkdocs.yml
Due: none

Allow instances of `deprecated`
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  tests/test_deprecated_fields.py
Due: lint, usage_docs, typecheck

fixes
  pydantic/_internal/_model_construction.py
  tests/test_deprecated_fields.py
Due: lint, usage_docs, typecheck

Handle __pydantic_extra__ annotation being a string or inherited
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Handle `__pydantic_extra__` annotation being a string or inherited (#8659)
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Deployed 8b90de8 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

update date for 2.6 release
  HISTORY.md
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
