Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Fixed typo in FtpUrl docstring
  pydantic/networks.py
Due: lint, usage_docs, typecheck

update blog link
  docs/concepts/json.md
Due: none

Bump to 2.18.1 (#1268)
  Cargo.lock
  Cargo.toml
Due: none

Bump to 2.18.1 (pydantic/pydantic-core#1268)
  Cargo.lock
  Cargo.toml
Due: none

samuel's more involved example
  docs/concepts/json.md
Due: none

typing extensions fix
  docs/concepts/json.md
Due: none

update import order
  docs/concepts/json.md
Due: none

revise tips, samuel's suggestions
  docs/concepts/json.md
Due: none

ugh, 3.8 fix
  docs/concepts/json.md
Due: none

update core
  pdm.lock
  pyproject.toml
Due: none

3.8 is going to be the death of me
  docs/concepts/json.md
Due: none

fix syntax for dog example
  docs/concepts/json.md
Due: none

Bump core to 2.18.1 (#9211)
  pdm.lock
  pyproject.toml
Due: none

Updating JSON docs, adding `cache_strings` to `ConfigDict` (#9178)
  docs/concepts/json.md
  pydantic/_internal/_config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

Deployed a01b902 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/config/index.html
  dev/concepts/json/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add support for field level number to str coercion option (#9137)
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/fields.py
  tests/test_fields.py
Due: lint, usage_docs, typecheck

Deployed 99821e9 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/fields/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update `warnings` parameter for serialization utilities to allow raising a warning (#9166)
  pydantic/main.py
  pydantic/root_model.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Deployed 60d77f0 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/api/root_model/index.html
  dev/api/type_adapter/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

prep for release
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

syntax fix
  HISTORY.md
Due: none

Prep for 2.7 Release (#9212)
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

Use field description for RootModel schema description when there is no docstring
  pydantic/_internal/_generate_schema.py
  tests/test_root_model.py
Due: lint, usage_docs, typecheck

tiniest typo in readme
  README.md
Due: none

bringing in fixes
  pydantic/aliases.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

initial fix, some tests still failing
  pydantic/main.py
  tests/test_construction.py
Due: lint, usage_docs, typecheck

add tests
  tests/test_construction.py
Due: lint, typecheck

fix test
  pydantic/main.py
Due: lint, usage_docs, typecheck

finally passing tests
  pydantic/aliases.py
  pydantic/main.py
  tests/test_construction.py
Due: lint, usage_docs, typecheck

fix tiniest typo in readme (#9219)
  README.md
Due: none

code review suggestions
  pydantic/aliases.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

adding str check
  pydantic/aliases.py
Due: lint, usage_docs, typecheck

Fix `validation_alias` behavior with `model_construct` for `AliasChoices` and `AliasPath` (#9223)
  pydantic/aliases.py
  pydantic/main.py
  tests/test_construction.py
Due: lint, usage_docs, typecheck

Deployed 6aab43e to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/aliases/index.html
  dev/api/base_model/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Revert typing.Literal and use it outside the TYPE_CHECKING (#7623)
  pydantic/_internal/_std_types_schema.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

adds test case for pydantic#9235
  tests/test_discriminated_union.py
Due: lint, typecheck
