Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^uv\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: uv run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: uv run pyright pydantic
    types: [python]
    language: system
    pass_filenames: false

Deployed d5f4bde to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/functional_validators/index.html
  dev/api/pydantic_core/index.html
  dev/concepts/experimental/index.html
  dev/concepts/fields/index.html
  dev/concepts/json_schema/index.html
  dev/concepts/models/index.html
  dev/concepts/performance/index.html
  dev/concepts/unions/index.html
  dev/concepts/validation_decorator/index.html
  dev/concepts/validators/index.html
  dev/errors/validation_errors/index.html
  dev/examples/files/index.html
  dev/index.html
  dev/migration/index.html
  dev/objects.inv
  dev/search/search_index.json
Due: none

remove plugin with usage docstrings
  .pre-commit-config.yaml
  docs/plugins/griffe_doclinks.py
  mkdocs.yml
  pydantic/aliases.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  release/README.md
  tests/check_usage_docs.py
Due: lint, usage_docs, typecheck

uncomment social
  mkdocs.yml
Due: none

Eagerly evaluate type aliases if annotated
  pydantic/fields.py
Due: lint, usage_docs, typecheck

fix: add len to _BaseUrl to avoid TypeError
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

Properly fetch PEP 695 type params for functions, do not fetch annotations from signature
  docs/errors/usage_errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_namespace_utils.py
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Due: lint, usage_docs, typecheck

Properly fetch PEP 695 type params for functions, do not fetch annotations from signature (#11115)
  docs/errors/usage_errors.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_namespace_utils.py
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Due: lint, usage_docs, typecheck

Override `__subclasscheck__` on `ModelMetaclass` to avoid memory leak and performance issues
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

Infer final fields with a default value as class variables in the mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/final_with_default.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/final_with_default.py
  tests/mypy/test_mypy.py
Due: lint, usage_docs, typecheck

Improve documentation of `@validate_call()` with `Field()`
  docs/concepts/validation_decorator.md
Due: none

Improve documentation of `@validate_call()` with `Field()` (#11118)
  docs/concepts/validation_decorator.md
Due: none

Deployed 17b1038 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/validation_decorator/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Recursively unpack `Literal` values if using PEP 695 type aliases
  pydantic/_internal/_typing_extra.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Infer final fields with a default value as class variables in the mypy plugin (#11121)
  pydantic/mypy.py
  tests/mypy/modules/final_with_default.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/final_with_default.py
  tests/mypy/test_mypy.py
Due: lint, usage_docs, typecheck

Recursively unpack `Literal` values if using PEP 695 type aliases (#11114)
  pydantic/_internal/_typing_extra.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Deployed ac6bc6c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

fix: add len to _BaseMultiHostUrl to avoid TypeError
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

Override `__subclasscheck__` on `ModelMetaclass` to avoid memory leak and performance issues (#11116)
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

Deployed 95c374d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Update `WithJsonSchema` documentation
  docs/concepts/json_schema.md
Due: none

Add `json_schema_input_type` usage documentation
  docs/concepts/json_schema.md
  docs/concepts/validators.md
Due: none

Update `WithJsonSchema` documentation, add usage documentation for `json_schema_input_type` (#11117)
  docs/concepts/json_schema.md
  docs/concepts/validators.md
Due: none

Deployed a915c7c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/json_schema/index.html
  dev/concepts/validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add tests, move function to right module, fix annotated schema
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  tests/test_type_alias_type.py
Due: lint, usage_docs, typecheck

Fix for `typing-extensions@main`
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

fix `ValueError` on year zero (#1583)
  src/input/datetime.rs
  src/validators/date.rs
  src/validators/datetime.rs
  tests/validators/test_date.py
  tests/validators/test_datetime.py
Due: lint, typecheck

fix `ValueError` on year zero (pydantic/pydantic-core#1583)
  src/input/datetime.rs
  src/validators/date.rs
  src/validators/datetime.rs
  tests/validators/test_date.py
  tests/validators/test_datetime.py
Due: lint, typecheck

Fix `create_model()` usage documentation
  docs/concepts/models.md
Due: none

bump version to 2.27.2 (pydantic/pydantic-core#1589)
  Cargo.lock
  Cargo.toml
Due: none

bump version to 2.27.2 (#1589)
  Cargo.lock
  Cargo.toml
Due: none

bump pydantic-core to 2.27.2
  pyproject.toml
  uv.lock
Due: none

Bump `pydantic-core` to 2.27.2 (#11138)
  pyproject.toml
  uv.lock
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Fix `create_model()` usage documentation (#11135)
  docs/concepts/models.md
Due: none
