Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

chore: add trivial change to trigger new workflow run
  .github/workflows/ci.yml
Due: none

chore: assign a folder specification to COVERAGE_PATH
  .github/workflows/ci.yml
Due: none

chore: remove useless artifact and change name to html out to avoid being matched by the coverage-* pattern
  .github/workflows/ci.yml
Due: none

Fix core schema simplification when serialization schemas are involved in specific scenarios
  pydantic/_internal/_core_utils.py
  tests/test_internal.py
Due: lint, usage_docs, typecheck

remove pdm bounds
  .github/workflows/ci.yml
Due: none

Support PDM `v2.18.1` (#10138)
  .github/workflows/ci.yml
Due: none

Deployed e308644 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Reorganize `BaseModel` annotations (#10110)
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_typing_extra.py
  pydantic/main.py
  tests/test_type_hints.py
Due: lint, usage_docs, typecheck

Deployed 9e3d461 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix core schema simplification when serialization schemas are involved in specific scenarios (#10155)
  pydantic/_internal/_core_utils.py
  tests/test_internal.py
Due: lint, usage_docs, typecheck

Add support for stringified annotations when using `PrivateAttr` with `Annotated`
  pydantic/_internal/_model_construction.py
  tests/test_annotated.py
Due: lint, usage_docs, typecheck

Deployed 7212484 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Use locals and globals from frame
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

Add support for stringified annotations when using `PrivateAttr` with `Annotated` (#10157)
  pydantic/_internal/_model_construction.py
  tests/test_annotated.py
Due: lint, usage_docs, typecheck

Deployed ed54f28 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

more helpful error for incompatible constraint
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

adding test
  tests/test_annotated.py
Due: lint, typecheck

typing
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

at least better at warnings during runtime
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Added section: `constr` constraints order changed
  docs/migration.md
Due: none

contextual comment
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

Improve runtime errors for string constraints like `pattern` for incompatible types (#10158)
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_annotated.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

fix test based on allOf changes from main
  tests/test_json_schema.py
Due: lint, typecheck

Deployed 929543c to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

use std raise syntax
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Added section: `constr` constraints order changed (Black formatting)
  docs/migration.md
Due: none

fix 3.8 test
  tests/test_json_schema.py
Due: lint, typecheck

Allow `WithJsonSchema` to inject `$ref`s w/ `http` or `https` links (#9863)
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Deployed 823d51f to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Disable automatic assignees with `hooky` (pydantic/pydantic-core#1408)
  pyproject.toml
Due: none

Disable automatic assignees with `hooky` (#1408)
  pyproject.toml
Due: none

Fix JSON Schema generation of fields with plain validators in serialization mode
  pydantic/functional_validators.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Adapt existing test
  pydantic/_internal/_core_utils.py
  tests/test_internal.py
Due: lint, usage_docs, typecheck

Fix JSON Schema `number` type for literal and enum schemas
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Remove docs about pydantic plugins
  docs/api/plugin.md
  docs/concepts/plugins.md
  mkdocs.yml
  pydantic/config.py
Due: lint, usage_docs, typecheck

Remove docs about pydantic plugins (#10176)
  docs/api/plugin.md
  docs/concepts/plugins.md
  mkdocs.yml
  pydantic/config.py
Due: lint, usage_docs, typecheck

Fix JSON Schema `number` type for literal and enum schemas (#10172)
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Deployed 061e62c to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none
