Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

fix for 9783
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

WIP replacing modify_model_json_schema in pydantic_js_functions
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

fix: replace str type annotation with Any in validator factories
  docs/concepts/validators.md
Due: none

fix wrapped_property pointer
  pydantic/_internal/_decorators.py
Due: lint, usage_docs, typecheck

add test and lint
  pydantic/_internal/_decorators.py
  tests/test_computed_fields.py
Due: lint, usage_docs, typecheck

chore(ci): matrix has no os attr in test-mypy as tests are run on ubuntu-latest only
  .github/workflows/ci.yml
Due: none

Update changelog to reflect breaking changes regarding PEP 570
  HISTORY.md
Due: none

Update changelog to reflect breaking changes regarding PEP 570 (#9903)
  HISTORY.md
Due: none

Deployed b3ce47f to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/changelog/index.html
  dev/concepts/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fixes discriminated union bug regression when using enums (pydantic/pydantic-core#1286)
  src/serializers/type_serializers/literal.rs
  tests/serializers/test_literal.py
Due: lint, typecheck

Fixes discriminated union bug regression when using enums (#1286)
  src/serializers/type_serializers/literal.rs
  tests/serializers/test_literal.py
Due: lint, typecheck

add field
  pydantic/fields.py
  tests/test_computed_fields.py
Due: lint, usage_docs, typecheck

Update functional_serializers.py Typo in Docs Example Simple Fix (#9848)
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

Deployed 56f2c35 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/functional_serializers/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

⚡️ Speed up `multiple_of_validator()` by 31% in `pydantic/_internal/_validators.py` (#9839)
  pydantic/_internal/_validators.py
Due: lint, usage_docs, typecheck

chore(ci): remove `{{ matrix.os }}` from names of coverage artifacts pertaining to `test-mypy` (#9900)
  .github/workflows/ci.yml
Due: none

⚡️ Speed up `ModelPrivateAttr.__set_name__()` by 18% in `pydantic/fields.py` (#9841)
  pydantic/fields.py
Due: lint, usage_docs, typecheck

Deployed 1f6a518 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Deployed fc25478 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/fields/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

address review feedback
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

fix formatting
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Prevent type error for exotic BaseModel/RootModel inheritance
  pydantic/mypy.py
Due: lint, usage_docs, typecheck

Fix properly
  pydantic/mypy.py
Due: lint, usage_docs, typecheck

Fix typing issue with field_validator-decorated methods
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Update mypy tests
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Due: lint, typecheck

Add tests
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
Due: lint, typecheck

Update files a bit more
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Due: lint, typecheck

Fix non-updated file
  tests/mypy/modules/plugin_success.py
Due: lint, typecheck

Fix issue
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
Due: lint, typecheck

Update pydantic/dataclasses.py
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Prevent type error for exotic BaseModel/RootModel inheritance (#9913)
  pydantic/mypy.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.2.0/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.4.1/mypy-default_ini/plugin_success.py
Due: lint, usage_docs, typecheck

Fix typing issue with field_validator-decorated methods (#9914)
  pydantic/functional_validators.py
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Due: lint, usage_docs, typecheck

Deployed 93ced97 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

remove noqa
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Deployed 520d52e to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/functional_validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Replace str type annotation with Any in validator factories in documentation on validators (#9885)
  docs/concepts/validators.md
Due: none

Deployed 2315e45 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/concepts/validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Apply suggestions from code review
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
