Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

test old syntax
  tests/test_type_alias_type.py
Due: lint, typecheck

dynamic banner
  README.md
  docs/extra/fluff.js
  docs/extra/tweaks.css
  docs/theme/announce.html
Due: none

bigger font, correct capitals
  docs/extra/fluff.js
  docs/extra/tweaks.css
Due: none

fix docs error
  docs/errors/usage_errors.md
Due: none

add logfire screenshot
  docs/extra/fluff.js
  docs/extra/tweaks.css
  docs/img/logfire-pydantic-integration.png
  docs/img/rich_pydantic.png
  docs/img/samuelcolvin.jpg
  docs/img/terrencedorsey.jpg
  docs/index.md
Due: none

Sanitize names of module files created in tests (#10538)
  tests/conftest.py
Due: lint, typecheck

Deployed 9de0648 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

pr feedback
  pydantic/_internal/_fields.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

re instead of typing for hints
  pydantic/_internal/_config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

Support compiled patterns in `protected_namespaces` (#10522)
  pydantic/_internal/_config.py
  pydantic/_internal/_fields.py
  pydantic/config.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Deployed 296f2ca to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/config/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

fix some ns fetching
  pydantic/_internal/_mock_val_ser.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

tweak wording and image
  docs/img/logfire-pydantic-integration.png
  docs/index.md
Due: none

Logfire Annoucement
  README.md
  docs/concepts/json.md
  docs/extra/fluff.js
  docs/extra/tweaks.css
  docs/img/logfire-pydantic-integration.png
  docs/img/rich_pydantic.png
  docs/img/samuelcolvin.jpg
  docs/img/terrencedorsey.jpg
  docs/index.md
  docs/theme/announce.html
  mkdocs.yml
Due: none

fix tests
  docs/index.md
  pydantic/types.py
Due: lint, usage_docs, typecheck

feedback round 1
  docs/integrations/logfire.md
  mkdocs.yml
Due: none

Logfire Annoucement (#10541)
  README.md
  docs/concepts/json.md
  docs/extra/fluff.js
  docs/extra/tweaks.css
  docs/img/logfire-pydantic-integration.png
  docs/img/rich_pydantic.png
  docs/img/samuelcolvin.jpg
  docs/img/terrencedorsey.jpg
  docs/index.md
  docs/theme/announce.html
  mkdocs.yml
  pydantic/types.py
Due: lint, usage_docs, typecheck

tinify
  docs/img/basic_logfire.png
  docs/img/logfire_instrument.png
  docs/img/logfire_span.png
Due: none

user details
  docs/img/basic_logfire.png
Due: none

Adding `logfire` examples to `integrations` page (#10535)
  docs/img/basic_logfire.png
  docs/img/logfire_instrument.png
  docs/img/logfire_span.png
  docs/integrations/logfire.md
  mkdocs.yml
Due: none

logfire announcement
  README.md
  docs/concepts/json.md
  docs/extra/fluff.js
  docs/extra/tweaks.css
  docs/img/logfire-pydantic-integration.png
  docs/img/rich_pydantic.png
  docs/img/samuelcolvin.jpg
  docs/img/terrencedorsey.jpg
  docs/index.md
  docs/theme/announce.html
  mkdocs.yml
  pydantic/types.py
Due: lint, usage_docs, typecheck

Eagerly update examples in docs (#10534)
  README.md
  docs/concepts/json.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/examples/secrets.md
  docs/extra/fluff.js
  docs/extra/tweaks.css
  docs/img/basic_logfire.png
  docs/img/logfire-pydantic-integration.png
  docs/img/logfire_instrument.png
  docs/img/logfire_span.png
  docs/img/rich_pydantic.png
  docs/img/samuelcolvin.jpg
  docs/img/terrencedorsey.jpg
  docs/index.md
  docs/integrations/logfire.md
  docs/theme/announce.html
  mkdocs.yml
  pydantic/types.py
Due: lint, usage_docs, typecheck

Relax protected namespace config default (#10441)
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_create_model.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Deployed eb9b838 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/config/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

social previews
  mkdocs.yml
  pdm.lock
  pyproject.toml
Due: none

typo
  pyproject.toml
Due: none

note to contributing docs
  docs/contributing.md
Due: none

update deps
  pdm.lock
Due: none

Adding social previews integration (#10542)
  docs/contributing.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Due: none

test generics
  tests/test_type_alias_type.py
Due: lint, typecheck

tweak test cases
  tests/test_type_alias_type.py
Due: lint, typecheck

fix test cases
  tests/test_type_alias_type.py
Due: lint, typecheck

Add social previews to most recent docs (#10549)
  docs/contributing.md
  mkdocs.yml
  pdm.lock
  pyproject.toml
Due: none
