Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy, build

.pre-commit-config.yaml:

fail_fast: true

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files

- repo: local
  hooks:
  - id: lint-python
    name: Lint Python
    entry: make lint-python
    types: [python]
    language: system
  - id: lint-rust
    name: Lint Rust
    entry: make lint-rust
    types: [rust]
    language: system
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system
  - id: build
    name: Build
    entry: make build-dev
    types: [rust]
    language: system

fix linting, improve line error formatting
  src/errors/validation_exception.rs
Due: lint-rust, build

correct input value formatting
  src/errors/validation_exception.rs
Due: lint-rust, build

tweak validation error lines
  src/errors/validation_exception.rs
Due: lint-rust, build

Fix benchmark link in README (pydantic/pydantic-core#63)
  README.md
Due: none

Fix benchmark link in README (#63)
  README.md
Due: none

compiler and alloc optimisations (#65)
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: lint-rust, build

compiler and alloc optimisations (pydantic/pydantic-core#65)
  Cargo.lock
  Cargo.toml
  src/lib.rs
Due: lint-rust, build

rename "build_add_named" to "add_named"
  src/validators/mod.rs
  src/validators/recursive.rs
Due: lint-rust, build

add benchmarks job
  .github/workflows/benchmarks.yml
Due: none

fix benchmarks ci
  .github/workflows/benchmarks.yml
  pyproject.toml
Due: none

temporarily remove paths restriction on benchmarks
  .github/workflows/benchmarks.yml
Due: none

tweaks to benchmarks CI
  .github/workflows/benchmarks.yml
Due: none

add benchmarks to CI (#66)
  .github/workflows/ci.yml
  Makefile
  README.md
  tests/test_benchmarks.py
Due: lint-python, mypy

add benchmarks to CI (pydantic/pydantic-core#66)
  .github/workflows/ci.yml
  Makefile
  README.md
  tests/test_benchmarks.py
Due: lint-python, mypy

List as enum (pydantic/pydantic-core#54)
  src/input/generics.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/validators/dict.rs
  src/validators/list.rs
  src/validators/model.rs
  src/validators/set.rs
  tests/validators/test_dict.py
  tests/validators/test_list.py
Due: lint-python, lint-rust, mypy, build

List as enum (#54)
  src/input/generics.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/validators/dict.rs
  src/validators/list.rs
  src/validators/model.rs
  src/validators/set.rs
  tests/validators/test_dict.py
  tests/validators/test_list.py
Due: lint-python, lint-rust, mypy, build

implement __reduce__ to make SchemaValidator picklable (pydantic/pydantic-core#53)
  src/validators/mod.rs
  tests/test_build.py
Due: lint-python, lint-rust, mypy, build

implement __reduce__ to make SchemaValidator picklable (#53)
  src/validators/mod.rs
  tests/test_build.py
Due: lint-python, lint-rust, mypy, build

add types (pydantic/pydantic-core#50)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  pydantic_core/__init__.py
  pydantic_core/_pydantic_core.pyi
  pydantic_core/_types.py
  pyproject.toml
  setup.py
  src/validators/model_class.rs
  tests/requirements-linting.txt
  tests/test_benchmarks.py
  tests/test_typing.py
  tests/validators/test_dict.py
  tests/validators/test_model_class.py
  tests/validators/test_recursive.py
  tests/validators/test_union.py
Due: lint-python, lint-rust, mypy, build

add types (#50)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  pydantic_core/__init__.py
  pydantic_core/_pydantic_core.pyi
  pydantic_core/_types.py
  pyproject.toml
  setup.py
  src/validators/model_class.rs
  tests/requirements-linting.txt
  tests/test_benchmarks.py
  tests/test_typing.py
  tests/validators/test_dict.py
  tests/validators/test_model_class.py
  tests/validators/test_recursive.py
  tests/validators/test_union.py
Due: lint-python, lint-rust, mypy, build
