Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Tweak internal logic of `ValidateCallWrapper`
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Tweak internal logic of `ValidateCallWrapper` (#10633)
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Deployed 7bb0e0a to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Cleanup `mypy` tests
  tests/mypy/modules/computed_fields.py
  tests/mypy/modules/config_conditional_extra.py
  tests/mypy/modules/fail1.py
  tests/mypy/modules/fail2.py
  tests/mypy/modules/fail3.py
  tests/mypy/modules/fail4.py
  tests/mypy/modules/generics.py
  tests/mypy/modules/success.py
  tests/mypy/modules/with_config_decorator.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/fail1.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/fail2.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/fail3.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/computed_fields.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/fail2.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/fail3.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/fail1.py
  tests/mypy/outputs/1.1.1/mypy-default_ini/fail2.py
  tests/mypy/outputs/1.1.1/pyproject-default_toml/fail2.py
  tests/mypy/test_mypy.py
  tests/pyright/README.md
  tests/pyright/base_model.py
  tests/pyright/computed_field.py
  tests/pyright/decorators.py
  tests/pyright/fields.py
  tests/pyright/misc.py
  tests/pyright/pyproject.toml
  tests/pyright/root_model.py
  tests/pyright/type_adapter.py
  tests/pyright/validate_call.py
Due: lint, typecheck

Also run `mypy`
  .github/workflows/ci.yml
  Makefile
  tests/typechecking/README.md
  tests/typechecking/base_model.py
  tests/typechecking/computed_field.py
  tests/typechecking/decorators.py
  tests/typechecking/fields.py
  tests/typechecking/json_schema_examples.py
  tests/typechecking/misc.py
  tests/typechecking/pipeline_api.py
  tests/typechecking/pyproject.toml
  tests/typechecking/root_model.py
  tests/typechecking/type_adapter.py
  tests/typechecking/validate_call.py
  tests/typechecking/with_config_decorator.py
Due: lint, typecheck

Remove schema inline traversing
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_mock_val_ser.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/main.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_internal.py
  tests/test_root_model.py
Due: lint, usage_docs, typecheck

remove collect invalid
  pydantic/_internal/_core_utils.py
  tests/test_generics.py
  tests/test_internal.py
Due: lint, usage_docs, typecheck

Remove discriminated union walk. Remove walk completely
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  tests/test_internal.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Remove internal attr usage
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
Due: lint, usage_docs, typecheck

Refactor for safety. Fix KeyError
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/json_schema.py
  tests/test_root_model.py
Due: lint, usage_docs, typecheck

Simplify
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Remove unneeded union
  pydantic/_internal/_core_utils.py
Due: lint, usage_docs, typecheck

Clean up
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
Due: lint, usage_docs, typecheck

Add copy to correct place
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Add back copy
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Add missing ignore comment
  tests/typechecking/decorators.py
Due: lint, typecheck

add eval_str for _get_args_resolving_forward_refs
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Fix deprecation warning in V1 isinstance check
  pydantic/v1/main.py
  tests/test_v1.py
Due: lint, usage_docs, typecheck

Revert "add eval_str for _get_args_resolving_forward_refs"
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

add another workaround
  pydantic/_internal/_generate_schema.py
  tests/test_types_self.py
Due: lint, usage_docs, typecheck

Tweak type alias
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

re-organize tests of type[]
  tests/test_edge_cases.py
Due: lint, typecheck

put GenericAlias under TYPE_CHECKING
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

fix broken test
  tests/test_edge_cases.py
Due: lint, typecheck

fix broken test again
  tests/test_types_self.py
Due: lint, typecheck

Apply suggestions from code review
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

revert _type_alias_schema type hint
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

clean up errors
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

add comment back
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Add todo comments
  tests/mypy/configs/mypy-default.ini
  tests/mypy/configs/mypy-plugin-strict-no-any.ini
  tests/mypy/configs/mypy-plugin-strict.ini
  tests/mypy/configs/mypy-plugin-very-strict.ini
  tests/mypy/configs/mypy-plugin.ini
  tests/mypy/configs/pyproject-default.toml
  tests/mypy/configs/pyproject-plugin-bad-param.toml
  tests/mypy/configs/pyproject-plugin-no-strict-optional.toml
  tests/mypy/configs/pyproject-plugin-strict-equality.toml
  tests/mypy/configs/pyproject-plugin-strict.toml
  tests/mypy/configs/pyproject-plugin.toml
Due: none

Apply small changes to type alias type schema generation logic (#10643)
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Support usage of `type` with `typing.Self` and type aliases (#10621)
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
  tests/test_types_self.py
Due: lint, usage_docs, typecheck

Deployed fcea8ee to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed f0002fc to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Fix deprecation warning in V1 isinstance check
  pydantic/main.py
Due: lint, usage_docs, typecheck

Provide more info in readmes
  tests/mypy/README.md
  tests/typechecking/README.md
Due: none

Remove fix and xfail test
  pydantic/v1/main.py
  tests/test_v1.py
Due: lint, usage_docs, typecheck

Fix deprecation warning in V1 isinstance check (#10645)
  pydantic/main.py
Due: lint, usage_docs, typecheck
