Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint-python
        types: [python]
        language: system
        pass_filenames: false
      - id: lint rust
        name: Lint Rust
        entry: make lint-rust
        types: [rust]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: uv run pyright pydantic
        types: [python]
        language: system
        pass_filenames: false

Fix application of constraints in pipeline API (#13516)
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Don't error on unhashable generic arguments on generic Pydantic models (#13515)
  pydantic/_internal/_generics.py
  tests/test_generics.py
Due: lint, typecheck

Deployed a54529f to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/experimental/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Validate display name in NameEmail.__init__, reject embedded double quotes
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Fix `SecretStr` equality comparison raising `TypeError` on non-ASCII values
  pydantic/types.py
  tests/test_types.py
Due: lint, typecheck

Apply suggestion from @Viicos
  pydantic/types.py
Due: lint, typecheck

Apply suggestion from @Viicos
  tests/test_types.py
Due: lint, typecheck

Fix `SecretStr` equality comparison raising `TypeError` on non-ASCII values (#13537)
  pydantic/types.py
  tests/test_types.py
Due: lint, typecheck

Deployed 35b8d94 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/types/index.html
  dev/api/types/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Place incomplete types into the generic cache eagerly
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_forward_ref.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_forward_ref.py
  tests/test_generics.py
Due: lint, typecheck

Refactor generics handling
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_dataclasses.py
  tests/test_generics.py
  tests/test_types_typeddict.py
Due: lint, typecheck

Revert "Use a shared empty set for `FieldInfo._qualifiers`"
  pydantic/fields.py
Due: lint, typecheck

Tweaks
  pydantic/_internal/_schema_gather.py
  tests/benchmarks/test_model_schema_generation.py
  tests/test_edge_cases.py
Due: lint, typecheck

Do not wrap schema validators in `PluggableSchemaValidator` when no plugin provides event handlers
  pydantic/plugin/_schema_validator.py
  tests/test_plugins.py
Due: lint, typecheck

Add regression test for plugin + recursive model validator running once
  tests/test_plugins.py
Due: lint, typecheck

Reuse prebuilt validators/serializers wrapped in plugin wrappers, function validators/serializers, or definition references
  pydantic-core/src/serializers/polymorphism_trampoline.rs
  pydantic-core/src/serializers/prebuilt.rs
  pydantic-core/src/serializers/type_serializers/definitions.rs
  pydantic-core/src/serializers/type_serializers/function.rs
  pydantic-core/src/validators/dataclass.rs
  pydantic-core/src/validators/definitions.rs
  pydantic-core/src/validators/function.rs
  pydantic-core/src/validators/model.rs
  pydantic-core/src/validators/prebuilt.rs
  pydantic-core/tests/test_prebuilt.py
  tests/test_model_validator.py
  tests/test_plugins.py
  tests/test_serialize.py
Due: lint, lint rust, typecheck

Build core config from the set config keys instead of scanning all known keys
  pydantic/_internal/_config.py
Due: lint, typecheck

Skip per-field decorator filtering when no decorators of that kind exist
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

Compare assigned field values against deprecated methods by precomputed id
  pydantic/_internal/_fields.py
Due: lint, typecheck

Dispatch simple types via a dict lookup in GenerateSchema.match_type()
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

Add regression test: plugin + recursive model validator runs once (#13539)
  tests/test_plugins.py
Due: lint, typecheck

Cache the generated core schema of pure field annotations
  pydantic/_internal/_generate_schema.py
  tests/test_internal.py
Due: lint, typecheck

Deployed 8e9b828 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Prevent a validator method from overriding an inherited validator of a different kind
  docs/errors/usage_errors.md
  pydantic/_internal/_decorators.py
  pydantic/errors.py
  tests/test_validators.py
Due: lint, typecheck

Bound the pure-annotation schema cache and stop conflating `None` with impurity
  pydantic/_internal/_generate_schema.py
  tests/test_internal.py
Due: lint, typecheck

Test pure-annotation cache membership by identity
  pydantic/_internal/_generate_schema.py
  tests/test_internal.py
Due: lint, typecheck

Reset the `_attributes_set` materialize lock after a fork
  pydantic/fields.py
  tests/test_fields.py
Due: lint, typecheck

Key the `match_type()` dispatch table by `id()`
  pydantic/_internal/_generate_schema.py
  tests/test_internal.py
Due: lint, typecheck

Add schema generation benchmark for interconnected models
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Apply suggestion from @Viicos
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Fix uv `cache-keys` for `pydantic-core` (#13485)
  pydantic-core/pyproject.toml
Due: none

Deployed 379332a to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Revert "Add regression test: plugin + recursive model validator runs once (#1…"
  tests/test_plugins.py
Due: lint, typecheck

Add schema generation benchmark for interconnected models (#13546)
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Deployed e32bc86 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Bump dependencies for Python 3.15 compatibility
  uv.lock
Due: none

Revert "Add regression test: plugin + recursive model validator runs once" (#13547)
  tests/test_plugins.py
Due: lint, typecheck

Allow reuse of validators when plugins are set
  pydantic-core/src/validators/prebuilt.rs
  pydantic-core/tests/test_prebuilt.py
  pydantic/plugin/_schema_validator.py
  tests/test_plugins.py
Due: lint, lint rust, typecheck

Deployed 800f2f9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Bump dependencies for Python 3.15 compatibility (#13548)
  uv.lock
Due: none
