Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

just using what our contributor suggested
  .github/workflows/ci.yml
Due: none

don't need cov combine perms
  .github/workflows/ci.yml
Due: none

Adding coverage comment (#9833)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  pyproject.toml
Due: none

Deployed 1e9873f to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/dataclasses/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

skipif
  tests/test_types.py
Due: lint, typecheck

change formatting a bit
  pydantic/_internal/_std_types_schema.py
Due: lint, usage_docs, typecheck

make test version resistant
  tests/test_types.py
Due: lint, typecheck

Fix #9706 PathLike with subtype (#9764)
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed cd3b0ad to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix issue with assertion caused by pluggable schema validator
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_mock_val_ser.py
  pydantic/main.py
  pydantic/plugin/_schema_validator.py
  pydantic/type_adapter.py
  tests/test_plugins.py
Due: lint, usage_docs, typecheck

Fix breaking change in `to_snake` from v2.7 -> v2.8 (#9812)
  pydantic/alias_generators.py
  pyproject.toml
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Bump `ruff` to `v0.5.0` and `pyright` to `v1.1.369` (#9801)
  .github/actions/people/people.py
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validators.py
  pyproject.toml
Due: lint, usage_docs, typecheck

Fix issue with assertion caused by pluggable schema validator (#9838)
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_mock_val_ser.py
  pydantic/main.py
  pydantic/plugin/_schema_validator.py
  pydantic/type_adapter.py
  tests/test_plugins.py
Due: lint, usage_docs, typecheck

Fix list constraint json schema application (#9818)
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Pedantic typo correction within explanation of Pydantic's root in 'pedantic' in index.md (#9822)
  docs/index.md
Due: none

Remove spooky meetings file (#9824)
  meetings.md
Due: none

Bump `pydantic-core` to `v2.20.1`, `pydantic-extra-types` to `v2.9.0` (#9832)
  pdm.lock
  pyproject.toml
  tests/test_datetime.py
Due: lint, typecheck

bump version
  pydantic/version.py
Due: lint, usage_docs, typecheck

Deployed c1101a9 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/base_model/index.html
  dev/api/type_adapter/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

update history
  HISTORY.md
Due: none

fix formatting
  pydantic/__init__.py
Due: lint, usage_docs, typecheck

v bump
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

history update
  HISTORY.md
Due: none

usage-docs-links
  pydantic/aliases.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  pydantic/version.py
Due: lint, usage_docs, typecheck

Update history, bump version to alpha on `main` (#9844)
  HISTORY.md
  pydantic/aliases.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
  pydantic/version.py
Due: lint, usage_docs, typecheck

Update functional_serializers.py Typo in Docs Example
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

Ignore type error until pydantic-core version match
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

xfail reason
  tests/test_json.py
Due: lint, typecheck

Update other xfail
  tests/test_json.py
Due: lint, typecheck

Skip new error code in docs test
  tests/test_docs.py
Due: lint, typecheck

xfail docs test
  tests/test_docs.py
Due: lint, typecheck

Fix alphabetical order
  docs/errors/validation_errors.md
Due: none

tmp: Remove xfails, etc.
  pydantic/json_schema.py
  tests/test_docs.py
  tests/test_json.py
Due: lint, usage_docs, typecheck

Revert "tmp: Remove xfails, etc."
  pydantic/json_schema.py
  tests/test_docs.py
  tests/test_json.py
Due: lint, usage_docs, typecheck

initial steps
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
Due: lint, usage_docs, typecheck
