Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

Merge RUST_HOST detection into pgo data generation step
  .github/actions/core-build-pgo-wheel/action.yml
  pydantic-core/.github/actions/build-pgo-wheel/action.yml
Due: none

fix pin
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  pydantic-core/.github/workflows/ci.yml
  pydantic-core/.github/workflows/codspeed.yml
Due: none

add comment
  .github/workflows/dependencies-check.yml
Due: none

Box large fields in CombinedValidator/CombinedSerializer to reduce enum size (#12985)
  pydantic-core/src/serializers/filter.rs
  pydantic-core/src/serializers/type_serializers/literal.rs
  pydantic-core/src/serializers/type_serializers/union.rs
  pydantic-core/src/validators/enum_.rs
  pydantic-core/src/validators/literal.rs
  pydantic-core/src/validators/union.rs
Due: lint rust

Deployed 3468ec5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Improve documentation about `JsonSchemaExtra`
  docs/concepts/json_schema.md
  pydantic/json_schema.py
Due: lint, typecheck

Fix duplicate Graalpy `pydantic-core` builds
  .github/workflows/ci.yml
Due: none

Revert "Box large fields in CombinedValidator/CombinedSerializer to reduce enum size (#12985)"
  pydantic-core/src/serializers/filter.rs
  pydantic-core/src/serializers/type_serializers/literal.rs
  pydantic-core/src/serializers/type_serializers/union.rs
  pydantic-core/src/validators/enum_.rs
  pydantic-core/src/validators/literal.rs
  pydantic-core/src/validators/union.rs
Due: lint rust

Fix duplicate Graalpy `pydantic-core` builds (#12997)
  .github/workflows/ci.yml
Due: none

Revert "Box large fields in CombinedValidator/CombinedSerializer to reduce enum size (#12985)" (#12998)
  pydantic-core/src/serializers/filter.rs
  pydantic-core/src/serializers/type_serializers/literal.rs
  pydantic-core/src/serializers/type_serializers/union.rs
  pydantic-core/src/validators/enum_.rs
  pydantic-core/src/validators/literal.rs
  pydantic-core/src/validators/union.rs
Due: lint rust

Deployed 28719b7 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Fix `pydantic-core` publish
  .github/workflows/ci.yml
  CITATION.cff
  HISTORY.md
Due: none

Fix `pydantic-core` publish job (#12999)
  .github/workflows/ci.yml
  CITATION.cff
  HISTORY.md
Due: none

Deployed c647a35 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/changelog/index.html
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Retry release v2.13.0b3
  .github/workflows/ci.yml
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic/version.py
  pyproject.toml
Due: lint, typecheck

Revert "Retry release v2.13.0b3"
  .github/workflows/ci.yml
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic/version.py
  pyproject.toml
Due: lint, typecheck

Fix PyPI check URL
  .github/workflows/ci.yml
Due: none

Fix PyPI check URL (#13000)
  .github/workflows/ci.yml
Due: none

Deployed 9637260 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Retry release v2.13.0b3
  .github/workflows/ci.yml
  CITATION.cff
  HISTORY.md
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic/version.py
  pyproject.toml
Due: lint, typecheck

Retry release v2.13.0b3 (#13002)
  .github/workflows/ci.yml
  CITATION.cff
  HISTORY.md
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic/version.py
  pyproject.toml
Due: lint, typecheck

Removed type adapter changes
  pydantic/config.py
  pydantic/json_schema.py
  pydantic/type_adapter.py
  tests/test_json_schema.py
  tests/test_type_adapter.py
Due: lint, typecheck

Removed more duplicate tests
  tests/test_json_schema.py
Due: lint, typecheck

Update `pydantic-core` URLs (#12993)
  docs/why.md
  pydantic-core/Cargo.toml
  pydantic-core/package.json
  pydantic-core/pyproject.toml
Due: none

Update the uuid dependency to 1.23.0 and adjust the expected error message for invalid UUIDs (#12992)
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic-core/tests/validators/test_uuid.py
Due: lint, typecheck

Deployed 32abe70 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/why/index.html
Due: none

Box large fields in CombinedValidator/CombinedSerializer to reduce enum size (#13006)
  pydantic-core/src/serializers/filter.rs
  pydantic-core/src/serializers/type_serializers/literal.rs
  pydantic-core/src/serializers/type_serializers/union.rs
  pydantic-core/src/validators/enum_.rs
  pydantic-core/src/validators/literal.rs
  pydantic-core/src/validators/union.rs
Due: lint rust

Deployed bf52378 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

fix: MongoDSN.build() TypeError with multi-host URLs containing None credentials
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Multi-host URL with none values test which fails
  pydantic-core/tests/validators/test_url.py
Due: lint, typecheck

Specify types of UrlHostParts fields in extract
  pydantic-core/src/url.rs
Due: lint rust

Allow default factories of private attributes to take validated model data
  docs/concepts/fields.md
  docs/concepts/models.md
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_utils.py
  pydantic/fields.py
  tests/test_internal.py
  tests/test_private_attributes.py
Due: lint, typecheck

👥 Update Pydantic People
  docs/plugins/people.yml
Due: none

Improve documentation about `JsonSchemaExtra` (#12996)
  docs/concepts/json_schema.md
  pydantic/json_schema.py
Due: lint, typecheck

Deployed 07c180b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/api/json_schema/index.html
  dev/api/json_schema/index.md
  dev/concepts/json_schema/index.html
  dev/concepts/json_schema/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix tests
  pydantic/fields.py
  tests/test_fields.py
  tests/test_internal.py
Due: lint, typecheck

Deployed 5582178 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/pydantic_people/index.html
  dev/search/search_index.json
Due: none

Test too few warning raised
  pydantic-core/tests/serializers/test_list_tuple.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
