Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Bump version to v2.25.0 (#1492)
  Cargo.lock
  Cargo.toml
Due: none

Bump version to v2.25.0 (pydantic/pydantic-core#1492)
  Cargo.lock
  Cargo.toml
Due: none

Change JSON schema generation of literals and enums
  pydantic/json_schema.py
  tests/test_dataclasses.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Feedback
  docs/concepts/dataclasses.md
Due: none

pr feedback
  pydantic/networks.py
Due: lint, usage_docs, typecheck

more pr feedback
  pydantic/networks.py
Due: lint, usage_docs, typecheck

bump core version
  pdm.lock
  pyproject.toml
Due: none

fix docs tests
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Migrate to subclassing instead of annotated approach for pydantic url types (#10662)
  pdm.lock
  pydantic/networks.py
  pyproject.toml
  tests/test_networks.py
Due: lint, usage_docs, typecheck

remove typed dict schema change
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

fix docs tests
  docs/concepts/models.md
Due: none

Revalidate parametrized generics if instance's origin is subclass of OG class (#10666)
  docs/concepts/models.md
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
Due: lint, usage_docs, typecheck

Deployed f3092b3 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/models/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Optimized schema building process using rust side schema traversal
  pdm.lock
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_mock_val_ser.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/_internal/_validate_call.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/type_adapter.py
  pyproject.toml
  tests/test_edge_cases.py
  tests/test_generics.py
  tests/test_internal.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Check that Generic class has parameters before using it.
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Fix lint
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

adding warnings for lack of mixed composure support for json_schema_extra
  docs/concepts/json_schema.md
  pydantic/_internal/_core_metadata.py
  pydantic/fields.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

typing fix for 3.13
  pydantic/_internal/_core_metadata.py
Due: lint, usage_docs, typecheck

fix circular reference issue
  docs/contributing.md
  pydantic/_internal/_core_metadata.py
Due: lint, usage_docs, typecheck

Change JSON schema generation of literals and enums (#10692)
  pydantic/json_schema.py
  tests/test_dataclasses.py
  tests/test_discriminated_union.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_json_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed dc1ee23 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

add list of failing tests
  tests/test_fastapi.sh
Due: none

maybe this is the way you skip that test?
  tests/test_fastapi.sh
Due: none

Update pdm.lock
  pdm.lock
Due: none

Improve dataclasses documentation (#10686)
  docs/concepts/dataclasses.md
  docs/concepts/models.md
  docs/concepts/validators.md
Due: none

Deployed af32a86 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/dataclasses/index.html
  dev/concepts/models/index.html
  dev/concepts/validators/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Allow subclassing ValidationError and PydanticCustomError (pydantic/pydantic-core#1413)
  python/pydantic_core/_pydantic_core.pyi
  src/errors/validation_exception.rs
  src/errors/value_exception.rs
  tests/test_custom_errors.py
Due: lint, typecheck

Allow subclassing ValidationError and PydanticCustomError (#1413)
  python/pydantic_core/_pydantic_core.pyi
  src/errors/validation_exception.rs
  src/errors/value_exception.rs
  tests/test_custom_errors.py
Due: lint, typecheck

Add exception handling for clashing validator and field names in create_model
  docs/errors/usage_errors.md
  pydantic/errors.py
  pydantic/main.py
  tests/test_create_model.py
Due: lint, usage_docs, typecheck

feat: add support to return default if input is `None`
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/fields.py
  tests/test_main.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

chore: updated lock file
  pdm.lock
Due: none

Do not cache parametrized models when in the process of parametrizing another model
  pydantic/main.py
Due: lint, usage_docs, typecheck

Add default value
  pydantic/fields.py
Due: lint, usage_docs, typecheck

Support default factories taking validated data as an argument (#10678)
  .github/workflows/ci.yml
  docs/concepts/fields.md
  pydantic/_internal/_decorators.py
  pydantic/_internal/_decorators_v1.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_utils.py
  pydantic/fields.py
  pydantic/main.py
  pyproject.toml
  tests/test_main.py
Due: lint, usage_docs, typecheck

Deployed 12f89be to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/base_model/index.html
  dev/api/fields/index.html
  dev/concepts/fields/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Recognize typing_extensions.TypeAliasType and type statement
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Differentiate between both TypeAliasType versions
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck
