Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: uv run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.384

fix import, the other way
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

val call decorator too
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

Fix circular import with `validate_call` (#10807)
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

parametrize + check imports in various ways
  tests/test_exports.py
Due: lint, typecheck

maybe this helps
  tests/test_exports.py
Due: lint, typecheck

Simplify out try/except
  pydantic/main.py
Due: lint, usage_docs, typecheck

Update test to actually show a failure on `main` that is fixed by this PR
  tests/test_fields.py
Due: lint, typecheck

lint
  tests/test_fields.py
Due: lint, typecheck

lint (again)
  tests/test_fields.py
Due: lint, typecheck

add performance optimizing bytecode
  pydantic/_internal/_decorators_v1.py
Due: lint, usage_docs, typecheck

fix `wrap` serializer breaking union serialization in presence of extra fields (pydantic/pydantic-core#1530)
  src/serializers/extra.rs
  src/serializers/fields.rs
  src/serializers/type_serializers/function.rs
  tests/serializers/test_union.py
Due: lint, typecheck

fix `wrap` serializer breaking union serialization in presence of extra fields (#1530)
  src/serializers/extra.rs
  src/serializers/fields.rs
  src/serializers/type_serializers/function.rs
  tests/serializers/test_union.py
Due: lint, typecheck

Fix error when using type aliases referencing other type aliases (#10809)
  docs/errors/usage_errors.md
  pydantic/_internal/_core_utils.py
  pydantic/errors.py
  tests/test_type_alias_type.py
Due: lint, usage_docs, typecheck

one fix, adding parentns :)
  pydantic/_internal/_namespace_utils.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

pr feedback
  pydantic/_internal/_mock_val_ser.py
Due: lint, usage_docs, typecheck

Cleanup CI and project metadata
  .github/workflows/cherry-pick.yml
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  .github/workflows/dependencies-check.yml
  .github/workflows/docs-update.yml
  .github/workflows/integration.yml
  .github/workflows/labeler.yml
  .github/workflows/update-pydantic-people.yml
  .github/workflows/upload-previews.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Fix new codespell errors
  HISTORY.md
  docs/concepts/types.md
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
  pydantic/mypy.py
Due: lint, usage_docs, typecheck

temp ns fix + removal of copies
  pydantic/_internal/_namespace_utils.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

simplify f_globals fetch
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Update pydantic/type_adapter.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

small nit, remove unnecessary else block
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

remove unnecessary cache step not relevant to TypeAdapter
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Install timezone in first tests
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

support `trailing-strings` with `allow_partial` (pydantic/pydantic-core#1539)
  .mypy-stubtest-allowlist
  Cargo.lock
  Cargo.toml
  benches/main.rs
  pyproject.toml
  python/pydantic_core/_pydantic_core.pyi
  src/input/return_enums.rs
  src/url.rs
  src/validators/arguments.rs
  src/validators/dataclass.rs
  src/validators/definitions.rs
  src/validators/dict.rs
  src/validators/generator.rs
  src/validators/json.rs
  src/validators/mod.rs
  src/validators/model_fields.rs
  src/validators/tuple.rs
  src/validators/typed_dict.rs
  src/validators/validation_state.rs
  tests/test.rs
  tests/validators/test_allow_partial.py
Due: lint, typecheck

support `trailing-strings` with `allow_partial` (#1539)
  .mypy-stubtest-allowlist
  Cargo.lock
  Cargo.toml
  benches/main.rs
  pyproject.toml
  python/pydantic_core/_pydantic_core.pyi
  src/input/return_enums.rs
  src/url.rs
  src/validators/arguments.rs
  src/validators/dataclass.rs
  src/validators/definitions.rs
  src/validators/dict.rs
  src/validators/generator.rs
  src/validators/json.rs
  src/validators/mod.rs
  src/validators/model_fields.rs
  src/validators/tuple.rs
  src/validators/typed_dict.rs
  src/validators/validation_state.rs
  tests/test.rs
  tests/validators/test_allow_partial.py
Due: lint, typecheck

Prep for v2.27.0 release (#1541)
  Cargo.lock
  Cargo.toml
Due: none

Prep for v2.27.0 release (pydantic/pydantic-core#1541)
  Cargo.lock
  Cargo.toml
Due: none

update docs and bump pydantic-core version for trailing-strings update
  docs/concepts/experimental.md
  pydantic/type_adapter.py
  pyproject.toml
  tests/test_allow_partial.py
  tests/test_config.py
  uv.lock
Due: lint, usage_docs, typecheck

fix docs
  docs/concepts/experimental.md
Due: none

Fix codspeed
  .github/workflows/codspeed.yml
Due: none

Code review suggestions
  docs/concepts/experimental.md
Due: none

more trailing strings docs
  docs/concepts/experimental.md
Due: none

Add `trailing-strings` support to `experimental_allow_partial` (#10825)
  docs/concepts/experimental.md
  pydantic/type_adapter.py
  pyproject.toml
  tests/test_allow_partial.py
  tests/test_config.py
  uv.lock
Due: lint, usage_docs, typecheck

move docstring and remove unnecessary function
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

note about namespace source
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

format
  pydantic/main.py
Due: lint, usage_docs, typecheck

type ignore comments
  pydantic/_internal/_mock_val_ser.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
