Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint-python
        types: [python]
        language: system
        pass_filenames: false
      - id: lint rust
        name: Lint Rust
        entry: make lint-rust
        types: [rust]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: uv run pyright pydantic
        types: [python]
        language: system
        pass_filenames: false

update core schema to use newer type annotation syntax
  pydantic-core/python/pydantic_core/core_schema.py
Due: lint, typecheck

reintroduce accidentally removed types
  pydantic-core/python/pydantic_core/core_schema.py
Due: lint, typecheck

remove unused import
  pydantic-core/src/validators/fraction.rs
Due: lint rust

remove unnecessary control flow
  pydantic-core/src/errors/types.rs
  pydantic-core/src/input/input_python.rs
Due: lint rust

fix failed docstring test
  docs/errors/validation_errors.md
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/validators/fraction.rs
Due: lint, lint rust, typecheck

collapse if statements
  pydantic-core/src/validators/fraction.rs
Due: lint rust

revert type error changes
  pydantic-core/src/validators/fraction.rs
Due: lint rust

Accept scientific notation in Decimal JSON schema serialization pattern
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Update doc example regex pattern to match new Decimal schema
  docs/concepts/json_schema.md
Due: none

Avoid explicit `Any` on `**kwargs` synthesized for models with dynamic aliases
  pydantic/mypy.py
  tests/mypy/modules/plugin_no_any.py
  tests/mypy/outputs/mypy-plugin-strict-no-any_ini/plugin_no_any.py
  tests/mypy/test_mypy.py
Due: lint, typecheck

Clarify `polymorphic_serialization` configuration value
  docs/concepts/serialization.md
Due: none

Apply suggestions from code review
  pydantic/experimental/pipeline.py
Due: lint, typecheck

Fix JSON schema local defs refs
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Feedback
  pydantic/_internal/_typing_extra.py
Due: lint, typecheck

delegate the serialization to email.utils.format_datetime
  pydantic-core/python/pydantic_core/_pydantic_core.pyi
  pydantic-core/src/serializers/config.rs
  pydantic-core/src/serializers/type_serializers/datetime_etc.rs
  pydantic-core/tests/serializers/test_datetime.py
  pydantic/config.py
  tests/test_datetime.py
Due: lint, lint rust, typecheck

fix/extra-allow-alias-collision
  pydantic-core/src/serializers/fields.rs
  tests/test_serialize.py
Due: lint, lint rust, typecheck

fix/extra-allow-alias-collision
  pydantic-core/src/serializers/computed_fields.rs
  pydantic-core/src/serializers/fields.rs
  tests/test_serialize.py
Due: lint, lint rust, typecheck

fix: re-validate UrlConstraints on existing AnyUrl instances
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

chore: reformat networks.py with ruff format
  pydantic/networks.py
Due: lint, typecheck

Mypy plugin workaround for dynamic models defined in functions
  pydantic/mypy.py
Due: lint, typecheck

Fix formatting
  pydantic/mypy.py
Due: lint, typecheck

docs: fix duplicated word in wasm preview README
  pydantic-core/wasm-preview/README.md
Due: none

Add a test
  tests/mypy/modules/create_model_var.py
Due: lint, typecheck

docs: fix serializer config typo
  pydantic-core/python/pydantic_core/_pydantic_core.pyi
Due: none

Update test output
  tests/mypy/outputs/mypy-plugin_ini/create_model_var.py
Due: lint, typecheck

fix: reapply URL constraints to existing URL instances
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Cache URL constraint checks in validators
  pydantic/networks.py
Due: lint, typecheck

Avoid revalidating class-constrained URLs
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Fix typo in strict mode documentation
  docs/concepts/strict_mode.md
Due: none

Handle Flag composites in enum schema generation
  pydantic/_internal/_generate_schema.py
  tests/test_types.py
Due: lint, typecheck

Add pyemscripten wheel build for pydantic-core
  .github/workflows/ci.yml
  pydantic-core/Makefile
  pydantic-core/package.json
  pydantic-core/pyproject.toml
Due: none

Bump Pyodide 314 alpha version
  .github/workflows/ci.yml
  pydantic-core/package.json
Due: none

Use `email_error` type for `EmailStr` validation failures
  docs/examples/files.md
  pydantic/networks.py
  tests/test_networks.py
  tests/test_types.py
Due: lint, typecheck

feat: add SKILL.md for LLM code generation best practices
  pydantic/.agents/skills/pydantic/SKILL.md
Due: none

remove references
  pydantic/.agents/skills/pydantic/SKILL.md
Due: none

ci fixes
  pydantic/.agents/skills/pydantic/SKILL.md
Due: none

pydantic settings
  pyproject.toml
  uv.lock
Due: none

pydantic settings
  pydantic/.agents/skills/pydantic/SKILL.md
  pyproject.toml
  uv.lock
Due: none

fix: consolidate WrapSerializer warnings into single UserWarning
  pydantic-core/src/serializers/extra.rs
  pydantic-core/src/serializers/type_serializers/function.rs
  tests/test_serialize.py
Due: lint, lint rust, typecheck
