Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

Fix SIGSEGV at interpreter shutdown when TzInfo is alive (pydantic#12867)
  HISTORY.md
  pydantic-core/src/lib.rs
Due: lint rust

Fix TzInfo shutdown SIGSEGV via Python-level inheritance (pydantic#12867)
  HISTORY.md
  pydantic-core/src/input/datetime.rs
  pydantic-core/src/input/mod.rs
  pydantic-core/src/lib.rs
Due: lint rust

- avoid redundant dict lookups in _migration.py
  pydantic/_migration.py
Due: lint, typecheck

Fix Decimal JSON schema pattern to accept scientific notation in serialization mode
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Avoid redundant dictionary lookups in `_migration.py` (#13152)
  pydantic/_migration.py
Due: lint, typecheck

Deployed 14e0f2b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/pydantic-2.14.0a0+dev-py3-none-any.whl
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

mypy plugin: warn on unknown config keys
  pydantic/mypy.py
  tests/mypy/configs/mypy-plugin-very-strict.ini
  tests/mypy/configs/pyproject-plugin-unknown-param.toml
  tests/mypy/test_mypy.py
Due: lint, typecheck

fixes
  tests/test_pickle.py
Due: lint, typecheck

fix tests
  pydantic-core/README.md
  pydantic-core/tests/validators/test_fraction.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
Due: lint, typecheck

update json schema
  pydantic/json_schema.py
Due: lint, typecheck

lax and bool exclusion fixed
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/validators/fraction.rs
  pydantic/json_schema.py
  tests/test_types.py
  tests/types/test_fraction.py
Due: lint, lint rust, typecheck

fix fraction so that tests pass
  pydantic-core/src/errors/types.rs
  pydantic-core/src/serializers/infer.rs
  pydantic-core/tests/serializers/test_fraction.py
  pydantic-core/tests/test_errors.py
  pydantic-core/tests/validators/test_fraction.py
  tests/test_types.py
  tests/types/test_fraction.py
Due: lint, lint rust, typecheck

rfc2822 temporal_mode
  pydantic-core/python/pydantic_core/_pydantic_core.pyi
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/serializers/config.rs
  pydantic-core/src/serializers/type_serializers/datetime_etc.rs
  pydantic-core/tests/serializers/test_any.py
  pydantic-core/tests/serializers/test_datetime.py
  pydantic-core/tests/serializers/test_timedelta.py
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_datetime.py
Due: lint, lint rust, typecheck

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update Makefile
  pydantic-core/Makefile
Due: none

Update pyproject.toml
  pydantic-core/pyproject.toml
Due: none

Update conftest.py
  pydantic-core/tests/conftest.py
Due: lint, typecheck

Update conftest.py
  tests/conftest.py
Due: lint, typecheck

Update pyproject.toml
  pyproject.toml
Due: none

Update test_docs.py
  tests/test_docs.py
Due: lint, typecheck

Update test_pickle.py
  tests/test_pickle.py
Due: lint, typecheck

Create pyemscripten-run-tests.sh
  .github/scripts/pyemscripten-run-tests.sh
Due: none

Update pyemscripten-run-tests.sh
  .github/scripts/pyemscripten-run-tests.sh
Due: none

Fixes
  pydantic-core/tests/validators/test_arguments.py
  pydantic-core/tests/validators/test_definitions_recursive.py
  pydantic-core/tests/validators/test_string.py
  pydantic-core/tests/validators/test_union.py
  tests/test_main.py
  tests/test_pickle.py
Due: lint, typecheck

Update to PyPy 7.3.22 (#13127)
  .github/workflows/ci.yml
  pydantic-core/tests/validators/test_arguments.py
  pydantic-core/tests/validators/test_definitions_recursive.py
  pydantic-core/tests/validators/test_string.py
  pydantic-core/tests/validators/test_union.py
  tests/test_main.py
  tests/test_pickle.py
Due: lint, typecheck

Adapt `pydantic-core` linker flags on macOS (#13147)
  pydantic-core/build.rs
Due: lint rust

Document tagging conventions (#13128)
  docs/version-policy.md
Due: none

Deployed 7a369fb to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/version-policy/index.html
Due: none

Bump libc from 0.2.155 to 0.2.185
  pydantic-core/Cargo.lock
Due: none

Remove Logfire example in documentation
  docs/index.md
Due: none

Adapt `MISSING` sentinel test to work with unreleased `typing_extensions` version
  tests/test_missing_sentinel.py
Due: lint, typecheck

Preserve `RootModel` core metadata
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Update to PyPy 7.3.22
  .github/workflows/ci.yml
  pydantic-core/tests/validators/test_arguments.py
  pydantic-core/tests/validators/test_definitions_recursive.py
  pydantic-core/tests/validators/test_string.py
  pydantic-core/tests/validators/test_union.py
  tests/test_main.py
  tests/test_pickle.py
Due: lint, typecheck

Adapt `pydantic-core` linker flags on macOS
  pydantic-core/build.rs
Due: lint rust

Document tagging conventions
  docs/version-policy.md
Due: none

Check for pydantic tag pattern in CI
  .github/workflows/ci.yml
Due: none

Prepare release v2.13.4
  CITATION.cff
  HISTORY.md
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic/version.py
  pyproject.toml
Due: lint, typecheck

Fix linting
  pydantic-core/tests/validators/test_arguments.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
