Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, pyupgrade

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system
    pass_filenames: false
  - id: pyupgrade
    name: Pyupgrade
    entry: pyupgrade --py37-plus
    types: [python]
    language: system
    exclude: ^docs/.*$

added init variable mixins
  pydantic/errors.py
Due: lint, mypy, pyupgrade

added make formatting
  pydantic/errors.py
Due: lint, mypy, pyupgrade

capitalized Pydantic
  pydantic/errors.py
Due: lint, mypy, pyupgrade

remove inferred types from create_model
  pydantic/main.py
  tests/test_create_model.py
Due: lint, mypy, pyupgrade

update doc example
  docs/examples/models_dynamic_creation.py
Due: lint, mypy

Fixed datetime format specifier in docs
  docs/usage/types.md
Due: none

add tests
  tests/test_dataclasses.py
Due: lint, mypy, pyupgrade

fix: dataclasses
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, mypy, pyupgrade

chore: add change file
  changes/4878-PrettyWood.md
Due: none

refactor: remove useless kwarg
  pydantic/dataclasses.py
Due: lint, mypy, pyupgrade

Fixed datetime format specifier in docs (#4876)
  docs/usage/types.md
Due: none

test: add new test
  tests/test_dataclasses.py
Due: lint, mypy, pyupgrade

fix: support assignment on DataclassProxy
  changes/4695-PrettyWood.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, mypy, pyupgrade

Delete setup.py
  setup.py
Due: lint, mypy, pyupgrade

Delete setup.py (#4881)
  setup.py
Due: lint, mypy, pyupgrade

added config var warn_on_undefined_types raises a UserWarning if model not fully defined and will need rebuild
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  tests/test_construction_missing_annotations.py
Due: lint, mypy, pyupgrade

black formatting
  pydantic/_internal/_model_construction.py
  tests/test_construction_missing_annotations.py
Due: lint, mypy, pyupgrade

use | instead of Optional[]
  tests/test_construction_missing_annotations.py
Due: lint, mypy, pyupgrade

suppress undefined types warning in existing tests
  tests/test_forward_ref.py
Due: lint, mypy, pyupgrade

ran pre-commit to fix linting
  tests/test_forward_ref.py
Due: lint, mypy, pyupgrade

changed to use Optional since | failing in CI
  tests/test_construction_missing_annotations.py
Due: lint, mypy, pyupgrade

Support CSS 4 space separated rgb and hsl
  changes/4869-tiwilliam.md
  pydantic/_hypothesis_plugin.py
  pydantic/color.py
  tests/test_color.py
Due: lint, mypy, pyupgrade

Add comment with examples for regex matches
  pydantic/color.py
Due: lint, mypy, pyupgrade

fix: support assignment on DataclassProxy (#4880)
  changes/4695-PrettyWood.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, mypy, pyupgrade

fixed __init__ method for ErrorMixin
  pydantic/errors.py
Due: lint, mypy, pyupgrade

added formatting
  pydantic/errors.py
Due: lint, mypy, pyupgrade

fix other mypy requirement pin
  requirements/testing-extra.txt
Due: none

fix mypy tests
  tests/mypy/modules/plugin_fail.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/test_mypy.py
Due: lint, mypy, pyupgrade

fix mypy tests for old mypy versions
  tests/mypy/test_mypy.py
Due: lint, mypy, pyupgrade

uprev certif to molify Dependabot
  requirements/docs.txt
Due: none

uprev mypy (#4735)
  .github/workflows/ci.yml
  Makefile
  pydantic/main.py
  pyproject.toml
  requirements/linting.txt
  requirements/testing-extra.txt
  tests/mypy/modules/plugin_fail.py
  tests/mypy/modules/plugin_success.py
  tests/mypy/test_mypy.py
Due: lint, mypy, pyupgrade

changes following initial code review
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  tests/test_construction_missing_annotations.py
  tests/test_forward_ref.py
Due: lint, mypy, pyupgrade

added some preliminary documentation
  docs/examples/types_undefined_warning.py
  docs/usage/model_config.md
  docs/usage/types.md
  pydantic/config.py
Due: lint, mypy, pyupgrade

fix linting
  docs/examples/types_undefined_warning.py
Due: lint, mypy

fixed linting
  docs/examples/types_undefined_warning.py
Due: lint, mypy

assert model partially built when suppressing warn
  tests/test_forward_ref.py
Due: lint, mypy, pyupgrade

fix: Parsing of custom root models (#4883)
  changes/4883-gou177.md
  pydantic/main.py
  tests/test_parse.py
Due: lint, mypy, pyupgrade

fix: avoid multiple calls of `__post_init__` when dataclasses are inherited (#4493)
  changes/4487-PrettyWood.md
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, mypy, pyupgrade
