Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: debug-check, lint-python, lint-rust

.pre-commit-config.yaml:

fail_fast: true

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files

- repo: local
  hooks:
  - id: debug-check
    name: Check for debug statements
    entry: tests/check-debug.sh
    language: script
    types: [python]
  - id: lint-python
    name: Lint Python
    entry: make lint-python
    types: [python]
    language: system
  - id: lint-rust
    name: Lint Rust
    entry: make lint-rust
    types: [rust]
    language: system

feat: allow fields to be `frozen` and add `strict` + `context` support to `validate_assignment` (pydantic/pydantic-core#221)
  pydantic_core/_pydantic_core.pyi
  pydantic_core/_types.py
  src/errors/kinds.rs
  src/validators/mod.rs
  src/validators/typed_dict.rs
  tests/test_validation_context.py
  tests/validators/test_typed_dict.py
Due: debug-check, lint-python, lint-rust

rename `GenericListLike` into `GenericCollection` + improve coverage (#222)
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/validators/frozenset.rs
  src/validators/list.rs
  src/validators/set.rs
  src/validators/tuple.rs
  tests/test_json.py
  tests/validators/test_timedelta.py
Due: debug-check, lint-python, lint-rust

rename `GenericListLike` into `GenericCollection` + improve coverage (pydantic/pydantic-core#222)
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/validators/frozenset.rs
  src/validators/list.rs
  src/validators/set.rs
  src/validators/tuple.rs
  tests/test_json.py
  tests/validators/test_timedelta.py
Due: debug-check, lint-python, lint-rust

update pyodide to 0.21.0 release version (pydantic/pydantic-core#226)
  package.json
  wasm-preview/worker.js
Due: none

update pyodide to 0.21.0 release version (#226)
  package.json
  wasm-preview/worker.js
Due: none

additional changes requested by samuelcolvin 2022-08-11: add test for schema_json, add hypothesis test, etc
  changes/3740-hottwaj.md
  docs/usage/types.md
  pydantic/types.py
  tests/test_hypothesis_plugin.py
  tests/test_schema.py
Due: debug-check, lint-python

make test_json_schema compare to a dictionary rather than json string
  tests/test_schema.py
Due: debug-check, lint-python

linting
  pydantic/config.py
Due: debug-check, lint-python

build wheels with stable rust (#227)
  .github/workflows/ci.yml
Due: none

build wheels with stable rust (pydantic/pydantic-core#227)
  .github/workflows/ci.yml
Due: none

added test_date_constrained_types to test_schema
  tests/test_schema.py
Due: debug-check, lint-python

Add support for `re.Pattern`
  changes/4366-hramezani.md
  pydantic/fields.py
  pydantic/schema.py
  pydantic/validators.py
  tests/test_types.py
Due: debug-check, lint-python

Catch Exceptions in smart_deepcopy (#4187)
  changes/4184-coneybeare.md
  pydantic/utils.py
  tests/test_utils.py
Due: debug-check, lint-python

Revert "Add nested json encoding (#3941)"
  changes/3941-lilyminium.md
  docs/examples/exporting_models_json_nested_encoders.py
  docs/usage/exporting_models.md
  pydantic/main.py
  tests/test_json.py
Due: debug-check, lint-python

update to match new repo path
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  package.json
  pyproject.toml
  src/validators/typed_dict.rs
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
  wasm-preview/README.md
  wasm-preview/index.html
  wasm-preview/run_tests.py
  wasm-preview/worker.js
Due: debug-check, lint-python, lint-rust

Revert "Add nested json encoding (#3941)" (#4367)
  changes/3941-lilyminium.md
  docs/examples/exporting_models_json_nested_encoders.py
  docs/usage/exporting_models.md
  pydantic/main.py
  tests/test_json.py
Due: debug-check, lint-python

Pick 1.9 (#4350)
  .pre-commit-config.yaml
  HISTORY.md
  changes/3608-samuelcolvin.md
  changes/3625-hswong3i.md
  changes/3636-tommilligan.md
  changes/3641-PrettyWood.md
  changes/3652-dolfinus.md
  changes/3675-uriyyo.md
  changes/3679-samuelcolvin.md
  changes/3681-aleksul.md
  changes/3706-samuelcolvin.md
  changes/3806-garyd203.md
  changes/3819-himbeles.md
  changes/3972-samuelcolvin.md
  changes/3973-samuelcolvin.md
  changes/4006-giuliano-oliveira.md
  changes/4067-adriangb.md
  changes/4081-samuelcolvin.md
  changes/4082-davidbrochart.md
  changes/4083-samuelcolvin.md
  docs/blog/pydantic-v2.md
  docs/extra/ad.js
  docs/extra/tweaks.css
  docs/img/samuelcolvin.jpg
  docs/theme/main.html
  mkdocs.yml
  pydantic/config.py
  pydantic/main.py
  pydantic/version.py
  tests/test_main.py
Due: debug-check, lint-python

Add support for `re.Pattern` (#4366)
  changes/4366-hramezani.md
  pydantic/fields.py
  pydantic/schema.py
  pydantic/validators.py
  tests/test_types.py
Due: debug-check, lint-python

reverse piority order, reduce diff size
  changes/3222-rekyungmin.md
  docs/usage/settings.md
  pydantic/env_settings.py
  pydantic/main.py
  tests/test_settings.py
Due: debug-check, lint-python

fix change file grammar
  changes/3222-rekyungmin.md
Due: none

correct docs, avoid unnecessary copy of os.environ
  docs/usage/settings.md
  pydantic/env_settings.py
Due: debug-check, lint-python

correct wording in docs
  docs/usage/settings.md
Due: none

feat: add support multiple dotenv files (#1497) (#3222)
  changes/3222-rekyungmin.md
  docs/usage/settings.md
  pydantic/env_settings.py
  tests/test_settings.py
Due: debug-check, lint-python

implement parse_mypy_version and test
  pydantic/mypy.py
  tests/mypy/test_mypy.py
Due: debug-check, lint-python

add change file
  changes/3783-KotlinIsland.md
Due: none

Fix mypy version check (#3783)
  changes/3783-KotlinIsland.md
  pydantic/mypy.py
  tests/mypy/test_mypy.py
Due: debug-check, lint-python

rewrite tests
  tests/test_datetime_parse.py
  tests/test_schema.py
Due: debug-check, lint-python

Initial implementation of ConstrainedDate, condate (#3740)
  changes/3740-hottwaj.md
  docs/usage/types.md
  pydantic/__init__.py
  pydantic/_hypothesis_plugin.py
  pydantic/types.py
  tests/test_datetime_parse.py
  tests/test_hypothesis_plugin.py
  tests/test_schema.py
Due: debug-check, lint-python

Support `dict_items` for list like fields (#225)
  src/input/_pyo3_dict.rs
  src/input/input_python.rs
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
Due: debug-check, lint-python, lint-rust

Support `dict_items` for list like fields (pydantic/pydantic-core#225)
  src/input/_pyo3_dict.rs
  src/input/input_python.rs
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
Due: debug-check, lint-python, lint-rust

fix tests when mypy is not installed
  tests/mypy/test_mypy.py
Due: debug-check, lint-python

Use `urllib.parse` instead of custom implementation for percent encoding
  pydantic/networks.py
  pydantic/utils.py
  tests/test_utils.py
Due: debug-check, lint-python

Revert unrelated formatting changes
  docs/mypy_plugin.md
Due: none
