Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

caching strings from JSON (pydantic/pydantic-core#1240)
  .mypy-stubtest-allowlist
  Cargo.lock
  Cargo.toml
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/input/return_enums.rs
  src/lib.rs
  src/validators/arguments.rs
  src/validators/dataclass.rs
  src/validators/generator.rs
  src/validators/json.rs
  src/validators/mod.rs
  src/validators/model_fields.rs
  src/validators/string.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
  src/validators/validation_state.rs
  tests/benchmarks/test_micro_benchmarks.py
  tests/test_config.py
  tests/test_json.py
  tests/validators/test_bool.py
  tests/validators/test_definitions.py
  tests/validators/test_float.py
  tests/validators/test_frozenset.py
  tests/validators/test_int.py
  tests/validators/test_string.py
  tests/validators/test_union.py
Due: lint, typecheck

add benchmark
  tests/benchmarks/test_schema_build.py
Due: lint, typecheck

move benchmark to another PR
  tests/benchmarks/test_schema_build_time.py
Due: lint, typecheck

Add benchmark for schema build time with nested dataclass and model (#9121)
  tests/benchmarks/test_schema_build.py
Due: lint, typecheck

Deployed 3259d7c to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

add explicit benchmarks
  tests/benchmarks/test_discriminated_unions.py
  tests/benchmarks/test_schema_build.py
Due: lint, typecheck

Add benchmark decorators (#9123)
  tests/benchmarks/test_discriminated_unions.py
  tests/benchmarks/test_schema_build.py
Due: lint, typecheck

Deployed 548feec to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Revert "Add benchmark decorators (#9123)"
  tests/benchmarks/test_discriminated_unions.py
  tests/benchmarks/test_schema_build.py
Due: lint, typecheck

remove manually added benchmark
  tests/benchmarks/test_schema_build.py
Due: lint, typecheck

test and fix
  pydantic/_internal/_generate_schema.py
  tests/test_discriminated_union.py
Due: lint, usage_docs, typecheck

Fix discriminated union bug with unsubstituted type var (#9124)
  pydantic/_internal/_generate_schema.py
  tests/test_discriminated_union.py
Due: lint, usage_docs, typecheck

Deployed 7ac7881 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Improve schema gen for nested dataclasses (#9114)
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Deployed b30f44d to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

remove practically unused, bad practice function
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

support serialization of deq
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Improve parameter and docs
  pydantic/_internal/_config.py
  pydantic/config.py
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Split to functions
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

TypeAdapter to respect model defer_build
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Add a note about fastapi
  pydantic/config.py
Due: lint, usage_docs, typecheck

Add opt-in config parameter
  pydantic/_internal/_config.py
  pydantic/config.py
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Fix import and doc generator
  mkdocs.yml
  pydantic/config.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Refactor to smaller cached_property
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Code review fixes. Fix parent depth issue. Add tests
  pydantic/config.py
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Remove dead code. Check core schema directly now
  pydantic/_internal/_model_construction.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Memoize in mock to avoid repeated deep calls to deeper memoizer
  pydantic/_internal/_mock_val_ser.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Do not build duplicated core schemas. Check _defer_build_mode in BaseModel
  pydantic/_internal/_mock_val_ser.py
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  pydantic/type_adapter.py
  tests/conftest.py
  tests/test_config.py
  tests/test_main.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Move frame depth handling to internal decorator. Better parametrized test. Fix with main change
  pydantic/_internal/_generate_schema.py
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

deprecate instead
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

add back lines
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Support serialization of `deque` when passed to `Sequence[blah blah blah]` (#9128)
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 477e0a2 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Remove `update_json_schema` (bad practice func) (#9125)
  pydantic/_internal/_std_types_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Deployed 3ad2018 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

add feedback
  docs/extra/feedback.js
  mkdocs.yml
Due: none

cleaning up feedback data
  docs/extra/feedback.js
Due: none

simple flarelytics event approach
  docs/extra/feedback.js
Due: none
