Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Update contributing.md with valid command for serving docs
  docs/contributing.md
Due: none

Fix a naming issue with JSON schema for generics parametrized by recursive type aliases (#8389)
  pydantic/_internal/_repr.py
  tests/test_type_alias_type.py
Due: lint, usage_docs, typecheck

Deployed 395451f to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Update Mypy docs with correct output from Mypy (#8395)
  docs/contributing.md
  docs/integrations/mypy.md
Due: none

Deployed ed0fd9b to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/contributing/index.html
  dev/index.html
  dev/integrations/mypy/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix ImportString documentation about default value validation
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Fix ImportString documentation about default value validation (#8386)
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 3d2ebef to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

fix: type annotation
  docs/plugins/main.py
Due: lint, typecheck

Fix `pydantic people` type annotation for markdown replacements (#8402)
  docs/plugins/main.py
Due: lint, typecheck

Deployed 3bc5a52 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

prepping for yyyy-MM-DD datetime support
  docs/errors/validation_errors.md
  tests/test_datetime.py
  tests/test_docs.py
  tests/test_types.py
Due: lint, typecheck

adding explicit test
  tests/test_datetime.py
Due: lint, typecheck

adding xfails where needed
  tests/test_datetime.py
  tests/test_docs.py
  tests/test_types.py
Due: lint, typecheck

final docs fixes
  docs/concepts/models.md
  docs/errors/validation_errors.md
Due: none

Support `yyyy-MM-DD` string for datetimes (#1124)
  python/pydantic_core/core_schema.py
  src/errors/types.rs
  src/validators/datetime.rs
  tests/test_errors.py
  tests/test_hypothesis.py
  tests/validators/test_datetime.py
Due: lint, typecheck

Support `yyyy-MM-DD` string for datetimes (pydantic/pydantic-core#1124)
  python/pydantic_core/core_schema.py
  src/errors/types.rs
  src/validators/datetime.rs
  tests/test_errors.py
  tests/test_hypothesis.py
  tests/validators/test_datetime.py
Due: lint, typecheck

prepping for yyyy-MM-DD datetime support (#8404)
  docs/concepts/models.md
  docs/errors/validation_errors.md
  tests/test_datetime.py
  tests/test_docs.py
  tests/test_types.py
Due: lint, typecheck

Deployed c765f87 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/errors/validation_errors/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Sync 2.14 branch into main (pydantic/pydantic-core#1127)
  Cargo.lock
  Cargo.toml
Due: none

Sync 2.14 branch into main (#1127)
  Cargo.lock
  Cargo.toml
Due: none

Change helper function name
  pydantic/_internal/_constructor_signature_generators.py
Due: lint, usage_docs, typecheck

Remove redundant if check
  pydantic/_internal/_constructor_signature_generators.py
Due: lint, usage_docs, typecheck

Add support for field alias in dataclass signature (#8387)
  pydantic/_internal/_constructor_signature_generators.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

Deployed 19fa86c to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix memory leak with recursive definitions creating reference cycles (#1125)
  src/definitions.rs
  src/serializers/type_serializers/definitions.rs
  src/validators/definitions.rs
Due: none

fix memory leak with recursive definitions creating reference cycles (pydantic/pydantic-core#1125)
  src/definitions.rs
  src/serializers/type_serializers/definitions.rs
  src/validators/definitions.rs
Due: none

Support indirect definition references (pydantic/pydantic-core#1130)
  python/pydantic_core/core_schema.py
  tests/validators/test_definitions.py
Due: lint, typecheck

Support indirect definition references (#1130)
  python/pydantic_core/core_schema.py
  tests/validators/test_definitions.py
Due: lint, typecheck

last fixes
  pydantic/deprecated/json.py
  pydantic/deprecated/parse.py
  tests/test_deprecated.py
Due: lint, usage_docs, typecheck

fix "run-on-arch" tests (pydantic/pydantic-core#1131)
  .github/workflows/ci.yml
  tests/requirements.txt
  tests/test_docstrings.py
Due: lint, typecheck

fix "run-on-arch" tests (#1131)
  .github/workflows/ci.yml
  tests/requirements.txt
  tests/test_docstrings.py
Due: lint, typecheck

2.5.3 patch release with new pydantic-core
  pdm.lock
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/version.py
  pyproject.toml
Due: lint, usage_docs, typecheck

Remove fastapi changes patch in test-fastapi make command (#8357)
  tests/test_fastapi.sh
  tests/test_fastapi_changes.patch
Due: none

[8271]fix: missing discriminator field in the openapi yaml
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
