Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

prep for release
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

Prep for v1.10.19 release (#10778)
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

update with v1 notes
  HISTORY.md
Due: none

bump version, still need to cherry pick history from pydantic-core and jiter
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

update history with other lib fixes / features
  HISTORY.md
Due: none

Deployed bb18ac5 to 1.10 with MkDocs 1.5.3 and mike 2.1.1
  1.10/blog/pydantic-v2-alpha/index.html
  1.10/blog/pydantic-v2/index.html
  1.10/changelog/index.html
  1.10/index.html
  1.10/search/search_index.json
  1.10/sitemap.xml
  1.10/sitemap.xml.gz
  1.10/usage/exporting_models/index.html
  1.10/usage/models/index.html
  1.10/usage/types/index.html
  1.10/usage/validation_decorator/index.html
  1.10/usage/validators/index.html
Due: none

bump version of v1
  pydantic/v1/main.py
  pydantic/v1/validators.py
  pydantic/v1/version.py
Due: lint, usage_docs, typecheck

Update HISTORY.md
  HISTORY.md
Due: none

add ellipsis back
  HISTORY.md
Due: none

remove xfail test
  tests/test_v1.py
Due: lint, typecheck

Avoid type checking error when using the ellipsis with `Field`
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/fail_defaults.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/fail_defaults.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_success_baseConfig.py
  tests/typechecking/fields.py
Due: lint, usage_docs, typecheck

Avoid type checking error when using the ellipsis with `Field` (#10781)
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-default_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/fail_defaults.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-plugin-strict_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_success.py
  tests/mypy/outputs/1.10.1/mypy-plugin_ini/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/fail_defaults.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_success.py
  tests/mypy/outputs/1.10.1/pyproject-plugin-strict_toml/plugin_success_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_success.py
  tests/mypy/outputs/1.10.1/pyproject-plugin_toml/plugin_success_baseConfig.py
  tests/typechecking/fields.py
Due: lint, usage_docs, typecheck

Deployed a056abe to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/fields/index.html
  dev/concepts/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Apply suggestions from code review
  HISTORY.md
Due: none

move a fix to changes
  HISTORY.md
Due: none

Prepare v2.10.0b1 release (#10779)
  HISTORY.md
  pydantic/v1/main.py
  pydantic/v1/validators.py
  pydantic/v1/version.py
  pydantic/version.py
  tests/test_v1.py
Due: lint, usage_docs, typecheck

📝 Add example of JSON schema for `computed_field` decorator
  docs/concepts/fields.md
Due: none

📝 Add example of JSON schema for `computed_field` decorator (#10782)
  docs/concepts/fields.md
Due: none

Deployed a25e028 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/fields/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Add exception handling for clashing validator and field names in create_model
  docs/errors/usage_errors.md
  pydantic/errors.py
  pydantic/main.py
  tests/test_create_model.py
Due: lint, usage_docs, typecheck

fix(union_serializer): do not raise warnings in nested unions (#1513)
  src/serializers/type_serializers/union.rs
  tests/serializers/test_union.py
Due: lint, typecheck

fix(union_serializer): do not raise warnings in nested unions (pydantic/pydantic-core#1513)
  src/serializers/type_serializers/union.rs
  tests/serializers/test_union.py
Due: lint, typecheck

Feedback
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_repr.py
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

Renable `mypy` type checking integration tests
  .github/workflows/ci.yml
  tests/typechecking/decorators.py
  tests/typechecking/fields.py
Due: lint, typecheck

Renable `mypy` type checking integration tests (#10788)
  .github/workflows/ci.yml
  tests/typechecking/decorators.py
  tests/typechecking/fields.py
Due: lint, typecheck

remove extra email
  .github/workflows/ci.yml
Due: none

Deployed 71c087c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

removing unnecessary installs?
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
Due: none

fix typo
  .github/workflows/ci.yml
Due: none

Fix CI test and set matrix python version in env
  .github/workflows/ci.yml
Due: none

Replaced pdm with uv (#10727)
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  .github/workflows/dependencies-check.yml
  .github/workflows/docs-update.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  build-docs.sh
  docs/contributing.md
  docs/plugins/main.py
  pdm.lock
  pyproject.toml
  release/README.md
  tests/benchmarks/basemodel_eq_performance.py
  tests/benchmarks/test_fastapi_startup_generics.py
  tests/benchmarks/test_fastapi_startup_simple.py
  uv.lock
Due: lint, typecheck

Fix documentation CI job
  .github/workflows/docs-update.yml
Due: none

Refactor `_typing_extra` module (#10725)
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_repr.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/dataclasses.py
  pydantic/json_schema.py
  pydantic/main.py
  tests/test_forward_ref.py
  tests/test_typing.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

executable perm
  build-docs.sh
Due: none

minor ci fixes
  .github/workflows/docs-update.yml
  build-docs.sh
Due: none

Fix documentation CI job (#10795)
  .github/workflows/docs-update.yml
  build-docs.sh
Due: none

Deployed dad96c5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/base_model/index.html
  dev/api/dataclasses/index.html
  dev/api/json_schema/index.html
  dev/contributing/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add documentation note regarding `create_model` and validators
  docs/concepts/models.md
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
