Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

Deployed 9b4d952 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/types/index.html
  dev/api/types/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix `exclude`/`include` ignored with `model_serializer(when_used="json")` in python mode
  pydantic-core/src/serializers/type_serializers/function.rs
  tests/test_serialize.py
Due: lint, lint rust, typecheck

Revert Logfire tip changes from #13457
  docs/concepts/dataclasses.md
  docs/concepts/experimental.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/type_adapter.md
  docs/concepts/validation_decorator.md
  docs/errors/errors.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/pydantic_ai.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/integrations/aws_lambda.md
  docs/integrations/devtools.md
  pydantic/dataclasses.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/validate_call_decorator.py
Due: lint, typecheck

Clarify Logfire validation guidance
  docs/concepts/models.md
  docs/concepts/strict_mode.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/errors/errors.md
  docs/examples/orms.md
  docs/integrations/datamodel_code_generator.md
  docs/internals/architecture.md
  pydantic/dataclasses.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/validate_call_decorator.py
Due: lint, typecheck

Revert some docs changes from #13457 (#13607)
  docs/concepts/dataclasses.md
  docs/concepts/experimental.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/type_adapter.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/errors/errors.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/pydantic_ai.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/integrations/aws_lambda.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/devtools.md
  docs/internals/architecture.md
  pydantic/dataclasses.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/validate_call_decorator.py
Due: lint, typecheck

test: cover get_type_ref repr fallback
  tests/test_internal.py
Due: lint, typecheck

fix(config): apply subclass field_title_generator to inherited fields (#13486)
  pydantic/_internal/_fields.py
  pydantic/fields.py
  tests/test_titles.py
Due: lint, typecheck

keep compiled pattern flags in pipeline constrain step
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Deployed 796b6d8 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Improve performance of `GenerateSchema.generate_schema()` dispatching
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

Apply suggestions from code review
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Apply suggestions from code review
  tests/test_pipeline.py
Due: lint, typecheck

Apply suggestions from code review
  pydantic/_internal/_validators.py
Due: lint, typecheck

Remove `typing` constructs from `allowed_default_types`
  pydantic/_internal/_validators.py
Due: lint, typecheck

Preserve `re.Pattern` instance for compiled patterns in the experimental pipeline (#13611)
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Deployed 1affc19 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Improve `defaultdict` schema generation error message (#13598)
  pydantic/_internal/_validators.py
Due: lint, typecheck

Deployed a20d957 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Try 2227df27b1e42b43c9a3a184acb5d2842ea10750
  pydantic-core/src/build_tools.rs
  pydantic-core/src/definitions.rs
  pydantic-core/src/lib.rs
  pydantic-core/src/py_gc.rs
  pydantic-core/src/schema_keys.rs
  pydantic-core/src/serializers/fields.rs
  pydantic-core/src/serializers/mod.rs
  pydantic-core/src/serializers/shared.rs
  pydantic-core/src/serializers/type_serializers/dataclass.rs
  pydantic-core/src/serializers/type_serializers/dict.rs
  pydantic-core/src/serializers/type_serializers/list.rs
  pydantic-core/src/serializers/type_serializers/literal.rs
  pydantic-core/src/serializers/type_serializers/model.rs
  pydantic-core/src/serializers/type_serializers/set_frozenset.rs
  pydantic-core/src/serializers/type_serializers/typed_dict.rs
  pydantic-core/src/tools.rs
  pydantic-core/src/validators/dict.rs
  pydantic-core/src/validators/int.rs
  pydantic-core/src/validators/list.rs
  pydantic-core/src/validators/literal.rs
  pydantic-core/src/validators/mod.rs
  pydantic-core/src/validators/model.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/src/validators/nullable.rs
  pydantic-core/src/validators/set.rs
  pydantic-core/src/validators/shared/lookup_tree.rs
  pydantic-core/src/validators/string.rs
  pydantic-core/src/validators/with_default.rs
  pydantic-core/tests/benchmarks/test_schema_build_benchmark.py
  pydantic-core/tests/test_build_key_lookups.py
  pydantic-core/tests/test_gc_referents.py
Due: lint, lint rust, typecheck

Try 7e6622762679b7bb45f91f8e9aa2c7f775a29efc
  pydantic-core/python/pydantic_core/_pydantic_core.pyi
  pydantic-core/src/common/prebuilt.rs
  pydantic-core/src/lib.rs
  pydantic-core/src/model_class_lookup.rs
  pydantic-core/src/model_namespace_dict.rs
  pydantic-core/src/serializers/prebuilt.rs
  pydantic-core/src/slots_object.rs
  pydantic-core/src/validators/prebuilt.rs
  pydantic-core/tests/test_prebuilt.py
Due: lint, lint rust, typecheck

Bump `typing-inspection` to v0.4.3
  uv.lock
Due: none

Bump `typing-inspection` to v0.4.3 (#13618)
  uv.lock
Due: none

Deployed c67a139 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

anchor bytesize parse and restrict digits/units to ascii
  pydantic/types.py
  tests/test_types.py
Due: lint, typecheck

Infer defaultdict default factory for dict and frozenset values
  pydantic/_internal/_validators.py
  tests/types/test_defaultdict.py
Due: lint, typecheck

fix: allow field_title_generator to re-evaluate for inherited model fields
  pydantic/_internal/_fields.py
  tests/test_titles.py
Due: lint, typecheck

Allow `dict`, `frozendict` and `frozenset` as `defaultdict` default factories
  pydantic/_internal/_validators.py
  tests/types/test_defaultdict.py
Due: lint, typecheck

Mix missing GC traversal on some `pydantic-core` struct fields
  pydantic-core/src/serializers/fields.rs
  pydantic-core/src/serializers/type_serializers/enum_.rs
  pydantic-core/src/validators/enum_.rs
  pydantic-core/tests/test_garbage_collection.py
Due: lint, lint rust, typecheck

Check GC traversal completeness when constructing validators and serializers in tests
  pydantic-core/pyproject.toml
  pydantic-core/tests/conftest.py
Due: lint, typecheck

ares: fix issue #13207
  pydantic/main.py
  tests/test_main.py
Due: lint, typecheck

Fix missing GC traversal on some `pydantic-core` struct fields (#13624)
  pydantic-core/src/serializers/fields.rs
  pydantic-core/src/serializers/type_serializers/enum_.rs
  pydantic-core/src/validators/enum_.rs
  pydantic-core/tests/test_garbage_collection.py
Due: lint, lint rust, typecheck

Deployed 8affe9b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix missing GC traversal in `pydantic-core` for `GeneralFieldsSerializer`
  pydantic-core/src/serializers/fields.rs
Due: lint rust

Fix missing GC traversal in `pydantic-core` for `GeneralFieldsSerializer` (#13629)
  pydantic-core/src/serializers/fields.rs
Due: lint rust

Fix JSON schema discriminator mapping keys for bool discriminators
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Deployed 52fbbfa to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
