Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint-python
        types: [python]
        language: system
        pass_filenames: false
      - id: lint rust
        name: Lint Rust
        entry: make lint-rust
        types: [rust]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: uv run pyright pydantic
        types: [python]
        language: system
        pass_filenames: false

fix: enforce URL constraints on existing URL instances
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Final tweaks
  .github/pyodide/pylock.312.toml
  .github/pyodide/requirements.in
  .github/workflows/ci.yml
  pydantic-core/pyproject.toml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: lint, typecheck

fixup
  .github/workflows/ci.yml
Due: none

Fix defaultdict default_factory from Field being ignored
  pydantic/_internal/_validators.py
  tests/test_types.py
Due: lint, typecheck

Fix field info not being inherited from model parent when non-model parent has same attribute
  pydantic/_internal/_fields.py
  tests/test_main.py
Due: lint, typecheck

Final cleanup
  .github/pyodide/pylock.312.toml
  pydantic-core/package.json
  pydantic-core/tests/emscripten_runner.js
  tests/test_meta.py
Due: lint, typecheck

Fix JSON schema pattern for Decimals to allow scientific notation
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

try fixes
  .github/workflows/ci.yml
  tests/conftest.py
Due: lint, typecheck

Try fixup
  .github/workflows/ci.yml
Due: none

Upgrade pip
  .github/workflows/ci.yml
Due: none

try later nightly
  .github/workflows/ci.yml
Due: none

bump nightly
  .github/workflows/ci.yml
Due: none

Allow periods in unquoted NameEmail display names
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Add dotted NameEmail display name coverage
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

fix: route private attributes to __pydantic_private__ and respect extra='forbid'/'ignore' in model_copy
  pydantic/main.py
Due: lint, typecheck

test: add coverage for private attributes and extra forbid/ignore in model_copy
  tests/test_construction.py
Due: lint, typecheck

Deployed 47bc168 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Give up on 3.13
  .github/pyodide/pylock.313.toml
  .github/workflows/ci.yml
Due: none

Add workflow to close spam PRs
  .github/workflows/enforce-issue-assignment.yml
Due: none

Deployed 858db9f to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/types/index.html
  dev/changelog/index.html
  dev/concepts/performance/index.html
  dev/index.html
  dev/search/search_index.json
  dev/version-policy/index.html
Due: none

fix: allow periods in unquoted NameEmail display names
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Add workflow to close spam PRs (#13211)
  .github/workflows/enforce-issue-assignment.yml
Due: none

Deployed b58e339 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Support create_model field inference in mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/create_model_var.py
  tests/mypy/modules/create_model_var_strict.py
  tests/mypy/outputs/mypy-plugin-strict_ini/create_model_var_strict.py
  tests/mypy/outputs/mypy-plugin_ini/create_model_var.py
  tests/mypy/test_mypy.py
Due: lint, typecheck

Add `use_enum_names` config to validate/serialize enums by name (#13195)
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/serializers/type_serializers/enum_.rs
  pydantic-core/src/validators/enum_.rs
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/json_schema.py
  tests/test_types.py
Due: lint, lint rust, typecheck

Speed up pydantic-people workflow
  .github/actions/people/action.yml
  .github/actions/people/people.py
Due: lint, typecheck

Remove pylock.toml, install deps directly from requirements.in
  .github/actions/people/action.yml
  .github/actions/people/pylock.toml
Due: none

Use pyreqwest + anyio for concurrent HTTP requests
  .github/actions/people/people.py
  .github/actions/people/requirements.in
Due: lint, typecheck

Restore pylock.toml for reproducible dependencies
  .github/actions/people/pylock.toml
Due: none

Preserve slots on generic models
  pydantic/_internal/_generics.py
  tests/test_generics.py
Due: lint, typecheck

ci: use maturin `--pgo` option
  .github/actions/core-build-pgo-wheel/action.yml
  pydantic-core/Makefile
  pydantic-core/pyproject.toml
  uv.lock
Due: none

Update action owner
  .github/workflows/ci.yml
Due: none

Pass through external JSON schema $ref values verbatim
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

fix: skip deepcopy of fields replaced by update in model_copy
  pydantic/main.py
  tests/test_model_copy_deep_update.py
Due: lint, typecheck

Prepare release v2.14.0a1
  CITATION.cff
  HISTORY.md
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic/version.py
  pyproject.toml
Due: lint, typecheck

Add AI policy, update contributing guidelines
  CONTRIBUTING.md
  docs/contributing.md
Due: none

Add PyEmscripten platform tag support (#13199)
  .github/pyodide/pylock.314.toml
  .github/pyodide/requirements.in
  .github/workflows/ci.yml
  pydantic-core/package.json
  pydantic-core/pyproject.toml
  pydantic-core/tests/emscripten_runner.js
  pydantic-core/tests/test_docstrings.py
  pyproject.toml
  tests/conftest.py
  tests/test_docs.py
  tests/test_meta.py
  uv.lock
Due: lint, typecheck

Deployed b08c027 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none
