Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

alias gen empty string protections
  pydantic/_internal/_generate_schema.py
  tests/test_aliases.py
Due: lint, usage_docs, typecheck

Correct docs, logic for `model_construct` behavior with `extra` (#8807)
  docs/concepts/models.md
  pydantic/main.py
  tests/test_construction.py
Due: lint, usage_docs, typecheck

Deployed e99bf8a to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/concepts/models/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

relax version of typing-extensions
  requirements.txt
Due: none

Fix: allow empty string aliases with `AliasGenerator` (#8810)
  pydantic/_internal/_generate_schema.py
  tests/test_aliases.py
Due: lint, usage_docs, typecheck

Deployed 42ec73d to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix test
  tests/test_datetime.py
Due: lint, typecheck

Relax version of typing-extensions for V1 (#8819)
  requirements.txt
Due: none

ci: updates for Rust 1.76 (pydantic/pydantic-core#1191)
  src/errors/value_exception.rs
Due: none

ci: updates for Rust 1.76 (#1191)
  src/errors/value_exception.rs
Due: none

Fix test along with date -> datetime timezone assumption fix (#8823)
  tests/test_datetime.py
Due: lint, typecheck

note on min and max length
  pydantic/fields.py
Due: lint, usage_docs, typecheck

Deployed ef8cecf to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

datetime docs updates
  docs/api/standard_library_types.md
  docs/plugins/conversion_table.py
Due: lint, typecheck

`date` string coerced to `datetime` shouldn't infer timezone (pydantic/pydantic-core#1193)
  src/validators/datetime.rs
  tests/validators/test_datetime.py
Due: lint, typecheck

`date` string coerced to `datetime` shouldn't infer timezone (#1193)
  src/validators/datetime.rs
  tests/validators/test_datetime.py
Due: lint, typecheck

Fix bug with no_strict_optional=True caused by API deferral
  pydantic/mypy.py
Due: lint, usage_docs, typecheck

Remove lig from reviewers
  pyproject.toml
Due: none

Minor docs updates for the week (#8824)
  docs/api/standard_library_types.md
  docs/plugins/conversion_table.py
  pydantic/fields.py
Due: lint, usage_docs, typecheck

Deployed 16b871d to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/fields/index.html
  dev/api/standard_library_types/index.html
  dev/concepts/conversion_table/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Remove lig from reviewers (#8827)
  pyproject.toml
Due: none

Deployed 3dd3b42 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix deprecation warning with usage of `ast.Str`
  pydantic/_internal/_docs_extraction.py
Due: lint, usage_docs, typecheck

Fix deprecation warning with usage of `ast.Str` (#8837)
  pydantic/_internal/_docs_extraction.py
Due: lint, usage_docs, typecheck

Deployed 12ebdfc to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Update `ruff` to `0.2.1`
  pdm.lock
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pyproject.toml
  release/make_history.py
Due: lint, usage_docs, typecheck

Add benchmarks for serializing model with complete schema (pydantic/pydantic-core#1189)
  tests/benchmarks/test_complete_benchmark.py
Due: lint, typecheck

Add benchmarks for serializing model with complete schema (#1189)
  tests/benchmarks/test_complete_benchmark.py
Due: lint, typecheck

docs: update common mistakes section
  docs/examples/common_mistakes.md
Due: none

Fix link to company announcement
  README.md
Due: none

Fix link to company announcement in README (#8847)
  README.md
Due: none

Deployed 9baad29 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Prevent panicking when `__dict__` changes during iteration (pydantic/pydantic-core#1196)
  src/serializers/fields.rs
  tests/serializers/test_model.py
Due: lint, typecheck

Prevent panicking when `__dict__` changes during iteration (#1196)
  src/serializers/fields.rs
  tests/serializers/test_model.py
Due: lint, typecheck

Restore lock file
  pdm.lock
Due: none

Fix lock file
  pdm.lock
Due: none
