Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

remove old profiling directory (#1265)
  Makefile
  profiling/dict_model.py
Due: lint, typecheck

trim leading zeros before parsing `str` -> `int` (pydantic/pydantic-core#1266)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

trim leading zeros before parsing `str` -> `int` (#1266)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

Fix field repr
  tests/test_json_schema.py
Due: lint, typecheck

Add more tests
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Add support for typeddict
  pydantic/_internal/_generate_schema.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Prep for 2.7 beta release 🚀 (#9158)
  HISTORY.md
  pydantic/v1/v1.py
  pydantic/v1/version.py
  pydantic/version.py
Due: lint, usage_docs, typecheck

Update mkdocs_material (#9169)
  .github/workflows/docs-update.yml
  mkdocs.yml
Due: none

fix `model_construct` with `validation_alias` (#9144)
  pydantic/main.py
  tests/test_construction.py
Due: lint, usage_docs, typecheck

Add 1.10.15 section to HISTORY.md (#9161)
  HISTORY.md
Due: none

Uprev `pydantic-core` (#9153)
  pdm.lock
  pyproject.toml
Due: none

Ensure json-schema generator handles Literal Null types (#9135)
  pydantic/json_schema.py
  tests/test_json_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Fix typo
  pydantic/config.py
Due: lint, usage_docs, typecheck

Add default value to docstring
  pydantic/config.py
Due: lint, usage_docs, typecheck

Add whitespace
  pydantic/config.py
Due: lint, usage_docs, typecheck

Fix computed field title generators
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Better pytest exception message matching
  tests/test_titles.py
Due: lint, typecheck

Fix behavior of title_priority with field_title_generator
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Remove config-level field title generator
  tests/test_titles.py
Due: lint, typecheck

Rename test
  tests/test_titles.py
Due: lint, typecheck

Rename parameter
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Keep title generator list in a constant
  tests/test_titles.py
Due: lint, typecheck

Implement programmatic title generation
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/fields.py
  tests/test_json_schema.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Use typed dict fixture
  tests/test_titles.py
Due: lint, typecheck

Add fixture for typing.Annotated
  tests/test_titles.py
Due: lint, typecheck

prevent trailing dots in integers (pydantic/pydantic-core#1267)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

prevent trailing dots in integers (#1267)
  src/input/shared.rs
  tests/validators/test_int.py
Due: lint, typecheck

Apply suggestions from code review
  docs/concepts/json.md
Due: none

Fix allow extra generic
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
Due: lint, usage_docs, typecheck

Fix allow extra generic (#9193)
  pydantic/_internal/_generate_schema.py
  tests/test_generics.py
Due: lint, usage_docs, typecheck

Deployed a7d3253 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

first round of docs feedback
  docs/concepts/json.md
  pydantic/config.py
Due: lint, usage_docs, typecheck

string caching details
  docs/concepts/json.md
Due: none

model validate example
  docs/concepts/json.md
Due: none

Added Websocket support in networks.py
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Added FTP Url support in networks.py
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Added ws test
  pydantic/__init__.py
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

Added tests for WebsocketUrl and FtpUrl
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
