Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Use identity instead of equality when possible
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

fix linting
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

fix lint
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

Fix note admonition in mypy integration documentation
  docs/integrations/mypy.md
Due: none

Properly check for `typing_extensions` variant of `TypeAliasType` (#10713)
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

Deployed 13979e9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix note admonition in mypy integration documentation (#10717)
  docs/integrations/mypy.md
Due: none

Deployed 9b3e212 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

reverting changes to timedelta settings
  pdm.lock
  pydantic/_internal/_config.py
  pydantic/config.py
  pydantic/json_schema.py
  pydantic/warnings.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

add back warning for 210
  pydantic/warnings.py
Due: lint, usage_docs, typecheck

fix isinstance issue
  pydantic/networks.py
  tests/test_networks.py
Due: lint, usage_docs, typecheck

PR feedback
  pydantic/_internal/_core_metadata.py
  pydantic/fields.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

root description fix
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

conditional coercion
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Use identity instead of equality when possible (#10712)
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Deployed 19f7d41 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

initial pass
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

python end on config
  pydantic/_internal/_config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

Revert "initial pass"
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

pr feedback re typing
  pydantic/_internal/_core_metadata.py
Due: lint, usage_docs, typecheck

import fix
  pydantic/_internal/_core_utils.py
Due: lint, usage_docs, typecheck

deselect multiple
  tests/test_fastapi.sh
Due: none

fix test skip formatting
  tests/test_fastapi.sh
Due: none

`CoreMetadata` refactor with an emphasis on documentation and reducing complexity (#10675)
  docs/concepts/json_schema.md
  docs/contributing.md
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/test_fastapi.sh
  tests/test_fastapi_json_schema.py
  tests/test_json_schema.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Deployed 80353c2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/fields/index.html
  dev/api/functional_validators/index.html
  dev/api/json_schema/index.html
  dev/concepts/json_schema/index.html
  dev/contributing/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Refactor `_typing_extra` module
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

Adapt codebase to use refactored module
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_repr.py
  pydantic/_internal/_std_types_schema.py
  pydantic/dataclasses.py
  pydantic/json_schema.py
  pydantic/main.py
  tests/test_forward_ref.py
  tests/test_typing.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Update Pyodide to v0.26.3 (pydantic/pydantic-core#1507)
  .github/workflows/ci.yml
  Makefile
  package.json
  wasm-preview/run_tests.py
  wasm-preview/worker.js
Due: lint, typecheck

Update Pyodide to v0.26.3 (#1507)
  .github/workflows/ci.yml
  Makefile
  package.json
  wasm-preview/run_tests.py
  wasm-preview/worker.js
Due: lint, typecheck

Revert "feat: add 'millisecond' option to `ser_json_timedelta`" (pydantic/pydantic-core#1503)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/input/datetime.rs
  src/serializers/config.rs
  src/serializers/infer.rs
  src/serializers/type_serializers/timedelta.rs
  tests/serializers/test_any.py
  tests/serializers/test_pickling.py
  tests/serializers/test_timedelta.py
  tests/test_garbage_collection.py
Due: lint, typecheck

Revert "feat: add 'millisecond' option to `ser_json_timedelta`" (#1503)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/input/datetime.rs
  src/serializers/config.rs
  src/serializers/infer.rs
  src/serializers/type_serializers/timedelta.rs
  tests/serializers/test_any.py
  tests/serializers/test_pickling.py
  tests/serializers/test_timedelta.py
  tests/test_garbage_collection.py
Due: lint, typecheck

Perf improvements, 1
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

hookup to new cls link in pydantic-core
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Improve documentation for `validate_email`
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Fix case
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Improve documentation for `validate_email` (#10736)
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Deployed 74f224c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/networks/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Couple fixes
  pydantic/_internal/_generics.py
  pydantic/_internal/_repr.py
  pydantic/_internal/_typing_extra.py
  tests/test_forward_ref.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
