Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

modifying warning
  tests/test_main.py
Due: lint, typecheck

Support `defer_build` for Pydantic dataclasses (#10313)
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
  pydantic/dataclasses.py
  tests/test_config.py
Due: lint, usage_docs, typecheck

Deployed 7ac0eb9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/dataclasses/index.html
  dev/concepts/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

feat: add 'millisecond' option to ser_json_timedelta config parameter (pydantic/pydantic-core#1427)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/input/datetime.rs
  src/serializers/config.rs
  src/serializers/infer.rs
  src/serializers/type_serializers/timedelta.rs
  tests/serializers/test_any.py
  tests/serializers/test_pickling.py
  tests/serializers/test_timedelta.py
  tests/test_garbage_collection.py
Due: lint, typecheck

feat: add 'millisecond' option to ser_json_timedelta config parameter (#1427)
  python/pydantic_core/_pydantic_core.pyi
  python/pydantic_core/core_schema.py
  src/input/datetime.rs
  src/serializers/config.rs
  src/serializers/infer.rs
  src/serializers/type_serializers/timedelta.rs
  tests/serializers/test_any.py
  tests/serializers/test_pickling.py
  tests/serializers/test_timedelta.py
  tests/test_garbage_collection.py
Due: lint, typecheck

Adding v1 / v2 incompatibility warning for nested v1 model (#10431)
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Deployed fbfcc60 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Update pydantic/config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

Modify schema creation benchmarks to focus on schema building (#10316)
  pyproject.toml
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Deployed 01daafa to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

fix: tests, changes
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

fix: fixes
  pdm.lock
  pydantic/config.py
  pyproject.toml
Due: lint, usage_docs, typecheck

remove logic used in previously called function
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

fix: revert pyproject.toml and pdm.lock changes, tests will fail
  pdm.lock
  pyproject.toml
Due: none

fix: change
  pdm.lock
Due: none

add helpful error, at least
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Fix schema generation error when serialization schema holds references
  pydantic/_internal/_core_utils.py
  tests/test_serialize.py
Due: lint, usage_docs, typecheck

fix: revert file change
  pyproject.toml
Due: none

Fix schema generation error when serialization schema holds references (#10444)
  pydantic/_internal/_core_utils.py
  tests/test_serialize.py
Due: lint, usage_docs, typecheck

Deployed 61818e2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Inline references if possible when generating schema for `json_schema_input_type` (#10439)
  pydantic/functional_validators.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Deployed 3a821f1 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/functional_validators/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

add fastui sitemap, remove logfire sitemap
  sitemap.xml
Due: none

changing default
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_create_model.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

fixing test
  pydantic/config.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

fix missing imports and formating
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

test: add schema generation benchmarks for models with custom serializers
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

test: benchmark schema generation with tagged and untagged unions
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

fix: import TypedDict from typing_extensions
  tests/benchmarks/shared.py
Due: lint, typecheck

fix: use DeferredModel instead of BaseModel
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

test: benchmark schema generation for stdlib types
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

fix: change BaseModel to DeferredModel and remove unnecesary benchmarks
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

fix: remove redundant nested union benchmark for schema generation
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Update tests/benchmarks/test_model_schema_generation.py
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Support wider variety of enum validation cases (pydantic/pydantic-core#1456)
  src/validators/enum_.rs
  tests/validators/test_enums.py
  tests/validators/test_model.py
Due: lint, typecheck

Support wider variety of enum validation cases (#1456)
  src/validators/enum_.rs
  tests/validators/test_enums.py
  tests/validators/test_model.py
Due: lint, typecheck

benchmark tagged/untagged unions and stdlib types in schema generation (#10362)
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Deployed bb4e26c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none
