Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Deployed 202d379 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/fields/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix custom type type casting used in multiple attributes (#8066)
  pydantic/_internal/_generate_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Deployed dd0efee to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add support for deprecated fields
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
Due: lint, usage_docs, typecheck

using importlib.metadata
  pydantic/networks.py
Due: lint, usage_docs, typecheck

missing import
  pydantic/networks.py
Due: lint, usage_docs, typecheck

lint
  pydantic/networks.py
Due: lint, usage_docs, typecheck

check for `email-validator` version >= 2.0 (#6033)
  pydantic/networks.py
Due: lint, usage_docs, typecheck

Deployed b430e5a to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/networks/index.html
  dev/concepts/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Define a custom root model metaclass in an `if TYPE_CHECKING` block
  pydantic/root_model.py
Due: lint, usage_docs, typecheck

Remove unrelated code
  pydantic/root_model.py
Due: lint, usage_docs, typecheck

Explicitly raise an error if field names clashes with types
  pydantic/fields.py
  tests/test_fields.py
Due: lint, usage_docs, typecheck

Add `Deprecated`
  pydantic/types.py
Due: lint, usage_docs, typecheck

Add Annotated Decimal types
  pydantic/__init__.py
  pydantic/types.py
Due: lint, usage_docs, typecheck

Create Decimal Annotations tests
  tests/test_types.py
Due: lint, typecheck

Rename InfiniteDecimal
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Fixed bug not allowing validate_call wrapper to be dynamically assigned to a class method.
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Due: lint, usage_docs, typecheck

Add `pydantic_extra_types.mac_address` docs reference
  docs/api/pydantic_extra_types_mac_address.md
Due: none

Add `pydantic_extra_types.mac_address` docs reference (#8255)
  docs/api/pydantic_extra_types_mac_address.md
Due: none

Deployed 1146c88 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/pydantic_extra_types_mac_address/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Move name check outside try block.
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Quick grammar fix
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Fix issue not allowing validate_call decorator to be dynamically assigned to a class method. (#8249)
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Due: lint, usage_docs, typecheck

Deployed 115322d to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

remove hash check from northstar benchmark
  tests/benchmarks/test_north_star.py
Due: lint, typecheck

Fixing `exclude_none` for json serialization of `computed_field`s (pydantic/pydantic-core#1098)
  src/serializers/computed_fields.rs
  tests/serializers/test_model.py
Due: lint, typecheck

Fixing `exclude_none` for json serialization of `computed_field`s (#1098)
  src/serializers/computed_fields.rs
  tests/serializers/test_model.py
Due: lint, typecheck

Update pydantic/types.py
  pydantic/types.py
Due: lint, usage_docs, typecheck

bump pandas tests to run on 3.12 (#1097)
  tests/requirements.txt
Due: none

bump pandas tests to run on 3.12 (pydantic/pydantic-core#1097)
  tests/requirements.txt
Due: none

Remove hash check from northstar benchmark (#8256)
  tests/benchmarks/test_north_star.py
Due: lint, typecheck

Deployed 667cd37 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Implement test without plugin
  tests/mypy/outputs/1.4.1/mypy-default_ini/root_models.py
  tests/mypy/outputs/1.4.1/pyproject-default_toml/root_models.py
  tests/mypy/test_mypy.py
Due: lint, typecheck

Add missing tests
  tests/mypy/outputs/1.1.1/mypy-default_ini/root_models.py
  tests/mypy/outputs/1.1.1/pyproject-default_toml/root_models.py
Due: lint, typecheck

Fix version check
  tests/mypy/test_mypy.py
Due: lint, typecheck

first pass at fixing binding issue with inheritance
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

reorder for clarity
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Fix memory leak caused by not visiting the function in a CallValidator during gc (pydantic/pydantic-core#1100)
  src/validators/call.rs
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
