Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy, build

.pre-commit-config.yaml:

fail_fast: true

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-yaml
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files

- repo: local
  hooks:
  - id: lint-python
    name: Lint Python
    entry: make lint-python
    types: [python]
    language: system
  - id: lint-rust
    name: Lint Rust
    entry: make lint-rust
    types: [rust]
    language: system
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system
  - id: build
    name: Build
    entry: make build-dev
    types: [rust]
    language: system

add getting started
  .gitignore
  README.md
Due: none

convert namespae to table, more removals
  docs/blog/pydantic-v2.md
  mkdocs.yml
Due: none

Apply suggestions from code review by @tiangolo
  docs/blog/pydantic-v2.md
Due: none

feedback from @tiangolo's review
  docs/blog/pydantic-v2.md
Due: none

changes from @adriangb's review
  docs/blog/pydantic-v2.md
Due: none

PR feedback
  pydantic/main.py
  tests/test_aliases.py
Due: lint-python, mypy

Apply suggestions from code review
  docs/blog/pydantic-v2.md
Due: none

convert namespace info to psuedo-code
  docs/blog/pydantic-v2.md
Due: none

rename property, remove schema_json()
  docs/blog/pydantic-v2.md
Due: none

adding validation context
  docs/blog/pydantic-v2.md
Due: none

remove 'model_schema_json', take 2
  docs/blog/pydantic-v2.md
Due: none

more tweaks while reviewing
  docs/blog/pydantic-v2.md
Due: none

comment about pypy and tagged unions
  docs/blog/pydantic-v2.md
Due: none

Fix `AnyUrl.build` doesn't do percent encoding (#3061)
  changes/3061-FaresAhmedb.md
  pydantic/networks.py
  pydantic/utils.py
  tests/test_networks.py
  tests/test_utils.py
Due: lint-python, mypy

add thanks :prey:, prepare for release
  docs/blog/pydantic-v2.md
Due: none

suggestions from @PrettyWood
  docs/blog/pydantic-v2.md
Due: none

suggestions from @PrettyWood, model_dump_json comment
  docs/blog/pydantic-v2.md
Due: none

Pydantic V2 blog (#4218)
  .github/workflows/ci.yml
  docs/blog/pydantic-v2.md
  docs/extra/ad.js
  docs/extra/tweaks.css
  docs/img/samuelcolvin.jpg
  docs/theme/main.html
  mkdocs.yml
Due: none

feat: tests for arbitrary_types_allowed in NamedTuple fields
  tests/test_annotated_types.py
Due: lint-python, mypy

misc: add changelog file for the PR
  changes/4219-synek.md
Due: none

Upgrade maturin to 0.13.0 (pydantic/pydantic-core#162)
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Upgrade maturin to 0.13.0 (#162)
  .github/workflows/ci.yml
  pyproject.toml
Due: none

comments mostly from @PrettyWood
  docs/blog/pydantic-v2.md
Due: none

add updated comment
  docs/blog/pydantic-v2.md
Due: none

comments mostly from @PrettyWood (#4226)
  docs/blog/pydantic-v2.md
Due: none

Update index.md
  docs/index.md
Due: none

Update docs/index.md
  docs/index.md
Due: none

Update index.md (#4227)
  docs/index.md
Due: none

Try pypy (pydantic/pydantic-core#159)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  build.rs
  src/input/input_python.rs
  src/validators/mod.rs
  src/validators/recursive.rs
  src/validators/typed_dict.rs
  tests/benchmarks/test_micro_benchmarks.py
  tests/test_build.py
  tests/validators/test_datetime.py
  tests/validators/test_function.py
  tests/validators/test_typed_dict.py
Due: lint-python, lint-rust, mypy, build

Try pypy (#159)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  build.rs
  src/input/input_python.rs
  src/validators/mod.rs
  src/validators/recursive.rs
  src/validators/typed_dict.rs
  tests/benchmarks/test_micro_benchmarks.py
  tests/test_build.py
  tests/validators/test_datetime.py
  tests/validators/test_function.py
  tests/validators/test_typed_dict.py
Due: lint-python, lint-rust, mypy, build

Use new values in known field validators
  pydantic/main.py
Due: lint-python, mypy

Fix flake8
  pydantic/main.py
Due: lint-python, mypy

Apply black formatting
  pydantic/main.py
Due: lint-python, mypy

Improved example
  docs/usage/models.md
Due: none

Added MD changes file
  changes/4231-drorata.md
Due: none

ci: switch to python 3.11.0b4 (#166)
  .github/workflows/ci.yml
Due: none

ci: switch to python 3.11.0b4 (pydantic/pydantic-core#166)
  .github/workflows/ci.yml
Due: none
