Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint-python
        types: [python]
        language: system
        pass_filenames: false
      - id: lint rust
        name: Lint Rust
        entry: make lint-rust
        types: [rust]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: uv run pyright pydantic
        types: [python]
        language: system
        pass_filenames: false

fix: use extras_schema serializer for JSON and name extra fields
  pydantic-core/src/serializers/fields.rs
  pydantic-core/tests/serializers/test_model.py
  pydantic-core/tests/serializers/test_typed_dict.py
Due: lint, lint rust, typecheck

Fix Interval zero bounds silently dropped in pipeline API
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Fix RootModel model_dump typing signature
  pydantic/root_model.py
  tests/typechecking/root_model.py
Due: lint, typecheck

fix: align RootModel.model_dump() typing signature with BaseModel
  pydantic/root_model.py
Due: lint, typecheck

Do not ignore timezone offset when using `'seconds'/'milliseconds'` `temporal_mode` (#13436)
  pydantic-core/src/serializers/type_serializers/datetime_etc.rs
  pydantic-core/tests/serializers/test_datetime.py
Due: lint, lint rust, typecheck

Clarify documentation of `timedelta_mode` and `temporal_mode` (#13437)
  pydantic-core/python/pydantic_core/_pydantic_core.pyi
  pydantic/config.py
Due: lint, typecheck

Make model rebuilding logic thread safe (#13438)
  pydantic/dataclasses.py
  pydantic/main.py
  tests/test_main.py
Due: lint, typecheck

Apply suggestions from code review
  tests/test_pipeline.py
Due: lint, typecheck

Deployed bcdee29 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/base_model/index.html
  dev/api/base_model/index.md
  dev/api/config/index.html
  dev/api/config/index.md
  dev/api/dataclasses/index.html
  dev/api/dataclasses/index.md
  dev/api/pydantic_core/index.html
  dev/api/pydantic_core/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Apply suggestion from @Viicos
  tests/test_json_schema.py
Due: lint, typecheck

Use versioned docs links in runtime messages (#13418)
  pydantic/_migration.py
  pydantic/main.py
  tests/test_migration.py
  tests/test_validators.py
Due: lint, typecheck

Fix `Interval` zero bounds silently dropped in pipeline API (#13452)
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Fix `__hash__` in `WithJsonSchema` and `Examples` to hash the mode value (#13428)
  pydantic/json_schema.py
Due: lint, typecheck

Sync `RootModel.model_dump()` signature with its parent
  pydantic/root_model.py
  tests/test_root_model.py
Due: lint, typecheck

Sync `RootModel.model_dump()` signature with its parent (#13456)
  pydantic/root_model.py
  tests/test_root_model.py
Due: lint, typecheck

Deployed 92462ee to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/api/root_model/index.html
  dev/api/root_model/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

docs: expand guidance on troubleshooting validation failures in production (#13443)
  docs/concepts/config.md
  docs/concepts/dataclasses.md
  docs/concepts/experimental.md
  docs/concepts/json.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/type_adapter.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/errors/errors.md
  docs/errors/troubleshooting.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/pydantic_ai.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/integrations/aws_lambda.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/devtools.md
  docs/integrations/llms.md
  docs/internals/architecture.md
  docs/plugins/main.py
  pydantic/dataclasses.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/validate_call_decorator.py
Due: lint, typecheck

Tweaks to Logfire references
  docs/concepts/dataclasses.md
  docs/concepts/experimental.md
  docs/concepts/json.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/type_adapter.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/errors/errors.md
  docs/errors/troubleshooting.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/pydantic_ai.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/integrations/aws_lambda.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/devtools.md
  docs/integrations/llms.md
  docs/integrations/logfire.md
  docs/internals/architecture.md
  docs/theme/announce.html
  pydantic/dataclasses.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/validate_call_decorator.py
Due: lint, typecheck

Tweaks to Logfire references (#13457)
  docs/concepts/dataclasses.md
  docs/concepts/experimental.md
  docs/concepts/json.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/type_adapter.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/errors/errors.md
  docs/errors/troubleshooting.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/pydantic_ai.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/integrations/aws_lambda.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/devtools.md
  docs/integrations/llms.md
  docs/integrations/logfire.md
  docs/internals/architecture.md
  docs/theme/announce.html
  pydantic/dataclasses.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/validate_call_decorator.py
Due: lint, typecheck

Bump mypy to 2.3.0, pyright to 1.1.411
  pydantic/main.py
  pydantic/root_model.py
  tests/mypy/outputs/mypy-default_ini/root_models.py
  tests/mypy/outputs/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/mypy-plugin-strict_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/mypy-plugin_ini/custom_constructor.py
  tests/mypy/outputs/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/mypy-plugin_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/mypy-plugin_ini/root_models.py
  tests/mypy/outputs/pyproject-default_toml/root_models.py
  tests/mypy/outputs/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/pyproject-plugin-strict_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/pyproject-plugin_toml/plugin_fail_baseConfig.py
  uv.lock
Due: lint, typecheck

Bump mypy to 2.3.0, pyright to 1.1.411 (#13458)
  pydantic/main.py
  pydantic/root_model.py
  tests/mypy/outputs/mypy-default_ini/root_models.py
  tests/mypy/outputs/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/mypy-plugin-strict_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/mypy-plugin_ini/custom_constructor.py
  tests/mypy/outputs/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/mypy-plugin_ini/plugin_fail_baseConfig.py
  tests/mypy/outputs/mypy-plugin_ini/root_models.py
  tests/mypy/outputs/pyproject-default_toml/root_models.py
  tests/mypy/outputs/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/pyproject-plugin-strict_toml/plugin_fail_baseConfig.py
  tests/mypy/outputs/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/pyproject-plugin_toml/plugin_fail_baseConfig.py
  uv.lock
Due: lint, typecheck

Deployed 428b0db to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/base_model/index.html
  dev/api/base_model/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Add support for `TypeForm`
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/experimental/pipeline.py
  pydantic/fields.py
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/type_adapter.py
  tests/test_missing_sentinel.py
  tests/typechecking/pipeline_api.py
  tests/typechecking/type_adapter.py
  tests/typechecking/type_form.py
  uv.lock
Due: lint, typecheck

Add aggregate_errors benchmark submission package
  Dockerfile
  pinned_commit.txt
  solution.patch
  task.md
  test.sh
  tests.patch
  walkthrough.md
Due: none

fix: drop computed field names from extras when extra=allow (GH-12709)
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

fix: filter computed field names from extras in model_construct (GH-12709)
  pydantic/main.py
Due: lint, typecheck

fix: use an explicit tuple serializer for named tuples
  pydantic/_internal/_generate_schema.py
  tests/test_types_namedtuple.py
Due: lint, typecheck

Docs: Document that Url.build components must be URL-encoded (#8061)
  pydantic/networks.py
Due: lint, typecheck

Clean up `_internal/_utils.py`: dead slot, return annotation, typos
  pydantic/_internal/_utils.py
Due: lint, typecheck

Fix grammar typos in docs and pydantic skill
  .agents/skills/pydantic/SKILL.md
  docs/concepts/config.md
  docs/concepts/serialization.md
  docs/concepts/validators.md
Due: none

Enforce Gt constraint when the pipeline bound type does not match the schema
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Fix grammar typos in docs and pydantic skill (#13475)
  .agents/skills/pydantic/SKILL.md
  docs/concepts/config.md
  docs/concepts/serialization.md
  docs/concepts/validators.md
Due: none

Clean up `_internal/_utils.py`: dead slot, return annotation, typos (#13474)
  pydantic/_internal/_utils.py
Due: lint, typecheck

Deployed 7c40628 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/config/index.html
  dev/concepts/config/index.md
  dev/concepts/serialization/index.html
  dev/concepts/serialization/index.md
  dev/concepts/validators/index.html
  dev/concepts/validators/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix type variable substitution in `__pydantic_extra__` with subclasses
  pydantic/_internal/_fields.py
  tests/test_main.py
Due: lint, typecheck

Fix type variable substitution in `__pydantic_extra__` with subclasses (#13483)
  pydantic/_internal/_fields.py
  tests/test_main.py
Due: lint, typecheck
