Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint-python
        types: [python]
        language: system
        pass_filenames: false
      - id: lint rust
        name: Lint Rust
        entry: make lint-rust
        types: [rust]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: uv run pyright pydantic
        types: [python]
        language: system
        pass_filenames: false

fix: valid JSON schema propertyNames for non-string enum dict keys
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Apply `multiple_of` natively for temporal core schemas in the pipeline API
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

docs: fix than/that typo and sharpen ConfigDict anchor targets
  docs/concepts/models.md
  docs/concepts/validators.md
  docs/migration.md
Due: none

Fix supported constraints for types of `datetime` module
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, typecheck

Fix Mypy plugin crash with import cycle
  pydantic/mypy.py
  pyproject.toml
  tests/mypy/modules/import_cycle.py
  tests/mypy/modules/import_cycle_base.py
  tests/mypy/outputs/mypy-plugin_ini/import_cycle.py
  tests/mypy/test_mypy.py
Due: lint, typecheck

Fix than/that typo and sharpen `ConfigDict` docs anchor targets (#13766)
  docs/concepts/models.md
  docs/concepts/validators.md
  docs/migration.md
Due: none

Fix Mypy plugin crash with import cycle (#13767)
  pydantic/mypy.py
  pyproject.toml
  tests/mypy/modules/import_cycle.py
  tests/mypy/modules/import_cycle_base.py
  tests/mypy/outputs/mypy-plugin_ini/import_cycle.py
  tests/mypy/test_mypy.py
Due: lint, typecheck

Fix supported constraints for types of `datetime` module (#13768)
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, typecheck

Deployed b9361e8 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/models/index.html
  dev/concepts/models/index.md
  dev/concepts/validators/index.html
  dev/concepts/validators/index.md
  dev/index.html
  dev/llms-full.txt
  dev/migration/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Document that JSON serialization doesn't preserve flags
  docs/api/standard_library_types.md
Due: none

Document that JSON serialization doesn't preserve flags (#13769)
  docs/api/standard_library_types.md
Due: none

Deployed 0f0798b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/standard_library_types/index.html
  dev/api/standard_library_types/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Prefer exact types in smart union serialization
  docs/concepts/unions.md
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/serializers/polymorphism_trampoline.rs
  pydantic-core/src/serializers/prebuilt.rs
  pydantic-core/src/serializers/shared.rs
  pydantic-core/src/serializers/type_serializers/dataclass.rs
  pydantic-core/src/serializers/type_serializers/definitions.rs
  pydantic-core/src/serializers/type_serializers/model.rs
  pydantic-core/src/serializers/type_serializers/nullable.rs
  pydantic-core/src/serializers/type_serializers/union.rs
  pydantic-core/src/serializers/type_serializers/with_default.rs
  pydantic-core/tests/serializers/test_union.py
  pydantic/fields.py
  tests/types/unions/test_union.py
Due: lint, lint rust, typecheck

Fix inconsistencies between constraints and core schemas allowed values
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, typecheck

Allow `self` to be used as a parameter with `@validate_call`
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Due: lint, typecheck

Fix inconsistencies between constraints and core schemas allowed values (#13772)
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, typecheck

Deployed c7a192c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/pydantic_core_schema/index.html
  dev/api/pydantic_core_schema/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Allow `self` to be used as a parameter with `@validate_call` (#13773)
  pydantic/_internal/_validate_call.py
  tests/test_validate_call.py
Due: lint, typecheck

Deployed 2261ae1 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

use validation by iteration for all schema types for JSON
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/mod.rs
  pydantic-core/src/input/prepared.rs
  pydantic-core/src/lookup_key.rs
  pydantic-core/src/validators/arguments.rs
  pydantic-core/src/validators/arguments_v3.rs
  pydantic-core/src/validators/dataclass.rs
  pydantic-core/src/validators/mod.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/src/validators/named_tuple.rs
  pydantic-core/src/validators/shared/lookup_tree.rs
  pydantic-core/src/validators/typed_dict.rs
  pydantic-core/tests/validators/test_json_field_lookup.py
  pydantic-core/tests/validators/test_model_fields.py
  pydantic-core/tests/validators/test_prepared_fields.py
Due: lint, lint rust, typecheck

Fix pydantic/v1/fields.py:537-543 ModelField.prepare docstring typo 'but
  pydantic/v1/fields.py
Due: lint, typecheck

fix: respect MRO when base merely inherits a field or private attribute (#13678)
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  tests/test_edge_cases.py
Due: lint, typecheck

some cleanup
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/input_string.rs
  pydantic-core/src/validators/arguments.rs
  pydantic-core/src/validators/arguments_v3.rs
  pydantic-core/src/validators/dataclass.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/src/validators/named_tuple.rs
  pydantic-core/src/validators/shared/lookup_tree.rs
  pydantic-core/src/validators/typed_dict.rs
Due: lint rust

Add support for lazy imports
  docs/concepts/forward_annotations.md
  docs/concepts/models.md
  docs/examples/cyclic_references.md
  mkdocs.yml
  pydantic/_internal/_typing_extra.py
  tests/test_lazy_imports.py
Due: lint, typecheck

fix: unwrap lax-or-strict schemas and handle dict min/max properties
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, typecheck

bump pyrefly
  uv.lock
Due: none

Add a `deque` core schema (#13757)
  docs/api/standard_library_types.md
  docs/errors/validation_errors.md
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/common/deque.rs
  pydantic-core/src/common/mod.rs
  pydantic-core/src/errors/types.rs
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/input_string.rs
  pydantic-core/src/schema_gather.rs
  pydantic-core/src/serializers/infer.rs
  pydantic-core/src/serializers/ob_type.rs
  pydantic-core/src/serializers/shared.rs
  pydantic-core/src/serializers/type_serializers/deque.rs
  pydantic-core/src/serializers/type_serializers/mod.rs
  pydantic-core/src/validators/deque.rs
  pydantic-core/src/validators/list.rs
  pydantic-core/src/validators/mod.rs
  pydantic-core/tests/serializers/test_any.py
  pydantic-core/tests/serializers/test_deque.py
  pydantic-core/tests/test_errors.py
  pydantic-core/tests/test_schema_functions.py
  pydantic-core/tests/validators/test_deque.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  pydantic/json_schema.py
  tests/test_validators.py
  tests/types/test_deque.py
Due: lint, lint rust, typecheck

bump pyright
  .github/workflows/ci.yml
  tests/typechecking/pyproject.toml
Due: none

Deployed 1c8a330 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/json_schema/index.html
  dev/api/json_schema/index.md
  dev/api/pydantic_core_schema/index.html
  dev/api/pydantic_core_schema/index.md
  dev/api/standard_library_types/index.html
  dev/api/standard_library_types/index.md
  dev/errors/validation_errors/index.html
  dev/errors/validation_errors/index.md
  dev/index.html
  dev/llms-full.txt
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix pyrefly job
  Makefile
Due: none

Document that val_json_bytes applies in Python mode
  docs/api/standard_library_types.md
  pydantic/config.py
Due: lint, typecheck

Do not mention `MISSING` as a valid value in validation errors
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/serializers/type_serializers/missing_sentinel.rs
  pydantic-core/src/validators/missing_sentinel.rs
  pydantic-core/tests/serializers/test_missing_sentinel.py
  pydantic-core/tests/test_schema_functions.py
  pydantic-core/tests/validators/test_missing_sentinel.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_missing_sentinel.py
Due: lint, lint rust, typecheck

feedback
  pydantic/_internal/_generate_schema.py
  tests/test_missing_sentinel.py
  tests/typechecking/uv.lock
Due: lint, typecheck

add pyrefly config
  tests/typechecking/base_model.py
  tests/typechecking/computed_field.py
  tests/typechecking/decorators.py
  tests/typechecking/fields.py
  tests/typechecking/json_schema_examples.py
  tests/typechecking/pyproject.toml
  tests/typechecking/root_model.py
  tests/typechecking/type_adapter.py
  tests/typechecking/type_form.py
  tests/typechecking/validate_call.py
  tests/typechecking/with_config_decorator.py
Due: lint, typecheck

Do not mention `MISSING` as a valid value in validation errors (#13779)
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/serializers/type_serializers/missing_sentinel.rs
  pydantic-core/src/validators/missing_sentinel.rs
  pydantic-core/tests/serializers/test_missing_sentinel.py
  pydantic-core/tests/test_schema_functions.py
  pydantic-core/tests/validators/test_missing_sentinel.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_missing_sentinel.py
  tests/typechecking/uv.lock
Due: lint, lint rust, typecheck

Deployed 6b470f4 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/json_schema/index.html
  dev/api/json_schema/index.md
  dev/api/pydantic_core_schema/index.html
  dev/api/pydantic_core_schema/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add support for `TypeForm` (#13459)
  .github/workflows/ci.yml
  Makefile
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/experimental/pipeline.py
  pydantic/fields.py
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/type_adapter.py
  tests/test_missing_sentinel.py
  tests/typechecking/base_model.py
  tests/typechecking/computed_field.py
  tests/typechecking/decorators.py
  tests/typechecking/fields.py
  tests/typechecking/json_schema_examples.py
  tests/typechecking/pipeline_api.py
  tests/typechecking/pyproject.toml
  tests/typechecking/root_model.py
  tests/typechecking/type_adapter.py
  tests/typechecking/type_form.py
  tests/typechecking/validate_call.py
  tests/typechecking/with_config_decorator.py
  uv.lock
Due: lint, typecheck

Deployed 78a5c4c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/base_model/index.html
  dev/api/base_model/index.md
  dev/api/experimental/index.html
  dev/api/experimental/index.md
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/api/functional_serializers/index.html
  dev/api/functional_serializers/index.md
  dev/api/functional_validators/index.html
  dev/api/functional_validators/index.md
  dev/api/type_adapter/index.html
  dev/api/type_adapter/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Stabilize `MISSING` sentinel
  docs/concepts/experimental.md
  docs/concepts/fields.md
  docs/concepts/serialization.md
  docs/concepts/types.md
  docs/errors/validation_errors.md
  docs/examples/dynamic_models.md
  pydantic-core/pyproject.toml
  pydantic-core/python/pydantic_core/__init__.py
  pydantic/__init__.py
  pydantic/experimental/missing_sentinel.py
  pydantic/types.py
  pydantic/warnings.py
  pyproject.toml
  tests/test_missing_sentinel.py
  uv.lock
Due: lint, typecheck

Refactor `Decimal` JSON Schema `pattern` constraint (#13672)
  docs/api/standard_library_types.md
  docs/concepts/json_schema.md
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck
