Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, pyupgrade

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system
    pass_filenames: false
  - id: pyupgrade
    name: Pyupgrade
    entry: pyupgrade --py37-plus
    types: [python]
    language: system
    exclude: ^docs/.*$

/s/jsonschema/json_schema
  pydantic/json_schema.py
  pydantic/main.py
  tests/test_schema.py
Due: lint, mypy, pyupgrade

pydantic.schema.schema ref updates
  docs/examples/models_custom_root_field.py
  docs/examples/schema_custom.py
  docs/examples/schema_top_level.py
Due: lint, mypy

cleanup
  pydantic/json_schema.py
  pydantic/main.py
Due: lint, mypy, pyupgrade

ignore old schema file
  .gitignore
Due: none

fix syntax error
  pydantic/json_schema.py
Due: lint, mypy, pyupgrade

improve signature for get_schema_property_json
  pydantic/json_schema.py
Due: lint, mypy, pyupgrade

cleanup
  pydantic/json_schema.py
Due: lint, mypy, pyupgrade

Upgrade pyo3 to 0.18.0 (pydantic/pydantic-core#361)
  Cargo.lock
  Cargo.toml
  src/build_context.rs
  src/errors/value_exception.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/serializers/filter.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/any.rs
  src/serializers/type_serializers/bytes.rs
  src/serializers/type_serializers/datetime_etc.rs
  src/serializers/type_serializers/dict.rs
  src/serializers/type_serializers/format.rs
  src/serializers/type_serializers/list.rs
  src/serializers/type_serializers/literal.rs
  src/serializers/type_serializers/new_class.rs
  src/serializers/type_serializers/other.rs
  src/serializers/type_serializers/set_frozenset.rs
  src/serializers/type_serializers/string.rs
  src/serializers/type_serializers/timedelta.rs
  src/serializers/type_serializers/tuple.rs
  src/serializers/type_serializers/typed_dict.rs
  src/validators/arguments.rs
  src/validators/call.rs
  src/validators/literal.rs
  src/validators/mod.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
Due: none

Upgrade pyo3 to 0.18.0 (#361)
  Cargo.lock
  Cargo.toml
  src/build_context.rs
  src/errors/value_exception.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/serializers/filter.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/any.rs
  src/serializers/type_serializers/bytes.rs
  src/serializers/type_serializers/datetime_etc.rs
  src/serializers/type_serializers/dict.rs
  src/serializers/type_serializers/format.rs
  src/serializers/type_serializers/list.rs
  src/serializers/type_serializers/literal.rs
  src/serializers/type_serializers/new_class.rs
  src/serializers/type_serializers/other.rs
  src/serializers/type_serializers/set_frozenset.rs
  src/serializers/type_serializers/string.rs
  src/serializers/type_serializers/timedelta.rs
  src/serializers/type_serializers/tuple.rs
  src/serializers/type_serializers/typed_dict.rs
  src/validators/arguments.rs
  src/validators/call.rs
  src/validators/literal.rs
  src/validators/mod.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
Due: none

Add python bindings for constructors for Url and MultiHostUrl (pydantic/pydantic-core#349)
  src/url.rs
  tests/validators/test_url.py
Due: lint, mypy, pyupgrade

Add python bindings for constructors for Url and MultiHostUrl (#349)
  src/url.rs
  tests/validators/test_url.py
Due: lint, mypy, pyupgrade

array support
  pydantic/json_schema.py
Due: lint, mypy, pyupgrade

typed array support
  pydantic/json_schema.py
Due: lint, mypy, pyupgrade

fix for typed arrays
  pydantic/json_schema.py
Due: lint, mypy, pyupgrade

linting
  pydantic/json_schema.py
Due: lint, mypy, pyupgrade

notes and additional type framework
  pydantic/json_schema.py
Due: lint, mypy, pyupgrade

fix comments
  pydantic/json_schema.py
Due: lint, mypy, pyupgrade

Initial work on generic models for pydantic v2
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/generics_utils.py
  pydantic/main.py
  tests/test_generics.py
Due: lint, mypy, pyupgrade

utf8 error fixed on pypy with pyo3 0.18 (#364)
  src/serializers/config.rs
  tests/serializers/test_bytes.py
Due: lint, mypy, pyupgrade

utf8 error fixed on pypy with pyo3 0.18 (pydantic/pydantic-core#364)
  src/serializers/config.rs
  tests/serializers/test_bytes.py
Due: lint, mypy, pyupgrade

try `mimalloc/local_dynamic_tls` (pydantic/pydantic-core#363)
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  Cargo.toml
  tests/requirements.txt
  tests/test_docstrings.py
  tests/validators/test_list.py
Due: lint, mypy, pyupgrade

try `mimalloc/local_dynamic_tls` (#363)
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  Cargo.toml
  tests/requirements.txt
  tests/test_docstrings.py
  tests/validators/test_list.py
Due: lint, mypy, pyupgrade

Support `kwargs` with `from_attributes` (pydantic/pydantic-core#306)
  src/input/input_python.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/dict.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
  tests/validators/test_typed_dict.py
Due: lint, mypy, pyupgrade

Support `kwargs` with `from_attributes` (#306)
  src/input/input_python.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/dict.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
  tests/validators/test_typed_dict.py
Due: lint, mypy, pyupgrade

Test on other OSs, remove CI benchmarks (#366)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  README.md
  tests/requirements.txt
Due: none

Test on other OSs, remove CI benchmarks (pydantic/pydantic-core#366)
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  README.md
  tests/requirements.txt
Due: none

linting
  src/input/input_python.rs
Due: none

Address feedback
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/main.py
Due: lint, mypy, pyupgrade

Remove unused top-level item causing CI errors
  pydantic/_internal/_generics.py
Due: lint, mypy, pyupgrade

Remove 3.8-only f-string syntax
  pydantic/_internal/_generate_schema.py
Due: lint, mypy, pyupgrade
