Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

fix test
  tests/types/test_defaultdict.py
Due: lint, typecheck

Enhance test_bool_discriminated_union with type hint
  tests/test_json_schema.py
Due: lint, typecheck

Fix formatting in test_bool_discriminated_union
  tests/test_json_schema.py
Due: lint, typecheck

Remove look-around assertions from Decimal JSON schema patterns
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Fix JSON schema discriminator mapping keys for `bool` discriminators (#13632)
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Deployed cc13d1b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/json_schema/index.html
  dev/api/json_schema/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Add support for `frozendict` type
  docs/api/standard_library_types.md
  docs/errors/validation_errors.md
  docs/plugins/conversion_table.py
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/common/frozendict.rs
  pydantic-core/src/common/mod.rs
  pydantic-core/src/errors/types.rs
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/input_string.rs
  pydantic-core/src/serializers/infer.rs
  pydantic-core/src/serializers/ob_type.rs
  pydantic-core/src/serializers/shared.rs
  pydantic-core/src/serializers/type_serializers/frozendict.rs
  pydantic-core/src/serializers/type_serializers/mod.rs
  pydantic-core/src/validators/frozendict.rs
  pydantic-core/src/validators/mod.rs
  pydantic-core/tests/serializers/test_frozendict.py
  pydantic-core/tests/test_build.py
  pydantic-core/tests/test_docstrings.py
  pydantic-core/tests/test_errors.py
  pydantic-core/tests/test_schema_functions.py
  pydantic-core/tests/validators/test_frozendict.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_schema_gather.py
  pydantic/experimental/pipeline.py
  pydantic/json_schema.py
  tests/types/test_frozendict.py
Due: lint, lint rust, typecheck

fix: return NotImplemented from URL equality comparisons with foreign types
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

fix(json_schema): generate Decimal regex pattern without look-around assertions (#13630)
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

fix(docs_extraction): preserve docstrings from parent classes across hierarchy including TypedDict (#13468)
  pydantic/_internal/_docs_extraction.py
  tests/test_docs_extraction.py
Due: lint, typecheck

Workaround circular import error in Mypy
  pydantic/mypy.py
Due: lint, typecheck

Workaround circular import error in Mypy (#13640)
  pydantic/mypy.py
Due: lint, typecheck

Deployed c439459 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

apply UrlConstraints to already-parsed url instances
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Refactor type references logic
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_type_refs.py
Due: lint, typecheck

Bump `click` to v8.4.2
  uv.lock
Due: none

Fix TypeError on unhashable annotations in match_type deprecated-alias lookup
  pydantic/_internal/_generate_schema.py
  tests/test_type_alias_type.py
Due: lint, typecheck

Bump `click` to v8.4.2 (#13644)
  uv.lock
Due: none

Do not error on unhashable generic aliases during core schema generation
  pydantic/_internal/_generate_schema.py
  pyproject.toml
  tests/test_edge_cases.py
  uv.lock
Due: lint, typecheck

Do not error on unhashable generic aliases during core schema generation (#13648)
  pydantic/_internal/_generate_schema.py
  pyproject.toml
  tests/test_edge_cases.py
  uv.lock
Due: lint, typecheck

Deployed f7e30af to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Update Pyodide lockfile
  .github/pyodide/pylock.31x.toml
  .github/pyodide/requirements.in
Due: none

Update Pyodide lockfile (#13649)
  .github/pyodide/pylock.31x.toml
  .github/pyodide/requirements.in
Due: none

Deployed 125921f to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Fix field_title_generator override in inheritance (#13486)
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_issue_13486.py
Due: lint, typecheck

Fix Pyodide lockfile
  .github/pyodide/pylock.314.toml
Due: none

Fix Pyodide lockfile (#13654)
  .github/pyodide/pylock.314.toml
Due: none

Deployed 02c5c97 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix(pipeline): avoid redundant length validation
  pydantic/experimental/pipeline.py
Due: lint, typecheck

fix: apply the `__pydantic_extra__` annotation when `extra` is overridden at runtime
  docs/concepts/models.md
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/serializers/type_serializers/model.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/tests/validators/test_model_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_main.py
Due: lint, lint rust, typecheck

fix(validators): avoid serializing twice with a plain validator
  pydantic/functional_validators.py
  pydantic/json_schema.py
  tests/test_validators.py
Due: lint, typecheck

Do not give init=False dataclass fields a positional slot
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
Due: lint, typecheck

Fix application of constraints in the pipeline API
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Normalize None type annotations to Literal[None] in discriminator schemas (#13660)
  pydantic/_internal/_discriminated_union.py
Due: lint, typecheck

Avoid look-around assertions in Decimal JSON schema regex pattern (#13630)
  pydantic/json_schema.py
Due: lint, typecheck

DOC: fix typo in pydantic/mypy.py
  pydantic/mypy.py
Due: lint, typecheck

Take `ser_json_temporal` into account when generating JSON Schema
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

feedback
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Fix typo in `pydantic/mypy.py` (#13666)
  pydantic/mypy.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
