Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy, build

lint-python:
  name: Lint Python
  entry: make lint-python
  language: system

lint-rust:
  name: Lint Rust
  entry: make lint-rust
  language: system

mypy:
  name: Mypy
  entry: make mypy
  language: system

build:
  name: Build
  entry: make build-dev
  language: system

✨ Adds dataclass_transform to dataclasses
  changes/4006-giuliano-oliveira.md
Due: none

Pin email-validator dependency as specified in requirements.txt
  changes/4010-cgaunet.md
  setup.py
Due: lint-python, mypy

Adds reserved word check to signature generation logic.
  changes/4011-strue36.md
  pydantic/utils.py
  tests/test_model_signature.py
Due: lint-python, mypy

int and bool coverage
  tests/validators/test_bool.py
  tests/validators/test_string.py
Due: lint-python, mypy

use macros for validator boilerplate
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/model_class.rs
  src/validators/none.rs
  src/validators/optional.rs
  src/validators/recursive.rs
  src/validators/string.rs
  src/validators/union.rs
Due: lint-rust, build

default implementation of set_ref
  Makefile
  src/validators/bool.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/mod.rs
  src/validators/none.rs
  src/validators/string.rs
Due: lint-rust, build

default implementation for validate_strict
  src/errors/kinds.rs
  src/validators/bool.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/none.rs
  src/validators/recursive.rs
  src/validators/string.rs
  src/validators/union.rs
Due: lint-rust, build

support literal/const types (pydantic/pydantic-core#31)
  src/errors/kinds.rs
  src/errors/mod.rs
  src/validators/function.rs
  src/validators/literal.rs
  src/validators/mod.rs
  tests/validators/test_literal.py
Due: lint-python, lint-rust, mypy, build

support literal/const types (#31)
  src/errors/kinds.rs
  src/errors/mod.rs
  src/validators/function.rs
  src/validators/literal.rs
  src/validators/mod.rs
  tests/validators/test_literal.py
Due: lint-python, lint-rust, mypy, build

allow Decimal as input to int, float and str
  tests/validators/test_float.py
  tests/validators/test_int.py
  tests/validators/test_string.py
Due: lint-python, mypy

functions schema key change
  src/validators/function.rs
  tests/test_build.py
  tests/test_experiment.py
  tests/validators/test_function.py
  tests/validators/test_model.py
  tests/validators/test_model_class.py
Due: lint-python, lint-rust, mypy, build

build always raise SchemaError
  src/validators/mod.rs
  tests/test_build.py
Due: lint-python, lint-rust, mypy, build

rename and cleanup lifetimes on inputs
  src/input/json.rs
  src/input/python.rs
  src/input/traits.rs
Due: lint-rust, build

simplify input methods, remove py
  src/input/json.rs
  src/input/python.rs
  src/input/traits.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/literal.rs
  src/validators/model.rs
  src/validators/none.rs
  src/validators/optional.rs
  src/validators/string.rs
Due: lint-rust, build

improving build
  .cargo/config.toml
  Makefile
  benchmarks/run.py
Due: lint-python, mypy

feat(copy): Add shallow_copy and deep_copy where arguments are validated by mypy
  pydantic/main.py
  pydantic/mypy.py
Due: lint-python, mypy

Path conditions:
  lint-python: any of: \.py$
  lint-rust: any of: \.rs$
  mypy: any of: \.py$
  build: any of: \.rs$
