Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

Add support for `frozendict` type (#13634)
  docs/api/standard_library_types.md
  docs/errors/validation_errors.md
  docs/plugins/conversion_table.py
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/common/frozendict.rs
  pydantic-core/src/common/mod.rs
  pydantic-core/src/errors/types.rs
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/input_string.rs
  pydantic-core/src/recursion_guard.rs
  pydantic-core/src/serializers/infer.rs
  pydantic-core/src/serializers/ob_type.rs
  pydantic-core/src/serializers/shared.rs
  pydantic-core/src/serializers/type_serializers/frozendict.rs
  pydantic-core/src/serializers/type_serializers/mod.rs
  pydantic-core/src/validators/frozendict.rs
  pydantic-core/src/validators/mod.rs
  pydantic-core/tests/serializers/test_frozendict.py
  pydantic-core/tests/test_build.py
  pydantic-core/tests/test_docstrings.py
  pydantic-core/tests/test_errors.py
  pydantic-core/tests/test_schema_functions.py
  pydantic-core/tests/validators/test_frozendict.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_schema_gather.py
  pydantic/experimental/pipeline.py
  pydantic/json_schema.py
  tests/types/test_frozendict.py
Due: lint, lint rust, typecheck

Deployed af0e0a6 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/json_schema/index.html
  dev/api/json_schema/index.md
  dev/api/pydantic_core_schema/index.html
  dev/api/pydantic_core_schema/index.md
  dev/api/standard_library_types/index.html
  dev/api/standard_library_types/index.md
  dev/concepts/conversion_table/index.html
  dev/concepts/conversion_table/index.md
  dev/errors/validation_errors/index.html
  dev/errors/validation_errors/index.md
  dev/index.html
  dev/llms-full.txt
  dev/objects.inv
  dev/search/search_index.json
Due: none

Allow `dict`, `frozendict` and `frozenset` as `defaultdict` default factories (#13623)
  pydantic/_internal/_validators.py
  tests/types/test_defaultdict.py
Due: lint, typecheck

Deployed c5af602 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Use maturin `--pgo` option (#13220)
  .github/actions/core-build-pgo-wheel/action.yml
  .github/workflows/ci.yml
  pydantic-core/Makefile
  pydantic-core/pyproject.toml
  uv.lock
Due: none

Deployed a2c9354 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Move schema cleaning logic to `pydantic-core`
  pydantic-core/.mypy-stubtest-allowlist
  pydantic-core/README.md
  pydantic-core/python/pydantic_core/_pydantic_core/__init__.pyi
  pydantic-core/python/pydantic_core/_pydantic_core/_schema_gather.pyi
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/lib.rs
  pydantic-core/src/schema_gather.rs
  pydantic/_internal/_schema_gather.py
  tests/test_schema_gather.py
Due: lint, lint rust, typecheck

skip emscripten
  tests/test_schema_gather.py
Due: lint, typecheck

Improve permormance of `FieldInfo` construction
  pydantic/fields.py
Due: lint, typecheck

Apply suggestions from code review
  pydantic-core/python/pydantic_core/_pydantic_core/_schema_gather.pyi
  pydantic-core/src/schema_gather.rs
Due: lint rust

Move schema gathering logic to `pydantic-core` (#13725)
  pydantic-core/.mypy-stubtest-allowlist
  pydantic-core/README.md
  pydantic-core/python/pydantic_core/_pydantic_core/__init__.pyi
  pydantic-core/python/pydantic_core/_pydantic_core/_schema_gather.pyi
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/lib.rs
  pydantic-core/src/schema_gather.rs
  pydantic/_internal/_schema_gather.py
  tests/test_schema_gather.py
Due: lint, lint rust, typecheck

Improve permormance of `FieldInfo` construction (#13726)
  pydantic/fields.py
Due: lint, typecheck

Deployed 965c23d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Handle omitted JSON schema definitions
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Count validated model fields once in smart unions
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/tests/validators/test_union.py
Due: lint, lint rust, typecheck

Handle PydanticOmit for definitions referenced more than once
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, typecheck

Enhance union tests with smart field validation
  tests/types/unions/test_union.py
Due: lint, typecheck

Apply suggestions from code review
  pydantic-core/tests/validators/test_union.py
Due: lint, typecheck

Allow reuse of validators when plugins are set
  pydantic-core/src/validators/prebuilt.rs
  pydantic-core/tests/test_prebuilt.py
  pydantic/plugin/_schema_validator.py
  tests/test_plugins.py
Due: lint, lint rust, typecheck

Fix missing GC traversal on some `pydantic-core` struct fields
  pydantic-core/src/serializers/fields.rs
  pydantic-core/src/serializers/type_serializers/enum_.rs
  pydantic-core/src/validators/enum_.rs
  pydantic-core/tests/test_garbage_collection.py
Due: lint, lint rust, typecheck

Fix missing GC traversal in `pydantic-core` for `GeneralFieldsSerializer`
  pydantic-core/src/serializers/fields.rs
Due: lint rust

Workaround circular import error in Mypy
  pydantic/mypy.py
Due: lint, typecheck

Speed up PyPy CI tests
  .github/workflows/ci.yml
  pydantic-core/tests/test_garbage_collection.py
  pydantic-core/tests/validators/test_dataclasses.py
  pydantic-core/tests/validators/test_model_init.py
  pydantic-core/tests/validators/test_nullable.py
  pydantic-core/tests/validators/test_typed_dict.py
  pydantic-core/tests/validators/test_with_default.py
Due: lint, typecheck

Count validated model fields once in smart unions (#13731)
  pydantic-core/src/validators/model_fields.rs
  tests/types/unions/test_union.py
Due: lint, lint rust, typecheck

Deployed 1b108de to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Count validated model fields once in smart unions
  pydantic-core/src/validators/model_fields.rs
  tests/types/test_union.py
Due: lint, lint rust, typecheck

Prepare release v2.13.5
  CITATION.cff
  HISTORY.md
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic/version.py
  pyproject.toml
Due: lint, typecheck

Fix Clippy 0.1.95 warnings
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/input_string.rs
  pydantic-core/src/input/return_enums.rs
  pydantic-core/src/validators/mod.rs
Due: lint rust

Fix more Clippy lints
  pydantic-core/src/lookup_key.rs
Due: lint rust

Do not check for docs build
  .github/workflows/ci.yml
Due: none

Consolidate type inspection in one step, add schema cache
  pydantic/_internal/_annotation_evaluator.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/fields.py
  pyproject.toml
  tests/test_annotation_evaluator.py
  uv.lock
Due: lint, typecheck

Bump twine to v7.0.0
  uv.lock
Due: none

Bump twine to v7.0.0 (#13735)
  uv.lock
Due: none

Deployed 8524e44 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Bump `pypa/gh-action-pypi-publish` action to v1.14.2
  .github/workflows/ci.yml
Due: none

Bump `pypa/gh-action-pypi-publish` action to v1.14.2 (#13736)
  .github/workflows/ci.yml
Due: none

Deployed ea76250 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

use `contentEncoding` and `contentMediaType` for `bytes` JSON Schema
  docs/plugins/schema_mappings.toml
  docs/why.md
  pydantic/json_schema.py
  pydantic/types.py
  tests/test_json_schema.py
  tests/test_type_adapter.py
  tests/test_types.py
  tests/types/test_path.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
