Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

add reason
  tests/test_json_schema.py
  tests/test_types.py
Due: lint, typecheck

more runtime warnings
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  tests/test_forward_ref.py
  tests/test_json_schema.py
  tests/test_types.py
  tests/test_types_self.py
Due: lint, usage_docs, typecheck

little bit of refactoring
  pydantic/_internal/_validators.py
Due: lint, usage_docs, typecheck

add docs
  pydantic/_internal/_validators.py
Due: lint, usage_docs, typecheck

Remove unnecessary output file
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/from_orm_v1_noconflict.py
Due: lint, typecheck

Fix false positives on v1 models in mypy plugin for from_orm check requiring from_attributes=True config (#9938)
  pydantic/mypy.py
  tests/mypy/modules/from_orm_v1_noconflict.py
  tests/mypy/test_mypy.py
Due: lint, usage_docs, typecheck

Deployed 22265f6 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Apply `strict=True` to `__init__` in mypy plugin (#9998)
  pydantic/mypy.py
  tests/mypy/modules/plugin_strict_fields.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_strict_fields.py
  tests/mypy/outputs/1.1.1/mypy-plugin_ini/plugin_strict_fields.py
  tests/mypy/test_mypy.py
Due: lint, usage_docs, typecheck

switch back to runtime error
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

Deployed d6df62a to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

add verbose flag to debug error
  .github/workflows/ci.yml
Due: none

remove strategy
  pdm.lock
Due: none

pdm update
  pdm.lock
  pyproject.toml
Due: none

using new pdm
  pdm.lock
Due: none

verbosity flag
  .github/workflows/ci.yml
Due: none

try test without cache
  .github/workflows/ci.yml
Due: none

no cache maybe?
  .github/workflows/ci.yml
Due: none

another format
  .github/workflows/ci.yml
Due: none

cleared cache, do we need that every time?
  .github/workflows/ci.yml
Due: none

add requires to secondary pyproject
  tests/plugin/pyproject.toml
Due: none

add back cache clear
  .github/workflows/ci.yml
Due: none

try removing cache
  .github/workflows/ci.yml
Due: none

remove comments, etc
  .github/workflows/ci.yml
Due: none

Support compatibility with `pdm v2.17.0` (#10003)
  pdm.lock
  pyproject.toml
  tests/plugin/pyproject.toml
Due: none

Deployed f45033e to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/errors/index.html
  dev/api/experimental/index.html
  dev/api/functional_validators/index.html
  dev/api/pydantic_settings/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

performance experiment
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Move annotation compatibility errors to validation phase (#9999)
  .github/workflows/ci.yml
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  tests/test_forward_ref.py
  tests/test_types.py
  tests/test_types_self.py
Due: lint, usage_docs, typecheck

Deployed a2f7271 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

expanding simple types
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

more matching
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

remove 3.7 Literal logic
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

not efficient, but expanding the maps
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Use json-or-python schema for hashable
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Add test & remove broken test
  tests/test_edge_cases.py
Due: lint, typecheck

try with cached property
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Adjust broken tests
  tests/test_edge_cases.py
Due: lint, typecheck

fix typo in ModelValidatorDecoratorInfo docstring
  pydantic/_internal/_decorators.py
Due: lint, usage_docs, typecheck

fix field-serializer-signature section valid signatures
  docs/errors/usage_errors.md
Due: none

add valid model_serializer signatures, with type hints
  docs/errors/usage_errors.md
Due: none

fix 'helper' word with 'handler' in WrapSerializer docstring
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck
