Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, pyupgrade

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: make mypy
  language: system
  pass_filenames: false

pyupgrade:
  name: Pyupgrade
  entry: pyupgrade --py37-plus
  language: system

switch codspeed to tokenless uploads (pydantic/pydantic-core#335)
  .github/workflows/codspeed.yml
Due: none

Upgrade maturin to 0.14 (#336)
  pyproject.toml
Due: none

Upgrade maturin to 0.14 (pydantic/pydantic-core#336)
  pyproject.toml
Due: none

Add Jina AI to sponsors (#4767)
  changes/4767-samuelcolvin.md
  docs/extra/tweaks.css
  docs/index.md
  docs/sponsor_logos/jina-ai.png
Due: none

Fix the Compile time RNG seed when running the benchmarks (pydantic/pydantic-core#338)
  .github/workflows/benchmarks.yml
  .github/workflows/codspeed.yml
Due: none

Fix the Compile time RNG seed when running the benchmarks (#338)
  .github/workflows/benchmarks.yml
  .github/workflows/codspeed.yml
Due: none

ByteSize.human_readable() should not have decimal point with B suffix
  pydantic/types.py
  tests/test_types.py
Due: lint, mypy, pyupgrade

docs build, bust cache?
  .github/workflows/ci.yml
Due: none

bust CI cache, fix docs-build
  .github/workflows/ci.yml
Due: none

Upgrade pytest-codspeed to 1.2.0 (pydantic/pydantic-core#337)
  tests/requirements.txt
Due: none

Upgrade pytest-codspeed to 1.2.0 (#337)
  tests/requirements.txt
Due: none

docs build, bust cache? (#4778)
  .github/workflows/ci.yml
Due: none

Implement `LaxOrStrictValidator` (pydantic/pydantic-core#330)
  pydantic_core/core_schema.py
  src/validators/lax_or_strict.rs
  src/validators/mod.rs
  tests/validators/test_lax_or_strict.py
Due: lint, mypy, pyupgrade

Implement `LaxOrStrictValidator` (#330)
  pydantic_core/core_schema.py
  src/validators/lax_or_strict.rs
  src/validators/mod.rs
  tests/validators/test_lax_or_strict.py
Due: lint, mypy, pyupgrade

Install setuptools before installing requirements in CI
  .github/workflows/ci.yml
Due: none

mxschmitt/action-tmate on failure to investigate seg faults (pydantic/pydantic-core#341)
  .github/workflows/ci.yml
Due: none

mxschmitt/action-tmate on failure to investigate seg faults (#341)
  .github/workflows/ci.yml
Due: none

bust CI test cache
  .github/workflows/ci.yml
Due: none

Install setuptools before installing requirements in CI
  .github/workflows/ci.yml
  Makefile
Due: none

bust ci lint cache
  .github/workflows/ci.yml
Due: none

bust CI test cache (#4786)
  .github/workflows/ci.yml
Due: none

Fix compatibility
  tests/test_schema.py
Due: lint, mypy, pyupgrade

Add changes file
  changes/4781-Bobronium.md
Due: none

Properly encode model and dataclass default for schema
  pydantic/schema.py
  tests/test_schema.py
Due: lint, mypy, pyupgrade

Wrap type annotation in quotes
  pydantic/schema.py
Due: lint, mypy, pyupgrade

Remove unnecessary import
  tests/test_schema.py
Due: lint, mypy, pyupgrade

Add a blank line back
  tests/test_schema.py
Due: lint, mypy, pyupgrade

Reorder conditions
  pydantic/schema.py
Due: lint, mypy, pyupgrade

[1.10.x] Properly encode model and dataclass default for schema (#4781)
  changes/4781-Bobronium.md
  pydantic/schema.py
  tests/test_schema.py
Due: lint, mypy, pyupgrade

Remove trailing "```"
  docs/usage/schema.md
Due: none

Remove trailing "```" (#4799)
  docs/usage/schema.md
Due: none

Add newline before `Outputs:` when printing json output in docs
  docs/build/exec_examples.py
Due: lint, mypy

Path conditions:
  lint: any of: \.py$
  mypy: any of: \.py$
  pyupgrade: any of: \.py$, but not: ^docs/.*$
