Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Adding contextualized examples (#10452)
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/examples/secrets.md
  mkdocs.yml
  pydantic/types.py
Due: lint, usage_docs, typecheck

supporting patterns in protected namespaces
  pydantic/_internal/_config.py
  pydantic/_internal/_fields.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

first pass, pattern support
  pydantic/_internal/_fields.py
  pydantic/config.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

skip config test bc of odd formatting
  pydantic/config.py
Due: lint, usage_docs, typecheck

add invalid schema
  pydantic/_internal/_core_utils.py
  pydantic/json_schema.py
  tests/test_internal.py
Due: lint, usage_docs, typecheck

adding test file
  tests/mypy/outputs/1.1.1/mypy-plugin-strict-no-any_ini/dataclass_no_any.py
Due: lint, typecheck

Fix warning stacklevel in `BaseModel.__init__`
  pydantic/main.py
Due: lint, usage_docs, typecheck

👥 Update Pydantic People
  docs/plugins/people.yml
Due: none

Deployed 1faa60d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/pydantic_people/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix warning stacklevel in `BaseModel.__init__` (#10526)
  pydantic/main.py
Due: lint, usage_docs, typecheck

Deployed beda9c0 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

update announcement
  docs/theme/announce.html
Due: none

fix mypy test?
  tests/mypy/modules/dataclass_no_any.py
  tests/mypy/outputs/1.1.1/mypy-plugin-strict-no-any_ini/dataclass_no_any.py
Due: lint, typecheck

fix: Base64Bytes field doesn't raises validation error for min_length constraint
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 7cedbfb to 2.9 with MkDocs 1.6.1 and mike 2.1.3
  2.9/concepts/pydantic_settings/index.html
  2.9/search/search_index.json
  2.9/sitemap.xml
  2.9/sitemap.xml.gz
Due: none

trying simple instance check
  pydantic/types.py
Due: lint, usage_docs, typecheck

fix example
  pydantic/types.py
Due: lint, usage_docs, typecheck

warn on incompatible types
  pydantic/types.py
Due: lint, usage_docs, typecheck

add todo
  pydantic/types.py
Due: lint, usage_docs, typecheck

don't use simple bytes_schema
  pydantic/types.py
Due: lint, usage_docs, typecheck

oops, formatting
  pydantic/types.py
Due: lint, usage_docs, typecheck

revert mypy test change
  tests/mypy/modules/dataclass_no_any.py
Due: lint, typecheck

parametrize Pattern
  pydantic/_internal/_config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

fix annotation in _call_schema; update several tests
  docs/errors/usage_errors.md
  pydantic/_internal/_generate_schema.py
  tests/test_validate_call.py
Due: lint, usage_docs, typecheck

initial start on logfire integration docs
  docs/img/basic_logfire.png
  docs/img/logfire_instrument.png
  docs/img/logfire_span.png
  docs/img/samuelcolvin.jpg
  docs/img/terrencedorsey.jpg
  docs/integrations/logfire.md
  mkdocs.yml
Due: none

update error docs
  docs/errors/usage_errors.md
  pydantic/validate_call_decorator.py
  tests/test_validate_call.py
Due: lint, usage_docs, typecheck

formatting
  docs/integrations/logfire.md
Due: none

first pass at simplifying namespace management
  pydantic/_internal/_mock_val_ser.py
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

more progress
  pydantic/_internal/_mock_val_ser.py
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

sanitise module file name
  tests/conftest.py
Due: lint, typecheck

Logfire announcement and example
  docs/extra/tweaks.css
  docs/index.md
  docs/theme/announce.html
Due: none

Update tests/mypy/modules/dataclass_no_any.py
  tests/mypy/modules/dataclass_no_any.py
Due: lint, typecheck

tweak text and icon
  docs/extra/tweaks.css
  docs/index.md
  docs/theme/announce.html
Due: none

one more try at banner copy
  docs/theme/announce.html
Due: none

fix more links
  README.md
  docs/concepts/json.md
  docs/theme/announce.html
  mkdocs.yml
Due: none

update usage_erros.md
  docs/errors/usage_errors.md
Due: none
