Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Add helpful comments
  pydantic/alias_generators.py
Due: lint, usage_docs, typecheck

Update pydantic/alias_generators.py
  pydantic/alias_generators.py
Due: lint, usage_docs, typecheck

3.13 fix for eval type
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

eval type fix
  pydantic/typing.py
Due: lint, usage_docs, typecheck

⚡️ Speed up `to_snake()` by 27% in `pydantic/alias_generators.py` (#9747)
  pydantic/alias_generators.py
Due: lint, usage_docs, typecheck

Deployed 5694da3 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/config/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

we already have a downloads badge
  README.md
Due: none

Implement fail-fast feature (#9708)
  pydantic/__init__.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_std_types_schema.py
  pydantic/fields.py
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 32f4918 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/fields/index.html
  dev/api/types/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Use >= 3.13
  pydantic/typing.py
Due: lint, usage_docs, typecheck

Revert change - we already have a downloads / month badge (#9752)
  README.md
Due: none

Deployed baf4edc to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

>= condition
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

try restore 3.13 PGO builds (pydantic/pydantic-core#1346)
  .github/workflows/ci.yml
Due: none

try restore 3.13 PGO builds (#1346)
  .github/workflows/ci.yml
Due: none

Change in test from pipe operator to Optional for python<=3.9
  tests/test_types.py
Due: lint, typecheck

Eval type fix in V1 (#9751)
  pydantic/typing.py
Due: lint, usage_docs, typecheck

cherry picking fix from V1
  pydantic/v1/typing.py
Due: lint, usage_docs, typecheck

Add "DECIMAL_CONSTRAINTS" to allow field constraints on "Optional[Decimal]" (#9754)
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed f024d03 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

passing tests...
  docs/integrations/devtools.md
  pydantic/_internal/_typing_extra.py
  tests/test_computed_fields.py
  tests/test_docs.py
  tests/test_serialize.py
Due: lint, usage_docs, typecheck

more typing fixes and notes
  docs/integrations/devtools.md
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

python 3.8 friendly syntax
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

typing-extensions version stuff for 3.13
  .github/workflows/ci.yml
  pyproject.toml
Due: none

update lockfiles
  pdm.lock
  pyproject.toml
Due: none

Update pydantic/_internal/_typing_extra.py
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

dict unpacking for namespace update
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

address comments
  pydantic/_internal/_decorators.py
Due: lint, usage_docs, typecheck

remove validate-call stuff
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

validate call fixes
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

docs: add note about mypy plugin configuration for --disallow-any-explicit
  docs/integrations/mypy.md
Due: none

detailed tb
  .github/workflows/ci.yml
Due: none

temp pdm workaround
  .github/workflows/ci.yml
Due: none

docs: fix EOF newline in mypy.md
  docs/integrations/mypy.md
Due: none

Add support for 3.13 (#9743)
  .github/workflows/ci.yml
  docs/integrations/devtools.md
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
  pydantic/v1/typing.py
  pyproject.toml
  tests/test_computed_fields.py
  tests/test_docs.py
  tests/test_generics.py
  tests/test_serialize.py
Due: lint, usage_docs, typecheck

Deployed 76c191d to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/integrations/devtools/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

update pdm
  pdm.lock
Due: none

try no cache venv
  .github/workflows/ci.yml
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
