Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

prep for 2.6.2, reformatting
  HISTORY.md
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  pydantic/version.py
Due: lint, usage_docs, typecheck

Upgrade `pydantic-core` to 2.16.3 (#8879)
  pdm.lock
  pyproject.toml
Due: none

prep for 2.6.2, reformatting
  HISTORY.md
Due: none

fix number
  HISTORY.md
Due: none

fixing test
  tests/test_datetime.py
Due: lint, typecheck

Update HISTORY.md with 2.6.2 info (#8880)
  HISTORY.md
Due: none

Deployed 3c96cf9 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/changelog/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

adding note on return type checking for model validators
  docs/concepts/validators.md
Due: none

add notes about frozen=True usage for dataclass used in an annotation
  docs/concepts/types.md
Due: none

Remove `referencing`
  pdm.lock
  pyproject.toml
Due: none

Reorganize `pyproject.toml` sections
  pyproject.toml
Due: none

Add `packaging` as a dev dep.
  pdm.lock
  pyproject.toml
Due: none

Apply suggestions from code review
  docs/concepts/types.md
Due: none

Update docs/concepts/types.md
  docs/concepts/types.md
Due: none

Trimming str before parsing to int and float (#1203)
  src/input/shared.rs
  tests/validators/test_float.py
  tests/validators/test_int.py
Due: lint, typecheck

Trimming str before parsing to int and float (pydantic/pydantic-core#1203)
  src/input/shared.rs
  tests/validators/test_float.py
  tests/validators/test_int.py
Due: lint, typecheck

Weekly housekeeping with the docs (#8889)
  docs/concepts/types.md
  docs/concepts/validators.md
Due: none

Deployed b211d5b to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/types/index.html
  dev/concepts/validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

docs: match index.html CI badge to new README
  README.md
  docs/index.md
Due: none

docs: match index.html CI badge to new README (#8894)
  README.md
  docs/index.md
Due: none

Deployed 9811727 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

support Rust 1.70 as MSRV (pydantic/pydantic-core#1206)
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  Cargo.toml
  src/serializers/fields.rs
Due: none

support Rust 1.70 as MSRV (#1206)
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  Cargo.toml
  src/serializers/fields.rs
Due: none

Fix stack overflow due to recursion in some recursive serializer schemas. (pydantic/pydantic-core#1198)
  src/definitions.rs
  src/serializers/type_serializers/definitions.rs
  tests/test.rs
Due: none

Fix stack overflow due to recursion in some recursive serializer schemas. (#1198)
  src/definitions.rs
  src/serializers/type_serializers/definitions.rs
  tests/test.rs
Due: none

Revert unrelated changes
  pdm.lock
  pydantic/mypy.py
  pydantic/version.py
  pyproject.toml
  tests/mypy/test_mypy.py
Due: lint, usage_docs, typecheck

Work around `from_deprecated_decorator`, extra tests
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  tests/test_deprecated_fields.py
Due: lint, usage_docs, typecheck

Reorganize `pyproject.toml` sections
  pdm.lock
  pyproject.toml
Due: none

Reorganize `pyproject.toml` sections (#8899)
  pdm.lock
  pyproject.toml
Due: none

Deployed 752daaf to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fixgit statusgit status
  pydantic/_internal/_discriminated_union.py
Due: lint, usage_docs, typecheck

add test
  tests/test_discriminated_union.py
Due: lint, typecheck

fix for earlier python versions
  tests/test_discriminated_union.py
Due: lint, typecheck

Update pydantic-settings docs
  docs/concepts/pydantic_settings.md
Due: none
