Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

add test
  tests/test_type_adapter.py
Due: lint, typecheck

enhance omplex docs
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Ensure `__pydantic_complete__` is set when rebuilding dataclasses (#10291)
  pydantic/_internal/_dataclasses.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

Deployed 5c24abb to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/api/dataclasses/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Respect `schema_generator` config value in `TypeAdapter` (#10300)
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Update pydantic/json_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Adding missing API docs to `pydantic_core` (pydantic/pydantic-core#1420)
  python/pydantic_core/_pydantic_core.pyi
  src/input/datetime.rs
Due: none

Adding missing API docs to `pydantic_core` (#1420)
  python/pydantic_core/_pydantic_core.pyi
  src/input/datetime.rs
Due: none

Deployed 8a01cc8 to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/api/type_adapter/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Schema building: add a global type cache
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
  pydantic/types.py
Due: lint, usage_docs, typecheck

Add link for complex docs (#10301)
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Deployed 91a4993 to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/api/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

ripping out schema_generator
  pydantic/__init__.py
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/type_adapter.py
  tests/test_config.py
  tests/test_dataclasses.py
  tests/test_main.py
  tests/test_type_adapter.py
  tests/test_types_typeddict.py
Due: lint, usage_docs, typecheck

fix conftest
  tests/conftest.py
Due: lint, typecheck

remove recursive calls
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

improper docs ref anyways
  docs/concepts/json_schema.md
Due: none

add comments, better docstrings
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

add deprecated
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

json, for clarity
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/types.py
  tests/test_fastapi_json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

test: add schema generation benchmarks for models with custom serializers
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

test: add benchmark type annotations
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

fix missing imports and formating
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

test: separate benchmarks for custom field serializers
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Use a recording stack
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_schema_generation_shared.py
Due: lint, usage_docs, typecheck

Add schema generation benchmarks for models with custom serializers (#10290)
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Deployed 447879b to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

try docs update
  .github/workflows/docs-update.yml
Due: none

in ci as well
  .github/workflows/ci.yml
Due: none

pydantic-core main
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
Due: none

force reinstall
  .github/workflows/ci.yml
  .github/workflows/docs-update.yml
Due: none

lifecycle docs fix
  docs/version-policy.md
Due: none

Fix lifecycle docs formatting (#10309)
  docs/version-policy.md
Due: none

Version bump for docs update (#1438)
  Cargo.lock
  Cargo.toml
Due: none

Version bump for docs update (pydantic/pydantic-core#1438)
  Cargo.lock
  Cargo.toml
Due: none

version-bump
  CITATION.cff
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

history update
  HISTORY.md
Due: none

Deployed eecde7b to dev with MkDocs 1.6.0 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/version-policy/index.html
Due: none

Try removing flaky xfail test (pydantic/pydantic-core#1439)
  tests/validators/test_complex.py
Due: lint, typecheck
