Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

updating to pydantic-core 2.14.2
  pdm.lock
  pyproject.toml
Due: none

grr, fixing faker update again
  pdm.lock
Due: none

Removed history from pyproject
  pyproject.toml
Due: none

Added release history on readme
  README.md
Due: none

uprev to 2.24.3
  Cargo.lock
  Cargo.toml
Due: none

uprev pydantic-core to 2.14.3
  pdm.lock
  pyproject.toml
Due: none

uprev pydantic-core to 2.14.3 (#8120)
  pdm.lock
  pyproject.toml
Due: none

revert dirty-equals changes in pdm.lock
  pdm.lock
Due: none

Replace __pydantic_self__ with positional-only self
  docs/concepts/validators.md
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
  pydantic/mypy.py
  pydantic/root_model.py
  tests/test_edge_cases.py
Due: lint, usage_docs, typecheck

uprev pydantic-core to 2.14.3 (#8121)
  pdm.lock
  pyproject.toml
Due: none

fix "from_json" docs
  docs/api/pydantic_core.md
  docs/concepts/json.md
Due: none

Move the package description limit in HISTORY.md (#8097)
  HISTORY.md
Due: none

Fixes to add to `2.5.1` (#8110)
  HISTORY.md
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Prepare release 2.5.1
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

Pin dirty-equals
  pdm.lock
  pyproject.toml
Due: none

Added failing test case
  tests/test_edge_cases.py
Due: lint, typecheck

fix #7444 with implementation benchmark
  pydantic/main.py
  tests/benchmarks/basemodel_eq_performance.py
Due: lint, usage_docs, typecheck

Update pydantic/main.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

Add fast-path for common-case unequal objects
  pydantic/main.py
Due: lint, usage_docs, typecheck

Prepare release 2.5.1 (#8132)
  HISTORY.md
  pdm.lock
  pydantic/version.py
  pyproject.toml
Due: lint, usage_docs, typecheck

chore: share implementation with #7786
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_utils.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

test: fix test incorrectly checking for hash collision avoidance
  tests/test_main.py
Due: lint, typecheck

chore: clarify language for sentinel special typing construct
  pydantic/_internal/_utils.py
Due: lint, usage_docs, typecheck

bump version to alpha, remove unneeded python 3.8 check
  pydantic/version.py
Due: lint, usage_docs, typecheck

updating usage docs w new version
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

refactor: use pre 3.10 style annotations for ConfigDict
  pydantic/config.py
Due: lint, usage_docs, typecheck

fix(mypy): Classvars are ignored if untyped
  pydantic/mypy.py
Due: lint, usage_docs, typecheck

fix: make sure ConfigWrapper annotations matches with ConfigDict
  pydantic/_internal/_config.py
Due: lint, usage_docs, typecheck

Add 2.5.1 changes to HISTORY.md
  HISTORY.md
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
