Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Add example of WrapSerializer
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

Ensure recursion guard is always used as a stack (pydantic/pydantic-core#1166)
  src/recursion_guard.rs
  src/serializers/extra.rs
  src/serializers/infer.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/definitions.rs
  src/validators/definitions.rs
  src/validators/generator.rs
  src/validators/mod.rs
  src/validators/validation_state.rs
Due: none

Ensure recursion guard is always used as a stack (#1166)
  src/recursion_guard.rs
  src/serializers/extra.rs
  src/serializers/infer.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/definitions.rs
  src/validators/definitions.rs
  src/validators/generator.rs
  src/validators/mod.rs
  src/validators/validation_state.rs
Due: none

Uprev core to 2.16.1 (#1167)
  Cargo.lock
  Cargo.toml
Due: none

Uprev core to 2.16.1 (pydantic/pydantic-core#1167)
  Cargo.lock
  Cargo.toml
Due: none

new pydantic core vers
  pdm.lock
  pyproject.toml
Due: none

Bump `pydantic-core` to 2.16.1, various other bumps (#8578)
  pdm.lock
  pyproject.toml
Due: none

Fix ordering bug of PlainValidator annotation #8512 (#8567)
  pydantic/functional_validators.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

Deployed 48d0df4 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/functional_validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add support for dataclass fields init (#8552)
  docs/concepts/fields.md
  docs/errors/usage_errors.md
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_signature.py
  pydantic/errors.py
  pydantic/fields.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

Deployed a2a4281 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/errors/index.html
  dev/api/fields/index.html
  dev/concepts/fields/index.html
  dev/errors/usage_errors/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

fix url fragment processing
  docs/extra/redirects.js
Due: none

helpful note
  docs/extra/redirects.js
Due: none

prep for next release
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

Minor tweak to V1 docs url fix (#8587)
  docs/extra/redirects.js
Due: none

Prep for 1.10.14 release (#8588)
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

update version, v1
  pydantic/v1/class_validators.py
  pydantic/v1/dataclasses.py
  pydantic/v1/error_wrappers.py
  pydantic/v1/fields.py
  pydantic/v1/main.py
  pydantic/v1/schema.py
  pydantic/v1/types.py
  pydantic/v1/version.py
  pydantic/version.py
Due: lint, usage_docs, typecheck

first pass at history for release
  HISTORY.md
Due: none

Add performance improvements from `jiter`
  HISTORY.md
Due: none

Prep for 2.6.0b1 Release (#8589)
  HISTORY.md
  pydantic/v1/class_validators.py
  pydantic/v1/dataclasses.py
  pydantic/v1/error_wrappers.py
  pydantic/v1/fields.py
  pydantic/v1/main.py
  pydantic/v1/schema.py
  pydantic/v1/types.py
  pydantic/v1/version.py
  pydantic/version.py
Due: lint, usage_docs, typecheck

[8271]fix: add unit test
  tests/test_discriminated_union.py
Due: lint, typecheck

[8271]fix: fix StrEnum issue
  tests/test_discriminated_union.py
Due: lint, typecheck

[8271]fix: fix test
  tests/test_discriminated_union.py
Due: lint, typecheck

[8271]fix: add return type
  tests/test_discriminated_union.py
Due: lint, typecheck

[8271]fix: fix member type
  tests/test_discriminated_union.py
Due: lint, typecheck

Redesign example of WrapSerializer
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

minor modification of example intro
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

Add examples for `functional_serializers` in API docs (#8546)
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

Deployed 5d6840f to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/functional_serializers/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Tweak ordering of definitions in generated schemas (#8583)
  pydantic/_internal/_generate_schema.py
  tests/test_discriminated_union.py
Due: lint, usage_docs, typecheck

Deployed b2aa36a to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

remove `AsLocItem` trait (pydantic/pydantic-core#1169)
  src/errors/line_error.rs
  src/errors/location.rs
  src/errors/mod.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/arguments.rs
  src/validators/call.rs
  src/validators/dataclass.rs
  src/validators/dict.rs
  src/validators/function.rs
  src/validators/model_fields.rs
  src/validators/tuple.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
  src/validators/with_default.rs
Due: none

remove `AsLocItem` trait (#1169)
  src/errors/line_error.rs
  src/errors/location.rs
  src/errors/mod.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/arguments.rs
  src/validators/call.rs
  src/validators/dataclass.rs
  src/validators/dict.rs
  src/validators/function.rs
  src/validators/model_fields.rs
  src/validators/tuple.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
  src/validators/with_default.rs
Due: none

fix: 8405 pattern serialization (pydantic/pydantic-core#1168)
  src/serializers/infer.rs
  src/serializers/ob_type.rs
  tests/serializers/test_any.py
Due: lint, typecheck
