Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-python, lint-rust, mypy, build

lint-python:
  name: Lint Python
  entry: make lint-python
  language: system

lint-rust:
  name: Lint Rust
  entry: make lint-rust
  language: system

mypy:
  name: Mypy
  entry: make mypy
  language: system

build:
  name: Build
  entry: make build-dev
  language: system

tweak makefile
  Makefile
Due: none

Direct json (#15)
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  benchmarks/minimal.py
  benchmarks/run.py
  demo.py
  pydantic_core/_pydantic_core.pyi
  src/errors/kinds.rs
  src/errors/line_error.rs
  src/errors/mod.rs
  src/input/json.rs
  src/input/mod.rs
  src/input/python.rs
  src/input/shared.rs
  src/input/traits.rs
  src/lib.rs
  src/standalone_validators.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/none.rs
  src/validators/string.rs
  tests/test_functions.py
  tests/test_json.py
  tests/test_main.py
  tests/test_model.py
Due: lint-python, lint-rust, mypy, build

Direct json (pydantic/pydantic-core#15)
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  benchmarks/minimal.py
  benchmarks/run.py
  demo.py
  pydantic_core/_pydantic_core.pyi
  src/errors/kinds.rs
  src/errors/line_error.rs
  src/errors/mod.rs
  src/input/json.rs
  src/input/mod.rs
  src/input/python.rs
  src/input/shared.rs
  src/input/traits.rs
  src/lib.rs
  src/standalone_validators.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/none.rs
  src/validators/string.rs
  tests/test_functions.py
  tests/test_json.py
  tests/test_main.py
  tests/test_model.py
Due: lint-python, lint-rust, mypy, build

improving coverage from string validation
  Makefile
  src/build_macros.rs
  src/input/json.rs
  src/input/python.rs
  src/lib.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/string.rs
  tests/test_json.py
  tests/test_main.py
Due: lint-python, lint-rust, mypy, build

cleanup and improve benchmarks
  benchmarks/run.py
  src/errors/mod.rs
  src/input/json.rs
  src/input/mod.rs
  src/input/python.rs
  src/input/traits.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/none.rs
Due: lint-python, lint-rust, mypy, build

implement model-class type (pydantic/pydantic-core#16)
  benchmarks/run.py
  src/build_macros.rs
  src/validators/function.rs
  src/validators/mod.rs
  src/validators/model_create.rs
  tests/test_model.py
Due: lint-python, lint-rust, mypy, build

implement model-class type (#16)
  benchmarks/run.py
  src/build_macros.rs
  src/validators/function.rs
  src/validators/mod.rs
  src/validators/model_create.rs
  tests/test_model.py
Due: lint-python, lint-rust, mypy, build

improve model-class to support instance of models
  pydantic_core/_pydantic_core.pyi
  src/errors/kinds.rs
  src/input/json.rs
  src/input/python.rs
  src/input/traits.rs
  src/validators/dict.rs
  src/validators/model.rs
  src/validators/model_create.rs
  tests/test_compound_types.py
  tests/test_model.py
Due: lint-python, lint-rust, mypy, build

improving pretty printing of errors (pydantic/pydantic-core#22)
  README.md
  demo.py
  src/errors/line_error.rs
  src/errors/mod.rs
  src/errors/validation_exception.rs
  tests/test_json.py
  tests/test_main.py
  tests/test_model.py
Due: lint-python, lint-rust, mypy, build

improving pretty printing of errors (#22)
  README.md
  demo.py
  src/errors/line_error.rs
  src/errors/mod.rs
  src/errors/validation_exception.rs
  tests/test_json.py
  tests/test_main.py
  tests/test_model.py
Due: lint-python, lint-rust, mypy, build

extend readme
  README.md
Due: none

Tweak readme
  README.md
Due: none

improve str_as_bool
  Cargo.lock
  Cargo.toml
  benchmarks/run.py
  src/input/shared.rs
  src/lib.rs
Due: lint-python, lint-rust, mypy, build

Strict (pydantic/pydantic-core#26)
  src/build_macros.rs
  src/errors/kinds.rs
  src/input/json.rs
  src/input/python.rs
  src/input/traits.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/model_create.rs
  src/validators/none.rs
  src/validators/string.rs
  tests/test_build.py
  tests/test_compound_types.py
  tests/test_functions.py
  tests/test_main.py
  tests/test_model.py
Due: lint-python, lint-rust, mypy, build

Strict (#26)
  src/build_macros.rs
  src/errors/kinds.rs
  src/input/json.rs
  src/input/python.rs
  src/input/traits.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/model_create.rs
  src/validators/none.rs
  src/validators/string.rs
  tests/test_build.py
  tests/test_compound_types.py
  tests/test_functions.py
  tests/test_main.py
  tests/test_model.py
Due: lint-python, lint-rust, mypy, build

Union (pydantic/pydantic-core#23)
  .github/workflows/ci.yml
  Makefile
  src/errors/kinds.rs
  src/lib.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/model_class.rs
  src/validators/none.rs
  src/validators/string.rs
  src/validators/union.rs
  tests/test_main.py
  tests/test_union.py
Due: lint-python, lint-rust, mypy, build

Union (#23)
  .github/workflows/ci.yml
  Makefile
  src/errors/kinds.rs
  src/lib.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/model_class.rs
  src/validators/none.rs
  src/validators/string.rs
  src/validators/union.rs
  tests/test_main.py
  tests/test_union.py
Due: lint-python, lint-rust, mypy, build

Make errors lazier (pydantic/pydantic-core#27)
  Makefile
  src/errors/kinds.rs
  src/errors/line_error.rs
  src/errors/mod.rs
  src/errors/val_error.rs
  src/errors/validation_exception.rs
  src/input/json.rs
  src/input/python.rs
  src/input/shared.rs
  src/input/traits.rs
  src/lib.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/model_class.rs
  src/validators/none.rs
  src/validators/string.rs
  src/validators/union.rs
  tests/rust_coverage_export.sh
  tests/rust_coverage_html.sh
  tests/test_compound_types.py
  tests/test_functions.py
  tests/test_main.py
Due: lint-python, lint-rust, mypy, build

Make errors lazier (#27)
  Makefile
  src/errors/kinds.rs
  src/errors/line_error.rs
  src/errors/mod.rs
  src/errors/val_error.rs
  src/errors/validation_exception.rs
  src/input/json.rs
  src/input/python.rs
  src/input/shared.rs
  src/input/traits.rs
  src/lib.rs
  src/validators/bool.rs
  src/validators/dict.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/int.rs
  src/validators/list.rs
  src/validators/mod.rs
  src/validators/model.rs
  src/validators/model_class.rs
  src/validators/none.rs
  src/validators/string.rs
  src/validators/union.rs
  tests/rust_coverage_export.sh
  tests/rust_coverage_html.sh
  tests/test_compound_types.py
  tests/test_functions.py
  tests/test_main.py
Due: lint-python, lint-rust, mypy, build

✨ Adds dataclass_transform to dataclasses
  pydantic/dataclasses.py
Due: lint-python, mypy

Path conditions:
  lint-python: any of: \.py$
  lint-rust: any of: \.rs$
  mypy: any of: \.py$
  build: any of: \.rs$
