Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Deployed d183bf5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Properly enforce `host_required` for URLs (#1488)
  .github/workflows/codspeed.yml
  src/validators/url.rs
  tests/validators/test_url.py
Due: lint, typecheck

Properly enforce `host_required` for URLs (pydantic/pydantic-core#1488)
  .github/workflows/codspeed.yml
  src/validators/url.rs
  tests/validators/test_url.py
Due: lint, typecheck

Fix `mypy` typechecking integration tests flakyness
  .github/workflows/ci.yml
Due: none

Update to latest mypy
  pdm.lock
  pyproject.toml
Due: none

Enable `mypy` type checking integration tests in CI (#10671)
  .github/workflows/ci.yml
  pdm.lock
  pyproject.toml
Due: none

Deployed 6681c00 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Apply suggestions from code review
  docs/errors/usage_errors.md
  pydantic/_internal/_core_utils.py
Due: lint, usage_docs, typecheck

apply suggestions
  docs/errors/usage_errors.md
  tests/test_type_alias_type.py
Due: lint, typecheck

first step, removing CoreMetadataHandler construct - type checking value is overridden by introduced complexity and overhead
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_fastapi_json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

remove reliance on build_metadata_dict
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
  pydantic/functional_validators.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

standardizing dict updates and json schema extra
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Mark mypy integration tests as flaky again
  .github/workflows/ci.yml
  tests/typechecking/decorators.py
Due: lint, typecheck

Update tests/typechecking/decorators.py
  tests/typechecking/decorators.py
Due: lint, typecheck

Mark mypy integration tests as flaky again in CI (#10677)
  .github/workflows/ci.yml
Due: none

Deployed e7cfe9e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Improve str description and add references
  docs/api/standard_library_types.md
Due: none

add union to strict constraints
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

Update docs/api/standard_library_types.md
  docs/api/standard_library_types.md
Due: none

Improve string types documentation and add references (#10676)
  docs/api/standard_library_types.md
Due: none

Deployed bdb04ac to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/standard_library_types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

docs
  docs/concepts/models.md
Due: none

more testing
  tests/test_generics.py
Due: lint, typecheck

removing as much json schema logic as possible from _generate_schema.py and migrating to json_schema.py
  docs/concepts/json_schema.md
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/json_schema.py
  tests/test_json_schema.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

minor docs fixes + revert enum change to fix tests
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Improve dataclasses documentation
  docs/concepts/dataclasses.md
  docs/concepts/models.md
  docs/concepts/validators.md
Due: none

Add some casting + standardize update methods so that CoreMetadata offers some typing support - to be improved with migration to pydantic-core
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

remove deprecated internal function
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Fix issue where you can't make a field required while merging field infos
  pydantic/fields.py
  tests/test_fields.py
Due: lint, usage_docs, typecheck

Add documentation
  docs/concepts/fields.md
Due: none

Support default factories taking validated data as an argument
  pdm.lock
  pydantic/_internal/_decorators.py
  pydantic/_internal/_decorators_v1.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_utils.py
  pydantic/fields.py
  pydantic/main.py
  pyproject.toml
  tests/test_main.py
Due: lint, usage_docs, typecheck

Support revalidation of parametrized generics (#1489)
  python/pydantic_core/core_schema.py
  src/validators/dataclass.rs
  src/validators/model.rs
Due: lint, typecheck

Support revalidation of parametrized generics (pydantic/pydantic-core#1489)
  python/pydantic_core/core_schema.py
  src/validators/dataclass.rs
  src/validators/model.rs
Due: lint, typecheck

bump typing-extensions
  .github/workflows/ci.yml
  pdm.lock
  pyproject.toml
Due: none

Support default factories taking validated data as an argument (pydantic/pydantic-core#1491)
  python/pydantic_core/core_schema.py
  src/serializers/type_serializers/with_default.rs
  src/validators/with_default.rs
  tests/validators/test_with_default.py
Due: lint, typecheck

Support default factories taking validated data as an argument (#1491)
  python/pydantic_core/core_schema.py
  src/serializers/type_serializers/with_default.rs
  src/validators/with_default.rs
  tests/validators/test_with_default.py
Due: lint, typecheck

Bump version to v2.25.0 (pydantic/pydantic-core#1492)
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
