Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Deployed 77b0e1c to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

adds xfail
  tests/test_discriminated_union.py
Due: lint, typecheck

Fixes loss when serializing, but haven't gotten to deserializing yet
  pydantic/_internal/_std_types_schema.py
  tests/test_json.py
Due: lint, usage_docs, typecheck

Create new test cases for decimal parsing
  tests/test_decimal.py
Due: lint, typecheck

Parse decimals in json
  tests/test_json.py
Due: lint, typecheck

chore: run `ruff check` explicitly
  Makefile
Due: none

[docs] add blank line
  docs/concepts/strict_mode.md
Due: none

Fix bullets in Strict Mode docs (#9296)
  docs/concepts/strict_mode.md
Due: none

Deployed a0f18e3 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/strict_mode/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Implement deprecated class support in json schema generation
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

fix interaction between `extra != 'ignore'` and `from_attributes=True` (#1275)
  src/input/input_python.rs
  src/validators/typed_dict.rs
  tests/validators/test_model.py
Due: lint, typecheck

fix interaction between `extra != 'ignore'` and `from_attributes=True` (pydantic/pydantic-core#1275)
  src/input/input_python.rs
  src/validators/typed_dict.rs
  tests/validators/test_model.py
Due: lint, typecheck

Fix model json schema with config types (#9287)
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Handle error from `Enum`'s `missing` function as `ValidationError` (pydantic/pydantic-core#1274)
  src/validators/enum_.rs
  tests/validators/test_enums.py
Due: lint, typecheck

Handle error from `Enum`'s `missing` function as `ValidationError` (#1274)
  src/validators/enum_.rs
  tests/validators/test_enums.py
Due: lint, typecheck

Deployed 82e4664 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Move TODO regarding pickling to markdown
  docs/concepts/serialization.md
Due: none

fix memory leak with iterable validation (pydantic/pydantic-core#1271)
  src/input/return_enums.rs
  src/validators/generator.rs
  tests/test_garbage_collection.py
Due: lint, typecheck

fix memory leak with iterable validation (#1271)
  src/input/return_enums.rs
  src/validators/generator.rs
  tests/test_garbage_collection.py
Due: lint, typecheck

version bump (pydantic/pydantic-core#1277)
  Cargo.lock
  Cargo.toml
Due: none

version bump (#1277)
  Cargo.lock
  Cargo.toml
Due: none

fix outputted Model Schema for Sequence type
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

add tests for model json schema from sequence with min/max length
  tests/test_json_schema.py
Due: lint, typecheck

Change CI to use `macos-13` for Python 3.8 and 3.9
  .github/workflows/ci.yml
Due: none

Change CI to use `macos-13` for Python 3.8 and 3.9 (#9305)
  .github/workflows/ci.yml
Due: none

Deployed c33b925 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

adds test case for unexpected discriminated union behavior (#9236)
  tests/test_discriminated_union.py
Due: lint, typecheck

add extra metadata for sequence handling
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Move TODO regarding pickling to markdown (#9288)
  docs/concepts/serialization.md
Due: none

utilize metadata info for easier handling sequence fields
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, usage_docs, typecheck

Deployed 73d1049 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

core bump
  pdm.lock
  pyproject.toml
Due: none

patch version bump
  pydantic/version.py
Due: lint, usage_docs, typecheck

update history
  HISTORY.md
Due: none

update PR number
  HISTORY.md
Due: none

2.7.1 release prep (#9307)
  HISTORY.md
  pdm.lock
  pydantic/version.py
  pyproject.toml
Due: lint, usage_docs, typecheck
