Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

pdm lock
  pdm.lock
Due: none

first pass at removing experimental setting
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/type_adapter.py
  tests/test_config.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Fixing `annotated-types` bound (#10327)
  pdm.lock
  pyproject.toml
Due: none

Deployed 852736c to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

fix test
  pydantic/type_adapter.py
  tests/test_config.py
Due: lint, usage_docs, typecheck

add docs
  docs/api/standard_library_types.md
Due: none

example of what doesn't work
  tests/test_edge_cases.py
Due: lint, typecheck

Turn `tzdata` install requirement into optional `timezone` dependency
  .github/workflows/ci.yml
  .hyperlint/styles/config/vocabularies/hyperlint/accept.txt
  docs/install.md
  pdm.lock
  pyproject.toml
Due: none

Improve test_valid_complex_string_with_space() xfail condition (pydantic/pydantic-core#1441)
  tests/validators/test_complex.py
Due: lint, typecheck

Improve test_valid_complex_string_with_space() xfail condition (#1441)
  tests/validators/test_complex.py
Due: lint, typecheck

Support `Hashable` for json validation (#10324)
  docs/api/standard_library_types.md
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
Due: lint, usage_docs, typecheck

Turn `tzdata` install requirement into optional `timezone` dependency (#10331)
  .github/workflows/ci.yml
  .hyperlint/styles/config/vocabularies/hyperlint/accept.txt
  docs/install.md
  pdm.lock
  pyproject.toml
Due: none

Deployed 0fdf06f to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/standard_library_types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed 97d357f to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/install/index.html
  dev/search/search_index.json
Due: none

Update test_config.py
  tests/test_config.py
Due: lint, typecheck

Use correct types namespace when building namedtuple core schemas
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Fix tagged union serialization warning when using aliases (pydantic/pydantic-core#1442)
  src/lookup_key.rs
  src/serializers/type_serializers/union.rs
  tests/serializers/test_union.py
Due: lint, typecheck

Fix tagged union serialization warning when using aliases (#1442)
  src/lookup_key.rs
  src/serializers/type_serializers/union.rs
  tests/serializers/test_union.py
Due: lint, typecheck

Add test
  tests/test_types_namedtuple.py
Due: lint, typecheck

Apply suggestions from code review
  tests/test_config.py
Due: lint, typecheck

Use correct types namespace when building namedtuple core schemas (#10337)
  pydantic/_internal/_generate_schema.py
  tests/test_types_namedtuple.py
Due: lint, usage_docs, typecheck

Deployed c452c7e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Simplify unions involving `Any` or `Never` when replacing type variables
  pydantic/_internal/_generics.py
  tests/test_generics.py
Due: lint, usage_docs, typecheck

Condense benchmarks
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Cleanly `defer_build` on `TypeAdapters`, removing experimental flag (#10329)
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/type_adapter.py
  tests/test_config.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Deployed e060425 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/config/index.html
  dev/api/type_adapter/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
Due: none

Fix `IncEx` type alias definition
  pydantic/main.py
Due: lint, usage_docs, typecheck

first pass
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

Fix `_IncEx` type annotation (#1443)
  python/pydantic_core/_pydantic_core.pyi
Due: none

Fix `_IncEx` type annotation (pydantic/pydantic-core#1443)
  python/pydantic_core/_pydantic_core.pyi
Due: none

Bump version to v2.23.3 (pydantic/pydantic-core#1444)
  Cargo.lock
  Cargo.toml
Due: none

Bump version to v2.23.3 (#1444)
  Cargo.lock
  Cargo.toml
Due: none

bump core version
  pyproject.toml
Due: none

update pydantic-core
  pdm.lock
Due: none

Fix evaluation of stringified annotations during namespace inspection
  pydantic/_internal/_model_construction.py
  tests/test_forward_ref.py
Due: lint, usage_docs, typecheck

Fixes
  pydantic/main.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
