Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

remove console log
  docs/extra/feedback.js
Due: none

Samuel's suggestion :)
  docs/extra/feedback.js
Due: none

WIP: add feedback widget to docs with flarelytics integration (#9129)
  docs/extra/feedback.js
  mkdocs.yml
Due: none

Init private attributes from supertypes in `model_post_init`
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Init private attributes from supertypes in `model_post_init` (#9134)
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Deployed 8128821 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Ensure json schema generator handles Literal null types
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Update tests
  tests/test_json_schema.py
  tests/test_types.py
Due: lint, typecheck

Linting
  tests/test_json_schema.py
  tests/test_types.py
Due: lint, typecheck

Add support for field level number to str coercion option
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/fields.py
  tests/test_fields.py
Due: lint, usage_docs, typecheck

Update docstring
  pydantic/fields.py
Due: lint, usage_docs, typecheck

👥 Update Pydantic People
  docs/plugins/people.yml
Due: none

BaseModel/TypeAdapter dump/dump_json : update 'warnings' parameter: https://github.com/pydantic/pydantic/issues/8978
  pydantic/main.py
  pydantic/root_model.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

fix model_construct with validation_alias
  pydantic/main.py
  tests/test_construction.py
Due: lint, usage_docs, typecheck

Do not expose MockValSer from TypeAdapter. Simplify frame depth handling. Add more missing tests.
  pydantic/_internal/_mock_val_ser.py
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

fix `model_construct` with `validation_alias` (#9144)
  pydantic/main.py
  tests/test_construction.py
Due: lint, usage_docs, typecheck

Deployed fc0cb91 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

meaningless docs change to kickstart ci
  docs/pydantic_people.md
Due: none

Ensure json-schema generator handles Literal Null types (#9135)
  pydantic/json_schema.py
  tests/test_json_schema.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed 00b4b4f to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Deployed 0a84be2 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Deployed 02ee0f9 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/pydantic_people/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

fix build warnings on python <3.11 (pydantic/pydantic-core#1259)
  src/errors/validation_exception.rs
Due: none

fix build warnings on python <3.11 (#1259)
  src/errors/validation_exception.rs
Due: none

fix + test
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Fixes for `ser_json_inf_nan` inference (#1251)
  src/serializers/infer.rs
  tests/serializers/test_any.py
Due: lint, typecheck

Fixes for `ser_json_inf_nan` inference (pydantic/pydantic-core#1251)
  src/serializers/infer.rs
  tests/serializers/test_any.py
Due: lint, typecheck

Adopt jiter `0.2.0` (pydantic/pydantic-core#1250)
  Cargo.lock
  Cargo.toml
  src/input/return_enums.rs
  src/input/shared.rs
  src/tools.rs
  src/validators/validation_state.rs
Due: none

Adopt jiter `0.2.0` (#1250)
  Cargo.lock
  Cargo.toml
  src/input/return_enums.rs
  src/input/shared.rs
  src/tools.rs
  src/validators/validation_state.rs
Due: none

update to PyO3 0.21.1, bump version to 2.18 (pydantic/pydantic-core#1261)
  Cargo.lock
  Cargo.toml
Due: none

update to PyO3 0.21.1, bump version to 2.18 (#1261)
  Cargo.lock
  Cargo.toml
Due: none

uprev core
  pdm.lock
  pyproject.toml
Due: none

update lockfile
  pdm.lock
Due: none

Uprev `pydantic-core` (#9153)
  pdm.lock
  pyproject.toml
Due: none
