Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

add docstring
  pydantic/types.py
Due: lint, usage_docs, typecheck

add comment
  pydantic/types.py
Due: lint, usage_docs, typecheck

revert lockfile
  pdm.lock
Due: none

add link
  pydantic/types.py
Due: lint, usage_docs, typecheck

fix typing
  tests/test_types.py
Due: lint, typecheck

Add types.OnErrorOmit (#8222)
  pydantic/__init__.py
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed afa3d4c to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/types/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Update strict docstring in model_validate method.
  pydantic/main.py
Due: lint, usage_docs, typecheck

Update `_redirects` fix 404
  _redirects
Due: none

fix general 404 page
  _redirects
Due: none

redirect instead of 404 for other paths
  _redirects
Due: none

fix breakage
  _redirects
Due: none

base 404.html
  404.html
Due: none

redirect from some 404s
  _redirects
Due: none

Fix overload position of `computed_field`
  pydantic/fields.py
Due: lint, usage_docs, typecheck

Update `strict` docstring in `model_validate` method (#8223)
  pydantic/main.py
Due: lint, usage_docs, typecheck

Fix overload position of `computed_field` (#8227)
  pydantic/fields.py
Due: lint, usage_docs, typecheck

Deployed 0c964d7 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

adding json_schema_extra docs
  docs/concepts/fields.md
  docs/concepts/json_schema.md
  pdm.lock
  pydantic/fields.py
Due: lint, usage_docs, typecheck

incorporating samuel's feedback
  docs/concepts/json_schema.md
Due: none

the last of the feedback
  docs/concepts/json_schema.md
Due: none

Update docs for integrations/datamodel_code_generator
  docs/integrations/datamodel_code_generator.md
Due: none

support newest jiter behaviour (#1092)
  Cargo.lock
  Cargo.toml
  python/pydantic_core/_pydantic_core.pyi
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/shared.rs
  src/lib.rs
  src/validators/json.rs
  src/validators/mod.rs
  tests/validators/test_json.py
Due: lint, typecheck

support newest jiter behaviour (pydantic/pydantic-core#1092)
  Cargo.lock
  Cargo.toml
  python/pydantic_core/_pydantic_core.pyi
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/shared.rs
  src/lib.rs
  src/validators/json.rs
  src/validators/mod.rs
  tests/validators/test_json.py
Due: lint, typecheck

Fix for datamodel-code-generator docs
  docs/integrations/datamodel_code_generator.md
Due: none

Update docs for integrations/datamodel_code_generator (#8231)
  docs/integrations/datamodel_code_generator.md
Due: none

Deployed 7f03cfc to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/integrations/datamodel_code_generator/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

adding output='json' to a few examples, using json.dumps accordingly
  docs/concepts/json_schema.md
Due: none

moving down section about core schema customization due to lack of significance / not a lot of relevance
  docs/concepts/json_schema.md
Due: none

fixing minor black test with docs
  docs/concepts/json_schema.md
Due: none

updating docs with more JSON Schema info (#8171)
  docs/concepts/fields.md
  docs/concepts/json_schema.md
  pdm.lock
  pydantic/fields.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Deployed 22e6444 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/fields/index.html
  dev/api/json_schema/index.html
  dev/concepts/fields/index.html
  dev/concepts/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Update pydantic/networks.py with more simple version check
  pydantic/networks.py
Due: lint, usage_docs, typecheck

using staticmethods where classmethods aren't needed - we don't subclass FieldInfo
  pydantic/fields.py
Due: lint, usage_docs, typecheck

a bit of cleanup with the recent classvar support addition
  pydantic/mypy.py
Due: lint, usage_docs, typecheck

refactoring to signature generation logic
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_signature.py
Due: lint, usage_docs, typecheck

fixing imports in new file
  pydantic/_internal/_signature.py
Due: lint, usage_docs, typecheck

renaming signature file to be more descriptive
  pydantic/_internal/_constructor_signature_generators.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

Minor refactoring -- no behavioral changes (#8236)
  pydantic/_internal/_constructor_signature_generators.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/fields.py
  pydantic/mypy.py
Due: lint, usage_docs, typecheck
