Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Attempt to fix linting error I introduced
  tests/test_create_model.py
Due: lint, typecheck

Allow running test_plugins directly in isolation
  tests/test_plugins.py
Due: lint, typecheck

Update create_model() to support typing.Annotated as input (#8947)
  docs/errors/usage_errors.md
  pydantic/main.py
  tests/test_create_model.py
Due: lint, usage_docs, typecheck

Deployed 26a2f06 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/errors/usage_errors/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Ignore irrelevant warnings triggered by tests to fix pytest-8
  tests/test_validators.py
Due: lint, typecheck

Remove unnecessary warning for config in plugin
  pydantic/mypy.py
  tests/mypy/modules/config_conditional_extra.py
  tests/mypy/test_mypy.py
Due: lint, usage_docs, typecheck

Replace deprecated PYDANTIC_ERRORS_OMIT_URL in conftest
  tests/conftest.py
Due: lint, typecheck

Modify parse_raw() and parse_file() not to emit spurious warnings
  pydantic/main.py
Due: lint, usage_docs, typecheck

Update tests
  pydantic/mypy.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/1.2.0/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.2.0/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.2.0/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.2.0/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/1.4.1/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.4.1/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.4.1/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.4.1/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/test_mypy.py
Due: lint, usage_docs, typecheck

New plugin API WIP
  pydantic/plugin/__init__.py
  pydantic/plugin/_schema_validator.py
Due: lint, usage_docs, typecheck

Remove unnecessary warning for config in plugin (#9039)
  pydantic/mypy.py
  tests/mypy/modules/config_conditional_extra.py
  tests/mypy/modules/plugin_fail.py
  tests/mypy/outputs/1.0.1/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.0.1/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.0.1/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/1.2.0/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.2.0/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.2.0/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.2.0/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/outputs/1.4.1/mypy-plugin-strict_ini/plugin_fail.py
  tests/mypy/outputs/1.4.1/mypy-plugin_ini/plugin_fail.py
  tests/mypy/outputs/1.4.1/pyproject-plugin-strict_toml/plugin_fail.py
  tests/mypy/outputs/1.4.1/pyproject-plugin_toml/plugin_fail.py
  tests/mypy/test_mypy.py
Due: lint, usage_docs, typecheck

Deployed 09f4456 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix json serialization when computed field is excluded (pydantic/pydantic-core#1228)
  src/serializers/computed_fields.rs
Due: none

Fix json serialization when computed field is excluded (#1228)
  src/serializers/computed_fields.rs
Due: none

Fix test_json_schema double warning failure with pytest-8
  tests/test_json_schema.py
Due: lint, typecheck

Add support for other nested types: TypedDict, NamedTuple, dataclasses
  pydantic/_internal/_generate_schema.py
  tests/test_types_self.py
Due: lint, usage_docs, typecheck

attempt to fix backwards incompatible test annotation
  tests/test_types_self.py
Due: lint, typecheck

attempt 2 to fix backwards incompatible test annotation
  tests/test_types_self.py
Due: lint, typecheck

add v1 namespace
  pydantic/v1.py
Due: lint, usage_docs, typecheck

minimal import test
  tests/test_v1.py
Due: lint, typecheck

Enum validator improvements
  pydantic/_internal/_std_types_schema.py
Due: lint, usage_docs, typecheck

cleanup
  pdm.lock
  pydantic/_internal/_std_types_schema.py
Due: lint, usage_docs, typecheck

move list validation to produce an associated type (pydantic/pydantic-core#1230)
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/validators/list.rs
Due: none

move list validation to produce an associated type (#1230)
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/validators/list.rs
Due: none

remove `with_new_extra` (pydantic/pydantic-core#1233)
  src/recursion_guard.rs
  src/validators/dataclass.rs
  src/validators/mod.rs
  src/validators/model_fields.rs
  src/validators/typed_dict.rs
  src/validators/validation_state.rs
Due: none

remove `with_new_extra` (#1233)
  src/recursion_guard.rs
  src/validators/dataclass.rs
  src/validators/mod.rs
  src/validators/model_fields.rs
  src/validators/typed_dict.rs
  src/validators/validation_state.rs
Due: none

add xfail test
  tests/test_computed_fields.py
Due: lint, typecheck

trying skip instead of xfail
  tests/test_computed_fields.py
Due: lint, typecheck

Adding test for recursive model dump issue fixed in `pydantic-core` (#9050)
  tests/test_computed_fields.py
Due: lint, typecheck

Deployed 243b8da to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Enum validator improvements (#9045)
  pydantic/_internal/_std_types_schema.py
Due: lint, usage_docs, typecheck

Deployed b0dfc54 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

associated types for arguments in Input (pydantic/pydantic-core#1234)
  Cargo.toml
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/validators/arguments.rs
  src/validators/dataclass.rs
Due: none
