Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Add pipeline test file
  tests/pyright/pipeline_api.py
  tests/pyright/pyproject.toml
Due: lint, typecheck

pr feedback and fixes
  pydantic/experimental/pipeline.py
  pydantic/functional_validators.py
  pyproject.toml
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

document
  pydantic/type_adapter.py
  tests/pyright/pyright_example.py
Due: lint, usage_docs, typecheck

add note
  tests/pyright/pyright_example.py
Due: lint, typecheck

add strict mode
  tests/pyright/pyproject.toml
Due: none

Fix typing for 3.8
  tests/test_pipeline.py
Due: lint, typecheck

alias precedence docs update
  docs/concepts/fields.md
Due: none

Docs update -- alias precedence (#9684)
  docs/concepts/fields.md
Due: none

Deployed 8bcc900 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/fields/index.html
  dev/concepts/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

setup: remove upper bound from python_requires
  setup.py
Due: lint, typecheck

Bump pyright to 1.1.367 and add type checking tests for pipeline API (#9674)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pydantic/experimental/pipeline.py
  pyproject.toml
  tests/pyright/pipeline_api.py
  tests/pyright/pyproject.toml
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

Mirrored modules in `v1` namespace to fix typing and object resolution in python>3.11 (#9660)
  pydantic/v1.py
  pydantic/v1/__init__.py
  pydantic/v1/_hypothesis_plugin.py
  pydantic/v1/annotated_types.py
  pydantic/v1/class_validators.py
  pydantic/v1/color.py
  pydantic/v1/config.py
  pydantic/v1/dataclasses.py
  pydantic/v1/datetime_parse.py
  pydantic/v1/decorator.py
  pydantic/v1/env_settings.py
  pydantic/v1/error_wrappers.py
  pydantic/v1/errors.py
  pydantic/v1/fields.py
  pydantic/v1/generics.py
  pydantic/v1/json.py
  pydantic/v1/main.py
  pydantic/v1/mypy.py
  pydantic/v1/networks.py
  pydantic/v1/parse.py
  pydantic/v1/schema.py
  pydantic/v1/tools.py
  pydantic/v1/types.py
  pydantic/v1/typing.py
  pydantic/v1/utils.py
  pydantic/v1/validators.py
  pydantic/v1/version.py
  setup.py
  tests/test_v1.py
Due: lint, usage_docs, typecheck

Deployed 9dac684 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/experimental/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

setup: remove upper bound from python_requires (#9685)
  setup.py
Due: lint, typecheck

⚡️ Speed up `_display_error_loc()` by 25% in `pydantic/v1/error_wrappers.py` (#9653)
  pydantic/v1/error_wrappers.py
Due: lint, usage_docs, typecheck

Deployed 478ed07 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

docs update
  docs/concepts/models.md
Due: none

Docs update for dynamic models (#9695)
  docs/concepts/models.md
Due: none

Deployed 668c728 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/models/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Improvements in union matching logic during validation (pydantic/pydantic-core#1332)
  src/validators/dataclass.rs
  src/validators/model.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
  src/validators/validation_state.rs
  tests/validators/test_union.py
Due: lint, typecheck

Improvements in union matching logic during validation (#1332)
  src/validators/dataclass.rs
  src/validators/model.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
  src/validators/validation_state.rs
  tests/validators/test_union.py
Due: lint, typecheck

update type hint for create_model to be more lax for validator callable specification
  pydantic/main.py
Due: lint, usage_docs, typecheck

Relax type specification for `__validators__` values in `create_model` (#9697)
  pydantic/main.py
Due: lint, usage_docs, typecheck

Deployed c66288a to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

docs update for smart unions
  docs/concepts/unions.md
Due: none

version note
  docs/concepts/unions.md
Due: none

remove odd formatting
  docs/concepts/unions.md
Due: none

test + typing fix
  pydantic/types.py
  tests/pyright/pyright_example.py
Due: lint, usage_docs, typecheck

Fix union validation logic when `extra='allow'` (pydantic/pydantic-core#1334)
  src/validators/model.rs
  src/validators/model_fields.rs
  src/validators/validation_state.rs
  tests/validators/test_union.py
Due: lint, typecheck

Fix union validation logic when `extra='allow'` (#1334)
  src/validators/model.rs
  src/validators/model_fields.rs
  src/validators/validation_state.rs
  tests/validators/test_union.py
Due: lint, typecheck

Apply suggestions from code review
  docs/concepts/unions.md
Due: none

docs updates
  docs/concepts/unions.md
Due: none

make algorithm collapsed
  docs/concepts/unions.md
Due: none

v1.10.17 prep
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

v1.10.17 prep (#9705)
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

other structural changes
  docs/concepts/unions.md
Due: none

update from @exs-dwoodward for v1 update script
  update_v1.sh
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
