Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Deployed 15b82a9 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix usage of `PlainSerializer` with builtin types
  pydantic/_internal/_decorators.py
  pydantic/_internal/_typing_extra.py
  tests/test_decorators.py
Due: lint, usage_docs, typecheck

Add test, clarify comment
  pydantic/_internal/_typing_extra.py
  tests/test_serialize.py
Due: lint, usage_docs, typecheck

refactor warning alias into separated function
  pydantic/_internal/_fields.py
Due: lint, usage_docs, typecheck

fix: keyword only non default argument (pydantic/pydantic-core#1290)
  src/validators/arguments.rs
  tests/validators/test_arguments.py
Due: lint, typecheck

fix: keyword only non default argument (#1290)
  src/validators/arguments.rs
  tests/validators/test_arguments.py
Due: lint, typecheck

Apply suggestions from code review
  pydantic/_internal/_fields.py
  tests/test_annotated.py
Due: lint, usage_docs, typecheck

Fix missing quote
  tests/test_annotated.py
Due: lint, typecheck

Trying to fix linting issue
  tests/test_annotated.py
Due: lint, typecheck

Update tests/test_annotated.py
  tests/test_annotated.py
Due: lint, typecheck

Resolve lint issues
  tests/test_annotated.py
Due: lint, typecheck

Remove unneeded check for `CoreSchema` or `CoreSchemaField`
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Add warning when set "alias" in low level annontated field (#9170)
  pydantic/_internal/_fields.py
  tests/test_annotated.py
Due: lint, usage_docs, typecheck

Deployed 46a0565 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

🧪 test: Add more cases in `test_literal_schema`
  tests/test_json_schema.py
Due: lint, typecheck

🧪 test: Add more cases in `test_json_schema` (#9457)
  tests/test_json_schema.py
Due: lint, typecheck

Deployed 7bdfac3 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Add pipeline API
  pydantic/_internal/_parse.py
  pydantic/experimental.py
Due: lint, usage_docs, typecheck

Fix test on Pypy
  tests/test_decorators.py
Due: lint, typecheck

📖 docs: Update docs for `NewPath`
  pydantic/types.py
Due: lint, usage_docs, typecheck

📖 docs: Update docs for `NewPath` (#9462)
  pydantic/types.py
Due: lint, usage_docs, typecheck

Fix usage of `PlainSerializer` with builtin types (#9450)
  pydantic/_internal/_decorators.py
  pydantic/_internal/_typing_extra.py
  tests/test_decorators.py
  tests/test_serialize.py
Due: lint, usage_docs, typecheck

Deployed d1f650a to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

add validators example doc
  docs/examples/validators.md
Due: none

add unit test for validators example
  tests/test_examples.py
Due: lint, typecheck

port to python 3.10
  docs/concepts/types.md
  pydantic/_internal/_parse.py
  pydantic/experimental.py
Due: lint, usage_docs, typecheck

port to python 3.10
  docs/api/experimental.md
  pydantic/_internal/_transform.py
Due: lint, usage_docs, typecheck

fix syntax
  pydantic/_internal/_transform.py
Due: lint, usage_docs, typecheck

handle slots
  pydantic/_internal/_transform.py
Due: lint, usage_docs, typecheck

Remove match
  pydantic/_internal/_transform.py
Due: lint, usage_docs, typecheck

Remove match
  docs/concepts/types.md
  pydantic/_internal/_internal_dataclass.py
  pydantic/_internal/_transform.py
  tests/test_docs.py
Due: lint, usage_docs, typecheck

ignore warning
  tests/test_exports.py
Due: lint, typecheck

fix import
  docs/concepts/types.md
Due: none

fix union
  pydantic/_internal/_transform.py
Due: lint, usage_docs, typecheck

sort imports
  docs/concepts/types.md
Due: none

move
  docs/concepts/types.md
  pydantic/experimental.py
Due: lint, usage_docs, typecheck

move
  pydantic/_internal/_transform.py
Due: lint, usage_docs, typecheck

add missing file
  pydantic/transform_experimental.py
Due: lint, usage_docs, typecheck
