Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

fixes
  pydantic-core/python/pydantic_core/__init__.py
  pydantic/types.py
Due: lint, typecheck

Deployed e2683e1 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/json_schema/index.html
  dev/api/json_schema/index.md
  dev/api/standard_library_types/index.html
  dev/api/standard_library_types/index.md
  dev/concepts/json_schema/index.html
  dev/concepts/json_schema/index.md
  dev/index.html
  dev/llms-full.txt
  dev/objects.inv
  dev/search/search_index.json
Due: none

Derive alias config on a copy, not in the caller's ConfigDict
  pydantic/_internal/_config.py
  tests/test_config.py
Due: lint, typecheck

Fix race conditions in freethreaded build
  pydantic/_internal/_decorators.py
  pydantic/_internal/_namespace_utils.py
  pydantic/main.py
  tests/conftest.py
  tests/test_freethreaded.py
Due: lint, typecheck

Fix race conditions in freethreaded build (#13785)
  pydantic/_internal/_decorators.py
  pydantic/_internal/_namespace_utils.py
  pydantic/main.py
  tests/conftest.py
  tests/test_freethreaded.py
Due: lint, typecheck

Deployed 831893e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/base_model/index.html
  dev/api/base_model/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Fix JSON Schema length keywords for mapping wrappers
  pydantic/_internal/_known_annotated_metadata.py
Due: lint, typecheck

Add Counter JSON Schema length regression test
  tests/types/test_counter.py
Due: lint, typecheck

Add OrderedDict JSON Schema length regression test
  tests/types/test_ordered_dict.py
Due: lint, typecheck

docs: fix duplicate 'in' in four HISTORY.md changelog entries
  HISTORY.md
Due: none

Fix typos in changelog entries (#13789)
  HISTORY.md
Due: none

xfail tests
  tests/test_lazy_imports.py
Due: lint, typecheck

coverage
  pydantic/experimental/missing_sentinel.py
Due: lint, typecheck

Deployed 2e7a559 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/changelog/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Add support for lazy imports (#13776)
  docs/concepts/forward_annotations.md
  docs/concepts/models.md
  docs/examples/cyclic_references.md
  mkdocs.yml
  pydantic/_internal/_typing_extra.py
  tests/test_lazy_imports.py
Due: lint, typecheck

Stabilize `MISSING` sentinel (#13782)
  docs/concepts/experimental.md
  docs/concepts/fields.md
  docs/concepts/serialization.md
  docs/concepts/types.md
  docs/errors/validation_errors.md
  docs/examples/dynamic_models.md
  pydantic-core/pyproject.toml
  pydantic-core/python/pydantic_core/__init__.py
  pydantic/__init__.py
  pydantic/experimental/missing_sentinel.py
  pydantic/types.py
  pydantic/warnings.py
  pyproject.toml
  tests/test_missing_sentinel.py
  uv.lock
Due: lint, typecheck

Prepare release v2.14.0b2
  CITATION.cff
  HISTORY.md
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic/version.py
  pyproject.toml
Due: lint, typecheck

Prepare release v2.14.0b2 (#13790)
  CITATION.cff
  HISTORY.md
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
  pydantic/version.py
  pyproject.toml
Due: lint, typecheck

Call enum constructors in both validation modes
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/validators/enum_.rs
  pydantic-core/tests/test_schema_functions.py
  pydantic-core/tests/validators/test_enums.py
  pydantic/_internal/_generate_schema.py
  tests/types/test_enum.py
Due: lint, lint rust, typecheck

fix: use minItems/minProperties for deque/Counter/OrderedDict (fixes #13704)
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_json_schema.py
Due: lint, typecheck

fix: avoid mutating config_dict in core_config (#13786)
  pydantic/_internal/_config.py
Due: lint, typecheck

Fix TypeError instead of using fallback when __pydantic_serializer__ attribute is not a SchemaSerializer
  pydantic-core/src/serializers/infer.rs
  pydantic-core/src/serializers/shared.rs
  pydantic-core/tests/serializers/test_infer.py
Due: lint, lint rust, typecheck

Call enum constructors in both validation modes (#13792)
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/validators/enum_.rs
  pydantic-core/tests/test_schema_functions.py
  pydantic-core/tests/validators/test_enums.py
  pydantic/_internal/_generate_schema.py
  tests/types/test_enum.py
Due: lint, lint rust, typecheck

Deployed ba830dc to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/pydantic_core_schema/index.html
  dev/api/pydantic_core_schema/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add an `'ordered-dict'` core schema
  docs/api/standard_library_types.md
  docs/errors/validation_errors.md
  docs/plugins/conversion_table.py
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/common/mod.rs
  pydantic-core/src/common/ordered_dict.rs
  pydantic-core/src/errors/types.rs
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/input_string.rs
  pydantic-core/src/schema_gather.rs
  pydantic-core/src/serializers/infer.rs
  pydantic-core/src/serializers/ob_type.rs
  pydantic-core/src/serializers/shared.rs
  pydantic-core/src/serializers/type_serializers/mod.rs
  pydantic-core/src/serializers/type_serializers/ordered_dict.rs
  pydantic-core/src/validators/mod.rs
  pydantic-core/src/validators/ordered_dict.rs
  pydantic-core/tests/serializers/test_any.py
  pydantic-core/tests/serializers/test_ordered_dict.py
  pydantic-core/tests/test_errors.py
  pydantic-core/tests/test_schema_functions.py
  pydantic-core/tests/validators/test_ordered_dict.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  pydantic/experimental/pipeline.py
  pydantic/json_schema.py
  tests/types/test_defaultdict.py
  tests/types/test_ordered_dict.py
Due: lint, lint rust, typecheck

add a model_config setting to control field deprecation warnings
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/main.py
  tests/test_deprecated_fields.py
Due: lint, typecheck

Document that model serializers are not inherited
  docs/concepts/serialization.md
Due: none

fix guard offset
  pydantic-core/src/recursion_guard.rs
Due: lint rust

fix docs
  docs/api/standard_library_types.md
Due: none

Fix guard offset 2
  pydantic-core/src/recursion_guard.rs
Due: lint rust

attempt to make it fast again
  pydantic/main.py
Due: lint, typecheck

Add an enterprise support guide
  docs/enterprise-support.md
  mkdocs.yml
Due: none

Add an enterprise support guide (#13800)
  docs/enterprise-support.md
  mkdocs.yml
Due: none

Support type alias to None or MISSING in discriminated unions (#13781)
  pydantic/_internal/_discriminated_union.py
  tests/types/unions/test_discriminated_union.py
Due: lint, typecheck

test(fields): add unit test suite for camelCase to snake_case field alias generator
  tests/test_alias_normalization_invariants.py
Due: lint, typecheck

Document `url_preserve_empty_path` in network types
  pydantic/config.py
  pydantic/networks.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
