Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint-python
        types: [python]
        language: system
        pass_filenames: false
      - id: lint rust
        name: Lint Rust
        entry: make lint-rust
        types: [rust]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: uv run pyright pydantic
        types: [python]
        language: system
        pass_filenames: false

Explicitly enable frame pointers (#13896)
  pydantic-core/.cargo/config.toml
Due: none

Deployed 10ae33b to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Remove xfail on lazy imports tests (#13930)
  tests/test_lazy_imports.py
Due: lint, typecheck

Deployed 0b22057 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Skip the generic pickle test when cloudpickle is absent (#13929)
  tests/test_generics.py
Due: lint, typecheck

Activate uncollected smart union serialization test (#13926)
  tests/test_serialize.py
Due: lint, typecheck

Deployed 1e6cc75 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

docs: fix pipeline example annotation pointing past the numbered list
  docs/concepts/experimental.md
Due: none

fix(types): allow None for field_docstrings in TypedDict schema generation
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

perf: skip BaseModel and cache docstring extraction in MRO walk
  pydantic/_internal/_docs_extraction.py
  pydantic/_internal/_fields.py
  tests/test_docs_extraction.py
Due: lint, typecheck

feat: support attribute docstrings inheritance for TypedDict and dataclasses
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  tests/test_docs_extraction.py
Due: lint, typecheck

test: skip test_docstring_cache_does_not_leak_classes on PyPy and GraalVM
  tests/test_docs_extraction.py
Due: lint, typecheck

perf: use WeakKeyDictionary for docstring cache to avoid retaining dropped classes
  pydantic/_internal/_docs_extraction.py
  tests/test_docs_extraction.py
Due: lint, typecheck

docs: fix stale file path in algolia plugin comment
  docs/plugins/algolia.py
Due: lint, typecheck

fix: route named __pydantic_init_subclass__ kwargs away from object.__init_subclass__
  pydantic/_internal/_model_construction.py
  tests/test_main.py
Due: lint, typecheck

Reject large exponents in `Fraction` validation
  pydantic-core/src/validators/fraction.rs
  tests/types/test_fraction.py
Due: lint, lint rust, typecheck

Fix JSON schema for unpacked TypedDict kwargs
  pydantic/json_schema.py
  tests/test_validate_call.py
Due: lint, typecheck

Fix pipeline example annotation (#13935)
  docs/concepts/experimental.md
Due: none

Deployed 23f16f2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/experimental/index.html
  dev/concepts/experimental/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Handle exceptions during `Decimal` validation
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/validators/decimal.rs
  pydantic-core/tests/validators/test_decimal.py
Due: lint, lint rust, typecheck

feedback
  tests/test_forward_ref.py
Due: lint, typecheck

Fix stale file path in algolia plugin comment (#13936)
  docs/plugins/algolia.py
Due: lint, typecheck

Use `PyOnceLock::import()`
  pydantic-core/src/common/missing_sentinel.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/shared.rs
  pydantic-core/src/serializers/fields.rs
  pydantic-core/src/serializers/type_serializers/missing_sentinel.rs
  pydantic-core/src/serializers/type_serializers/model.rs
  pydantic-core/src/validators/decimal.rs
  pydantic-core/src/validators/fraction.rs
  pydantic-core/src/validators/missing_sentinel.rs
  pydantic-core/src/validators/with_default.rs
Due: lint rust

Fix PyPy
  pydantic-core/tests/validators/test_decimal.py
Due: lint, typecheck

Fix Clippy lints
  pydantic-core/src/definitions.rs
Due: lint rust

Fix Clippy lints (#13941)
  pydantic-core/src/definitions.rs
Due: lint rust

Deployed 98e9ece to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Handle exceptions during `Decimal` validation (#13940)
  pydantic-core/src/common/missing_sentinel.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/shared.rs
  pydantic-core/src/serializers/fields.rs
  pydantic-core/src/serializers/type_serializers/missing_sentinel.rs
  pydantic-core/src/serializers/type_serializers/model.rs
  pydantic-core/src/validators/decimal.rs
  pydantic-core/src/validators/fraction.rs
  pydantic-core/src/validators/missing_sentinel.rs
  pydantic-core/src/validators/with_default.rs
  pydantic-core/tests/validators/test_decimal.py
Due: lint, lint rust, typecheck

Rebuild incomplete types during serialization inference (#13922)
  pydantic-core/src/lookup_key.rs
  pydantic-core/src/serializers/infer.rs
  pydantic-core/src/serializers/polymorphism_trampoline.rs
  pydantic-core/src/tools.rs
  pydantic/_internal/_mock_val_ser.py
  tests/test_construction.py
  tests/test_forward_ref.py
  tests/test_serialize_as_any.py
Due: lint, lint rust, typecheck

Deployed 027b5c7 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/dataclasses/index.html
  dev/api/dataclasses/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Bump `pydantic-core` dependencies
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
Due: none

Bump `pydantic-core` dependencies (#13942)
  pydantic-core/Cargo.lock
  pydantic-core/Cargo.toml
Due: none

Deployed 3fbc25a to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/dataclasses/index.html
  dev/api/dataclasses/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

Deployed d2cbaaa to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

Call handler once in tz constraint validator example
  docs/examples/custom_validators.md
Due: none

Fix datetime parsing in custom validator examples (#13931)
  docs/examples/custom_validators.md
Due: none

Deployed 895c0c2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/examples/custom_validators/index.html
  dev/examples/custom_validators/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

fix: Check length and pattern after a folded case transform
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

fix: Keep config string transforms out of the check-only str schema
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

implement JSON iteration everywhere
  pydantic-core/src/input/input_abstract.rs
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/input/input_python.rs
  pydantic-core/src/input/mod.rs
  pydantic-core/src/input/prepared.rs
  pydantic-core/src/input/return_enums.rs
  pydantic-core/src/validators/arguments.rs
  pydantic-core/src/validators/arguments_v3.rs
  pydantic-core/src/validators/dataclass.rs
  pydantic-core/src/validators/model_fields.rs
  pydantic-core/src/validators/named_tuple.rs
  pydantic-core/src/validators/typed_dict.rs
  pydantic-core/tests/validators/test_dict.py
  pydantic-core/tests/validators/test_extra_field_results.py
Due: lint, lint rust, typecheck
