Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, pyupgrade

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: make mypy
  language: system
  pass_filenames: false

pyupgrade:
  name: Pyupgrade
  entry: pyupgrade --py37-plus
  language: system

Fix "trough" typo in Model Config docs (#4593)
  docs/usage/model_config.md
Due: none

Add missing typing to example
  docs/examples/schema_with_field.py
Due: lint, mypy

Update example typing.
  docs/examples/schema_with_field.py
Due: lint, mypy

Add missing typing to example (#4596)
  docs/examples/schema_with_field.py
Due: lint, mypy

fix fastapi tests
  setup.cfg
Due: none

validator title and optionally omit context (#283)
  pydantic_core/_pydantic_core.pyi
  pydantic_core/core_schema.py
  src/errors/validation_exception.rs
  src/validators/mod.rs
  tests/test_misc.py
Due: lint, mypy, pyupgrade

validator title and optionally omit context (pydantic/pydantic-core#283)
  pydantic_core/_pydantic_core.pyi
  pydantic_core/core_schema.py
  src/errors/validation_exception.rs
  src/validators/mod.rs
  tests/test_misc.py
Due: lint, mypy, pyupgrade

Improve errors (pydantic/pydantic-core#270)
  pydantic_core/__init__.py
  pydantic_core/_pydantic_core.pyi
  src/errors/kinds.rs
  src/errors/mod.rs
  src/errors/value_exception.rs
  src/input/datetime.rs
  src/input/shared.rs
  src/lib.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/union.rs
  tests/benchmarks/test_micro_benchmarks.py
  tests/test_config.py
  tests/validators/test_float.py
  tests/validators/test_function.py
  tests/validators/test_typed_dict.py
Due: lint, mypy, pyupgrade

Improve errors (#270)
  pydantic_core/__init__.py
  pydantic_core/_pydantic_core.pyi
  src/errors/kinds.rs
  src/errors/mod.rs
  src/errors/value_exception.rs
  src/input/datetime.rs
  src/input/shared.rs
  src/lib.rs
  src/validators/float.rs
  src/validators/function.rs
  src/validators/union.rs
  tests/benchmarks/test_micro_benchmarks.py
  tests/test_config.py
  tests/validators/test_float.py
  tests/validators/test_function.py
  tests/validators/test_typed_dict.py
Due: lint, mypy, pyupgrade

support `deque` input to list, tuple etc., change how lengths are validated (pydantic/pydantic-core#275)
  pydantic_core/core_schema.py
  src/errors/kinds.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  src/validators/dict.rs
  src/validators/frozenset.rs
  src/validators/generator.rs
  src/validators/list.rs
  src/validators/set.rs
  src/validators/tuple.rs
  tests/conftest.py
  tests/test_misc.py
  tests/validators/test_dict.py
  tests/validators/test_frozenset.py
  tests/validators/test_generator.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
  tests/validators/test_with_default.py
Due: lint, mypy, pyupgrade

support `deque` input to list, tuple etc., change how lengths are validated (#275)
  pydantic_core/core_schema.py
  src/errors/kinds.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  src/validators/dict.rs
  src/validators/frozenset.rs
  src/validators/generator.rs
  src/validators/list.rs
  src/validators/set.rs
  src/validators/tuple.rs
  tests/conftest.py
  tests/test_misc.py
  tests/validators/test_dict.py
  tests/validators/test_frozenset.py
  tests/validators/test_generator.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
  tests/validators/test_with_default.py
Due: lint, mypy, pyupgrade

fix logic conflicts
  src/errors/kinds.rs
  tests/validators/test_function.py
Due: lint, mypy, pyupgrade

simplify PydanticErrorKind tests
  tests/validators/test_function.py
Due: lint, mypy, pyupgrade

adding `PydanticOmit` exception (pydantic/pydantic-core#282)
  pydantic_core/__init__.py
  pydantic_core/_pydantic_core.pyi
  src/errors/mod.rs
  src/errors/value_exception.rs
  src/lib.rs
  src/validators/function.rs
  tests/validators/test_function.py
Due: lint, mypy, pyupgrade

adding `PydanticOmit` exception (#282)
  pydantic_core/__init__.py
  pydantic_core/_pydantic_core.pyi
  src/errors/mod.rs
  src/errors/value_exception.rs
  src/lib.rs
  src/validators/function.rs
  tests/validators/test_function.py
Due: lint, mypy, pyupgrade

more test_types tests
  .gitignore
  pydantic/_internal/_babelfish.py
  pydantic/_internal/_std_validators.py
  pydantic/_internal/_validators.py
  pydantic/networks.py
  pydantic/types.py
  requirements/testing.in
  requirements/testing.txt
  tests/test_networks.py
  tests/test_types.py
Due: lint, mypy, pyupgrade

unique error kinds (pydantic/pydantic-core#285)
  pydantic_core/_pydantic_core.pyi
  src/errors/kinds.rs
  src/errors/mod.rs
  src/input/datetime.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  src/input/shared.rs
  src/lib.rs
  src/validators/date.rs
  src/validators/datetime.rs
  src/validators/float.rs
  src/validators/int.rs
  src/validators/mod.rs
  src/validators/string.rs
  src/validators/time.rs
  src/validators/timedelta.rs
  tests/test_config.py
  tests/test_json.py
  tests/test_misc.py
  tests/validators/test_bytes.py
  tests/validators/test_frozenset.py
  tests/validators/test_function.py
  tests/validators/test_int.py
  tests/validators/test_literal.py
  tests/validators/test_recursive.py
  tests/validators/test_set.py
  tests/validators/test_string.py
  tests/validators/test_tagged_union.py
  tests/validators/test_typed_dict.py
Due: lint, mypy, pyupgrade

unique error kinds (#285)
  pydantic_core/_pydantic_core.pyi
  src/errors/kinds.rs
  src/errors/mod.rs
  src/input/datetime.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  src/input/shared.rs
  src/lib.rs
  src/validators/date.rs
  src/validators/datetime.rs
  src/validators/float.rs
  src/validators/int.rs
  src/validators/mod.rs
  src/validators/string.rs
  src/validators/time.rs
  src/validators/timedelta.rs
  tests/test_config.py
  tests/test_json.py
  tests/test_misc.py
  tests/validators/test_bytes.py
  tests/validators/test_frozenset.py
  tests/validators/test_function.py
  tests/validators/test_int.py
  tests/validators/test_literal.py
  tests/validators/test_recursive.py
  tests/validators/test_set.py
  tests/validators/test_string.py
  tests/validators/test_tagged_union.py
  tests/validators/test_typed_dict.py
Due: lint, mypy, pyupgrade

Custom error kind (#284)
  pydantic_core/__init__.py
  pydantic_core/_pydantic_core.pyi
  pydantic_core/core_schema.py
  src/errors/kinds.rs
  src/errors/mod.rs
  src/errors/value_exception.rs
  src/lib.rs
  src/validators/function.rs
  src/validators/union.rs
  tests/test_schema_functions.py
  tests/validators/test_function.py
  tests/validators/test_tagged_union.py
  tests/validators/test_union.py
Due: lint, mypy, pyupgrade

Custom error kind (pydantic/pydantic-core#284)
  pydantic_core/__init__.py
  pydantic_core/_pydantic_core.pyi
  pydantic_core/core_schema.py
  src/errors/kinds.rs
  src/errors/mod.rs
  src/errors/value_exception.rs
  src/lib.rs
  src/validators/function.rs
  src/validators/union.rs
  tests/test_schema_functions.py
  tests/validators/test_function.py
  tests/validators/test_tagged_union.py
  tests/validators/test_union.py
Due: lint, mypy, pyupgrade

Introduce a gate/check GHA job
  .github/workflows/ci.yml
Due: none

Docs add awesome-pydantic
  docs/index.md
Due: none

uprev, try uploading wasm to pypi
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
Due: none

support newer pydantic-core, fixing more test_types.py
  pydantic/_internal/_babelfish.py
  pydantic/_internal/_std_validators.py
  pydantic/fields.py
  pydantic/types.py
  tests/conftest.py
  tests/test_types.py
Due: lint, mypy, pyupgrade

fix float `multiple_of` calc (pydantic/pydantic-core#286)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/validators/float.rs
  tests/validators/test_float.py
Due: lint, mypy, pyupgrade

Path conditions:
  lint: any of: \.py$
  mypy: any of: \.py$
  pyupgrade: any of: \.py$, but not: ^docs/.*$
