Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Remove xfails
  tests/test_fields.py
Due: lint, typecheck

allow serialization functions to upgrade warnings to exceptions (pydantic/pydantic-core#1258)
  .mypy-stubtest-allowlist
  python/pydantic_core/_pydantic_core.pyi
  src/lib.rs
  src/serializers/extra.rs
  src/serializers/mod.rs
  tests/serializers/test_list_tuple.py
  tests/serializers/test_string.py
  tests/test.rs
Due: lint, typecheck

allow serialization functions to upgrade warnings to exceptions (#1258)
  .mypy-stubtest-allowlist
  python/pydantic_core/_pydantic_core.pyi
  src/lib.rs
  src/serializers/extra.rs
  src/serializers/mod.rs
  tests/serializers/test_list_tuple.py
  tests/serializers/test_string.py
  tests/test.rs
Due: lint, typecheck

prep for v1.10.15 release
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

prep for v1.10.15 release (#9157)
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

update v1
  pydantic/v1/v1.py
  pydantic/v1/version.py
Due: lint, usage_docs, typecheck

prep for beta
  HISTORY.md
  pydantic/version.py
Due: lint, usage_docs, typecheck

Deployed 5476a75 to 1.10 with MkDocs 1.5.3 and mike 2.1.0.dev0
  1.10/blog/pydantic-v2/index.html
  1.10/changelog/index.html
  1.10/index.html
  1.10/search/search_index.json
  1.10/sitemap.xml
  1.10/sitemap.xml.gz
  1.10/usage/exporting_models/index.html
  1.10/usage/models/index.html
  1.10/usage/types/index.html
  1.10/usage/validation_decorator/index.html
  1.10/usage/validators/index.html
Due: none

update history
  HISTORY.md
Due: none

Code review fixes. Use common rebuild funcs, move helper to helpers side
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_mock_val_ser.py
  pydantic/_internal/_typing_extra.py
  pydantic/type_adapter.py
  tests/test_type_adapter.py
Due: lint, usage_docs, typecheck

Initial features
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/fields.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Apply suggestions from code review
  HISTORY.md
Due: none

mention partial parsing
  HISTORY.md
Due: none

Prep for 2.7 beta release 🚀 (#9158)
  HISTORY.md
  pydantic/v1/v1.py
  pydantic/v1/version.py
  pydantic/version.py
Due: lint, usage_docs, typecheck

Add 1.10.15 section to HISTORY.md
  HISTORY.md
Due: none

Add 1.10.15 section to HISTORY.md (#9161)
  HISTORY.md
Due: none

Deployed 7501231 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/changelog/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix comments. Add TODO. Better fn name
  pydantic/_internal/_mock_val_ser.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

fix: importing modules/objects directly from v1 namespace
  pydantic/v1.py
  tests/test_v1.py
Due: lint, usage_docs, typecheck

Add coerce_numbers_to_str option in StringSchema (#1262)
  python/pydantic_core/core_schema.py
  src/validators/string.rs
Due: lint, typecheck

Add coerce_numbers_to_str option in StringSchema (pydantic/pydantic-core#1262)
  python/pydantic_core/core_schema.py
  src/validators/string.rs
Due: lint, typecheck

Add support for dataclasses
  pydantic/_internal/_generate_schema.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Rename model_title_generator to class_title_generator
  pydantic/_internal/_config.py
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  tests/test_titles.py
Due: lint, usage_docs, typecheck

Use function from GitHub issue
  tests/test_titles.py
Due: lint, typecheck

Rename _get_model_title to _get_class_title
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

* handle potential case of __pydantic_private__ being unset where needed
  pydantic/main.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Update mkdocs
  .github/workflows/docs-update.yml
  mkdocs.yml
Due: none

Add warning in low level annontated field
  pydantic/_internal/_fields.py
  tests/test_annotated.py
Due: lint, usage_docs, typecheck

fix test typo
  tests/test_annotated.py
Due: lint, typecheck

Update mkdocs_material (#9169)
  .github/workflows/docs-update.yml
  mkdocs.yml
Due: none

docs updates
  docs/concepts/json.md
Due: none

adding cache_strings to config
  pydantic/_internal/_config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

a few more docs updates
  docs/concepts/json.md
Due: none

fixing docs examples
  docs/concepts/json.md
Due: none

remove old profiling directory (pydantic/pydantic-core#1265)
  Makefile
  profiling/dict_model.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
