Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint-python
        types: [python]
        language: system
        pass_filenames: false
      - id: lint rust
        name: Lint Rust
        entry: make lint-rust
        types: [rust]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: uv run pyright pydantic
        types: [python]
        language: system
        pass_filenames: false

perf: benchmark JSON argument lookup scaling
  pydantic-core/tests/benchmarks/test_micro_benchmarks.py
Due: lint, typecheck

perf: cache repeated JSON argument lookups
  pydantic-core/src/input/input_json.rs
  pydantic-core/src/lookup_key.rs
Due: lint rust

Apply suggestions from code review
  tests/test_types.py
Due: lint, typecheck

Make `FailFast` hashable (#13503)
  pydantic/types.py
Due: lint, typecheck

Deployed c18c773 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/types/index.html
  dev/api/types/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Don't error on unhashable generic arguments on generic Pydantic models
  pydantic/_internal/_generics.py
  tests/test_generics.py
Due: lint, typecheck

Return `NotImplemented` from URL ordering comparisons with foreign types (#13495)
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

Deployed a187a65 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/networks/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

perf: serialize tagged unions directly
  pydantic-core/src/serializers/type_serializers/union.rs
  tests/benchmarks/test_model_serialization.py
Due: lint, lint rust, typecheck

fix: preserve tagged union serialization filters
  pydantic-core/src/serializers/type_serializers/union.rs
  pydantic-core/tests/serializers/test_union.py
Due: lint, lint rust, typecheck

Fix application of constraints in pipeline API
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Cover the constraint function-check fallback for ge() and multiple_of()
  tests/test_pipeline.py
Due: lint, typecheck

Use constant-time comparison for `SecretStr` and `SecretBytes` types
  pydantic/types.py
Due: lint, typecheck

Apply suggestion from @Viicos
  pydantic/types.py
Due: lint, typecheck

Fix access of annotations in `safe_get_annotations()` in Python <= 3.13
  pydantic/_internal/_typing_extra.py
  tests/test_edge_cases.py
Due: lint, typecheck

Fix Flag enum dict-key round-trip through JSON
  pydantic/_internal/_generate_schema.py
  solution.patch
  test.patch
  test.sh
  tests/test_flag_enum_roundtrip.py
Due: lint, typecheck

Fix access of annotations in `safe_get_annotations()` in Python <= 3.13 (#13521)
  pydantic/_internal/_typing_extra.py
  tests/test_edge_cases.py
Due: lint, typecheck

Deployed 05bc5da to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

fix(types): end-anchor byte_string_pattern in ByteSize to reject trailing data
  pydantic/types.py
Due: lint, typecheck

fix(functional_validators): add serialization return_schema for ValidateAs
  pydantic/functional_validators.py
Due: lint, typecheck

fix(docs_extraction): traverse MRO in extract_docstrings_from_cls to preserve inherited attribute docstrings
  pydantic/_internal/_docs_extraction.py
Due: lint, typecheck

Avoid exponential core schema traversal in `gather_schemas_for_cleaning()`
  pydantic/_internal/_schema_gather.py
  tests/test_edge_cases.py
Due: lint, typecheck

Use a shared empty set for `FieldInfo._qualifiers`
  pydantic/fields.py
Due: lint, typecheck

Box rarely-used oversized `CombinedValidator` variants
  pydantic-core/src/validators/int.rs
  pydantic-core/src/validators/mod.rs
  pydantic-core/src/validators/union.rs
  pydantic-core/src/validators/url.rs
Due: lint rust

Store `FieldInfo._attributes_set` compactly
  pydantic/fields.py
  tests/test_fields.py
Due: lint, typecheck

Share structurally identical `nullable` and `default` validator nodes
  pydantic-core/src/definitions.rs
  pydantic-core/src/validators/nullable.rs
  pydantic-core/src/validators/with_default.rs
Due: lint rust

Share structurally identical `nullable` and `default` serializer nodes
  pydantic-core/src/serializers/type_serializers/nullable.rs
  pydantic-core/src/serializers/type_serializers/with_default.rs
Due: lint rust

fix grammar in ValidationError json description
  docs/errors/errors.md
Due: none

Fix grammar in ValidationError JSON description (#13531)
  docs/errors/errors.md
Due: none

Deployed 2936280 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/errors/errors/index.html
  dev/errors/errors/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Deployed 443a1cb to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/search/search_index.json
Due: none

fix: ByteSize validation should reject trailing data
  pydantic/types.py
Due: lint, typecheck

Preserve dict subclasses and materialize `_attributes_set` only once
  pydantic/fields.py
  tests/test_fields.py
Due: lint, typecheck

Skip the threading test on emscripten
  tests/test_fields.py
Due: lint, typecheck

Restrict `PaymentCardNumber.validate_digits` to ASCII digits
  pydantic/types.py
  tests/test_types_payment_card_number.py
Due: lint, typecheck

Box rarely-used oversized `CombinedValidator` variants (#13528)
  pydantic-core/src/validators/int.rs
  pydantic-core/src/validators/mod.rs
  pydantic-core/src/validators/union.rs
  pydantic-core/src/validators/url.rs
Due: lint rust

Revert "Make `FailFast` hashable (#13503)"
  pydantic/types.py
Due: lint, typecheck

Use constant-time comparison for `SecretStr` and `SecretBytes` types (#13518)
  pydantic/types.py
Due: lint, typecheck
