Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: debug-check, lint-python, lint-rust

debug-check:
  name: Check for debug statements
  entry: tests/check-debug.sh
  language: script

lint-python:
  name: Lint Python
  entry: make lint-python
  language: system

lint-rust:
  name: Lint Rust
  entry: make lint-rust
  language: system

add test_complete_core_isinstance
  tests/benchmarks/test_complete_benchmark.py
Due: debug-check, lint-python

prevent int,float,decimal -> str (#212)
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  tests/benchmarks/test_complete_benchmark.py
  tests/benchmarks/test_micro_benchmarks.py
  tests/test_json.py
  tests/validators/test_dict.py
  tests/validators/test_function.py
  tests/validators/test_string.py
  tests/validators/test_tuple.py
  tests/validators/test_typed_dict.py
Due: debug-check, lint-python, lint-rust

prevent int,float,decimal -> str (pydantic/pydantic-core#212)
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/return_enums.rs
  tests/benchmarks/test_complete_benchmark.py
  tests/benchmarks/test_micro_benchmarks.py
  tests/test_json.py
  tests/validators/test_dict.py
  tests/validators/test_function.py
  tests/validators/test_string.py
  tests/validators/test_tuple.py
  tests/validators/test_typed_dict.py
Due: debug-check, lint-python, lint-rust

changes to some coercions (pydantic/pydantic-core#208)
  src/errors/kinds.rs
  src/input/_pyo3_dict.rs
  src/input/input_python.rs
  src/input/mod.rs
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
Due: debug-check, lint-python, lint-rust

changes to some coercions (#208)
  src/errors/kinds.rs
  src/input/_pyo3_dict.rs
  src/input/input_python.rs
  src/input/mod.rs
  tests/validators/test_frozenset.py
  tests/validators/test_list.py
  tests/validators/test_set.py
  tests/validators/test_tuple.py
Due: debug-check, lint-python, lint-rust

rename arguments -> parameters (pydantic/pydantic-core#217)
  pydantic_core/_types.py
  src/validators/arguments.rs
  src/validators/union.rs
  tests/validators/test_arguments.py
Due: debug-check, lint-python, lint-rust

rename arguments -> parameters (#217)
  pydantic_core/_types.py
  src/validators/arguments.rs
  src/validators/union.rs
  tests/validators/test_arguments.py
Due: debug-check, lint-python, lint-rust

Function call (#218)
  pydantic_core/_types.py
  src/errors/line_error.rs
  src/errors/validation_exception.rs
  src/input/return_enums.rs
  src/validators/arguments.rs
  src/validators/call.rs
  src/validators/function.rs
  src/validators/mod.rs
  src/validators/new_class.rs
  tests/benchmarks/complete_schema.py
  tests/benchmarks/test_micro_benchmarks.py
  tests/test_config.py
  tests/test_isinstance.py
  tests/test_misc.py
  tests/test_typing.py
  tests/validators/test_arguments.py
  tests/validators/test_call.py
  tests/validators/test_new_class.py
  tests/validators/test_recursive.py
  tests/validators/test_union.py
Due: debug-check, lint-python, lint-rust

Function call (pydantic/pydantic-core#218)
  pydantic_core/_types.py
  src/errors/line_error.rs
  src/errors/validation_exception.rs
  src/input/return_enums.rs
  src/validators/arguments.rs
  src/validators/call.rs
  src/validators/function.rs
  src/validators/mod.rs
  src/validators/new_class.rs
  tests/benchmarks/complete_schema.py
  tests/benchmarks/test_micro_benchmarks.py
  tests/test_config.py
  tests/test_isinstance.py
  tests/test_misc.py
  tests/test_typing.py
  tests/validators/test_arguments.py
  tests/validators/test_call.py
  tests/validators/test_new_class.py
  tests/validators/test_recursive.py
  tests/validators/test_union.py
Due: debug-check, lint-python, lint-rust

set version in cargo.toml
  Cargo.lock
  Cargo.toml
Due: none

update wasm-preview to use released version
  .gitignore
  README.md
  wasm-preview/index.html
  wasm-preview/run_tests.py
  wasm-preview/upload.py
  wasm-preview/worker.js
Due: debug-check, lint-python

improve wasm index file
  wasm-preview/index.html
Due: none

fix linting, lint wasm-preview
  Makefile
  package.json
  wasm-preview/index.html
  wasm-preview/run_tests.py
  wasm-preview/worker.js
Due: debug-check, lint-python

remove todo.md
  TODO.md
Due: none

Use `pip` directly to install FastAPI in its integration test (#4282)
  tests/test_fastapi.sh
Due: none

Add ISO 8601 wikipedia link to docs (#4263)
  docs/usage/exporting_models.md
  docs/usage/types.md
Due: none

Empty string is a valid JSON-key (#4252)
  changes/4253-sergeytsaplin.md
  pydantic/fields.py
  tests/test_aliases.py
Due: debug-check, lint-python

Bump mypy to 0.971 (#4211)
  pydantic/mypy.py
  tests/requirements-linting.txt
  tests/requirements-testing.txt
Due: debug-check, lint-python

add project.yaml
  .clusterfuzzlite/project.yaml
Due: none

add hypothesis warning, replace #2954
  docs/hypothesis_plugin.md
Due: none

add hypothesis warning, replace #2954 (#4323)
  docs/hypothesis_plugin.md
Due: none

fix #3713 compatibility
  pydantic/dataclasses.py
Due: debug-check, lint-python

update docs
  docs/usage/dataclasses.md
Due: none

refactor: change pydantic dataclass decorator (#2557)
  changes/2557-PrettyWood.md
  docs/examples/dataclasses_config.py
  docs/examples/dataclasses_stdlib_run_validation.py
  docs/examples/dataclasses_stdlib_to_pydantic.py
  docs/usage/dataclasses.md
  docs/usage/model_config.md
  pydantic/__init__.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/schema.py
  pydantic/types.py
  pydantic/version.py
  tests/mypy/outputs/plugin-fail-strict.txt
  tests/mypy/outputs/plugin-fail.txt
  tests/test_dataclasses.py
Due: debug-check, lint-python

Path conditions:
  debug-check: any of: \.py$
  lint-python: any of: \.py$
  lint-rust: any of: \.rs$
