Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Deployed ace2748 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix module `path_type` creation when globals does not contain `__name__` (#8470)
  pydantic/type_adapter.py
  tests/test_plugins.py
Due: lint, usage_docs, typecheck

Deployed 383290f to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/api/type_adapter/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Remove duplicate NVlabs/SPADE
  docs/plugins/using.toml
Due: none

fix: make validator types positional-only
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Added bit units
  pydantic/v1/types.py
Due: lint, usage_docs, typecheck

Remove duplicate `NVlabs/SPADE` entry in docs (#8503)
  docs/plugins/using.toml
Due: none

Deployed e4fa099 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  dev/why/index.html
Due: none

Added bit units
  pydantic/types.py
Due: lint, usage_docs, typecheck

Added test cases for ByteSize bit conversion
  tests/test_types.py
Due: lint, typecheck

fix: Support `pydantic.Field(repr=False)` in dataclasses
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

Added docs for bit conversion
  pydantic/types.py
Due: lint, usage_docs, typecheck

Added bits conversion to the ByteSize class feature #8415 (#8507)
  pydantic/types.py
  pydantic/v1/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Deployed a73e1a9 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

fix for namespace issue with from __future__ import annotations
  pydantic/_internal/_fields.py
Due: lint, usage_docs, typecheck

fix typecheck error
  pydantic/_internal/_fields.py
Due: lint, usage_docs, typecheck

drop Python 3.7, and PyPy 3.7 and 3.8 (#1129)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  generate_self_schema.py
  pyproject.toml
Due: lint, typecheck

drop Python 3.7, and PyPy 3.7 and 3.8 (pydantic/pydantic-core#1129)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  generate_self_schema.py
  pyproject.toml
Due: lint, typecheck

fix for namespace issue with dataclasses with from __future__ import annotations (#8513)
  pydantic/_internal/_fields.py
Due: lint, usage_docs, typecheck

Deployed 56d4e92 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Rework `PYDANTIC_ERRORS_OMIT_URL` to `PYDANTIC_ERRORS_INCLUDE_URL` (pydantic/pydantic-core#1123)
  python/pydantic_core/_pydantic_core.pyi
  src/errors/validation_exception.rs
  tests/test_errors.py
Due: lint, typecheck

Rework `PYDANTIC_ERRORS_OMIT_URL` to `PYDANTIC_ERRORS_INCLUDE_URL` (#1123)
  python/pydantic_core/_pydantic_core.pyi
  src/errors/validation_exception.rs
  tests/test_errors.py
Due: lint, typecheck

Support serialization mode specification from model config and `SerializationConfig` (pydantic/pydantic-core#1122)
  python/pydantic_core/_pydantic_core.pyi
  src/errors/validation_exception.rs
  src/serializers/config.rs
  src/serializers/extra.rs
  src/serializers/infer.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/bytes.rs
  src/serializers/type_serializers/timedelta.rs
  tests/serializers/test_bytes.py
Due: lint, typecheck

Support serialization mode specification from model config and `SerializationConfig` (#1122)
  python/pydantic_core/_pydantic_core.pyi
  src/errors/validation_exception.rs
  src/serializers/config.rs
  src/serializers/extra.rs
  src/serializers/infer.rs
  src/serializers/mod.rs
  src/serializers/type_serializers/bytes.rs
  src/serializers/type_serializers/timedelta.rs
  tests/serializers/test_bytes.py
Due: lint, typecheck

fix: make function validator types positional-only (#8479)
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Introducing classproperty decorator for model_computed_fields (#8437)
  pydantic/_internal/_model_construction.py
  pydantic/main.py
  tests/test_computed_fields.py
Due: lint, usage_docs, typecheck

updating dependencies
  pdm.lock
Due: none

only change pydantic-extra-types
  pdm.lock
Due: none

Update `pydantic-extra-types` to newest version (#8521)
  pdm.lock
Due: none

Deployed dc7d01a to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/api/functional_validators/index.html
  dev/api/pydantic_extra_types_color/index.html
  dev/api/pydantic_extra_types_country/index.html
  dev/api/pydantic_extra_types_payment/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix usage of `@deprecated` (#8294)
  pdm.lock
  pydantic/_internal/_model_construction.py
  pydantic/deprecated/decorator.py
  pydantic/deprecated/json.py
  pydantic/deprecated/parse.py
  pydantic/deprecated/tools.py
  pydantic/main.py
  tests/test_deprecated.py
  tests/test_parse.py
Due: lint, usage_docs, typecheck

Deployed 54d1185 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

first pass at fix for private attr issue with model construct
  pydantic/main.py
Due: lint, usage_docs, typecheck

fix + test
  pydantic/main.py
  tests/test_construction.py
Due: lint, usage_docs, typecheck

Add more support for private attributes in `model_construct` call (#8525)
  pydantic/main.py
  tests/test_construction.py
Due: lint, usage_docs, typecheck

Deployed 2b09cf4 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

wip update tuple schema
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
