Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to main branch
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: '^uv\.lock$'

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.0
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint-python
        types: [python]
        language: system
        pass_filenames: false
      - id: lint rust
        name: Lint Rust
        entry: make lint-rust
        types: [rust]
        language: system
        pass_filenames: false
      - id: typecheck
        name: Typecheck
        entry: uv run pyright pydantic
        types: [python]
        language: system
        pass_filenames: false

Fix aware datetime numeric serialization
  pydantic-core/src/serializers/type_serializers/datetime_etc.rs
  pydantic-core/tests/serializers/test_datetime.py
  tests/test_datetime.py
Due: lint, lint rust, typecheck

Fix missing sentinel union errors
  pydantic-core/src/validators/union.rs
  tests/test_missing_sentinel.py
Due: lint, lint rust, typecheck

docs: fix pre-commit installation command
  docs/contributing.md
Due: none

Clarify documentation of `timedelta_mode` and `temporal_mode`
  pydantic-core/python/pydantic_core/_pydantic_core.pyi
  pydantic/config.py
Due: lint, typecheck

Do not ignore timezone offset when using `'seconds'/'milliseconds'` `temporal_mode`
  pydantic-core/src/serializers/type_serializers/datetime_etc.rs
  pydantic-core/tests/serializers/test_datetime.py
Due: lint, lint rust, typecheck

chore: Regenerate pyodide pylock file
  .github/pyodide/pylock.314.toml
Due: none

chore: Make Ruff happy
  pydantic-core/python/pydantic_core/__init__.py
Due: lint, typecheck

Remove xfail marker from MISSING pickle test
  tests/test_missing_sentinel.py
Due: lint, typecheck

Remove documented pickling limitation
  docs/concepts/experimental.md
Due: none

Use latest sentinel implementation
  pydantic-core/python/pydantic_core/__init__.py
  pyproject.toml
  uv.lock
Due: lint, typecheck

Make model rebuilding logic thread safe
  pydantic/main.py
  tests/test_main.py
Due: lint, typecheck

check mock core schema
  pydantic/dataclasses.py
  pydantic/main.py
Due: lint, typecheck

docstring
  pydantic/main.py
Due: lint, typecheck

Potential fix for pull request finding
  tests/test_main.py
Due: lint, typecheck

docs: expand guidance on troubleshooting validation failures in production
  docs/concepts/experimental.md
  docs/concepts/json.md
  docs/concepts/models.md
  docs/concepts/strict_mode.md
  docs/concepts/type_adapter.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/errors/errors.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/pydantic_ai.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/integrations/aws_lambda.md
  docs/integrations/devtools.md
  docs/plugins/main.py
  pydantic/dataclasses.py
  pydantic/functional_validators.py
  pydantic/main.py
  pydantic/type_adapter.py
  pydantic/validate_call_decorator.py
Due: lint, typecheck

fix(mypy): reflect use_enum_values in field types
  pydantic/mypy.py
Due: lint, typecheck

style: fix import formatting to satisfy ruff pre-commit
  pydantic/mypy.py
Due: lint, typecheck

lint
  tests/test_main.py
Due: lint, typecheck

skip test
  tests/test_main.py
Due: lint, typecheck

Skip `RootModel.__init__()` in Mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/root_models.py
  tests/mypy/outputs/mypy-default_ini/root_models.py
  tests/mypy/outputs/mypy-plugin_ini/root_models.py
  tests/mypy/outputs/pyproject-default_toml/root_models.py
Due: lint, typecheck

Skip `RootModel.__init__()` in Mypy plugin (#13441)
  pydantic/mypy.py
  tests/mypy/modules/root_models.py
  tests/mypy/outputs/mypy-default_ini/root_models.py
  tests/mypy/outputs/mypy-plugin_ini/root_models.py
  tests/mypy/outputs/pyproject-default_toml/root_models.py
Due: lint, typecheck

Deployed 3c93308 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Defer placeholders in Mypy plugin
  pydantic/mypy.py
  tests/mypy/modules/generics.py
Due: lint, typecheck

Defer placeholders in Mypy plugin (#13442)
  pydantic/mypy.py
  tests/mypy/modules/generics.py
Due: lint, typecheck

Deployed c47bba2 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/fields/index.html
  dev/api/fields/index.md
  dev/index.html
  dev/llms-full.txt
  dev/search/search_index.json
Due: none

docs: broaden Logfire coverage across config, serialization, and tooling pages
  docs/concepts/config.md
  docs/concepts/dataclasses.md
  docs/concepts/serialization.md
  docs/errors/troubleshooting.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/llms.md
  docs/internals/architecture.md
  pydantic/dataclasses.py
  pydantic/main.py
  pydantic/type_adapter.py
Due: lint, typecheck

Add __hash__ to NameEmail to restore hashability
  pydantic/networks.py
  tests/test_networks.py
Due: lint, typecheck

docs: list typing-inspection in install dependencies
  docs/install.md
Due: none

fix: `Gt` constraint silently dropped in experimental pipeline API on numeric type mismatch
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, typecheck

Fix model_construct to honor validation_alias over alias
  pydantic/main.py
  tests/test_construction.py
Due: lint, typecheck

Fix pre-commit installation command in contributor guide (#13435)
  docs/contributing.md
Due: none

Remove `RootModel` iteration example (#13424)
  docs/concepts/models.md
Due: none

Narrow default-encoding guard to UnicodeDecodeError
  pydantic/json_schema.py
Due: lint, typecheck

Refine Logfire references across the docs
  docs/concepts/config.md
  docs/concepts/experimental.md
  docs/concepts/models.md
  docs/concepts/serialization.md
  docs/concepts/strict_mode.md
  docs/concepts/type_adapter.md
  docs/errors/errors.md
  docs/errors/troubleshooting.md
  docs/examples/custom_validators.md
  docs/examples/files.md
  docs/examples/orms.md
  docs/examples/pydantic_ai.md
  docs/examples/queues.md
  docs/examples/requests.md
  docs/integrations/aws_lambda.md
  docs/integrations/datamodel_code_generator.md
  docs/integrations/devtools.md
  docs/integrations/llms.md
Due: none

Fix Rust lint errors
  pydantic-core/src/lookup_key.rs
Due: lint rust

Fix Rust lint errors (#13449)
  pydantic-core/src/lookup_key.rs
Due: lint rust

List `typing-inspection` in install dependencies (#13445)
  docs/install.md
Due: none

Deployed b281d5a to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/index.html
  dev/install/index.html
  dev/search/search_index.json
Due: none
