Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

remove unneeded line
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

minor docs update
  pydantic/config.py
Due: lint, usage_docs, typecheck

update to version policy docs
  docs/concepts/experimental.md
  docs/version-policy.md
Due: none

Minor docs update - 2.7 note on `use_attribute_docstrings` (#9577)
  pydantic/config.py
Due: lint, usage_docs, typecheck

Deployed 8a776e1 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/config/index.html
  dev/api/dataclasses/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

skip linting
  docs/version-policy.md
Due: none

make example conditional
  docs/concepts/fields.md
Due: none

fix type hint for _Pipeline.then
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

Apply suggestions from code review
  tests/test_pipeline.py
Due: lint, typecheck

Update pydantic/experimental/pipeline.py
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

Make `deprecated` example conditional (#9578)
  docs/concepts/fields.md
Due: none

add public todo
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

move predicate up
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

Deployed 93d6015 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/concepts/fields/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

new idea for overload
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

test fixes
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

update test cases with comments
  pydantic/experimental/pipeline.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

no freeze notes
  pydantic/_internal/_internal_dataclass.py
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

suggested frozen change
  pydantic/_internal/_internal_dataclass.py
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

add test
  tests/test_pipeline.py
Due: lint, typecheck

add more assertions
  tests/test_pipeline.py
Due: lint, typecheck

Add support for regex flags inside the Pattern
  pydantic/_internal/_regex.py
  pydantic/fields.py
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Add fallback default value for private fields in __setstate__ of BaseModel
  pydantic/main.py
Due: lint, usage_docs, typecheck

Bump ruff
  pdm.lock
  pyproject.toml
Due: none

Apply linting changes
  tests/test_json_schema.py
Due: lint, typecheck

Fix mypy v1 plugin for upcoming mypy release
  pydantic/mypy.py
Due: lint, usage_docs, typecheck

Add fallback default value for private fields in __setstate__ of BaseModel (#9584)
  pydantic/main.py
Due: lint, usage_docs, typecheck

Deployed 8fef562 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add pipeline API (#9459)
  docs/api/experimental.md
  docs/concepts/experimental.md
  docs/version-policy.md
  mkdocs.yml
  pydantic/__init__.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_internal_dataclass.py
  pydantic/experimental/__init__.py
  pydantic/experimental/pipeline.py
  pydantic/warnings.py
  tests/test_docs.py
  tests/test_exports.py
  tests/test_pipeline.py
Due: lint, usage_docs, typecheck

Fix mypy v1 plugin for upcoming mypy release (#9586)
  pydantic/mypy.py
Due: lint, usage_docs, typecheck

Rename func
  pydantic/_internal/_decorators.py
Due: lint, usage_docs, typecheck

Add more tests
  tests/test_serialize.py
  tests/test_validators.py
Due: lint, typecheck

Allow validator and serializer functions to have default values
  pydantic/_internal/_decorators.py
  tests/test_decorators.py
Due: lint, usage_docs, typecheck

Remove wrong xfail
  tests/test_validators.py
Due: lint, typecheck

Support PEP 746
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

Fix test
  tests/test_serialize.py
Due: lint, typecheck

Support PEP 746 (#9587)
  pydantic/experimental/pipeline.py
Due: lint, usage_docs, typecheck

Deployed c5d9ae9 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none
