Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

Deployed c3ec15c to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

modify tests to reflect modified bug
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

fix annotations issue + tests
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

👥 Update Pydantic People
  docs/plugins/people.yml
Due: none

simplifying test
  tests/test_dataclasses.py
Due: lint, typecheck

Fix inheriting annotations in dataclasses (#8679)
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

Deployed d58286c to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/dataclasses/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

add alex to maintainers, display should look right after the next automated pull
  .github/actions/people/people.py
Due: lint, typecheck

Fix warning for tuple of wrong size in union (pydantic/pydantic-core#1174)
  src/serializers/type_serializers/tuple.rs
  tests/serializers/test_list_tuple.py
Due: lint, typecheck

Fix warning for tuple of wrong size in union (#1174)
  src/serializers/type_serializers/tuple.rs
  tests/serializers/test_list_tuple.py
Due: lint, typecheck

Deployed af30b2e to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/pydantic_people/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

adding alex to maintainers / reviewers
  pyproject.toml
Due: none

Deployed 29906d7 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/pydantic_people/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix model computed field serializer (json) (pydantic/pydantic-core#1187)
  src/serializers/computed_fields.rs
  tests/serializers/test_model.py
Due: lint, typecheck

Fix model computed field serializer (json) (#1187)
  src/serializers/computed_fields.rs
  tests/serializers/test_model.py
Due: lint, typecheck

Fix regression in core schema generation for indirect definition references
  pydantic/_internal/_core_utils.py
  tests/test_discriminated_union.py
Due: lint, usage_docs, typecheck

Apply suggestions from code review
  tests/test_discriminated_union.py
Due: lint, typecheck

Update tests/test_discriminated_union.py
  tests/test_discriminated_union.py
Due: lint, typecheck

Deployed 8af855d to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix regression in core schema generation for indirect definition references (#8702)
  pydantic/_internal/_core_utils.py
  tests/test_discriminated_union.py
Due: lint, usage_docs, typecheck

Deployed 8898b8f to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix typo and broken link in TypeAdapter description in "Why" docs
  docs/why.md
Due: none

Allow an optional separator to the result of `ByteSize.human_readable` (pydantic#8668)
  pydantic/types.py
Due: lint, usage_docs, typecheck

Add test cases for `ByteSize.human_readable`
  tests/test_types.py
Due: lint, typecheck

Fix typo and broken link in TypeAdapter description in "Why" docs (#8703)
  docs/why.md
Due: none

Deployed fbed014 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
  dev/why/index.html
Due: none

attempt at fixing plain validator
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Remove the trailing space of docstring.
  pydantic/types.py
Due: lint, usage_docs, typecheck

adding test
  tests/test_validators.py
Due: lint, typecheck

Version bump, 2.16.2 (#1188)
  Cargo.lock
  Cargo.toml
Due: none

Version bump, 2.16.2 (pydantic/pydantic-core#1188)
  Cargo.lock
  Cargo.toml
Due: none

version bump
  pydantic/version.py
Due: lint, usage_docs, typecheck

update usage docs links
  pydantic/aliases.py
  pydantic/config.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/main.py
  pydantic/plugin/__init__.py
  pydantic/root_model.py
  pydantic/type_adapter.py
  pydantic/types.py
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

Adding comments around serialization handling for clarity
  pydantic/functional_validators.py
Due: lint, usage_docs, typecheck

Fix unsupported types bug with plain validator (#8710)
  pydantic/functional_validators.py
  tests/test_validators.py
Due: lint, usage_docs, typecheck

Deployed 417b8cf to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/api/functional_validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none
