Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, lint rust, typecheck

lint:
  name: Lint
  entry: make lint-python
  language: system
  pass_filenames: false

lint rust:
  name: Lint Rust
  entry: make lint-rust
  language: system
  pass_filenames: false

typecheck:
  name: Typecheck
  entry: uv run pyright pydantic
  language: system
  pass_filenames: false

Fix typo in documentation (#12735)
  docs/concepts/models.md
Due: none

Fix type annotation of `field_definitions` in `create_model()` (#12734)
  pydantic/main.py
Due: lint, typecheck

Deployed 92d079e to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/base_model/index.html
  dev/api/base_model/index.md
  dev/concepts/models/index.html
  dev/concepts/models/index.md
  dev/index.html
  dev/llms-full.txt
  dev/pydantic-2.13.0a0+dev-py3-none-any.whl
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Add more version directives in documentation
  docs/api/standard_library_types.md
  docs/concepts/experimental.md
  docs/concepts/fields.md
  docs/concepts/models.md
  docs/concepts/type_adapter.md
  docs/concepts/types.md
  docs/concepts/validation_decorator.md
  pydantic/config.py
  pydantic/types.py
Due: lint, typecheck

perf: optimize get_model_type_hints by reusing base class info
  pydantic/_internal/_typing_extra.py
Due: lint, typecheck

refactor: implement MRO cut-off architecture for type hint collection
  pydantic/_internal/_typing_extra.py
Due: lint, typecheck

Improve ImportString error when internal imports fail
  pydantic/_internal/_validators.py
  tests/test_types.py
Due: lint, typecheck

BUG: Fix incorrect dataclass constructor signature when overriding class kw_only with Field
  pydantic/_internal/_dataclasses.py
  tests/test_dataclasses.py
Due: lint, typecheck

Add skip decorator for python < 3.10
  tests/test_dataclasses.py
Due: lint, typecheck

Refactor: move nested populate_defs to private method (#1)
  pydantic/json_schema.py
Due: lint, typecheck

style: apply ruff formatting
  pydantic/json_schema.py
Due: lint, typecheck

Refactor: resolve FIXME in json_schema_extra types
  pydantic/json_schema.py
Due: lint, typecheck

Resolve type ignore comment in JSON Schema code (#12743)
  pydantic/json_schema.py
Due: lint, typecheck

Deployed 710f854 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/json_schema/index.html
  dev/index.html
  dev/pydantic-2.13.0a0+dev-py3-none-any.whl
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Fix override of composed Field constraints with AfterValidator
  pydantic/fields.py
  tests/test_annotated.py
  tests/test_fields.py
Due: lint, typecheck

Update test_forward_ref.py for new metadata order
  tests/test_forward_ref.py
Due: lint, typecheck

Fix Field constraint override in nested Annotated types
  pydantic/fields.py
  tests/test_annotated.py
Due: lint, typecheck

Support serialization exclude if in extras
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/serializers/fields.rs
  pydantic-core/src/serializers/type_serializers/mod.rs
  pydantic-core/src/serializers/type_serializers/model.rs
  pydantic-core/src/serializers/type_serializers/typed_dict.rs
  pydantic-core/tests/serializers/test_model.py
  pydantic-core/tests/serializers/test_typed_dict.py
  pydantic-core/tests/validators/test_model_fields.py
  pydantic-core/tests/validators/test_typed_dict.py
  pydantic/_internal/_generate_schema.py
  tests/test_main.py
Due: lint, lint rust, typecheck

Update tests/test_dataclasses.py
  tests/test_dataclasses.py
Due: lint, typecheck

Update model signature default
  pydantic/_internal/_signature.py
Due: lint, typecheck

Fix incorrect dataclass constructor signature when overriding class `kw_only` with `Field()` (#12741)
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_signature.py
  tests/test_dataclasses.py
Due: lint, typecheck

Deployed 950a1c9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/concepts/pydantic_settings/index.html
  dev/concepts/pydantic_settings/index.md
  dev/index.html
  dev/llms-full.txt
  dev/pydantic-2.13.0a0+dev-py3-none-any.whl
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Support exclude if in computed fields
  pydantic-core/python/pydantic_core/core_schema.py
  pydantic-core/src/serializers/computed_fields.rs
  pydantic-core/tests/serializers/test_model.py
  pydantic/_internal/_generate_schema.py
  pydantic/fields.py
  tests/test_computed_fields.py
Due: lint, lint rust, typecheck

Update comments
  pydantic/_internal/_generate_schema.py
Due: lint, typecheck

fix: add validation_name_strategy and serialization_name_strategy parameters in GenerateJsonSchema class
  pydantic/json_schema.py
Due: lint, typecheck

feat: make JSON schema suffix configurable via GenerateJsonSchema
  pydantic/json_schema.py
Due: lint, typecheck

feat: allow custom suffixes and fix empty suffix handling
  pydantic/json_schema.py
Due: lint, typecheck

test: add unit tests for custom and empty suffixes
  tests/test_issue_12176.py
Due: lint, typecheck

docs: add docstrings for new strategy parameters
  pydantic/json_schema.py
Due: lint, typecheck

Migrate `pydantic-core` CI
  .github/workflows/ci.yml
Due: none

Progress
  .github/actions/core-build-pgo-wheel/action.yml
  .github/workflows/ci.yml
Due: none

Fix PGO
  .github/actions/core-build-pgo-wheel/action.yml
Due: none

Debug
  .github/actions/core-build-pgo-wheel/action.yml
Due: none

Fix
  .github/actions/core-build-pgo-wheel/action.yml
Due: none

Add documentation for multi-container Celery instrumentation with Logfire
  docs/integrations/logfire.md
Due: none

Add more version directives in documentation (#12737)
  docs/api/standard_library_types.md
  docs/concepts/experimental.md
  docs/concepts/fields.md
  docs/concepts/models.md
  docs/concepts/type_adapter.md
  docs/concepts/types.md
  docs/concepts/validation_decorator.md
  pydantic/config.py
  pydantic/types.py
Due: lint, typecheck

Use `typing.Union` when replacing types under Python 3.14 (#12733)
  pydantic/_internal/_generics.py
  tests/test_forward_ref.py
Due: lint, typecheck

Better document `BaseModel.__pydantic_generic_metadata__` (#12729)
  pydantic/main.py
Due: lint, typecheck

Deployed 08b64f7 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/algolia_records.json
  dev/api/base_model/index.html
  dev/api/base_model/index.md
  dev/api/config/index.html
  dev/api/config/index.md
  dev/api/standard_library_types/index.html
  dev/api/standard_library_types/index.md
  dev/api/types/index.html
  dev/api/types/index.md
  dev/concepts/experimental/index.html
  dev/concepts/experimental/index.md
  dev/concepts/fields/index.html
  dev/concepts/fields/index.md
  dev/concepts/models/index.html
  dev/concepts/models/index.md
  dev/concepts/pydantic_settings/index.html
  dev/concepts/pydantic_settings/index.md
  dev/concepts/type_adapter/index.html
  dev/concepts/type_adapter/index.md
  dev/concepts/types/index.html
  dev/concepts/types/index.md
  dev/concepts/validation_decorator/index.html
  dev/concepts/validation_decorator/index.md
  dev/index.html
  dev/llms-full.txt
  dev/pydantic-2.13.0a0+dev-py3-none-any.whl
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Refacotr: move nested populate_defs to _populate_defs methods
  pydantic/json_schema.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  lint rust: any of: \.rs$
  typecheck: any of: \.py$
