Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Show value of wrongly typed in serialization warning (#1377)
  src/errors/mod.rs
  src/errors/validation_exception.rs
  src/serializers/extra.rs
  tests/serializers/test_any.py
  tests/serializers/test_bytes.py
  tests/serializers/test_datetime.py
  tests/serializers/test_decimal.py
  tests/serializers/test_enum.py
  tests/serializers/test_functions.py
  tests/serializers/test_generator.py
  tests/serializers/test_list_tuple.py
  tests/serializers/test_model.py
  tests/serializers/test_nullable.py
  tests/serializers/test_other.py
  tests/serializers/test_set_frozenset.py
  tests/serializers/test_simple.py
  tests/serializers/test_string.py
  tests/serializers/test_timedelta.py
  tests/serializers/test_union.py
  tests/serializers/test_url.py
  tests/serializers/test_uuid.py
Due: lint, typecheck

Update `griffe_doclinks` plugin
  docs/plugins/griffe_doclinks.py
Due: lint, typecheck

Fix Python versions in the upgrade plugin
  docs/plugins/main.py
Due: lint, typecheck

Assume Python 3.8 in examples
  docs/api/standard_library_types.md
  docs/concepts/dataclasses.md
  docs/concepts/fields.md
  docs/concepts/performance.md
  docs/concepts/serialization.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/errors/usage_errors.md
  docs/errors/validation_errors.md
Due: none

Lint
  docs/plugins/griffe_doclinks.py
Due: lint, typecheck

Update `griffe_doclinks` plugin and misc. docs improvements (#10084)
  docs/api/standard_library_types.md
  docs/concepts/dataclasses.md
  docs/concepts/fields.md
  docs/concepts/performance.md
  docs/concepts/serialization.md
  docs/concepts/unions.md
  docs/concepts/validation_decorator.md
  docs/errors/usage_errors.md
  docs/errors/validation_errors.md
  docs/plugins/griffe_doclinks.py
  docs/plugins/main.py
Due: lint, typecheck

Deployed 23246fe to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/aliases/index.html
  dev/api/base_model/index.html
  dev/api/config/index.html
  dev/api/dataclasses/index.html
  dev/api/fields/index.html
  dev/api/functional_validators/index.html
  dev/api/json_schema/index.html
  dev/api/plugin/index.html
  dev/api/root_model/index.html
  dev/api/type_adapter/index.html
  dev/api/types/index.html
  dev/api/validate_call/index.html
  dev/concepts/experimental/index.html
  dev/concepts/json/index.html
  dev/concepts/json_schema/index.html
  dev/concepts/performance/index.html
  dev/concepts/serialization/index.html
  dev/errors/usage_errors/index.html
  dev/errors/validation_errors/index.html
  dev/examples/validators/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Initial stab at architeture docs
  docs/api/base_model.md
  docs/architecture.md
  mkdocs.yml
  pydantic/main.py
Due: lint, usage_docs, typecheck

Update tests for new warning message
  tests/test_computed_fields.py
  tests/test_serialize.py
Due: lint, typecheck

Small enhancements
  docs/architecture.md
Due: none

Weird lint error happening only now
  pydantic/main.py
Due: lint, usage_docs, typecheck

Adding tests for TODO union serialization fixes (#10072)
  tests/test_discriminated_union.py
  tests/test_serialize.py
Due: lint, typecheck

Deployed 07151ed to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Improve `pyright` tests, refactor model decorators signatures
  docs/errors/usage_errors.md
  pydantic/functional_serializers.py
  pydantic/functional_validators.py
  tests/pyright/base_model.py
  tests/pyright/decorators.py
  tests/pyright/root_model.py
  tests/pyright/type_adapter.py
  tests/pyright/validate_call.py
  tests/pyright/with_config_decorator.py
Due: lint, usage_docs, typecheck

Use `is_annotated` consistently
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Use `is_annotated` consistently (#10095)
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Deployed 07b7f64 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

update docs to dataclasses.py and revert config.py
  pydantic/config.py
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Improve email address regular expression for better accuracy and efficiency
  pydantic/networks.py
Due: lint, usage_docs, typecheck

enhance hashable schema
  pydantic/_internal/_generate_schema.py
  tests/test_edge_cases.py
Due: lint, usage_docs, typecheck

fix test for dataclass
  tests/test_dataclasses.py
Due: lint, typecheck

add strict support
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

minor change
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

update test
  tests/test_edge_cases.py
Due: lint, typecheck

fix warning if frozen and config.frozen are set
  gomitest.py
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Delete test file
  gomitest.py
Due: lint, typecheck

Rename type aliases
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

add ModelMetaclass.mro & tests
  pydantic/_internal/_model_construction.py
  tests/test_generics.py
Due: lint, usage_docs, typecheck

update test
  tests/test_generics.py
Due: lint, typecheck

fix mypy error
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

fix typo
  pydantic/warnings.py
Due: lint, usage_docs, typecheck

fix model_dump json mode serialization issue
  pydantic/main.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Fix `PydanticDeprecatedSince26.since` argument (#10101)
  pydantic/warnings.py
Due: lint, usage_docs, typecheck

Deployed bf710b9 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Reorganize `BaseModel` attributes annotations
  pydantic/main.py
Due: lint, usage_docs, typecheck

Improve documentation of the `@computed_field` decorator
  docs/concepts/fields.md
Due: none

mark with xfail
  tests/test_computed_fields.py
  tests/test_serialize.py
Due: lint, typecheck

PR feedback
  docs/architecture.md
Due: none

fix the position of frozen warning for dataclasses
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
