Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

try fixing url issue
  docs/extra/redirects.js
Due: none

fix: table format
  docs/migration.md
Due: none

Add back space
  docs/migration.md
Due: none

update mkdocs version
  docs/requirements.txt
Due: none

upgrading mkdocs version as well
  docs/requirements.txt
Due: none

trying to fix emoji issue
  mkdocs.yml
Due: none

docs: add replacement for 'ENCODER_BY_TYPE' to migration guide (#8501)
  docs/migration.md
Due: none

Deployed 25471ed to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/migration/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

adds model_name option in ConfigDict
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  tests/test_config.py
Due: lint, usage_docs, typecheck

allows TypeModelSet to accept subclasses of BaseModel
  pydantic/v1/schema.py
Due: lint, usage_docs, typecheck

Fix schema-building bug with TypeAliasType for types with refs
  pydantic/_internal/_core_utils.py
  tests/test_type_alias_type.py
Due: lint, usage_docs, typecheck

tests: added test
  tests/test_json_schema.py
Due: lint, typecheck

Fix schema-building bug with TypeAliasType for types with refs (#8526)
  pydantic/_internal/_core_utils.py
  tests/test_type_alias_type.py
Due: lint, usage_docs, typecheck

Deployed 1fe90b4 to dev with MkDocs 1.5.3 and mike 2.1.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Parameterize Field tests in test_dataclasses for simplicity
  tests/test_dataclasses.py
Due: lint, typecheck

Update pdm.lock to latest `pydantic-extra-types` version
  pdm.lock
Due: none

:memo: Add ISBN Documentation to navigation (#8478)
  docs/api/pydantic_extra_types_isbn.md
  mkdocs.yml
  pdm.lock
Due: none

fix: Support `pydantic.Field(repr=False)` in dataclasses (#8511)
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

add tests for model_name conflict
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  pydantic/v1/schema.py
  tests/test_config.py
Due: lint, usage_docs, typecheck

Group dependencies on dependabot updates (pydantic/pydantic-core#1149)
  .github/dependabot.yml
Due: none

Group dependencies on dependabot updates (#1149)
  .github/dependabot.yml
Due: none

Add support for mypy 1.0.1
  pydantic/mypy.py
Due: lint, usage_docs, typecheck

refactor: serialization function
  pydantic/types.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

Use `PydanticUserError`
  docs/errors/usage_errors.md
  pydantic/errors.py
  pydantic/fields.py
  tests/test_edge_cases.py
  tests/test_fields.py
Due: lint, usage_docs, typecheck

refactor: globals to class variables
  pydantic/types.py
Due: lint, usage_docs, typecheck

fix: add line back
  pydantic/types.py
Due: lint, usage_docs, typecheck

Partial Fix: init=False in dataclass fields ignored
  pydantic/dataclasses.py
  pydantic/fields.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

add failing test which didn't fail
  pdm.lock
  pyproject.toml
  tests/test_fail_buserror.py
Due: lint, typecheck

Added examples for `functional_serializers`
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

add to_json ser benchmark
  tests/benchmarks/test_serialization_micro.py
Due: lint, typecheck

simplify instantiation of undefined type (pydantic/pydantic-core#1157)
  src/argument_markers.rs
  src/validators/model.rs
  src/validators/with_default.rs
Due: none

simplify instantiation of undefined type (#1157)
  src/argument_markers.rs
  src/validators/model.rs
  src/validators/with_default.rs
Due: none

unify 'profile.profiling' configuration (pydantic/pydantic-core#1158)
  .github/workflows/codspeed.yml
  Cargo.toml
  Makefile
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
