Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, pyupgrade

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

mypy:
  name: Mypy
  entry: make mypy
  language: system
  pass_filenames: false

pyupgrade:
  name: Pyupgrade
  entry: pyupgrade --py37-plus
  language: system

test docs with all.txt
  .github/workflows/ci.yml
  requirements/docs.in
Due: none

Revert "test docs with all.txt"
  .github/workflows/ci.yml
  requirements/docs.in
Due: none

Fix broken cross-references (#4743)
  docs/usage/models.md
  docs/usage/types.md
  docs/usage/validation_decorator.md
Due: none

delete txt files before, pip install --dry-run
  Makefile
  requirements/docs.txt
  requirements/linting.txt
Due: none

Use 3.10 for all reqs resolution and add a Makefile target for re-locking (#4748)
  .github/workflows/ci.yml
  Makefile
  requirements/docs.in
  requirements/docs.txt
  requirements/linting.in
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  requirements/testing-extra.in
  requirements/testing-extra.txt
  requirements/testing.txt
Due: none

Add strict to BaseConfig
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/types.py
  tests/test_strict.py
Due: lint, mypy, pyupgrade

pr feedback
  tests/test_strict.py
Due: lint, mypy, pyupgrade

more checks, cleanup
  tests/test_strict.py
Due: lint, mypy, pyupgrade

Add strict option to BaseConfig (#4753)
  pydantic/_internal/_generate_schema.py
  pydantic/config.py
  pydantic/types.py
  tests/test_strict.py
Due: lint, mypy, pyupgrade

Integrate codspeed (pydantic/pydantic-core#332)
  .github/workflows/codspeed.yml
  tests/requirements.txt
Due: none

Integrate codspeed (#332)
  .github/workflows/codspeed.yml
  tests/requirements.txt
Due: none

add s390x & ppc64le linux binaries (#333)
  .github/workflows/ci.yml
Due: none

add s390x & ppc64le linux binaries (pydantic/pydantic-core#333)
  .github/workflows/ci.yml
Due: none

Renaming BaseModel
  docs/examples/models_orm_mode_reserved_name.py
Due: lint, mypy

switch flake8->ruff (pydantic/pydantic-core#334)
  Makefile
  pydantic_core/_pydantic_core.pyi
  pyproject.toml
  tests/requirements-linting.txt
  wasm-preview/run_tests.py
Due: lint, mypy, pyupgrade

switch flake8->ruff (#334)
  Makefile
  pydantic_core/_pydantic_core.pyi
  pyproject.toml
  tests/requirements-linting.txt
  wasm-preview/run_tests.py
Due: lint, mypy, pyupgrade

Improve PyMapping related function (pydantic/pydantic-core#314)
  pydantic_core/core_schema.py
  src/errors/types.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/arguments.rs
  src/validators/dict.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
  tests/test_errors.py
  tests/validators/test_dict.py
Due: lint, mypy, pyupgrade

Improve PyMapping related function (#314)
  pydantic_core/core_schema.py
  src/errors/types.rs
  src/input/input_python.rs
  src/input/mod.rs
  src/input/return_enums.rs
  src/lookup_key.rs
  src/validators/arguments.rs
  src/validators/dict.rs
  src/validators/typed_dict.rs
  src/validators/union.rs
  tests/test_errors.py
  tests/validators/test_dict.py
Due: lint, mypy, pyupgrade

fix typo in docs
  docs/usage/types.md
Due: none

fix typo in docs (#4764)
  docs/usage/types.md
Due: none

Renaming BaseModel (#4758)
  docs/examples/models_orm_mode_reserved_name.py
Due: lint, mypy

add Jina AI to sponsors
  docs/extra/tweaks.css
  docs/index.md
  docs/sponsor_logos/jina-ai.png
Due: none

add change description
  changes/4767-samuelcolvin.md
Due: none

Handle dataclass initialization with alias
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, mypy, pyupgrade

Fix code typo in docs
  docs/examples/postponed_annotations_broken.py
Due: lint, mypy

Fix code typo in docs (#4775)
  docs/examples/postponed_annotations_broken.py
Due: lint, mypy

Fix code typo in docs (#4776)
  docs/examples/postponed_annotations_broken.py
Due: lint, mypy

switch codspeed to tokenless uploads (#335)
  .github/workflows/codspeed.yml
Due: none

switch codspeed to tokenless uploads (pydantic/pydantic-core#335)
  .github/workflows/codspeed.yml
Due: none

Path conditions:
  lint: any of: \.py$
  mypy: any of: \.py$
  pyupgrade: any of: \.py$, but not: ^docs/.*$
