Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, pyupgrade

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: mypy
    name: Mypy
    entry: make mypy
    types: [python]
    language: system
    pass_filenames: false
  - id: pyupgrade
    name: Pyupgrade
    entry: pyupgrade --py37-plus
    types: [python]
    language: system
    exclude: ^docs/.*$

added make formatting
  pydantic/errors.py
Due: lint, mypy, pyupgrade

fixed __init__ method for ErrorMixin
  pydantic/errors.py
Due: lint, mypy, pyupgrade

added constructors an string method to errors.py
  pydantic/errors.py
Due: lint, mypy, pyupgrade

added init variable mixins
  pydantic/errors.py
Due: lint, mypy, pyupgrade

added formatting
  pydantic/errors.py
Due: lint, mypy, pyupgrade

capitalized Pydantic
  pydantic/errors.py
Due: lint, mypy, pyupgrade

fixed branch to be in sync with upstream
  pydantic/errors.py
Due: lint, mypy, pyupgrade

work in progress: some tests passing for discriminated union
  pydantic/_internal/_generate_schema.py
  tests/test_discrimated_union.py
Due: lint, mypy, pyupgrade

Add a unit test for PostgresDSN with socket path as host
  tests/test_networks.py
Due: lint, mypy, pyupgrade

Add a unit test for PostgresDSN with socket path as host (#5001)
  tests/test_networks.py
Due: lint, mypy, pyupgrade

add pydantic framkework classifier (#379)
  pyproject.toml
Due: none

add pydantic framkework classifier (pydantic/pydantic-core#379)
  pyproject.toml
Due: none

uprev pydantic-core
  pyproject.toml
Due: none

fix ci caching
  .github/workflows/ci.yml
Due: none

fix reqs
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
Due: none

Remove xfail from mistakenly marked test
  tests/test_decorator.py
Due: lint, mypy, pyupgrade

Remove xfail from mistakenly marked test (#5002)
  tests/test_decorator.py
Due: lint, mypy, pyupgrade

fix ci caching
  .github/workflows/ci.yml
  requirements/linting.txt
Due: none

fix failing tests
  tests/test_json.py
Due: lint, mypy, pyupgrade

fix mypy tests
  .github/workflows/ci.yml
  pydantic/mypy.py
Due: lint, mypy, pyupgrade

xfail windows tests effected by PyO3/pyo3#2913
  tests/test_json.py
  tests/test_types.py
Due: lint, mypy, pyupgrade

adopting `pydantic-core` serialisation (#4978)
  .github/workflows/ci.yml
  pydantic/__init__.py
  pydantic/_internal/_decorators.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_serializers.py
  pydantic/_internal/_std_types_schema.py
  pydantic/_internal/_validation_functions.py
  pydantic/color.py
  pydantic/config.py
  pydantic/decorator.py
  pydantic/decorators.py
  pydantic/main.py
  pydantic/mypy.py
  pydantic/networks.py
  pydantic/types.py
  pydantic/validator_functions.py
  pyproject.toml
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/pyproject-min.txt
  tests/test_aliases.py
  tests/test_construction.py
  tests/test_edge_cases.py
  tests/test_forward_ref.py
  tests/test_json.py
  tests/test_main.py
  tests/test_serialize.py
  tests/test_types.py
  tests/test_validators.py
Due: lint, mypy, pyupgrade

uprev deps, newer ruff config
  pydantic/_internal/_decorators.py
  pydantic/_internal/_typing_extra.py
  pydantic/decorator.py
  pydantic/decorators.py
  pydantic/schema.py
  pyproject.toml
  requirements/docs.txt
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/testing-extra.txt
  requirements/testing.txt
  tests/mypy/modules/plugin_fail.py
  tests/test_abc.py
  tests/test_annotated.py
  tests/test_dataclasses.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_hypothesis_plugin.py
  tests/test_json.py
  tests/test_main.py
  tests/test_schema.py
  tests/test_types_payment_card_number.py
  tests/test_validators.py
Due: lint, mypy, pyupgrade

format
  pydantic/_internal/_typing_extra.py
  pydantic/main.py
  pydantic/schema.py
  pydantic/types.py
  tests/test_generics.py
  tests/test_rich_repr.py
Due: lint, mypy, pyupgrade

uprev deps, newer ruff config (#5003)
  pydantic/_internal/_decorators.py
  pydantic/_internal/_typing_extra.py
  pydantic/decorator.py
  pydantic/decorators.py
  pydantic/main.py
  pydantic/schema.py
  pydantic/types.py
  pyproject.toml
  requirements/docs.txt
  requirements/linting.txt
  requirements/pyproject-all.txt
  requirements/testing-extra.txt
  requirements/testing.txt
  tests/mypy/modules/plugin_fail.py
  tests/test_abc.py
  tests/test_annotated.py
  tests/test_dataclasses.py
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_hypothesis_plugin.py
  tests/test_json.py
  tests/test_main.py
  tests/test_rich_repr.py
  tests/test_schema.py
  tests/test_types_payment_card_number.py
  tests/test_validators.py
Due: lint, mypy, pyupgrade

fix typo in create_model function docstring
  pydantic/main.py
Due: lint, mypy, pyupgrade

fix typo in create_model function docstring (#5004)
  pydantic/main.py
Due: lint, mypy, pyupgrade

debugged errors
  pydantic/errors.py
Due: lint, mypy, pyupgrade

git merge upstream/main resolve conflicts.
  pydantic/errors.py
Due: lint, mypy, pyupgrade

avoid unnecessary negative checks
  pydantic/config.py
Due: lint, mypy, pyupgrade

Invalidate mypy cache if config changes
  pydantic/mypy.py
Due: lint, mypy, pyupgrade

Add docstring
  pydantic/mypy.py
Due: lint, mypy, pyupgrade

Add change description
  changes/5007-cdce8p.md
Due: none

Dataclasses experiment
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_utils.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/schema.py
  pydantic/types.py
  tests/test_dataclasses.py
Due: lint, mypy, pyupgrade

chore(feat): Support One Time Password Type
  pydantic/types.py
  tests/test_type_otp.py
Due: lint, mypy, pyupgrade

fix test
  pydantic/__init__.py
  tests/test_type_otp.py
Due: lint, mypy, pyupgrade

fix testing
  pydantic/types.py
  tests/test_type_otp.py
Due: lint, mypy, pyupgrade

add documentation
  changes/5011-yezz123.md
  docs/examples/types_otp.py
  docs/usage/types.md
Due: lint, mypy

:bug: fix new line issue
  changes/5011-yezz123.md
  docs/examples/types_otp.py
Due: lint, mypy
