Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

lint
  pydantic/_internal/_config.py
Due: lint, usage_docs, typecheck

Change the signature of `ConfigWrapper.core_config` to take the title directly (#10562)
  pydantic/_internal/_config.py
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
Due: lint, usage_docs, typecheck

Deployed bb7bd96 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/aliases/index.html
  dev/api/base_model/index.html
  dev/api/config/index.html
  dev/api/dataclasses/index.html
  dev/api/fields/index.html
  dev/api/json_schema/index.html
  dev/api/pydantic_core/index.html
  dev/api/pydantic_core_schema/index.html
  dev/api/pydantic_settings/index.html
  dev/api/root_model/index.html
  dev/api/standard_library_types/index.html
  dev/api/type_adapter/index.html
  dev/api/types/index.html
  dev/concepts/models/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Do not use the previous config from the stack for dataclasses without config
  docs/concepts/dataclasses.md
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

regression test
  tests/test_dataclasses.py
Due: lint, typecheck

Do not use the previous config from the stack for dataclasses without config (#10576)
  docs/concepts/dataclasses.md
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

Deployed ce91077 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/dataclasses/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

Improve annotations resolving for functions
  pydantic/_internal/_decorators.py
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

Improve correctness in `get_cls_type_hints_lenient`
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

Add utils related to namespace management
  pydantic/_internal/_namespace_utils.py
Due: lint, usage_docs, typecheck

Add temporary xfailing tests that we will hopefully fix
  tests/test_forward_ref.py
Due: lint, typecheck

Adapt `collect_model_fields` to handle the parent namespace
  pydantic/_internal/_fields.py
Due: lint, usage_docs, typecheck

Adapt the `GenerateSchema` class to use the `NsResolver` class
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Make the dataclass logic compatible with the proposed changes
  pydantic/_internal/_dataclasses.py
Due: lint, usage_docs, typecheck

Update `ModelMetaclass` to be compatible with the previous changes
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

Change `BaseModel.model_rebuid` logic to match the proposed spec
  pydantic/main.py
Due: lint, usage_docs, typecheck

Change `validate_call` namespace logic
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

Adapt `TypeAdapter` namespace logic
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Process some feedback
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_namespace_utils.py
  pydantic/dataclasses.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

Misc. changes to adapt with the new structures
  pydantic/_internal/_schema_generation_shared.py
  pydantic/annotated_handlers.py
  pydantic/fields.py
  pydantic/functional_serializers.py
Due: lint, usage_docs, typecheck

Refactor how we eval fields and generate a schema for dataclasses
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Change `rebuild_dataclass` logic to match the proposed spec
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Fix comment
  pydantic/_internal/_fields.py
Due: lint, usage_docs, typecheck

WIP refactor to be more backwards compatible regarding parent ns
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_namespace_utils.py
  pydantic/_internal/_typing_extra.py
  pydantic/dataclasses.py
  pydantic/fields.py
  pydantic/main.py
  pydantic/type_adapter.py
  tests/test_typing.py
Due: lint, usage_docs, typecheck

WIP fix remaining tests
  pydantic/_internal/_generate_schema.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

Almost finished
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_namespace_utils.py
  pydantic/_internal/_typing_extra.py
  pydantic/_internal/_validate_call.py
  tests/test_forward_ref.py
Due: lint, usage_docs, typecheck

First round of feedback
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_namespace_utils.py
Due: lint, usage_docs, typecheck

Document `dict(model)` workaround
  docs/concepts/serialization.md
Due: none

Add benchmarks for schema generation with pydantic custom types (#10568)
  tests/benchmarks/shared.py
  tests/benchmarks/test_model_schema_generation.py
Due: lint, typecheck

Deployed 6c3d3b3 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

Cleanup xfail tests, last fixes
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_generics.py
  pydantic/_internal/_namespace_utils.py
  pydantic/main.py
  tests/test_forward_ref.py
Due: lint, usage_docs, typecheck

Add back `eval_type_lenient` and deprecate it
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

lint
  pydantic/_internal/_namespace_utils.py
  pydantic/_internal/_typing_extra.py
  pydantic/dataclasses.py
  pydantic/main.py
  pydantic/type_adapter.py
Due: lint, usage_docs, typecheck

ci: add prebuilt musl for armv7 (pydantic/pydantic-core#1477)
  .github/workflows/ci.yml
Due: none

ci: add prebuilt musl for armv7 (#1477)
  .github/workflows/ci.yml
Due: none

Fix pipeline example
  docs/concepts/experimental.md
Due: none

Compat fixes, optimize `get_cls_type_hints`
  pydantic/_internal/_dataclasses.py
  pydantic/_internal/_fields.py
  pydantic/_internal/_namespace_utils.py
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

Update outdated comment
  pydantic/_internal/_typing_extra.py
Due: lint, usage_docs, typecheck

add parametrized test, fix issues with constraint application
  pydantic/types.py
  tests/test_types.py
Due: lint, usage_docs, typecheck
