Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Removing old typing function (#10063)
  pydantic/_internal/_fields.py
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Deployed ac0cf36 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/fields/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

set namespace to None
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

expand scope of warning
  pydantic/config.py
Due: lint, usage_docs, typecheck

fix wording
  pydantic/config.py
Due: lint, usage_docs, typecheck

adding tests
  pydantic/config.py
  tests/test_fast_build.py
Due: lint, usage_docs, typecheck

strict=False, I suppose
  tests/test_fast_build.py
Due: lint, typecheck

better frozen logic for dcs
  pydantic/_internal/_generate_schema.py
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Fix evaluation of `__pydantic_extra__` annotation in specific circumstances
  pydantic/_internal/_generate_schema.py
  tests/test_forward_ref.py
Due: lint, usage_docs, typecheck

adding tests
  pydantic/_internal/_generate_schema.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

Fix evaluation of `__pydantic_extra__` annotation in specific circumstances (#10070)
  pydantic/_internal/_generate_schema.py
  tests/test_forward_ref.py
Due: lint, usage_docs, typecheck

Deployed facbf93 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

docs updates
  pydantic/types.py
Due: lint, usage_docs, typecheck

update constr example
  pydantic/types.py
Due: lint, usage_docs, typecheck

Docs update for `types.py` (#10071)
  pydantic/types.py
Due: lint, usage_docs, typecheck

Deployed 64a637b to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/types/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

first round of tests to fix
  tests/test_discriminated_union.py
  tests/test_serialize.py
Due: lint, typecheck

adding another test
  tests/test_serialize.py
Due: lint, typecheck

Update tests/test_fast_build.py
  tests/test_fast_build.py
Due: lint, typecheck

Experimental feature: opt-in fast build (#10064)
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/config.py
  tests/test_fast_build.py
Due: lint, usage_docs, typecheck

Deployed 8fd3a00 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/config/index.html
  dev/index.html
  dev/objects.inv
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Fix `frozen` enforcement for dataclasses (#10066)
  pydantic/_internal/_generate_schema.py
  pydantic/dataclasses.py
  tests/test_dataclasses.py
Due: lint, usage_docs, typecheck

Deployed 87deca9 to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/dataclasses/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

Remove logic to handle unused `__get_pydantic_core_schema__` signature
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Remove logic to handle unused `__get_pydantic_core_schema__` signature (#10075)
  pydantic/_internal/_generate_schema.py
Due: lint, usage_docs, typecheck

Deployed 441f6fe to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

dont embed `RUSTFLAGS` in final binary (pydantic/pydantic-core#1396)
  build.rs
  src/lib.rs
Due: none

dont embed `RUSTFLAGS` in final binary (#1396)
  build.rs
  src/lib.rs
Due: none

Deselect failing FastAPI test_openapi_schema test
  tests/test_fastapi.sh
Due: none

Remove allOf JSON schema workarounds (#10029)
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
  tests/test_computed_fields.py
  tests/test_edge_cases.py
  tests/test_fastapi.sh
  tests/test_forward_ref.py
  tests/test_generics.py
  tests/test_json.py
  tests/test_json_schema.py
  tests/test_serialize.py
  tests/test_type_alias_type.py
  tests/test_types_self.py
Due: lint, usage_docs, typecheck

Deployed 61f027c to dev with MkDocs 1.5.3 and mike 2.2.0.dev0
  dev/api/json_schema/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

add warn when frozen defined both to dataclasses.py
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

doc updates about frozen defined both to config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

import warnings to dataclasses.py
  pydantic/dataclasses.py
Due: lint, usage_docs, typecheck

Validate base64 standard encoding (pydantic/pydantic-core#1395)
  src/validators/config.rs
  tests/test_json.py
Due: lint, typecheck

Validate base64 standard encoding (#1395)
  src/validators/config.rs
  tests/test_json.py
Due: lint, typecheck

Show value of wrongly typed in serialization warning (pydantic/pydantic-core#1377)
  src/errors/mod.rs
  src/errors/validation_exception.rs
  src/serializers/extra.rs
  tests/serializers/test_any.py
  tests/serializers/test_bytes.py
  tests/serializers/test_datetime.py
  tests/serializers/test_decimal.py
  tests/serializers/test_enum.py
  tests/serializers/test_functions.py
  tests/serializers/test_generator.py
  tests/serializers/test_list_tuple.py
  tests/serializers/test_model.py
  tests/serializers/test_nullable.py
  tests/serializers/test_other.py
  tests/serializers/test_set_frozenset.py
  tests/serializers/test_simple.py
  tests/serializers/test_string.py
  tests/serializers/test_timedelta.py
  tests/serializers/test_union.py
  tests/serializers/test_url.py
  tests/serializers/test_uuid.py
Due: lint, typecheck

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
