Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: no-commit-to-branch  # prevent direct commits to main branch
  - id: check-yaml
    args: ['--unsafe']
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli
    exclude: '^pdm\.lock$'
- repo: local
  hooks:
  - id: lint
    name: Lint
    entry: make lint
    types: [python]
    language: system
    pass_filenames: false
  - id: usage_docs
    name: Usage docs links
    entry: pdm run ./tests/check_usage_docs.py
    files: '^pydantic/'
    types: [python]
    language: system
  - id: typecheck
    name: Typecheck
    entry: pdm run pyright pydantic
    types: [python]
    language: node
    pass_filenames: false
    additional_dependencies: ["pyright@1.1.335"]

fix: lockfiles update
  pdm.lock
Due: none

limit windows builds to Rust 1.77 (to keep Windows 7 support) (pydantic/pydantic-core#1463)
  .github/workflows/ci.yml
Due: none

limit windows builds to Rust 1.77 (to keep Windows 7 support) (#1463)
  .github/workflows/ci.yml
Due: none

test: add tests
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

test: rename test with duplicate name
  tests/test_json_schema.py
Due: lint, typecheck

fix: lockfile
  pdm.lock
Due: none

test: rename test with duplicate name (#10470)
  tests/test_json_schema.py
Due: lint, typecheck

Deployed 43ed0d3 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/concepts/pydantic_settings/index.html
  dev/index.html
  dev/search/search_index.json
Due: none

model_dump and model_validate without trailing underscore
  blog.md
  pydantic/_internal/_config.py
  pydantic/config.py
  tests/test_create_model.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

remove blog, oops
  blog.md
Due: none

fix: bump pydantic core for type checking
  pdm.lock
Due: none

invalid schema
  pydantic/_internal/_core_utils.py
  pydantic/json_schema.py
  tests/test_internal.py
Due: lint, usage_docs, typecheck

first pass, moving core schema concepts to pydantic-core
  pydantic/_internal/_core_metadata.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/types.py
  tests/test_fastapi_json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

getting tests working, now will stylistically refactor
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/types.py
  tests/test_internal.py
  tests/test_json_schema.py
  tests/test_main.py
  tests/test_types.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

implementing new pydantic-core api
  pydantic/_internal/_core_utils.py
  pydantic/_internal/_discriminated_union.py
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/functional_validators.py
  pydantic/json_schema.py
  pydantic/types.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

basic cases covered, a few tests still failing
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

a few test fixes
  pydantic/_internal/_generate_schema.py
  pydantic/json_schema.py
Due: lint, usage_docs, typecheck

Update pydantic/config.py
  pydantic/config.py
Due: lint, usage_docs, typecheck

Add support for dict with enum keys typing
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

use test enum that is supported on other python versions
  tests/test_json_schema.py
Due: lint, typecheck

remove unused import
  tests/test_json_schema.py
Due: lint, typecheck

use dict type alias for python 3.8 compat
  tests/test_json_schema.py
Due: lint, typecheck

Fix representation for builtin function types.
  pydantic/_internal/_repr.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Fix recursive arguments in `Representation`
  pydantic/_internal/_repr.py
  pydantic/main.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Fix recursive arguments in `Representation` (#10480)
  pydantic/_internal/_repr.py
  pydantic/main.py
  tests/test_main.py
Due: lint, usage_docs, typecheck

Deployed b195eec to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/api/base_model/index.html
  dev/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

check function type in validate_call & clean up slots
  pydantic/_internal/_config.py
  pydantic/_internal/_model_construction.py
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

further replace class with function
  pydantic/_internal/_validate_call.py
  pydantic/validate_call_decorator.py
Due: lint, usage_docs, typecheck

changing behavior
  pydantic/types.py
Due: lint, usage_docs, typecheck

fixing tests
  pydantic/types.py
  tests/test_root_model.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

docs rendering fix
  pydantic/types.py
Due: lint, usage_docs, typecheck

docs updates, formatting + links
  pydantic/types.py
Due: lint, usage_docs, typecheck

Fix representation for builtin function types. (#10479)
  pydantic/_internal/_repr.py
  tests/test_utils.py
Due: lint, usage_docs, typecheck

Deployed c9190ee to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/index.html
  dev/search/search_index.json
Due: none

Fix equality checks for primitives in literals (pydantic/pydantic-core#1459)
  src/validators/literal.rs
  tests/validators/test_literal.py
Due: lint, typecheck

Fix equality checks for primitives in literals (#1459)
  src/validators/literal.rs
  tests/validators/test_literal.py
Due: lint, typecheck

Support other schemas for propertyNames as well
  pydantic/json_schema.py
  tests/test_json_schema.py
Due: lint, usage_docs, typecheck

revert and fix
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/_internal/_validators.py
  tests/test_types.py
Due: lint, usage_docs, typecheck
