Repository pydantic/pydantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, usage_docs, typecheck

lint:
  name: Lint
  entry: make lint
  language: system
  pass_filenames: false

usage_docs:
  name: Usage docs links
  entry: pdm run ./tests/check_usage_docs.py
  language: system

typecheck:
  name: Typecheck
  entry: pdm run pyright pydantic
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.335

Support complex numbers (#1331)
  generate_self_schema.py
  python/pydantic_core/core_schema.py
  src/errors/types.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/return_enums.rs
  src/serializers/infer.rs
  src/serializers/ob_type.rs
  src/serializers/shared.rs
  src/serializers/type_serializers/complex.rs
  src/serializers/type_serializers/mod.rs
  src/validators/complex.rs
  src/validators/mod.rs
  tests/serializers/test_complex.py
  tests/test_errors.py
  tests/test_schema_functions.py
  tests/validators/test_complex.py
  tests/validators/test_dict.py
Due: lint, typecheck

Support complex numbers (pydantic/pydantic-core#1331)
  generate_self_schema.py
  python/pydantic_core/core_schema.py
  src/errors/types.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/input/return_enums.rs
  src/serializers/infer.rs
  src/serializers/ob_type.rs
  src/serializers/shared.rs
  src/serializers/type_serializers/complex.rs
  src/serializers/type_serializers/mod.rs
  src/validators/complex.rs
  src/validators/mod.rs
  tests/serializers/test_complex.py
  tests/test_errors.py
  tests/test_schema_functions.py
  tests/validators/test_complex.py
  tests/validators/test_dict.py
Due: lint, typecheck

Adding tagged union serializer 🚀 (pydantic/pydantic-core#1397)
  src/common/mod.rs
  src/common/union.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/lib.rs
  src/serializers/shared.rs
  src/serializers/type_serializers/union.rs
  src/tools.rs
  src/validators/union.rs
  tests/serializers/test_union.py
Due: lint, typecheck

Adding tagged union serializer 🚀 (#1397)
  src/common/mod.rs
  src/common/union.rs
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/lib.rs
  src/serializers/shared.rs
  src/serializers/type_serializers/union.rs
  src/tools.rs
  src/validators/union.rs
  tests/serializers/test_union.py
Due: lint, typecheck

Introduce `exactness` into `Decimal` validation logic (#1405)
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/validators/decimal.rs
  tests/validators/test_decimal.py
Due: lint, typecheck

Introduce `exactness` into `Decimal` validation logic (pydantic/pydantic-core#1405)
  src/input/input_abstract.rs
  src/input/input_json.rs
  src/input/input_python.rs
  src/input/input_string.rs
  src/validators/decimal.rs
  tests/validators/test_decimal.py
Due: lint, typecheck

Version bump to prep for new release (#1406)
  Cargo.lock
  Cargo.toml
Due: none

Version bump to prep for new release (pydantic/pydantic-core#1406)
  Cargo.lock
  Cargo.toml
Due: none

first pass - v2.22.0 compatibility
  docs/errors/validation_errors.md
  pyproject.toml
  tests/test_computed_fields.py
  tests/test_docs.py
  tests/test_root_model.py
  tests/test_serialize.py
Due: lint, typecheck

update pdm lock
  pdm.lock
Due: none

linting
  tests/test_root_model.py
Due: lint, typecheck

fixing root model test
  tests/test_root_model.py
Due: lint, typecheck

ugh, more linting
  tests/test_root_model.py
Due: lint, typecheck

union not |
  tests/test_serialize.py
Due: lint, typecheck

ugh, more 3.8 complaints
  tests/test_serialize.py
Due: lint, typecheck

3.8 is the bane of my existence
  tests/test_serialize.py
Due: lint, typecheck

update error doc
  docs/errors/validation_errors.md
  tests/test_types.py
Due: lint, typecheck

skip test for pypy
  tests/test_types.py
Due: lint, typecheck

add complex constraint
  pydantic/_internal/_known_annotated_metadata.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

fix mypy tests
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_strict_fields.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
Due: lint, typecheck

fix doc example
  docs/errors/validation_errors.md
Due: none

remove temp docs failure skip
  tests/test_docs.py
Due: lint, typecheck

test complex json schema
  tests/test_json_schema.py
Due: lint, typecheck

Support complex number (#9654)
  docs/errors/validation_errors.md
  pdm.lock
  pydantic/_internal/_generate_schema.py
  pydantic/_internal/_known_annotated_metadata.py
  pydantic/json_schema.py
  pyproject.toml
  tests/mypy/modules/success.py
  tests/mypy/outputs/1.0.1/mypy-default_ini/success.py
  tests/mypy/outputs/1.0.1/mypy-plugin_ini/plugin_strict_fields.py
  tests/mypy/outputs/1.0.1/pyproject-default_toml/success.py
  tests/test_computed_fields.py
  tests/test_json_schema.py
  tests/test_root_model.py
  tests/test_serialize.py
  tests/test_types.py
Due: lint, usage_docs, typecheck

Update pydantic/_internal/_model_construction.py
  pydantic/_internal/_model_construction.py
Due: lint, usage_docs, typecheck

Apply suggestions from code review
  pydantic/_internal/_model_construction.py
  pydantic/main.py
Due: lint, usage_docs, typecheck

update class docstring
  pydantic/main.py
Due: lint, usage_docs, typecheck

chore: trigger new workflow run
  .github/workflows/ci.yml
Due: none

chore: add debug step after coverage-comment only
  .github/workflows/ci.yml
Due: none

chore: momentaneously install coverage[toml]
  .github/workflows/ci.yml
Due: none

chore: add additional debug steps
  .github/workflows/ci.yml
Due: none

chore: test-plugin seems to work locally
  .github/workflows/ci.yml
Due: none

chore: add a debug step to evaluate total coverage
  .github/workflows/ci.yml
Due: none

chore: try out a different approach, use MERGE_COVERAGE_FILES explicitly
  .github/workflows/ci.yml
Due: none

Path conditions:
  lint: any of: \.py$
  usage_docs: any of: ^pydantic/ and \.py$
  typecheck: any of: \.py$
